.col-xs-12.col-sm-4
	if mvp
		h3 Join our growing list of donors!
	else
		h3 Join our list of 100 donors!
	ul.donor-list
		li
			.tile-light.valign
				if !mvp
					.top.img-avatar-container
						.img-avatar(style="background-image: url('http://eteamsponsor.com/wp-content/uploads/2013/02/SeanConnors1.jpg');")
				.top
					.donor-name Sean C. - $50
					.donor-location Concord, CA
					if !mvp
						.donor-comment I decided to include my name, my picture, and a comment, but no amount.  Go #{orgName}!
		li
			.tile-light.valign
				if !mvp
					.top.img-avatar-container
						.img-avatar(style="background-image: url('http://eteamsponsor.com/wp-content/uploads/2013/02/RandyCoddington1.jpg');")
				.top
					.donor-name Randy C. - $50
					.donor-location Concord, CA
		li
			.tile-light.valign
				if !mvp
					.top.img-avatar-container
						.img-avatar-anonymous
				.top
					.donor-name John D. - $50
					.donor-location Seattle, WA
					if !mvp
						.donor-comment I decided to only include my name, amount, and a comment, no picture.  Go #{orgName}!
		li
			.tile-light.valign
				if !mvp
					.top.img-avatar-container
						.img-avatar-anonymous
				.top
					.donor-name Kelly H. - $50
					.donor-location Glendale, AZ
		li
			.tile-light.valign
				if !mvp
					.top.img-avatar-container
						.img-avatar-anonymous
				.top
					.donor-name Anonymous - $1,000
	p
		a.btn.btn-default.btn-block.see-more(href="#") See More Donors
