.col-xs-12.col-sm-4
	span.progress-amount-raised(data-amount-raised="5,000") $0
	span.progress-amount-goal / $10,000

	.progress-container
		.progress-percent(data-style="width: 50%")

	if typeof eventDaysLeft !== "undefined"
		.progress-date
			.progress-metric
				.progress-metric-amount
					| #{eventDaysLeft}
				.progress-metric-label days
			.progress-metric
				span :
			.progress-metric
				.progress-metric-amount
					| #{eventHoursLeft}
				.progress-metric-label hours
			.progress-metric
				span :
			.progress-metric
				.progress-metric-amount
					| #{eventMinutesLeft}
				.progress-metric-label minutes
	else
		.progress-metrics
			.progress-metric
				.progress-metric-amount 50%
				.progress-metric-label of goal
			.progress-metric
				.progress-metric-amount 100
				.progress-metric-label donors
			.progress-metric
				.progress-metric-amount 10
				.progress-metric-label days left
	if typeof eventTagLine !== 'undefined'
		p(style="color: #{primaryColor}").text-center.top-buffer.progress-tagline
			| #{eventTagLine}
	a.btn.btn-lg.btn-primary.btn-block.btn-donate(href="#") Donate Now
	p.text-center.top-buffer
		- var icon = "phone"
		- var iconClasses = "icon-inline-left accent-color"
		include ../../../shared/icon
		| Donate by Phone -&nbsp;
		a(href="tel://8009866128") (800) 986-6128
	p.text-center.top-buffer
		a(href="mail-check-info.html", onclick="window.open(this.href, '_blank', 'location=yes,height=650,width=800,scrollbars=yes,status=yes'); return false;", target="_blank")
			- var icon = "email"
			- var iconClasses = "icon-inline-left accent-color"
			include ../../../shared/icon
			| How to Mail Your Check
