.nav-tabs-container
	.container
		.row
			.col-xs-12.col-sm-8
				ul.nav.nav-tabs
					li.active
						a(href="#campaign", data-toggle="tab", class="campaign-tab") Campaign
					if !mvp
						li
							a(href="#updates", data-toggle="tab", class="updates-tab") Updates
					li
						a(href="#team", data-toggle="tab", class="team-tab") Team