.nav-mega-menu {
	background-color: @navigation-active-bg;
	display: none;
	height: 100%;
	left: 0;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	padding: 0 (@grid-gutter-width / 2) (@grid-gutter-width / 2);
	position: fixed;
	top: 0;
	width: 100%;
	z-index: @zindex-navbar-fixed;

	@media screen and (min-width: @navigation-change-breakpoint) {
		height: auto;
		overflow: visible;		// allows for dropdown menus to be used inside the nav and have their contents display over the menu at high resolutions
		padding: @grid-gutter-width / 2;
		position: absolute;
		top: 100%;
	}

	&.is-visible {
		display: block;
	}

	a:not(.btn) {
		&:hover {
			color: darken(@navigation-active-bg, 35%);
		}
	}
}

.nav-mega-menu-open-trigger {
	&.is-expanded {
		@media screen and (min-width: @navigation-change-breakpoint) {
			background-color: @navigation-active-bg;
		}
	}
}

.nav-mega-menu-close-trigger {
	@media screen and (min-width: @navigation-change-breakpoint) {
		display: none !important;
	}
}

.nav-mega-menu-column-heading {
	&:first-of-type {
		@media screen and (min-width: @navigation-change-breakpoint) {
			margin-top: 0;
		}
	}
}

.nav-mega-menu-sub-menu {
	list-style: none;
	padding-left: 0;

	> li {
		padding: 0.25em 0;
	}
}

.nav-mega-menu-entity-name {
	font-weight: bold;
}
.list-style-none {
	list-style: none;
}
.org-info-cards {
	display: flex;
	flex-wrap: wrap;
	 > ul {
		width: 48%;
		margin: 1%;
	}
}
@media (max-width: 768px) {
	.org-info-cards {
		> ul {
			width: 98%;
			margin: 1%;
		}
	}

}
