.nav-primary {
	background: @navigation-bg;
}

.nav-primary-top {
	.make-row();
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	list-style: none;
	margin-bottom: 0;
	overflow-x: auto;
	padding: 0;

	a:not(.btn) {
		color: black;
	}

	> li {
		flex-grow: 1;

		> a {
			display: block;
			font-size: @font-size-base * 0.75;
			padding: @grid-gutter-width / 2;
			text-align: center;
			text-decoration: none;
			.transition(background-color 0.2s ease-in-out);

			&:hover {
				background-color: @navigation-active-bg;
			}

			@media screen and (min-width: @screen-xs-min) {
				font-size: @font-size-base;
			}

			@media only screen and (min-width: @navigation-change-breakpoint) {
				text-align: left;
			}
		}
	}
}
