.nav-utility {
	width: 100%;

	> ul {
		align-items: center;
		display: flex;
		list-style: none;
		margin: 0;
		padding: 0;
		text-align: center;

		> li {
			&.open {
				position: relative;	// context for .nav-account-menu dropdown menu
			}
		}
	}

	a {
		& {
			color: white;
			text-decoration: none;
		}

		& .icon {
			fill: white;
			margin: 0 auto;
		}

		&:hover,
		&:active,
		&:focus {
			&,
			& .icon {
				fill: @navigation-bg;
			}
		}
	}
}

.nav-utility-brand {
	flex: 1;	// take up remaining space
	text-align: center;

	@media screen and (min-width: @navigation-change-breakpoint) {
		text-align: left;
	}
}

.nav-utility-home {
	align-items: center;
	display: inline-flex;
}

.nav-utility-brand-whitelabel-logo {
	display: none;

	@media screen and (min-width: @navigation-change-breakpoint) {
		display: inline-block;
		height: 75px;
	}
}

.nav-utility-brand-whitelabel-details {
	@media screen and (min-width: @navigation-change-breakpoint) {
		margin-left: @nav-utility-spacing;
	}
}

.nav-utility-brand-whitelabel-client {
	display: none;

	@media screen and (min-width: @navigation-change-breakpoint) {
		display: block;
		margin: 0;
	}
}

.nav-utility-brand-whitelabel-attribution {
	display: none;

	@media screen and (min-width: @navigation-change-breakpoint) {
		display: inline-block;
		margin-right: 0.25em;
		vertical-align: middle;
	}
}

.nav-utility-brand-logo {
	width: 100px;

	@media screen and (min-width: @navigation-change-breakpoint) {
		vertical-align: middle;
		width: 64px;
	}
}

.nav-utility-search,
.nav-utility-account {
	width: 75px;	// forces symmetry and proper centering of the ETS logo

	@media screen and (min-width: @navigation-change-breakpoint) {
		width: auto;
	}
}

.nav-utility-search {
	order: -1;

	@media screen and (min-width: @navigation-change-breakpoint) {
		margin-right: @nav-utility-spacing;
		order: 0;
	}
}

.nav-account-menu {
	left: auto;
	right: 0;

	> li {
		> a {
			white-space: normal;
		}
	}
}
