link(rel='apple-touch-icon-precomposed', href='/img/content/favicon/touch-icon.png')
link(rel='icon', type='image/png', href='/img/content/favicon/favicon-32x32.png', sizes='32x32')
link(rel='icon', type='image/png', href='/img/content/favicon/favicon-96x96.png', sizes='96x96')
link(rel='icon', type='image/png', href='/img/content/favicon/favicon-16x16.png', sizes='16x16')
link(rel='manifest', href='/img/content/favicon/manifest.json')
link(rel='mask-icon', href='/img/content/favicon/safari-pinned-tab.svg', color='#5bbad5')
link(rel='shortcut icon', href='/img/content/favicon/favicon.ico')
meta(name='msapplication-TileColor', content='#da532c')
meta(name='msapplication-TileImage', content='/img/content/favicon/mstile-144x144.png')
meta(name='msapplication-config', content='/img/content/favicon/browserconfig.xml')
meta(name='theme-color', content='#ffffff')