footer.container
	.col-xs-12.text-center
		a(href="index.html")
			img.img-responsive.center-block.img-footer(src="/img/content/logos/ets-full.svg", alt="eTeamSponsor.com")
		p.disclaimer Copyright 2010-#{new Date().getFullYear()} eTeamSponsor.com