if includeText
	a.js-clipboard(href="javascript:void(0)", title="Share via text message", aria-label="Share via text message", data-clipboard-text="#{smsContent}", data-clipboard-success-message="A message sharing the Campaign Name landing page has been copied.  Go to your favorite text messaging app and paste it into a message to your friends and family!")
		- var icon = "sms"
		- var iconClasses = color + " " + size + " " + additionalClasses
		include ../shared/icon
		| Text message
else
	a.js-clipboard(href="javascript:void(0)", title="Share via text message", aria-label="Share via text message", data-clipboard-text="#{smsContent}", data-clipboard-success-message="A message sharing the Campaign Name landing page has been copied.  Go to your favorite text messaging app and paste it into a message to your friends and family!")
		- var icon = "sms"
		- var iconClasses = color + " " + size + " " + additionalClasses
		include ../shared/icon
