if includeText
	a(href="sms:?&body=#{smsContent}", title="Share via text message", aria-label="Share via text message")
		- var icon = "sms"
		- var iconClasses = color + " " + size + " " + additionalClasses
		include ../shared/icon
		| Text message
else
	a(href="sms:?&body=#{smsContent}", title="Share via text message", aria-label="Share via text message")
		- var icon = "sms"
		- var iconClasses = color + " " + size + " " + additionalClasses
		include ../shared/icon
