.tile(class="#{tileProgressValue ? 'has-progress' : ''} #{tileExtraClass || ''}")
	if (typeof tileMetric1Value !== 'undefined')
		h3.tile-metric #{tileMetric1Value}
		p.tile-title #{tileMetric1Name}
	if (typeof tileMetric2Value !== 'undefined')
		h3.tile-metric.is-goal #{tileMetric2Value}
		p.tile-title #{tileMetric2Name}
	if (typeof tileProgressValue !== 'undefined')
		.tile-progress-container
			.tile-progress(data-value="#{tileProgressValue}%", style="width: #{tileProgressValue > 100 ? '100' : tileProgressValue}%")