// Button variants
//
// Easily pump out default styles, as well as :hover, :focus, :active,
// and disabled options for all buttons

.button-variant(@color; @background; @border; @hoverColor: @color; @hoverBackground: darken(@background, 10%); @hoverBorder: darken(@border, 25%)) {
  color: @color;
  background-color: @background;
  border-color: @border;

  &:focus,
  &.focus {
    color: @hoverColor;
    background-color: @hoverBackground;
        border-color: @hoverBorder;
  }
  &:hover {
    color: @hoverColor;
    background-color: @hoverBackground;
        border-color: @hoverBorder;
  }
  &:active,
  &.active,
  .open > .dropdown-toggle& {
    color: @hoverColor;
    background-color: @hoverBackground;
        border-color: @hoverBorder;

    &:hover,
    &:focus,
    &.focus {
      color: @hoverColor;
      background-color: darken(@hoverBackground, 5%);
          border-color: @hoverBorder;
    }
  }
  &:active,
  &.active,
  .open > .dropdown-toggle& {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus,
    &.focus {
      background-color: @background;
          border-color: @border;
          color: @color;
    }
  }

  .badge {
    color: @background;
    background-color: @color;
  }
}

// Button sizes
.button-size(@padding-vertical; @padding-horizontal; @font-size; @line-height; @border-radius) {
  padding: @padding-vertical @padding-horizontal;
  font-size: @font-size;
  line-height: @line-height;
  border-radius: @border-radius;
}
