.col-xs-12
	h1.page-header#alerts Alerts
	p Alerts can be used for notifications and flash messages; they are dismissible by clicking the "close" button on the right side.  They come in four flavors:

	h3 Success
	.alert.alert-success.alert-dismissible.fade.in(role="alert")
		button.close(data-dismiss="alert", aria-label="Close")
			span(aria-hidden="true") &times;
		- var icon = "check"
		- var iconClasses = "icon-inline-left"
		include ../icon
		strong
			|  Success
		|  This is a success flash message.&nbsp;
		a(href="#") This is a link in a flash message.

	h3 Info
	.alert.alert-info.alert-dismissible.fade.in(role="alert")
		button.close(data-dismiss="alert", aria-label="Close")
			span(aria-hidden="true") &times;
		- var icon = "info"
		- var iconClasses = "icon-inline-left"
		include ../icon
		strong
			|  Info
		|  This is an info flash message.&nbsp;
		a(href="#") This is a link in a flash message.

	h3 Warning
	.alert.alert-warning.alert-dismissible.fade.in(role="alert")
		button.close(data-dismiss="alert", aria-label="Close")
			span(aria-hidden="true") &times;
		- var icon = "warning"
		- var iconClasses = "icon-inline-left"
		include ../icon
		strong
			|  Warning
		|  This is a warning flash message.&nbsp;
		a(href="#") This is a link in a flash message.

	h3 Error
	.alert.alert-danger.alert-dismissible.fade.in(role="alert")
		button.close(data-dismiss="alert", aria-label="Close")
			span(aria-hidden="true") &times;
		- var icon = "error"
		- var iconClasses = "icon-inline-left"
		include ../icon
		strong
			|  Error
		|  This is an error flash message.&nbsp;
		a(href="#") This is a link in a flash message.
