.col-xs-12
	h1.page-header#buttons Buttons
	p The below button classes can be applied to anchor elements, inputs with type of "submit," and button elements, enabling all three to have consistent button styling throughout the application, no matter the required functionality or context.  To turn these elements into a button, you'll need to add the 
		code btn
		|  class and the other classes defined below to get the style you want.
	.row
		.col-sm-6
			h2 Colors
			p Buttons come in two colors: primary and default.  They are applied with the 
				code btn-primary
				|  and&nbsp;
				code btn-default
				|  classes, respectively.
			p
				a.btn.btn-primary(href='#') Primary Button
				a.btn.btn-default(href='#') Default Button
		.col-sm-6
			h2 Sizes
			p Buttons come in a few sizes.  In addition to the standard size above (which does not require an additional class), you can make small and large buttons with the
				code btn-sm
				| and&nbsp;
				code btn-lg
				|  classes, respectively.
			p
				a.btn.btn-sm.btn-primary(href='#') Small Primary Button
				a.btn.btn-sm.btn-default(href='#') Small Default Button
			p
				a.btn.btn-lg.btn-primary(href='#') Large Primary Button
				a.btn.btn-lg.btn-default(href='#') Large Default Button
		.col-sm-6
			h2 Block Buttons
			div(style="width: 300px")
			p The 
				code btn-block
				|  class makes a button the full-width of its parent element.  It can be used in conjunction with the other button styles as well.  Text does not wrap, so make sure your content is sufficiently succinct to work across all resolutions.
			p
				a.btn.btn-block.btn-primary(href='#') Primary Block Button
				a.btn.btn-block.btn-default(href='#') Default Block Button
				a.btn.btn-block.btn-lg.btn-primary(href='#') Large Primary Block Button
				a.btn.btn-block.btn-lg.btn-default(href='#') Large Default Block Button
		.col-sm-6
			h2 Icons
			p Buttons can have icons included with them, too.  Icons can be used on all of the button styles and sizes.
			p
				a.btn.btn-primary(href='#')
					- var icon = "arrow-left"
					- var iconClasses = ""
					include ../icon
					|  Primary Button with Icon
				a.btn.btn-default(href='#')
					- var icon = "arrow-left"
					- var iconClasses = ""
					include ../icon
					|  Default Button with Icon
			p
				a.btn.btn-lg.btn-primary(href='#')
					- var icon = "arrow-left"
					- var iconClasses = ""
					include ../icon
					|  Large Primary Button with Icon
				a.btn.btn-lg.btn-default(href='#')
					- var icon = "arrow-left"
					- var iconClasses = ""
					include ../icon
					|  Large Default Button with Icon
			p
				a.btn.btn-block.btn-default(href='#')
					- var icon = "arrow-left"
					- var iconClasses = ""
					include ../icon
					|  Default Block Button with Icon
			p
				a.btn.btn-block.btn-lg.btn-default(href='#')
					- var icon = "arrow-left"
					- var iconClasses = ""
					include ../icon
					|  Large Default Block Button with Icon
		.col-sm-6
			h2 Links to Align With Buttons
			p The&nbsp;
				code btn-link
				|  class can be used to create a link that aligns properly with buttons, but has the style of a link.
			p
				a.btn.btn-primary(href='#') Primary Button
				a.btn.btn-link(href='#') Button Link
			p
				a.btn.btn-primary.btn-lg(href='#') Large Primary Button
				a.btn.btn-link.btn-lg(href='#') Button Link