
#createCampaign.modal.fade(tabindex='-1', role='dialog', aria-labelledby='wizardModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .wizard-modal-header
                h3 My New Campaign
                button.close#modal-close-btn(type='button', aria-hidden='true',data-dismiss="modal") &times;
            .wizard-modal-container
                .wizard-modal-body
                    #step1.wizard-single-item.next-wizard-item
                        - var programsList = ['SHU Women\'s Soccer', 'SHU Women\'s Basketball'];
                            .well
                                h2 Select Program
                                select.form-control.input-lg.programName-input(required)
                                    each program in programsList
                                        option(value=program) #{program}
                            .step-footer
                                a.btn.btn-default.programName-btn(href='#') Next

                    #step2.wizard-single-item
                        - var campaignsList = ['2017 Siena Heights Univ Women\'s Soccer Challenge','2017 Siena Heights Univ Women\'s Soccer Challenge 2']
                        .step-header
                            if campaignsList
                                h5 You already have some campaigns, do you want to edit them?
                                each campaign in campaignsList
                                  .well.current-campaigns-well
                                      .current-campaigns
                                        = campaign
                                      a.icon-link(href="campaign-dashboard.html")
                                          - var icon = "update"
                                          - var iconClasses = "brand-primary"
                                          include ../icon
                                          | <br />

                            else
                                .well
                                    h5 You doesn't have any campaigns yet
                        .step-footer
                            a.btn.btn-default.step-two-btn.continueCreating-btn(href='#') Create a new campaign

                    #step3.wizard-single-item
                        .well
                            h2 Launch Date:
                            form(action='', data-toggle='validator', data-disable='false')
                                fieldset
                                    .form-group
                                         input.form-control.input-lg.launchDate-input(type='date', id="wizardDate", data-error='Please enter a correct launch date.', required='')
                                         .help-block.with-errors
                        .step-footer
                            a.btn.btn-default.launchDate-btn(href='#') Next



                    #step4.wizard-single-item
                        .well
                            h2 Campaign name:
                            form(action='', data-toggle='validator', data-disable='false')
                                fieldset
                                    .form-group
                                        textarea.form-control.input-lg.campaignName-input#wizardCampaignName(data-error='Please enter your campaign name.', required='')
                                        .help-block.with-errors
                        .step-footer
                            a.btn.btn-default.campaignName-btn(href='#') Next

                    #step5.wizard-single-item
                        .well
                            h2 Campaign Goal
                            .step-number-container
                                form(action='', data-toggle='validator', data-disable='false')
                                    fieldset
                                        .form-group
                                            span $
                                            input.form-control.input-lg.campaignGoal-input#wizardCampaignGoal(value="10,000", data-error='Please enter your campaign goal.', required='')
                                            .help-block.with-errors
                        .step-footer
                            a.btn.btn-default.campaignGoal-btn(href='#') Next

                    #step6.wizard-single-item
                        .well
                            h2 Enter Expected Participation Percentage
                            .step-number-container
                                form(action='', data-toggle='validator', data-disable='false')
                                    fieldset
                                        .form-group
                                            span %
                                            input.form-control.input-lg.expectedParticipantPercent-input#expectPartPer(data-error='Please enter a valid percentage.', required='', type='number', min='0', max='100', step='1', value='100')
                                            .help-block.with-errors
                        .step-footer
                            a.btn.btn-default.expectedParticipantPercent-btn(href='#') Next

                    #step7.wizard-single-item
                        .step-header
                            h5 You have
                                span.partc-info#participantCount
                                | participants in
                                span.partc-info#participantProgramName
                                | program. Your current Campaign Goal is $
                                span.partc-info#participantCampaign
                                | .This means, that each participant's goal is $
                                span.partc-info#participantGoalDesk or any goal you like
                        .well
                            h2 Participant Goal
                            .step-number-container
                                form(action='', data-toggle='validator', data-disable='false')
                                    fieldset
                                        .form-group
                                            span $
                                            input.form-control.input-lg.participantGoal-input#participantGoal(data-error='Please enter your participant goal.', required='', value='100')
                                            .help-block.with-errors
                        .step-footer
                            a.btn.btn-default.participantGoal-btn(href='#') Next


                    #step8.wizard-single-item
                        h2 Additional needs (1/4)
                        .step-number-container
                            form(action='', data-toggle='validator', data-disable='false')
                                fieldset
                                    legend.sr-only Legend
                                    ol.list-unstyled.needs-checkboxes
                                        .row
                                            li.form-group.col-sm-12.col-md-4
                                                label.lightweight
                                                    input(type='checkbox', name='campaign-needs-checkbox', value='End of the year banquet and awards')
                                                    |  End of the year banquet and awards
                                            li.form-group.col-sm-12.col-md-4
                                                label.lightweight
                                                    input(type='checkbox', name='campaign-needs-checkbox', value='Passing tournament fees')
                                                    |  Passing tournament fees
                                                .help-block.with-errors
                                            li.form-group.col-sm-12.col-md-4
                                                label.lightweight
                                                    input(type='checkbox', name='campaign-needs-checkbox', value='Travel expenses')
                                                    |  Travel expenses
                                        .row
                                            li.form-group.col-sm-12.col-md-4
                                                label.lightweight
                                                    input(type='checkbox', name='campaign-needs-checkbox', value='Game day attire')
                                                    |  Game day attire
                                                .help-block.with-errors
                                            li.form-group.col-sm-12.col-md-4
                                                label.lightweight
                                                    input(type='checkbox', name='campaign-needs-checkbox', value='Pre-game meals')
                                                    |  Pre-game meals
                                            li.form-group.col-sm-12.col-md-4
                                                label.lightweight
                                                    input(type='checkbox', name='campaign-needs-checkbox', value='Game uniforms')
                                                    |  Game uniforms
                                        .row
                                            li.form-group.col-sm-12.col-md-4
                                                label.lightweight
                                                    input(type='checkbox', name='campaign-needs-checkbox', value='Safety equipment')
                                                    |  Safety equipment
                                            li.form-group.col-sm-12.col-md-4
                                                label.lightweight
                                                    input(type='checkbox', name='campaign-needs-checkbox', value='Team travel equipment bags')
                                                    |  Team travel equipment bags
                                            li.form-group.col-sm-12.col-md-4
                                                label.lightweight
                                                    input(type='checkbox', name='campaign-needs-checkbox', value='Helmet and shoulder pad reconditioning')
                                                    |  Helmet and shoulder pad reconditioning
                        .step-footer
                            a.btn.btn-default.campaignNeeds-first-btn(href='#') Next
                    #step9.wizard-single-item
                        h2 On Field Needs (2/4)
                            form(action='', data-toggle='validator', data-disable='false')
                                fieldset
                                    legend.sr-only Legend
                                    ol.list-unstyled.needs-checkboxes
                                        .row
                                            li.form-group.col-sm-12.col-md-4
                                                label.lightweight
                                                    input(type='checkbox', name='campaign-needs-checkbox', value='Agility bags')
                                                    |  Agility bags
                                            li.form-group.col-sm-12.col-md-4
                                                label.lightweight
                                                    input(type='checkbox', name='campaign-needs-checkbox', value='Football throwing machine')
                                                    |  Football throwing machine
                                                .help-block.with-errors
                                            li.form-group.col-sm-12.col-md-4
                                                label.lightweight
                                                    input(type='checkbox', name='campaign-needs-checkbox', value='Portable hydration system')
                                                    |  Portable hydration system
                                        .row
                                            li.form-group.col-sm-12.col-md-4
                                                label.lightweight
                                                    input(type='checkbox', name='campaign-needs-checkbox', value='Practice shimmels')
                                                    |  Practice shimmels
                                                .help-block.with-errors
                                            li.form-group.col-sm-12.col-md-4
                                                label.lightweight
                                                    input(type='checkbox', name='campaign-needs-checkbox', value='Trap-chute')
                                                    |  Trap-chute
                                            li.form-group.col-sm-12.col-md-4
                                                label.lightweight
                                                    input(type='checkbox', name='campaign-needs-checkbox', value='Agility ladder')
                                                    |  Agility ladder
                                        .row
                                            li.form-group.col-sm-12.col-md-4
                                                label.lightweight
                                                    input(type='checkbox', name='campaign-needs-checkbox', value='Footballs')
                                                    |  Footballs
                                            li.form-group.col-sm-12.col-md-4
                                                label.lightweight
                                                    input(type='checkbox', name='campaign-needs-checkbox', value='Portable kicking net')
                                                    |  Portable kicking net
                                            li.form-group.col-sm-12.col-md-4
                                                label.lightweight
                                                    input(type='checkbox', name='campaign-needs-checkbox', value='Quarterback target net')
                                                    |  Quarterback target net
                                        .row
                                            li.form-group.col-sm-12.col-md-4
                                                label.lightweight
                                                    input(type='checkbox', name='campaign-needs-checkbox', value='Arm shields')
                                                    |  Arm shields
                                            li.form-group.col-sm-12.col-md-4
                                                label.lightweight
                                                    input(type='checkbox', name='campaign-needs-checkbox', value='Lineman boards')
                                                    |  Lineman boards
                                            li.form-group.col-sm-12.col-md-4
                                                label.lightweight
                                                    input(type='checkbox', name='campaign-needs-checkbox', value='Powerblast')
                                                    |  Powerblast
                                        .row
                                            li.form-group.col-sm-12.col-md-4
                                                label.lightweight
                                                    input(type='checkbox', name='campaign-needs-checkbox', value='Running ropes')
                                                    |  Running ropes
                                            li.form-group.col-sm-12.col-md-4
                                                label.lightweight
                                                    input(type='checkbox', name='campaign-needs-checkbox', value='Digital video equipment')
                                                    |  Digital video equipment
                                            li.form-group.col-sm-12.col-md-4
                                                label.lightweight
                                                    input(type='checkbox', name='campaign-needs-checkbox', value='Lineman sled')
                                                    |  Lineman sled
                                        .row
                                            li.form-group.col-sm-12.col-md-4
                                                label.lightweight
                                                    input(type='checkbox', name='campaign-needs-checkbox', value='Team travel equipment bags')
                                                    |  Practice cones
                                            li.form-group.col-sm-12.col-md-4
                                                label.lightweight
                                                    input(type='checkbox', name='campaign-needs-checkbox', value='Team travel equipment bags')
                                                    |  Stand-up dummies
                        .step-footer
                            a.btn.btn-default.campaignNeeds-second-btn(href='#') Next

                    #step10.wizard-single-item
                        h2 Speed and Flexibility Training Equipment (3/4)
                            form(action='', data-toggle='validator', data-disable='false')
                                fieldset
                                    legend.sr-only Legend
                                    ol.list-unstyled.needs-checkboxes
                                        .row
                                            li.form-group.col-sm-12.col-md-4
                                                label.lightweight
                                                    input(type='checkbox', name='campaign-needs-checkbox', value='Hurdles')
                                                    |  Hurdles
                                            li.form-group.col-sm-12.col-md-4
                                                label.lightweight
                                                    input(type='checkbox', name='campaign-needs-checkbox', value='Speed and agility cones')
                                                    |  Speed and agility cones
                                                .help-block.with-errors
                                            li.form-group.col-sm-12.col-md-4
                                                label.lightweight
                                                    input(type='checkbox', name='campaign-needs-checkbox', value='Parachute')
                                                    |  Parachute
                                        .row
                                            li.form-group.col-sm-12.col-md-4
                                                label.lightweight
                                                    input(type='checkbox', name='campaign-needs-checkbox', value='Weighted resistance vest')
                                                    |  Weighted resistance vest
                                                .help-block.with-errors
                                            li.form-group.col-sm-12.col-md-4
                                                label.lightweight
                                                    input(type='checkbox', name='campaign-needs-checkbox', value='Power sled')
                                                    |  Power sled
                                            li.form-group.col-sm-12.col-md-4
                                                label.lightweight
                                                    input(type='checkbox', name='campaign-needs-checkbox', value='Team travel equipment bags')
                                                    |  Resistance-bands
                        .step-footer
                            a.btn.btn-default.campaignNeeds-third-btn(href='#') Next

                    #step11.wizard-single-item
                        h2 Strength Training Equipment (4/4)
                            form(action='', data-toggle='validator', data-disable='false')
                                fieldset
                                    legend.sr-only Legend
                                    ol.list-unstyled.needs-checkboxes
                                        .row
                                            li.form-group.col-sm-12.col-md-4
                                                label.lightweight
                                                    input(type='checkbox', name='campaign-needs-checkbox', value='Bench press')
                                                    |  Bench press
                                            li.form-group.col-sm-12.col-md-4
                                                label.lightweight
                                                    input(type='checkbox', name='campaign-needs-checkbox', value='Olympic weights')
                                                    |  Olympic weights
                                                .help-block.with-errors
                                            li.form-group.col-sm-12.col-md-4
                                                label.lightweight
                                                    input(type='checkbox', name='campaign-needs-checkbox', value='Squat rack')
                                                    |  Squat rack
                                        .row
                                            li.form-group.col-sm-12.col-md-4
                                                label.lightweight
                                                    input(type='checkbox', name='campaign-needs-checkbox', value='Dumbell rack')
                                                    |  Dumbbell rack
                                                .help-block.with-errors
                                            li.form-group.col-sm-12.col-md-4
                                                label.lightweight
                                                    input(type='checkbox', name='campaign-needs-checkbox', value='Painting weightroom')
                                                    |  Painting weightroom
                                            li.form-group.col-sm-12.col-md-4
                                                label.lightweight
                                                    input(type='checkbox', name='campaign-needs-checkbox', value='Vertical jump measurement tool')
                                                    |  Vertical jump measurement tool
                                        .row
                                            li.form-group.col-sm-12.col-md-4
                                                label.lightweight
                                                    input(type='checkbox', name='campaign-needs-checkbox', value='Dumbbells')
                                                    |  Dumbbells
                                            li.form-group.col-sm-12.col-md-4
                                                label.lightweight
                                                    input(type='checkbox', name='campaign-needs-checkbox', value='Team travel equipment bags')
                                                    |  Power racks
                                            li.form-group.col-sm-12.col-md-4
                                                label.lightweight
                                                    input(type='checkbox', name='campaign-needs-checkbox', value='Team travel equipment bags')
                                                    |  Olympic lift platforms
                                            li.form-group.col-sm-12.col-md-4
                                                label.lightweight
                                                    input(type='checkbox', name='campaign-needs-checkbox', value='Team travel equipment bags')
                                                    |  Re-flooring weightroom
                        .step-footer
                            a.btn.btn-default.campaignNeeds-btn(href='#') Next

                    #step12.wizard-single-item
                        h2 Additional Needs
                        .well
                            form(action='', data-toggle='validator', data-disable='false')
                                fieldset
                                    .additional-row-group
                                        .form-group
                                            .dublicate-container(data-duplicate="additional")
                                                input.form-control.input-lg.additionalNeeds-input.additional-input-field(type='text', data-error='Please enter your additional needs', required)
                                                button.btn.btn-default.input-lg.remove-additional(type='button', data-duplicate-remove="additional") ×
                                            .help-block.with-errors
                                            button.btn.btn-default.pull-right.add-new-input(data-duplicate-add="additional") +
                        .step-footer
                            a.btn.btn-default.additionalNeeds-btn(href='#') Next

                    #step13.wizard-single-item
                        .step-header
                            h5  Important dates
                        .well.date-visible-well
                            h2 The dates are automatically set to the Launch Date.
                            .form-group
                                input.form-control.input-lg.wizard-input(type='date', id="disabledLaunchDate", disabled)
                        .step-footer
                            h2 Do you want to customize dates?
                            button.btn.btn-default.show-important-dates.importantDates-yes-btn Yes
                            button.btn.btn-default.next-important-dates.importantDates-no-btn No

                    #step14.wizard-single-item
                        .step-header
                            h5  Additional dates
                        .date-visible-well.row
                            .col-sm-12.col-md-6
                                h2 Campaign Instructions Date:
                                    form(action='', data-toggle='validator', data-disable='false')
                                        fieldset
                                            .form-group
                                                input.form-control.input-lg.importantDate-input.important-date(type='date', id="ciDate", disabled, data-error='Please enter a correct date.', required='')
                                                .help-block.with-errors
                            .col-sm-12.col-md-6
                                h2 Email Campaign Begins Date:
                                    form(action='', data-toggle='validator', data-disable='false')
                                        fieldset
                                            .form-group
                                                input.form-control.input-lg.importantDate-input.important-date(type='date', id="ecbDate", disabled, data-error='Please enter a correct date.', required='')
                                                .help-block.with-errors
                            .col-sm-12.col-md-6
                                h2 Email Touch 2 Date:
                                    form(action='', data-toggle='validator', data-disable='false')
                                        fieldset
                                            .form-group
                                                input.form-control.input-lg.importantDate-input.important-date(type='date', id="et2Date", disabled, data-error='Please enter a correct date.', required='')
                                                .help-block.with-errors
                            .col-sm-12.col-md-6
                                h2 Email Touch 3 Date:
                                    form(action='', data-toggle='validator', data-disable='false')
                                        fieldset
                                            .form-group
                                                input.form-control.input-lg.importantDate-input.important-date(type='date', id="et3Date", disabled, data-error='Please enter a correct date.', required='')
                                                .help-block.with-errors
                            .col-sm-12.col-md-6
                                h2 Email Touch 4 Date:
                                    form(action='', data-toggle='validator', data-disable='false')
                                        fieldset
                                            .form-group
                                                input.form-control.input-lg.importantDate-input.important-date(type='date', id="et4Date", disabled, data-error='Please enter a correct date.', required='')
                                                .help-block.with-errors
                            .col-sm-12.col-md-6
                                h2 Email Touch 5 Date:
                                    form(action='', data-toggle='validator', data-disable='false')
                                        fieldset
                                            .form-group
                                                input.form-control.input-lg.importantDate-input.important-date(type='date', id="et5Date", disabled, data-error='Please enter a correct date.', required='')
                                                .help-block.with-errors
                        .step-footer
                            a.btn.btn-default.importantDate-btn(href='#') Next

                    #step15.wizard-single-item
                        .vimeo-row.well
                            h2 Your Vimeo video link
                            form(action='', data-toggle='validator', data-disable='false')
                                fieldset
                                    .form-group
                                        input.form-control.input-lg.teamVideo-input#vimeoVideo(data-error='Please enter your vimeo ID.', required='')
                                        .help-block.with-errors
                                    .form-or-group
                                        span OR
                                    .form-group
                                        #progress-container.progress
                                            #progress.progress-bar.progress-bar-eteam.progress-bar-striped.active(role='progressbar', aria-valuenow='46', aria-valuemin='0', aria-valuemax='100', style='width: 0%')
                                                | 0%
                                        .video-results
                                            #resultsVimeo
                                        .video-info
                                            .form-group
                                                h2 Video name
                                                input#videoName.form-control(type='text', name='name', placeholder='Video name', value='')
                                            .form-group
                                                h2 Video description
                                                input#videoDescription.form-control(type='text', name='description', placeholder='Video description', value='')
                                        .video-input
                                                input#browse(type='file', style='display: none;')
                                        #uploadVideoDropzone
                                            span#uploadVideoMessage Click here to choose file


                        .step-footer
                            a.btn.btn-default.teamVideo-btn(href='#') Save and close

            .footer-wizard-controls
                .progress-control
                    .progress-bar.progress-bar-success(role='progressbar', aria-valuenow='1', aria-valuemin='1', aria-valuemax='18', style='min-width: 10.5%;width: 7.1%; background-color: #3ab44a;')
                        | 1/18
                .button-control.next-btn
                    a.btn.btn-default.wizard-btn.wizard-up(href='#') ↑
                    a.btn.btn-default.wizard-btn.wizard-down(href='#') ↓

#confirmCampaign.modal.fade(tabindex='-1', role='dialog', aria-labelledby='wizardCloseLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .wizard-modal-header
                h3 My New Campaign
                button.close#modal-close-confirm(type='button', aria-hidden='true') &times;
            .wizard-modal-container
                h2 Your campaign is not saved yet. Do you want to close the campaign builder?
                .confirm-btn-row
                    button.btn.btn-default.close-confirm(type='button') Yes, close
                    button.btn.btn-default.continue-confirm(type='button') No, continue
