.col-xs-12
	h1.page-header#charts Charts
	h2 Line Chart (Extra Large Dynamic Data Set)
	canvas(data-chart-name="line-chart-extra-large", data-chart-type="line", data-chart-dynamic-dataset="true", data-chart-begin-at-zero="true")
	h2 Line Chart (Large Dynamic Data Set)
	canvas(data-chart-name="line-chart-large", data-chart-type="line", data-chart-dynamic-dataset="true")
	h2 Bar Chart
	canvas(data-chart-name="bar-chart", data-chart-type="bar")
	h2 Line Chart
	canvas(data-chart-name="line-chart", data-chart-type="line")

	script.
		var chartConfig = {
			'bar-chart': {
				data: {
					labels: ["Week 1", "Week 2", "Week 3", "Week 4"],
					datasets: [{
						label: 'Baseball',
						data: [40, 70, 90, 100],
						backgroundColor: '#f0dc00'
					}, {
						label: 'Basketball',
						data: [30, 45, 60, 90],
						backgroundColor: '#3ab44a'
					}]
				}
			},
			'line-chart': {
				data: {
					labels: ["Kickoff", "Week 1", "Week 2", "Week 3", "Week 4"],
					datasets: [{
						label: 'Goal',
						data: [0, 40, 70, 90, 100],
						backgroundColor: '#f0dc00',
						borderColor: '#f0dc00'
					}, {
						label: 'Actual',
						data: [0, 30, 45, 60],
						backgroundColor: '#3ab44a',
						borderColor: '#3ab44a'
					}]
				}
			},
			'line-chart-large': {
				data: {
					small: {
						labels: ["Kickoff", "12/4", "12/8", "12/12", "12/14"],
						datasets: [{
							label: 'Goal',
							data: [0, 23.144742040025, 42.1988518332879, 58.1672385390955, 65.130556490953],
							backgroundColor: '#f0dc00',
							borderColor: '#f0dc00'
						}, {
							label: 'Actual',
							data: [0, 20, 38, 60, 70],
							backgroundColor: '#3ab44a',
							borderColor: '#3ab44a'
						}]
					},
					medium: {
						labels: ["Kickoff", "12/2", "12/4", "12/6", "12/8", "12/10", "12/12", "12/14"],
						datasets: [{
							label: 'Goal',
							data: [0, 12.2191406505403, 23.144742040025, 33.0945764278368, 42.1988518332879, 50.5376087571425, 58.1672385390955, 65.130556490953],
							backgroundColor: '#f0dc00',
							borderColor: '#f0dc00'
						}, {
							label: 'Actual',
							data: [0, 9, 20, 29, 38, 48, 60, 70],
							backgroundColor: '#3ab44a',
							borderColor: '#3ab44a'
						}]
					},
					large: {
						labels: ["Kickoff", "12/1", "12/2", "12/3", "12/4", "12/5", "12/6", "12/7", "12/8", "12/9", "12/10", "12/11", "12/12", "12/13", "12/14"],
						datasets: [{
							label: 'Goal',
							data: [0, 6.31409174383779, 12.2191406505403, 17.8156326276129, 23.144742040025, 28.2317792857708, 33.0945764278368, 37.7466725192238, 42.1988518332879, 46.4599971323194, 50.5376087571425, 54.4381421302188, 58.1672385390955, 61.7298893244954, 65.130556490953],
							backgroundColor: '#f0dc00',
							borderColor: '#f0dc00'
						}, {
							label: 'Actual',
							data: [0, 5, 9, 15, 20, 25, 29, 33, 38, 41, 48, 55, 60, 65, 70],
							backgroundColor: '#3ab44a',
							borderColor: '#3ab44a'
						}]
					}
				}
			},
			'line-chart-extra-large': {
				data: {
					small: {
						labels: ["Kickoff", "12/2", "12/6", "12/10", "12/14", "12/18", "12/22", "12/26", "12/30"],
						datasets: [{
							label: 'Goal',
							data: [0, 1221, 3309, 5053, 6513, 7719, 8692, 9448, 10000],
							backgroundColor: '#f0dc00',
							borderColor: '#f0dc00'
						}, {
							label: 'Actual',
							data: [0, 900, 2900, 4800, 7000, 8800, 9575, 10350, 10900],
							backgroundColor: '#3ab44a',
							borderColor: '#3ab44a'
						}]
					},
					medium: {
						labels: ["Kickoff", "12/2", "12/4", "12/6", "12/8", "12/10", "12/12", "12/14", "12/16", "12/18", "12/20", "12/22", "12/24", "12/26", "12/28", "12/30"],
						datasets: [{
							label: 'Goal',
							data: [0, 1221, 2314, 3309, 4219, 5053, 5816, 6513, 7146, 7719, 8234, 8692, 9097, 9448, 9749, 10000],
							backgroundColor: '#f0dc00',
							borderColor: '#f0dc00'
						}, {
							label: 'Actual',
							data: [0, 900, 2000, 2900, 3800, 4800, 6000, 7000, 8100, 8800, 9300, 9575, 10000, 10350, 10700, 10900],
							backgroundColor: '#3ab44a',
							borderColor: '#3ab44a'
						}]
					},
					large: {
						labels: ["Kickoff", "12/1", "12/2", "12/3", "12/4", "12/5", "12/6", "12/7", "12/8", "12/9", "12/10", "12/11", "12/12", "12/13", "12/14", "12/15", "12/16", "12/17", "12/18", "12/19", "12/20", "12/21", "12/22", "12/23", "12/24", "12/25", "12/26", "12/27", "12/28", "12/29", "12/30"],
						datasets: [{
							label: 'Goal',
							data: [0, 631, 1221, 1781, 2314, 2823, 3309, 3774, 4219, 4645, 5053, 5443, 5816, 6172, 6513, 6837, 7146, 7440, 7719, 7983, 8234, 8470, 8692, 8901, 9097, 9279, 9448, 9605, 9749, 9880, 10000],
							backgroundColor: '#f0dc00',
							borderColor: '#f0dc00'
						}, {
							label: 'Actual',
							data: [0, 500, 900, 1500, 2000, 2500, 2900, 3300, 3800, 4100, 4800, 5500, 6000, 6500, 7000, 7600, 8100, 8400, 8800, 9100, 9300, 9450, 9575, 9875, 10000, 10200, 10350, 10600, 10700, 10800, 10900],
							backgroundColor: '#3ab44a',
							borderColor: '#3ab44a'
						}]
					}
				},
				aspectRatios: {
					small: '1.5:1',
					medium: '2:1',
					large: '16:9'
				}
			}
		};