.col-xs-12
	h1.page-header#colors Colors
.col-xs-12
	h2 All Projects
	h3 States
	ul.list-inline
		li.text-center
			.color-swatch.success
				p Success
			p Background:
				br
				code #dff0d8
			p Text:
				br
				code #3c763d
			p Border
				br
				code #d6e9c6
		li.text-center
			.color-swatch.info
				p Info
			p Background:
				br
				code #d9edf7
			p Text
				br
				code #31708f
			p Border
				br
				code #bce8f1
		li.text-center
			.color-swatch.warning
				p Warning
			p Background
				br
				code #fcf8e3
			p Text
				br
				code #8a6d3b
			p Border
				br
				code #faebcc
		li.text-center
			.color-swatch.danger
				p Danger
			p Background
				br
				code #f2dede
			p Text
				br
				code #a94442
			p Border
				br
				code #ebccd1
	h3 Standard Grays
	ul.list-inline
		li.text-center
			.color-swatch.gray-lightest
				p(style="color: black;") Gray Lightest
			p
				code #eeeeee
		li.text-center
			.color-swatch.gray-lighter
				p(style="color: black;") Gray Lighter
			p
				code #b3b3b3
		li.text-center
			.color-swatch.gray-light
				p(style="color: black;") Gray Light
			p
				code #777777
		li.text-center
			.color-swatch.gray
				p(style="color: white;") Gray
			p
				code #555555
		li.text-center
			.color-swatch.gray-dark
				p(style="color: white;") Gray Dark
			p
				code #333333
		li.text-center
			.color-swatch.gray-darker
				p(style="color: white;") Gray Darker
			p
				code #222222
		li.text-center
			.color-swatch.gray-base
				p(style="color: white;") Gray Base
			p
				code #000000