.col-xs-12
	h1.page-header#dynamic-form-ui Dynamic Form UI
	p Sometimes when a selection is made in the UI, additional form UI needs to be shown or hidden dynamically based on a user's selected option.  In addition to showing and hiding HTML already rendered on page load, this UI may sometimes be needed to be dynamically rendered based on a response from the server.
	.row
		.col-sm-8
			ol
				li
					| To enable dynamic form UI, the&nbsp;
					code dynamic-form-ui-trigger
					|  class needs to be added to the
					code select
					|  form element that drives the display of the dynamic UI.  Additionally, a container with the class of
					code dynamic-form-ui-container
					|  needs to be added to the HTML.  It will contain the new, dynamic UI and can be placed anywhere on the page.
				li On the
					code select
					|  form element and the
					code dynamic-form-ui-container
					|  classed element, the data attribute
					code data-dynamic-form-ui-name
					| , the name of the dynamic UI, needs to be included.  This needs to be unique as it's used as a key to match a
					code dynamic-form-ui-trigger
					|  to its
					code dynamic-form-ui-container
					| .
				li On the
					code options
					|  form elements, the following classes and data attributes are needed to adjust the UI based on the user's selected option.
					ul
						li
							code dynamic-form-ui-show
							|  - use this class if the selection of this option will show the
							code dynamic-form-ui-container
							|  .
						li
							code dynamic-form-ui-hide
							|  - use this class if the selection of this option will hide the
							code dynamic-form-ui-container.
						li
							p
								code data-dynamic-form-ui-url
								|  (optional) - to be used in conjunction with the
								code dynamic-form-ui-show
								|  class, this is the URL where the attributes and options to build the dynamic UI can be retrieved.  This is only required if you need to build the UI dynamically based on a response from the server; it is not required if you just want to show content that was rendered in the
								code dynamic-form-ui-container
								|  on page load.
							p The value of the selected option is passed to the server as "selection," either as a query string parameter (when using the "GET" method) or in the request body (when using the "POST" method).  The expected response is JSON with the following format:
							ul
								li
									code label
									|  (optional) - a label to display above the options.
								li
									code name
									|  - the name used in the serialization of the data submitted by the form.
								li
									code type
									|  (possible values: "checkbox", "radio", "select", "multi-select") - the type of HTML element to output to the user.
								li
									code options
									|  - the options to give to the user.  This will be an array of JSON objects with the following keys:
									ul
										li
											code label
											|  - the label to display to the user for that option.
										li
											code value
											|  - the value to send to the server when this option is selected.
						li
							code data-dynamic-form-ui-method
							|  (optional; default: "GET") - the HTTP method used to retrieve data from the above URL.
			h2 Examples
			h3 Basic Show/Hide
			form(id="dynamic-form-ui-basic-show-hide" action='style-guide.html', data-toggle='validator', data-disable='false')
				legend.sr-only Legend
				fieldset
					ol.list-unstyled
						li.form-group
							.floating-label-group.decorator-select
								select.form-control.has-floating-label.dynamic-form-ui-trigger(name='dynamic-form-ui-basic-show-hide', id='dynamic-form-ui-basic-show-hide', data-error="Please select an option.", data-dynamic-form-ui-name='dynamic-form-ui-basic-show-hide', required)
									option(value='', selected, disabled)
									option.dynamic-form-ui-show(value='show') Show UI
									option.dynamic-form-ui-hide(value='hide') Hide UI
								label.floating-label(for='dynamic-form-ui-basic-show-hide') Choose a value
							.help-block.with-errors
						li.form-group.dynamic-form-ui-container(data-dynamic-form-ui-name='dynamic-form-ui-basic-show-hide')
							p This is where you would put UI that you want to show or hide.
						li
							input.btn.btn-lg.btn-primary(type='submit', value='Submit')
			- var dynamicFormUITypes = ['checkbox', 'radio', 'select', 'multi-select']
			each dynamicFormUIType in dynamicFormUITypes
				- var dynamicFormUILabel = "dynamic-form-ui-" + dynamicFormUIType
				h3 #{ dynamicFormUIType.slice(0,1).toUpperCase() + dynamicFormUIType.slice(1) }
				form(id="#{dynamicFormUILabel}" action='style-guide.html', data-toggle='validator', data-disable='false')
					legend.sr-only Legend
					fieldset
						ol.list-unstyled
							li.form-group
								.floating-label-group.decorator-select
									select.form-control.has-floating-label.dynamic-form-ui-trigger(name='#{dynamicFormUILabel}', id='#{dynamicFormUILabel}', data-error="Please select an option.", data-dynamic-form-ui-name='#{dynamicFormUILabel}', required)
										option(value='', selected, disabled)
										option.dynamic-form-ui-show(value='show', data-dynamic-form-ui-url='../data/sample-data/dynamic-form-ui-#{dynamicFormUIType}.json') Show Dynamic UI
										option.dynamic-form-ui-hide(value='hide') Hide Dynamic UI
									label.floating-label(for='#{dynamicFormUILabel}') Choose a value
								.help-block.with-errors
							li.form-group.dynamic-form-ui-container(data-dynamic-form-ui-name='#{dynamicFormUILabel}')
							li
								input.btn.btn-lg.btn-primary(type='submit', value='Submit')
