.col-xs-12
	h1.page-header#forms Forms
	p Forms should have the following properties and children:
	ol
		li
			| To enable validation, the&nbsp;
			code data-toggle
			|  property of the form element should be set to&nbsp;
			code "validator"
			| .
		li
			| The form should contain a fieldset which will contain all fields in the form.  The first element in the fieldset should be a&nbsp;
			code legend
			|  element that describes the fieldset.  If you don't want the legend to be visible, add the class&nbsp;
			code "sr-only"
			|  to it to hide it from sighted users, but to allow screen readers to read it for blind users.
		li
			| The fields will be contained within an&nbsp;
			code ol
			|  element with the class of&nbsp;
			code "list-unstyled"
			| .  This removes the numbers from the list items and because the items are in an ordered list, screen readers will tell a blind user how many items there are in the form to give them an idea of the form's length.
		li
			| Generally each list item will contain a single field, but sometimes they will contain two, each of which will be contained inside a column container.
		li
			| Use the&nbsp;
			code form-group
			|  class on an input's ancestor to define its context for validation.  This is usually applied to its parent list item, but can be any parent that only encapsulates that single input.
		li
			| Use the&nbsp;
			code form-control
			|  class on inputs and select elements to apply proper styling.  For select elements, you also need to wrap it in a div element with the&nbsp;
			code decorator-select
			|  class.
		li There are two methods for creating input labels.  Examples of both will be shown below.
			ul
				li Floating labels.  These are labels that will float to the top of an input when they're in focus or have a value.  To use floating labels, apply the&nbsp;
					code floating-label-group
					|  class to an element that wraps both the input and its associated&nbsp;
					code label.
					|  Then, add the&nbsp;
					code has-floating-label
					|  class to the input and the&nbsp;
					code floating-label
					|  class to the&nbsp;
					code label
					|  element.
				li Placeholders. When the&nbsp;
					code placeholder
					|  property of inputs is used instead of floating labels, use a&nbsp;
					code label
					|  element with the&nbsp;
					code sr-only
					|  class to ensure blind users still know what a field is for.
		li
			| Use an&nbsp;
			code input type="submit"
			|  element for submit buttons.
		li
			| Add a&nbsp;
			- var html = "<div class=\"help-block with-errors\"></div>"
			code #{html}
			|  for each input to contain form validation errors.  When using floating labels, this container should be a sibling to the&nbsp;
			code floating-label-group
			|  container.  When using placeholders, this container should be a sibling to its associated
			code input
			|  .
	p
		strong NOTE:
		|  to enable validation in IE9, an id must be put on the form and a JavaScript code blocked with the following code placed after loading the main esponsornow.min.js file:
		- var html = "<script>\nH5F.setup(document.getElementById(\"form-id\"));\n</script>"
		pre #{html}
		| In the case of multiple forms on a page, each form must have a unique ID and they must be passed to the H5F setup function as an array, like so:
		- var html = "<script>\nH5F.setup([document.getElementById(\"form1\"),document.getElementById(\"form2\"),document.getElementById(\"form3\")]);\n</script>"
		pre #{html}
	.row
		.col-sm-12
			h2 Standard Fields
			.row
				.col-sm-6
					h3 Floating Labels
					form#validate-me-floating-labels(action='style-guide.html', data-toggle='validator', data-disable='false')
						fieldset
							legend.sr-only Legend
							ol.list-unstyled
								li.form-group
									.floating-label-group
										input#textInput.form-control.has-floating-label(type='text', name='textInput', data-error='Please enter a value for the text input.', required='')
										label.floating-label(for='textInput') Text Input
									.help-block.with-errors
								li.form-group
									.floating-label-group
										input#emailInput.form-control.has-floating-label(type='email', name='emailInput', data-error='Please enter a valid email address.', required='')
										label.floating-label(for='emailInput') Email Input
									.help-block.with-errors
								li.form-group
									.floating-label-group.decorator-select
										select.form-control.has-floating-label(name='select', data-error='Please select a value.', required)
											option(value='', selected, disabled)
											option(value='1') Option 1
											option(value='2') Option 2
											option(value='3') Option 3
										label.floating-label(for='select') Select
									.help-block.with-errors
								li.form-group
									label.lightweight(for='checkbox')
										input#checkbox(type='checkbox', name='checkbox', data-error='You must check this box to proceed.', required='')
										|  Checkbox
									.help-block.with-errors
								li.form-group
									label.lightweight(for='radio')
										input#radio(type='radio', name='radio', data-error='You must make a selection to proceed.', required='')
										|  Radio
									.help-block.with-errors
								li
									input.btn.btn-lg.btn-primary(type='submit', value='Submit')
				.col-sm-6
					h3 Placeholders
					form#validate-me-placeholders(action='style-guide.html', data-toggle='validator', data-disable='false')
						fieldset
							legend.sr-only Legend
							ol.list-unstyled
								li.form-group
									label.sr-only(for='textInputWithPlaceholder') Text Input
									input#textInput.form-control(type='text', name='textInputWithPlaceholder', placeholder='Text Input', data-error='Please enter a value for the text input.', required='')
									.help-block.with-errors
								li.form-group
									label.sr-only(for='emailInputWithPlaceholder') Email Input
									input#emailInput.form-control(type='email', name='emailInputWithPlaceholder', placeholder='Email Input', data-error='Please enter a valid email address.', required='')
									.help-block.with-errors
								li.form-group
									.decorator-select
										select.form-control(name='select', data-error='Please select a value.', required)
											option(value='', selected, disabled) Select
											option(value='1') Option 1
											option(value='2') Option 2
											option(value='3') Option 3
										label.sr-only(for='select') Select
									.help-block.with-errors
								li.form-group
									label.lightweight(for='checkboxWithPlaceholder')
										input#checkboxWithPlaceholder(type='checkbox', name='checkbox', data-error='You must check this box to proceed.', required='')
										|  Checkbox
									.help-block.with-errors
								li.form-group
									label.lightweight(for='radioWithPlaceholder')
										input#radioWithPlaceholder(type='radio', name='radio', data-error='You must make a selection to proceed.', required='')
										|  Radio
									.help-block.with-errors
								li
									input.btn.btn-lg.btn-primary(type='submit', value='Submit')
	.row
		.col-sm-8
			h2 Advanced Examples
			h3 Validation and Form-Group Class Placement
			form#form-group-class-placement(action='style-guide.html', data-toggle='validator', data-disable='false')
				legend.sr-only Legend
				fieldset
					ol.list-unstyled
						li
							p
								| In the following example, there are two fields sitting side-by-side.  One is required, one is not.  Since one is required, we need to apply the&nbsp;
								code form-group
								|  class to one of its parent elements that doesn't also contain the other, non-required field.
							.row
								.col-xs-6.form-group
									.floating-label-group
										input#requiredField.form-control.has-floating-label(type='text', name='requiredField', data-error='Please enter a value for the required input.', required='')
										label.floating-label(for='requiredField') Required Field
									.help-block.with-errors
								.col-xs-6
									.floating-label-group
										input#notRequiredField.form-control.has-floating-label(type='text', name='notRequiredField')
										label.floating-label(for='notRequiredField') Not Required Field
									.help-block.with-errors
						li
							input.btn.btn-lg.btn-primary(type='submit', value='Submit')
	.row
		.col-sm-8
			h3 Validation Matching
			form#matching(action='style-guide.html', data-toggle='validator', data-disable='false')
				legend.sr-only Legend
				fieldset
					ol.list-unstyled
						li
							p In the following example, there are two fields sitting side-by-side.  The second field's value needs to match the first.
							ol
								li
									| Each field has a distinct parent container with the class&nbsp;
									code form-group
									| , as explained in the previous example.
								li
									| The second field has a&nbsp;
									code data-match
									|  attribute with the name of the first input (
									code matchMe
									| ).
							.row.top-buffer
								.col-xs-6.form-group
									.floating-label-group
										input#matchMe.form-control.has-floating-label(type='text', name='matchMe', data-error='Please enter a value to match.', required='')
										label.floating-label(for='matchMe') Match this field
									.help-block.with-errors
								.col-xs-6.form-group
									.floating-label-group
										input#matches.form-control.has-floating-label(type='text', name='matches', data-match='#matchMe', data-match-error='Value does not match.', data-error='Please enter a value that matches.', required='')
										label.floating-label(for='matches') Match the other field
									.help-block.with-errors
						li
							input.btn.btn-lg.btn-primary(type='submit', value='Submit')
	.row
		.col-sm-8
			h3 Validation Dynamic Requirement
			form#dynamic-requirement(data-toggle='validator', data-disable='false')
				legend.sr-only Legend
				fieldset
					ol.list-unstyled
						li
							p In the following example, there are two fields sitting side-by-side.  The second field's value is only required if there is a value in the first field.
							ol
								li
									| Each field has a distinct parent container with the class&nbsp;
									code form-group
									| , as explained in previous examples.
								li
									| The first field has a&nbsp;
									code data-causes-required
									|  attribute with the unique selector of the second input (
									code #requirementDependent
									| ).
								li
									| The second field has a&nbsp;
									code data-required-if
									|  attribute with the unique selector of the first input (
									code #requirementDependency
									| ).
							.row.top-buffer
								.col-xs-6.form-group
									.floating-label-group
										input#requirementDependency.form-control.has-floating-label(type='text', name='requirementDependency', data-causes-required='#requirementDependent', data-error='Please enter a value to require the other field.')
										label.floating-label(for='requirementDependency') Requirement Dependency
									.help-block.with-errors
								.col-xs-6.form-group
									.floating-label-group
										input#requirementDependent.form-control.has-floating-label(type='text', name='requirementDependent', data-required-if='#requirementDependency', data-error='This field is required because you filled out the other field.')
										label.floating-label(for='requirementDependent') Requirement Dependent
									.help-block.with-errors
							p This can be used to drive the dynamic requirement for fields such as cell phone provider if a cell phone value is entered.
							.row.top-buffer
								.col-xs-6.form-group
									.floating-label-group
										input#cellPhone.form-control.has-floating-label.js-mask-phone(type='tel', name='cellPhone', data-causes-required='#cellPhoneProvider', data-error='Please enter a cell phone number.')
										label.floating-label(for='cellPhone') Cell Phone
									.help-block.with-errors
								.col-xs-6.form-group
									.floating-label-group.decorator-select
										select#cellPhoneProvider.form-control.has-floating-label(name='cellPhoneProvider', data-required-if='#cellPhone', data-error='Please select a cell phone provider.')
											option(value='', selected, disabled)
											option(value='1') Option 1
											option(value='2') Option 2
											option(value='3') Option 3
										label.floating-label(for='cellPhoneProvider') Cell Phone Provider
									.help-block.with-errors
						li
							input.btn.btn-lg.btn-primary(type='submit', value='Submit')
	.row
		.col-sm-8
			h3 Email Validation
			form(action='style-guide.html', data-toggle='validator', data-disable='false')
				legend.sr-only Legend
				fieldset
					ol.list-unstyled
						li
							p
								| In the following example, the email address input is validated against popular domains.  For instance, enter a "gmial.com" email and you'll get a recommendation to change the value.  To enable this kind of validation, just add the
								code js-validate-email
								|  class.
							.row.top-buffer
								.col-xs-6.form-group
									.floating-label-group
										input.form-control.has-floating-label.js-validate-email(type='email', name='emailValidatingInput', data-error='Please enter a valid email address.', required='')
										label.floating-label(for='emailValidatingInput') Email validating input
									.help-block.with-errors
						li
							input.btn.btn-lg.btn-primary(type='submit', value='Submit')
	.row
		.col-sm-8
			h3 File Inputs
			form#file-inputs(action='style-guide.html', data-toggle='validator', data-disable='false')
				legend.sr-only Legend
				fieldset
					ol.list-unstyled
						li
							p
								| In the following example, an input with type of "file" is placed inside a container with the class
								code file-input-container
								| .  This wrapping element, along with the associated
								code label
								|  element with class
								code file-label
								|  and its containing paragraphs, will create a responsive and mobile-friendly file uploader that is centered in its available space.
						li.form-group
							.file-input-container
								label.file-label(for='file')
									p File Label
									p.btn.btn-primary.file-name Choose a file...
								input(type='file', id='file', name='file', accept='image/*')
						li
							input.btn.btn-lg.btn-primary(type='submit', value='Submit')
	.row
		.col-sm-8
			h3 Autocomplete Search
			form#autocomplete(action='', data-toggle='validator', data-disable='false')
				legend.sr-only Legend
				fieldset
					ol.list-unstyled
						li
							p Using Elasticsearch and the Typeahead library, we can incorporate autocomplete searches that perform various actions.  For full documentation, go to the&nbsp;
								a(href="/elasticsearch/") Elasticsearch page
								| .
							p
								strong NOTE:
								|  you cannot use floating labels with autocomplete inputs due to the way the Typeahead library alters the markup.
						li.form-group
							input.form-control(type="text", data-typeahead-link="http://testapp.eteamsponsor.com/ETS/organization/show/", data-typeahead-source="#{baseElasticsearchUrl}organization/organization/_search", placeholder="Search for an organization")
