.col-xs-12
	h1.page-header#icons Icons
	h2 Types
	p There are icons available for many situations.  Here is a complete list:
	- var icons = ['account', 'add', 'archive', 'arrow-left', 'cancel', 'chart', 'check', 'close', 'document', 'download', 'email', 'error', 'facebook', 'file-excel', 'file-pdf', 'globe', 'google-plus', 'graduate', 'info', 'key', 'location', 'money', 'money-off', 'people', 'person', 'person-add', 'phone', 'play', 'print', 'remove', 'search', 'send', 'share', 'sms', 'star', 'star-outline', 'tag', 'trending-up', 'trophy', 'twitter', 'unarchive', 'update', 'upload', 'view', 'warning']
	div(style="display: flex; flex-wrap: wrap;")
		each icon in icons
			div.text-center(style="width: 100px; padding: 0.5em;")
				include ../icon
				p #{icon}
	p Icons can be rendered using an&nbsp;
		code svg
		|  element containing a&nbsp;
		code use
		|  element that references an external sprite file and the specific icon to be used.  They are styled with the base&nbsp;
		code svg-icon
		|  class and other classes as mentioned below.  They can be used anywhere on the interface you'd like.  By default they will inherit their size and color from their containing element, but a manually set size and color can be chosen as mentioned below.  In some cases, size and color for commonly used UI components that contain icons, such as&nbsp;
		code action-item
		|  and&nbsp;
		code sub-heading-action
		|  element links set the size and color and CSS to reduce repetition in the HTML.
	h2 Sizes
	p By default, the icon displays at 1.5x the font size of its containing element.  There are also small, medium, and large variants that alter the size to 1x, 2x, and 3x the base font size for your project.  There is also a dynamic variant that adjusts the size of the font with the screen size, starting at standard and growing to medium and large at higher resolutions.  Apply the appropriate class for the size you want.
	ul.list-inline
		li.text-center
			- var icon = "facebook"
			- var iconClasses = "icon-small"
			include ../icon
			p
				code icon-small
		li.text-center
			- var icon = "facebook"
			- var iconClasses = ""
			include ../icon
			p standard
		li.text-center
			- var icon = "facebook"
			- var iconClasses = "icon-medium"
			include ../icon
			p
				code icon-medium
		li.text-center
			- var icon = "facebook"
			- var iconClasses = "icon-large"
			include ../icon
			p
				code icon-large
		li.text-center
			- var icon = "facebook"
			- var iconClasses = "icon-dynamic-size"
			include ../icon
			p
				code icon-dynamic-size
	h2 Colors
	p Icons inherit the color of their parent element.  You can override this color if necessary to force the icon to be one of a few pre-defined color options:
	ul.list-inline
		li.text-center
			div(style="background-color: black;")
				- var icon = "facebook"
				- var iconClasses = "white"
				include ../icon
			p
				code white
		li.text-center
			- var icon = "facebook"
			- var iconClasses = "gray"
			include ../icon
			p
				code gray
		li.text-center
			- var icon = "facebook"
			- var iconClasses = "black"
			include ../icon
			p
				code black
		li.text-center
			- var icon = "facebook"
			- var iconClasses = "brand-primary"
			include ../icon
			p
				code brand-primary
	p Some icons also have their own special classes that you can apply in order to use their brand colors.  They are:
	- var icons = ['facebook', 'google-plus', 'twitter']
	ul.list-inline
		each icon in icons
			li.text-center
				- var iconClasses = icon
				include ../icon
				p
					code #{icon}
	h2 Anchors
	p Icons can be used on their own inside of an anchor tag without any text.  For accessibility purposes, be sure to include an&nbsp;
		code aria-label
		|  attribute when using it in this fashion.
	ul.list-inline
		li
			a(href="#", aria-label="Visit Us on Facebook")
				- var icon = "facebook"
				- var iconClasses = "facebook"
				include ../icon
	h2 Alignment
	p When using an icon inside a link or button, you can set alignment of the icon by applying the&nbsp;
		code icon-inline-left
		|  or&nbsp;
		code icon-inline-right
		|  class to apply horizontal spacing.
	ul.list-inline
		li
			a(href="#")
				- var icon = "facebook"
				- var iconClasses = "facebook icon-inline-left"
				include ../icon
				| Facebook
		li
			a(href="#")
				| Facebook
				- var icon = "facebook"
				- var iconClasses = "facebook icon-inline-right"
				include ../icon
