.col-xs-12
	h1.page-header#interruption-methods Interruption Methods
	p Interruption methods are a means of interrupting the user's flow. Each method has its own defined set of rules and requirements.

	.row
		.col-sm-8
			h2 Form Submit Interruption
			p Form submission can be interrupted by doing the following to the form:
			ol
				li Remove the&nbsp;
					code data-toggle
					| and&nbsp;
					code data-disable
					| attributes from the form element.
				li Add the&nbsp;
					code interruption-form-submit-trigger
					| class to the form element.
				li Add&nbsp;
					code data-interruption-message
					| ,&nbsp;
					code data-interruption-cancel-text
					| , and&nbsp;
					code data-interruption-confirm-text
					| data attributes to the form element to define the content for the confirmation modal.
			p Following these steps will allow you to have a user confirm their action when submitting the form.
			form.interruption-form-submit-trigger#form-submit-interruption-form(data-interruption-message="Are you sure you want to submit this form?", data-interruption-cancel-text="No", data-interruption-confirm-text="Yes")
				fieldset
					legend.sr-only Form Submit Interruption
					ol.list-unstyled
						li.form-group
							.floating-label-group
								input.form-control.has-floating-label#formSubmitInterruptionRequiredInput(type='text', name='formSubmitInterruptionRequiredInput', required)
								label.floating-label(for='formSubmitInterruptionRequiredInput') Required Input
							.help-block.with-errors
						li.form-group
							input.btn.btn-lg.btn-primary(type='submit', value='Submit Form')

	h2 Option Change
	p When selecting an option in a select element in a form, if the user's choice of option results in something drastic occurring (such as deactivating a user's account), you can have them confirm their action immediately following their selection.
	ol
		li Add the&nbsp;
			code interruption-option-change-trigger
			| class to the option element.
		li Add&nbsp;
			code data-interruption-message
			| ,&nbsp;
			code data-interruption-cancel-text
			| , and&nbsp;
			code data-interruption-confirm-text
			| data attributes to the option element.
	.row
		.col-sm-8
			form
				fieldset
					legend.sr-only Option Change Interruption Method Example
					ol.list-unstyled
						li.form-group
							.floating-label-group.decorator-select
								select.form-control.has-floating-label.interruption-option-change-trigger(name='optionChange', id='optionChange', data-error="Please select an option.", required)
									option(value='', disabled)
									option(value='option1') Option 1
									option(value='option2', selected) Option 2
									option(value='option3') Option 3
									option.interruption-option-change(value='dangerousOption', data-interruption-message="You are making a possible drastic change by selecting this option.", data-interruption-cancel-text="Keep the option I had before", data-interruption-confirm-text="Go with the new option") Dangerous Option
								label.floating-label(for='optionChange') Option Change
							.help-block.with-errors
						li.form-group
							input.btn.btn-lg.btn-primary(type='submit', value='Submit Form')

	h2 Navigation
	p When navigating to an action that may result in an unwanted result, such as deleting content, this will prompt the user to confirm their action.
	ol
		li Add the&nbsp;
			code interruption-navigation-trigger
			| class to the anchor element.
		li Add&nbsp;
			code data-interruption-message
			| ,&nbsp;
			code data-interruption-cancel-text
			| , and&nbsp;
			code data-interruption-confirm-text
			| data attributes to the anchor element.

	p
		a.btn.btn-lg.btn-primary.interruption-navigation-trigger(href="style-guide.html", data-interruption-message="Are you sure you want to delete something?", data-interruption-confirm-text="Yes", data-interruption-cancel-text="No") Delete Something

	h2 Navigation Options
	p When given a generic action, such as "Add Donation", you can prompt a user to specify the action, such as "Check" or "Card."  The options are defined in a global JavaScript object called&nbsp;
		code navigationOptions
		| .  This object is to be defined inline in the page above your anchors that require the options.
	p Within the object you need to define a key which itself will be an object containing the following attributes:
	ol
		li
			code title
			| - the title that will appear at the top of the modal.  This is optional.
		li
			code message
			| - the message that will appear questioning how the user would like to proceed.  This should be phrased as a question and is required.
		li
			code buttons
			| - an array of objects defining the buttons that will be rendered to the user as their navigation options.  It contains the following properties, all of which are required:
			ol
				li
					code name
					| - the name of the button.  This has to be unique within the context if this options array.
				li
					code label
					| - the label which will appear as the button's text.
				li
					code class
					| - the Bootstrap button class to be used for styling the button.  Options include:
					ul
						li
							code btn-primary
						li
							code btn-default
				li
					code url
					| - the URL which the user will be taken to if they click this button option.
	p Once the options have been declared as defined above, do the following:
	ol
		li For each anchor that requires additional options, add the&nbsp;
			code interruption-navigation-options
			| class to the anchor element.
		li Add the&nbsp;
			code data-interruption-key
			| data attribute to the anchor element.  This key matches the key on the&nbsp;
			code navigationOptions
			| object you used to define the options.  So, if you defined the options for adding a donation as as&nbsp;
			code navigationOptions.addDonation
			| , the key is&nbsp;
			code addDonation.
		li If the action being performed requires specific adjustments to the URL, such as a user ID, add the&nbsp;
			code data-interruption-append-to-url
			| data attribute to the anchor.  The string contained within this data attribute will be appended to the URL of the button the user clicks.
	script.
		var navigationOptions = navigationOptions || {};

		navigationOptions.addDonation = {
			"title": "Add Donation",
			"message": "Which type of donation would you like to add?",
			"buttons": [
				{
					"name": "check",
					"label": "Check",
					"class": "btn-primary",
					"url": "manual-donation-check.html"
				},
				{
					"name": "card",
					"label": "Card",
					"class": "btn-primary",
					"url": "manual-donation-card.html"
				}
			]
		};
	h3 Example:
	p
		a.btn.btn-lg.btn-primary.interruption-navigation-options(href="#", data-interruption-key="addDonation") Add Donation
