.col-xs-12
	h1.page-header#lists Lists
.col-xs-12.col-sm-4
	h2 Ordered List
	ol
		li List item 1
		li List item 2
		li List item 3
		li List item 4
.col-xs-12.col-sm-4
	h2 Unordered List
	ul
		li List item 1
		li List item 2
		li List item 3
		li List item 4
.col-xs-12.col-sm-4
	h2 Definition List
	dl
		dt Item one term
		dd Item one description
		dt Item one term
		dd Item one description
.col-xs-12.col-sm-4
	h2 Ordered List - Spread
	ol.list-spread
		li List item 1
		li List item 2
		li List item 3
		li List item 4
.col-xs-12.col-sm-4
	h2 Unordered List - Spread
	ul.list-spread
		li List item 1
		li List item 2
		li List item 3
		li List item 4
