.col-xs-12
	h1.page-header#tables Tables
	p To properly display tables at low resolutions, make sure to:
	ol
		li Add the
			code responsive-table
			|  class to the table element.
		li Add a
			code data-label
			|  attribute to every table cell which should have a label at low resolutions.  This attribute's value should usually match the associated table heading value.
	p In addition to standard styles, you can also use
		code warning
		|  and
		code error
		|  classes on table rows to get the user's attention about its data.
	table.responsive-table
		thead
			tr
				th Column 1
				th Column 2
				th Column 3
		tbody
			- for (var i = 0; i < 5; i++)
				tr
					td(data-label="Column 1") Data 1
					td(data-label="Column 2") Data 2
					td(data-label="Column 3") Data 3
			tr.warning
				td(data-label="Column 1")
					- var icon = "warning"
					- var iconClasses = ""
					include ../icon
					|  Warning Data 1
				td(data-label="Column 2") Warning Data 2
				td(data-label="Column 3") Warning Data 3
			tr.danger
				td(data-label="Column 1")
					- var icon = "error"
					- var iconClasses = ""
					include ../icon
					|  Error Data 1
				td(data-label="Column 2") Error Data 2
				td(data-label="Column 3") Error Data 3
