.col-xs-12
	h1.page-header#tiles Tiles
	p Tiles are self-contained elements built to convey quantitative data, usually in dashboards.  They come in a few variations depending on their use.  All tiles share a few properties, some of which are consistent with the callout style:
	ul
		li solid white background to avoid obfuscation with the stylized background
		li subtle border to visually encapsulate the data
		li internal padding, with the exception of the progress bar on progress variations
		li flexible rows to display consistent height across tiles within a row; they are grouped together logically across screen resolutions
	h2 Metrics
	p The metrics variation of a tile has a few variations to support single metric, dual metric, and dual metric with progress bar.  They also support the "danger" and "warning" classes to display potential issues.
	.tile-container.tile-count-4
		- var tileMetric1Value = "$100"
		- var tileMetric1Name = "Single Metric"
		- var tileExtraClass = "danger"

		include ../../eteamsponsor-shared/tile-with-metric
		include ../../eteamsponsor-shared/tile-with-metric

		- var tileMetric1Value = "$500"
		- var tileMetric1Name = "Dual Metric"
		- var tileMetric2Value = "$1,000"
		- var tileMetric2Name = "Dual Metric"
		- var tileExtraClass = "warning"

		include ../../eteamsponsor-shared/tile-with-metric
		include ../../eteamsponsor-shared/tile-with-metric

		- var tileMetric1Value = "$100"
		- var tileMetric1Name = "Dual Metric with Progress"
		- var tileMetric2Value = "$1,000"
		- var tileMetric2Name = "Dual Metric with Progress"
		- var tileProgressValue = "10"
		- var tileExtraClass = ""

		include ../../eteamsponsor-shared/tile-with-metric

		- var tileMetric1Value = "$250"
		- var tileMetric1Name = "Dual Metric with Progress"
		- var tileMetric2Value = "$1,000"
		- var tileMetric2Name = "Dual Metric with Progress"
		- var tileProgressValue = "25"
		- var tileExtraClass = ""

		include ../../eteamsponsor-shared/tile-with-metric

		- var tileMetric1Value = "$500"
		- var tileMetric1Name = "Dual Metric with Progress"
		- var tileMetric2Value = "$1,000"
		- var tileMetric2Name = "Dual Metric with Progress"
		- var tileProgressValue = "50"
		- var tileExtraClass = ""

		include ../../eteamsponsor-shared/tile-with-metric

		- var tileMetric1Value = "$1,000"
		- var tileMetric1Name = "Dual Metric with Progress"
		- var tileMetric2Value = "$1,000"
		- var tileMetric2Name = "Dual Metric with Progress"
		- var tileProgressValue = "100"
		- var tileExtraClass = ""

		include ../../eteamsponsor-shared/tile-with-metric
	h2 Social
	p The social variation of a tile pairs a metric with a social platform such as Twitter, Facebook, or SMS.
	.tile-container.tile-count-3
		.tile
			h3.tile-metric 100 shares
			- var icon = "facebook"
			- var iconClasses = "facebook"
			include ../icon
		.tile
			h3.tile-metric 50 tweets
			- var icon = "twitter"
			- var iconClasses = "twitter"
			include ../icon
		.tile
			h3.tile-metric 75 texts
			- var icon = "sms"
			- var iconClasses = "gray"
			include ../icon
