.col-xs-12
	h1.page-header#typography Typography
	h1 Level 1 heading
	p
		| This is a paragraph of text. Some of the text may be
		em  emphasized
		|  and some it might even be
		strong  strongly emphasized
		| . Occasionally
		q quoted text
		|  may be found within a paragraph …and of course&nbsp;
		a(href='#') a link
		|  may appear at any point in the text. The average paragraph contains five or six sentences although some may contain as little or one or two while others carry on for anything up to ten sentences and beyond.
	h2 Level 2 heading
	p
		| This is a paragraph of text. Some of the text may be
		em  emphasized
		|  and some it might even be
		strong  strongly emphasized
		| . Occasionally
		q quoted text
		|  may be found within a paragraph …and of course&nbsp;
		a(href='#') a link
		|  may appear at any point in the text. The average paragraph contains five or six sentences although some may contain as little or one or two while others carry on for anything up to ten sentences and beyond.
	h3 Level 3 heading
	p
		| This is a paragraph of text. Some of the text may be
		em  emphasized
		|  and some it might even be
		strong  strongly emphasized
		| . Occasionally
		q quoted text
		|  may be found within a paragraph …and of course&nbsp;
		a(href='#') a link
		|  may appear at any point in the text. The average paragraph contains five or six sentences although some may contain as little or one or two while others carry on for anything up to ten sentences and beyond.
	h4 Level 4 heading
	p
		| This is a paragraph of text. Some of the text may be
		em  emphasized
		|  and some it might even be
		strong  strongly emphasized
		| . Occasionally
		q quoted text
		|  may be found within a paragraph …and of course&nbsp;
		a(href='#') a link
		|  may appear at any point in the text. The average paragraph contains five or six sentences although some may contain as little or one or two while others carry on for anything up to ten sentences and beyond.
	h5 Level 5 heading
	p
		| This is a paragraph of text. Some of the text may be
		em  emphasized
		|  and some it might even be
		strong  strongly emphasized
		| . Occasionally
		q quoted text
		|  may be found within a paragraph …and of course&nbsp;
		a(href='#') a link
		|  may appear at any point in the text. The average paragraph contains five or six sentences although some may contain as little or one or two while others carry on for anything up to ten sentences and beyond.
	h6 Level 6 heading
	p
		| This is a paragraph of text. Some of the text may be
		em  emphasized
		|  and some it might even be
		strong  strongly emphasized
		| . Occasionally
		q quoted text
		|  may be found within a paragraph …and of course&nbsp;
		a(href='#') a link
		|  may appear at any point in the text. The average paragraph contains five or six sentences although some may contain as little or one or two while others carry on for anything up to ten sentences and beyond.