extends ./includes/sublayout

block pageVars
	- var title = "Add Advancement Director"
	- var includeDefaultPageTitle = false
	- var resources = {"Asana Task": "https://app.asana.com/0/8050569665770/116709693745190", "Webflow Prototype": "http://ets-login-00178f162e256aa7dac5711529493.webflow.io/add-advancement-director"};
	- var breadcrumbs = [{"url": "parent-organization-dashboard.html", "text": parentOrgName}, {"url": "manage-users.html", "text": "Manage Users"}];

block content
	include ./includes/_org-heading
	section.row
		.layout-single-column
			h2.text-center Add Advancement Director
			form(action='index.html', data-toggle='validator', data-disable='false')
				fieldset
					legend.sr-only Add Advancement Director
					ol.list-unstyled
						li.form-group
							.floating-label-group
								input.form-control.has-floating-label(type='text', name='directorName', id='directorName', data-error="Please enter the director's first and last name.", required)
								label.floating-label(for='directorName') Director's First &amp; Last Name
							.help-block.with-errors
						li.form-group
							.floating-label-group
								input.form-control.has-floating-label(type='text', name='directorTitle', id='directorTitle')
								label.floating-label(for='directorTitle') Director's Title (Optional)
							.help-block.with-errors
						li.form-group
							.floating-label-group
								input.form-control.has-floating-label.js-validate-email(type='email', name='directorEmail', id='directorEmail', data-error='Please enter a valid email address for the director.', required)
								label.floating-label(for='directorEmail') Director's Email
							.help-block.with-errors
						li.form-group
							.floating-label-group
								input.form-control.has-floating-label.js-mask-phone(type='tel', name='directorPhone', id='directorPhone', data-error="Please enter the director's phone number.", required)
								label.floating-label(for='directorPhone') Director's Phone
							.help-block.with-errors
						li.form-group
							.floating-label-group.decorator-select
								select.form-control.has-floating-label(name='directorPhoneCarrier', id='directorPhoneCarrier', data-error="Please select the director's phone carrier.", required)
									option(value='', selected, disabled)
									option(value='att') AT&amp;T
									option(value='verizon') Verizon
									option(value='sprint') Sprint
									option(value='t-mobile') T-Mobile
									option(value='other') Other
								label.floating-label(for='directorPhoneCarrier') Carrier
							.help-block.with-errors
						li.form-group
							.floating-label-group
								input.form-control.has-floating-label(type='password', name='directorPassword', id='directorPassword', data-error='Please enter a password for the director.', required)
								label.floating-label(for='directorPassword') Password
							.help-block.with-errors
						li.form-group
							.floating-label-group
								input.form-control.has-floating-label(type='password', name='directorConfirmPassword', id='directorConfirmPassword', data-error='Please confirm the password for the director.', data-match='#directorPassword', data-match-error='Your passwords do not match.', required)
								label.floating-label(for='directorConfirmPassword') Confirm Password
							.help-block.with-errors
						li.form-group
							.floating-label-group.decorator-select
								select.form-control.has-floating-label(name='parentOrgAccountLevel', id='parentOrgAccountLevel', data-error='Please select the parent organization account level.', required)
									option(value='', selected, disabled)
									option(value='1') Level 1
									option(value='2') Level 2
									option(value='3') Level 3
								label.floating-label(for='parentOrgAccountLevel') Account Level
							.help-block.with-errors
						li.form-group
							label.lightweight(for='triggerWelcomeEmail')
								input#triggerWelcomeEmail(type='checkbox', name='triggerWelcomeEmail')
								|  Trigger welcome email.
						li.form-group.text-center
							input.btn.btn-lg.btn-primary(type='submit', value='Add Director')