extends ./includes/sublayout

block pageVars
	- var title = "Add Donor"
	- var includeDefaultPageTitle = true;
	- var resources = {"Notes": ["This page will only be accessible through the manual check and card donation pages since the program, campaign, and participant will be known by going through that flow."]};
	- var breadcrumbs = [{"url": "parent-organization-dashboard.html", "text": parentOrgName}, {"url": "child-organization-dashboard.html", "text": childOrgName}, {"url": "campaign-dashboard.html", "text": campaign1Name}];

block content
	.row
		.layout-single-column
			h2.h1.text-center #{campaign1Name}
			h3.h2.text-center Add Donor for &lt;Participant Name&gt;
			form(action='index.html', data-toggle='validator', data-disable='false')
				fieldset
					legend.sr-only Add Donor for &lt;Participant Name&gt;
					ol.list-unstyled
						li.form-group
							.floating-label-group
								input.form-control.has-floating-label(type='text', name='donorName', id='donorName', data-error="Please enter the donor's first and last name.", required)
								label.floating-label(for='donorName') Donor's First &amp; Last Name
							.help-block.with-errors
						li.form-group
							.floating-label-group
								input.form-control.has-floating-label.js-validate-email(type='email', name='donorEmail', id='donorEmail', data-error="Please enter the donor's email address.", required)
								label.floating-label(for='donorEmail') Donor's Email
							.help-block.with-errors
						li.form-group.text-center
							input(type='hidden', name='programId', value='1')
							input(type='hidden', name='campaignId', value='1')
							input(type='hidden', name='participantId', value='1')
							input.btn.btn-lg.btn-primary(type='submit', value='Add Donor')