extends ./includes/sublayout

block pageVars
	- var title = "Add Participant"
	- var includeDefaultPageTitle = true
	- var hasNav = true
	- var resources = {"Asana Task": "https://app.asana.com/0/80660851875913/349391856349697", "Notes": ["The 'Cancel' button will take you back to either the Program Dashboard or the Program's Roster.  Both of those pages can link to this page.  As such, the breadcrumbs should also reflect this accordingly (by adding 'Roster' to the breadcrumb list if you've clicked from the 'Roster' page)."]};
	- var breadcrumbs = [{"url": "parent-organization-dashboard.html", "text": parentOrgName}, {"url": "child-organization-dashboard.html", "text": childOrgName}, {"url": "program-dashboard.html", "text": programName}];

block navPrimary
	include ./includes/navigation/_program-admin

block content
	section.row
		.layout-single-column
			h2.text-center Add Participant
			form(action='program-roster.html', data-toggle='validator', data-disable='false')
				fieldset
					legend.sr-only Add Participant
					ol.list-unstyled
						li.form-group
							.floating-label-group
								input.form-control.has-floating-label(type='text', name='participantName', id='participantName', data-error="Please enter the participant's first and last name.", required)
								label.floating-label(for='participantName') Participant's First &amp; Last Name
							.help-block.with-errors
						li.form-group
							.floating-label-group
								input.form-control.has-floating-label.js-validate-email(type='email', name='participantEmail', id='participantEmail', data-error="Please enter the participant's email address.", required)
								label.floating-label(for='participantEmail') Participant's Email
							.help-block.with-errors
						li.form-group
							.floating-label-group
								input.form-control.has-floating-label.js-mask-phone(type='tel', name='participantPhone', id='participantPhone')
								label.floating-label(for='participantPhone') Participant's Cell Phone
							.help-block.with-errors
						li.form-group
							.floating-label-group.decorator-select
								select.form-control.has-floating-label(name='participantPhoneCarrier', id='participantPhoneCarrier')
									option(value='', selected, disabled)
									option(value='att') AT&amp;T
									option(value='verizon') Verizon
									option(value='tmobile') T-Mobile
									option(value='sprint') Sprint
									option(value='other') Other
								label.floating-label(for='participantPhoneCarrier') Carrier
							.help-block.with-errors
						li
							h3.form-label In which campaigns is this participant participating?
						li.form-group
							label.lightweight(for='campaign1')
								input#campaign1(type='checkbox', name='campaigns', checked)
								|  #{campaign1Name}
						li.form-group
							label.lightweight(for='campaign2')
								input#campaign2(type='checkbox', name='campaigns', checked)
								|  #{campaign1Name} 2
						li.form-group.text-center
							input.btn.btn-lg.btn-primary(type='submit', value='Add Participant')
							a.btn.btn-lg.btn-default(href='manage-participants.html') Cancel
