extends ./includes/sublayout

block pageVars
	- var title = "Add Child Organization"
	- var includeDefaultPageTitle = false;
	- var resources = {"Asana Task": "https://app.asana.com/0/8050569665770/116709693745169", "Webflow Prototype": "http://ets-login-00178f162e256aa7dac5711529493.webflow.io/add-child-org"};
	- var breadcrumbs = [{"url": "parent-organization-dashboard.html", "text": parentOrgName}];

block content
	include ./includes/_org-heading
	section.row
		.layout-single-column
			h2.text-center Add New Child Organization
			form(action='index.html', data-toggle='validator', data-disable='false')
				fieldset
					legend.sr-only Add New Child Organization
					ol.list-unstyled
						li.form-group
							.floating-label-group
								input.form-control.has-floating-label(type='text', name='orgName', id='orgName', data-error='Please enter the organization name.', required)
								label.floating-label(for='orgName') Organization Name
							.help-block.with-errors
						li.form-group
							.floating-label-group.decorator-select
								select.form-control.has-floating-label(name='orgType', id='orgType', data-error='Please select the organization type.', required)
									option(value='', selected, disabled)
									option(value='1') Type 1
									option(value='2') Type 2
									option(value='3') Type 3
								label.floating-label(for='orgType') Organization Type
							.help-block.with-errors
						li.form-group
							.floating-label-group.decorator-select
								select.form-control.has-floating-label(name='orgSubType', id='orgSubType', data-error='Please select the organization sub-type.', required)
									option(value='', selected, disabled)
									option(value='1') Sub-Type 1
									option(value='2') Sub-Type 2
									option(value='3') Sub-Type 3
								label.floating-label(for='orgSubType') Organization Sub-Type
							.help-block.with-errors
						li.form-group
							label.lightweight(for='sameAsParentAddress')
								input#allowEDC(type='checkbox', name='allowEDC')
								|  Allow Event Driven Campaign?
						li
							h3.form-label.text-center Where and When Should Donors Call?
							.row
								.col-xs-6.form-group
									.floating-label-group
										input.form-control.has-floating-label.js-mask-phone(type='tel', name='orgPhoneNumber', id='orgPhoneNumber', data-error='Please enter the organization phone number.', required)
										label.floating-label(for='orgPhoneNumber') Phone Number
									.help-block.with-errors
								.col-xs-6.form-group
									.floating-label-group
										input.form-control.has-floating-label(type='text', name='orgPhoneNumberExtension', id='orgPhoneNumberExtension')
										label.floating-label(for='orgPhoneNumberExtension') Extension
									.help-block.with-errors
								.col-xs-12.form-group
									.floating-label-group
										input.form-control.has-floating-label.js-mask-phone(type='tel', name='orgPhoneTimes', id='orgPhoneTimes', data-error='Please enter the organization\'s phone hours.', required)
										label.floating-label(for='orgPhoneTimes') Monday through Friday from 9am to 5pm PST
									.help-block.with-errors
						li.form-group
							h3.form-label.text-center Where Should Donors Send Checks?
							.floating-label-group
								input.form-control.has-floating-label(type='text', name='orgPayee', id='orgPayee', data-error='Please enter the organization payee.', required)
								label.floating-label(for='orgPayee') Payee
							.help-block.with-errors
						li.form-group
							.floating-label-group
								input.form-control.has-floating-label(type='text', name='orgStreetAddress', id='orgStreetAddress', data-error='Please enter the organization street address.', required)
								label.floating-label(for='orgStreetAddress') Street Address
							.help-block.with-errors
						li.form-group
							.floating-label-group
								input.form-control.has-floating-label(type='text', name='orgCity', id='orgCity', data-error='Please enter the organization city.', required)
								label.floating-label(for='orgCity') City
							.help-block.with-errors
						li
							.row
								.col-xs-6.form-group
									.floating-label-group.decorator-select
										select.form-control.has-floating-label(name='orgState', id='orgState', data-error='Please select the organization state or province.', required)
											- var stateSelected = false
											include ../shared/state-and-province-options
										label.floating-label(for='orgState') State / Province
									.help-block.with-errors
								.col-xs-6.form-group
									.floating-label-group
										input.form-control.has-floating-label(type='text', name='orgPostalCode', id='orgPostalCode', data-error='Please enter the organization postal code.', required)
										label.floating-label(for='orgPostalCode') Postal Code
									.help-block.with-errors
						li.form-group
							label.lightweight(for='sameAsParentAddress')
								input#sameAsParentAddress(type='checkbox', name='sameAsParentAddress')
								|  Yes, this is the same as the organization's main mailing address.
						li.form-group
							.floating-label-group
								input.form-control.has-floating-label(type='text', name='mascotName', id='mascotName', data-error='Please enter your mascot name.', required)
								label.floating-label(for='mascotName') Mascot Name
							.help-block.with-errors
						li.form-group
							.file-input-container
								label.file-label(for='orgLogo')
									p Organization Logo
									p.btn.btn-primary.file-name Choose a file...
								input(type='file', id='orgLogo', name='orgLogo', accept='image/*')
						li.form-group.text-center
							input.btn.btn-lg.btn-primary(type='submit', value='Add Child Organization')
							a.btn.btn-lg.btn-default(href='parent-organization-dashboard.html') Cancel
