extends ./includes/sublayout

block pageVars
	- var title = 'Campaign emails preview'
	- var includeDefaultPageTitle = false
	- var showSearch = true
	- var hasNav = true
	- var breadcrumbs = [{"url": "parent-organization-dashboard.html", "text": parentOrgName}, {"url": "child-organization-dashboard.html", "text": childOrgName}, {"url": "program-dashboard.html", "text": programName}]

block navPrimary
	include ./includes/navigation/_program-admin

block content
	#campaign-emails-template
		link(href="//cdn.quilljs.com/1.3.6/quill.snow.css")
		link(rel='stylesheet', type='text/css', href='//cdn.quilljs.com/1.3.6/quill.snow.css')
		#sticky-email-header
		.email-builder-container
			ul.nav.nav-pills.emails-tab-pills.row(role='tablist', style="padding: 20px 0;")
				li.col-md-2.col-sm-3.col-xs-6.active(role='presentation')
					a(href='#pdc', aria-controls='pdc', role='tab', data-toggle='tab') Emails
				li.col-md-2.col-sm-3.col-xs-6(role='presentation')
					a(href='#edc', aria-controls='edc', role='tab', data-toggle='tab') Participant Emails
			.tab-content
				section.email-preview.tab-pane.active#pdc
					.launch-row Campaign Launch Date:
						span#launchDate 14.05.2018
					#accordion
						#headingZero.panel-heading
							.heading-collapse(role='button', data-toggle='collapse', data-parent='#accordion', data-target='#landing', aria-expanded='true', aria-controls='landing')
								.heading-text
									h4.panel-title
										a#openLandingLink(role='button', data-toggle='collapse', data-parent='#accordion', href='#landing', aria-expanded='true', aria-controls='landing')
											| Landing Page
								.heading-controls
									#openLanding.heading-view.active
										span
											- var icon = "view"
											- var iconClasses = "icon-inline-right"
											include ../shared/icon
									#closeLanding.heading-view.active
										span
											- var icon = "close"
											- var iconClasses = "icon-inline-right"
											include ../shared/icon
							//#landing.collapse.in
							//	.row
							//		.col-sm-12.col-md-6.edit-radioboxes-row
							//			form.edit-radioboxes-show
							//				fieldset
							//					.form-group
							//						.single-radio
							//							input(type='radio', id="landingRadio-admin", name='landingRadio', value='edit-admin', checked)
							//							| For Program Admin
							//							#editLandingAdmin.heading-edit.active
							//								span
							//									- var icon = "update"
							//									- var iconClasses = "brand-primary icon-inline-right"
							//									include ../shared/icon
							//						.single-radio
							//							input(type='radio', id="landingRadio-part", name='landingRadio', value='edit-part')
							//							| For Participants
							//							#editLandingPart.heading-edit.active
							//								span
							//									- var icon = "update"
							//									- var iconClasses = "brand-primary icon-inline-right"
							//									include ../shared/icon
							//						.help-block.with-errors
							//		.col-sm-12.col-md-6.control-buttons-row.landing-preview-btns
							//			a(href="/fundraker/program-admin-preview-landing.html", target="_blank", class="page-preview-link page-preview-admin")
							//				button.btn.btn-default Landing Preview
							//			a(href="/fundraker/program-participant-preview-landing.html", target="_blank", class="page-preview-link page-preview-part")
							//				button.btn.btn-default Landing Preview
							//			button.btn.btn-save#saveLandingTemplateBtn Save
							//			button.btn.btn-default#canceLandingTemplateBtn Cancel
							//	.row.editable-landing
							//		.col-sm-12.low-landing-padding
							//			header.edit-opacity.landing-preview-header
							//				.logo
							//					img(src="../../../img/content/logos/ets-small-white.svg")
							//				.center-btns.no-click
							//					a(href="#", title="Share on Facebook", aria-label="Share on Facebook", data-share-platform="facebook")
							//						- var icon = "facebook"
							//						- var iconClasses = "white icon-medium"
							//						include ../shared/icon
							//					a(href="//twitter.com/intent/tweet?text=#{standardTweetText}", title="Share on Twitter", aria-label="Share on Twitter")
							//						- var icon = "twitter"
							//						- var iconClasses = "white icon-medium"
							//						include ../shared/icon
							//					a(href="#", title="Share via email", aria-label="Share via email", data-share-platform="email")
							//						- var icon = "email"
							//						- var iconClasses = "white icon-medium"
							//						include ../shared/icon
							//					a.btn.btn-lg.btn-landing-header(href="#") Donate
							//				.calltoaction.no-click
							//					a.hidden-xs.btn.btn-landing-second(href="/fundraker/program-dashboard.html", target="_blank") Start your own campaign
							//			main
							//				.layout-primary.low-landing-padding
							//					.container.low-landing-padding
							//						.row
							//							.col-xs-12.col-sm-12.col-lg-8.landing-video-area.low-landing-padding
							//								.embed-responsive.embed-responsive-16by9
							//									iframe#campaign-video(width="640", height="360", frameborder="0", webkitallowfullscreen, mozallowfullscreen, allowfullscreen)
							//									.embed-responsive-item.poster.poster-details
							//										.poster-inner.hidden-xs
							//											img.org-logo(src='/img/content/sample-logos/siena-heights.png', alt="eTeamSponsor")
							//										.poster-inner
							//											h1.poster-heading.preview-email-campaign-name-part John Doe's
							//											h1.poster-heading
							//												span.preview-email-campaign-name 2018 SHU Athletics Baseball Challenge
							//											a.play(href="#", title="Play campaign video", aria-label="Play campaign video")
							//												- var icon = "play"
							//												- var iconClasses = "icon-large"
							//												svg.icon(class="#{iconClasses}")
							//													use(xlink:href="/img/icons.svg##{icon}-icon")
							//									.embed-responsive-item.poster.poster-share.is-hidden
							//										.poster-inner.hidden-xs
							//											img.org-logo(src='/img/content/sample-logos/siena-heights.png', alt="eTeamSponsor")
							//										.poster-inner
							//											.poster-challenge-social.no-click
							//												a(href="#", class="facebook-landing-social", title="Share on Facebook", aria-label="Share on Facebook", data-share-platform="facebook", data-share-url="#{standardFacebookShareUrl}")
							//													- var icon = "facebook"
							//													- var iconClasses = "facebook icon-large"
							//													include ../shared/icon
							//												a(href="//twitter.com/intent/tweet?text=#{standardTweetText}", class="twitter-landing-social", title="Share on Twitter", aria-label="Share on Twitter")
							//													- var icon = "twitter"
							//													- var iconClasses = "twitter icon-large"
							//													include ../shared/icon
							//												a(href="#", title="Share via email", class="email-landing-social", aria-label="Share via email", data-share-platform="email")
							//													- var icon = "email"
							//													- var iconClasses = "black icon-large"
							//													include ../shared/icon
							//											h1.poster-heading Share our Campaign
							//											a.play(href="#", title="Replay campaign video", aria-label="Replay campaign video")
							//												- var icon = "play"
							//												- var iconClasses = "icon-large"
							//												svg.icon(class="#{iconClasses}")
							//													use(xlink:href="/img/icons.svg##{icon}-icon")
							//								ul.org-details.edit-opacity
							//									li Siena Heights University
							//									li.hidden-xs
							//										svg.icon.icon-inline-left.accent-color
							//											use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='/img/icons.svg#location-icon')
							//										| Battle Creek, MI
							//									li.hidden-xs
							//										svg.icon.icon-inline-left.accent-color
							//											use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='/img/icons.svg#tag-icon')
							//										| Soccer
							//							.col-xs-12.col-sm-12.col-lg-8.vimeo-landing-builder.low-landing-padding
							//								.wizard-single-item
							//									.vimeo-row.well
							//										h2 Your Vimeo video link
							//										form(action='', data-toggle='validator', data-disable='false')
							//											fieldset
							//												.form-groups
							//													input.form-control.input-lg.wizard-input#vimeoVideo(data-error='Please enter your vimeo ID.', required='')
							//													.help-block.with-errors
							//												.form-or-group
							//													span OR
							//												.form-group
							//													#progress-container.progress
							//														#progress.progress-bar.progress-bar-eteam.progress-bar-striped.active(role='progressbar', aria-valuenow='46', aria-valuemin='0', aria-valuemax='100', style='width: 1%')
							//															| 0%
							//													.row
							//														.video-results
							//															#resultsVimeo
							//													.row
							//														.video-info
							//															.form-group
							//																h2 Video name
							//																input#videoName.form-control(type='text', name='name', placeholder='Video name', value='')
							//															.form-group
							//																h2 Video description
							//																input#videoDescription.form-control(type='text', name='description', placeholder='Video description', value='')
							//														.video-input
							//															input#browse(type='file', style='display: none;')
							//													#uploadVideoDropzone
							//														span#uploadVideoMessage Click here to choose file
							//							.col-xs-12.col-sm-12.col-lg-4.low-landing-padding
							//								span.progress-amount-raised.edit-opacity(data-amount-raised='0') $0
							//								span.landing-edit.landing-admin-goal
							//									span.progress-amount-goal.edit-opacity / $
							//									span#programAdminGoal.progress-amount-goal-value 10,000
							//									input(type='text', id='landingGoalInput')
							//									span.landing-edit-controls
							//										span#editLandingGoal
							//											- var icon = "update"
							//											- var iconClasses = "icon-inline-right"
							//											include ../shared/icon
							//										span#editLandingGoalCheck
							//											- var icon = "check"
							//											- var iconClasses = "icon-inline-right"
							//											include ../shared/icon
							//										span#editLandingGoalHide
							//											- var icon = "cancel"
							//											- var iconClasses = "icon-inline-right"
							//											include ../shared/icon
							//										span#editLandingGoalShow
							//											| Include Campaign Goal
							//											- var icon = "add"
							//											- var iconClasses = "icon-inline-right"
							//											include ../shared/icon
							//								span.landing-edit.landing-part-goal
							//									span.progress-amount-part-goal.edit-opacity / $
							//									span.progress-amount-goal-part-value 10,000
							//									input(type='text', id='landingGoalPartInput')
							//									span.landing-edit-controls
							//										span#editLandingPartGoalHide
							//											- var icon = "cancel"
							//											- var iconClasses = "icon-inline-right"
							//											include ../shared/icon
							//										span#editLandingPartGoalShow
							//											| Include Campaign Goal
							//											- var icon = "add"
							//											- var iconClasses = "icon-inline-right"
							//											include ../shared/icon
							//								.progress-container.edit-opacity
							//									.progress-percent(data-style='width: 0%', style='width: 0%')
							//								.progress-metrics.edit-opacity
							//									.progress-metric.progress-goal-percentage
							//										.progress-metric-amount 0%
							//										.progress-metric-label of goal
							//									.progress-metric
							//										.progress-metric-amount 0
							//										.progress-metric-label donors
							//									.progress-metric
							//										.progress-metric-amount 0
							//										.progress-metric-label days left
							//								.disable-edit
							//									a.btn.btn-lg.btn-primary.btn-block.btn-donate.edit-opacity(href='#') Donate Now
							//								p.text-center.top-buffer
							//									svg.icon.icon-inline-left.accent-color
							//										use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='/img/icons.svg#phone-icon')
							//									span.landing-donate-text Donate by Phone - 
							//									span.landing-edit.landing-admin-phone
							//										a(href='tel://8009866128', id='landing-phone') (800) 986-6128
							//										input.has-floating-label.js-mask-phone(type='tel', id='landingPhoneInput')
							//										span.landing-edit-controls
							//											span#editLandingPhone
							//												- var icon = "update"
							//												- var iconClasses = "icon-inline-right"
							//												include ../shared/icon
							//											span#acceptLandingPhone
							//												- var icon = "check"
							//												- var iconClasses = "icon-inline-right"
							//												include ../shared/icon
							//									span.landing-edit.landing-part-phone
							//										a(href='tel://8009866128', id='landing-part-phone') (800) 986-6128
							//										input.has-floating-label.js-mask-phone(type='tel', id='landingPartPhoneInput')
							//										span.landing-edit-controls
							//											span#editLandingPartPhone
							//												- var icon = "update"
							//												- var iconClasses = "icon-inline-right"
							//												include ../shared/icon
							//											span#acceptLandingPartPhone
							//												- var icon = "check"
							//												- var iconClasses = "icon-inline-right"
							//												include ../shared/icon
							//								p.text-center.top-buffer.edit-opacity
							//									a(href='mail-check-info.html', class='no-click' onclick="window.open(this.href, '_blank', 'location=yes,height=650,width=800,scrollbars=yes,status=yes'); return false;", target='_blank')
							//										svg.icon.icon-inline-left.accent-color
							//											use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='/img/icons.svg#email-icon')
							//										| How to Mail Your Check
							//				.layout-secondary
							//					.nav-tabs-container.edit-opacity
							//						.container
							//							.row
							//								.col-xs-12.col-sm-8
							//									ul.nav.nav-tabs.no-click
							//										li.active
							//											a(href='#campaign', data-toggle='tab') Campaign
							//										li
							//											a(href='#team', data-toggle='tab') Team
							//					.container
							//						.row
							//							.col-xs-12
							//								.tab-content
							//									#campaign.tab-pane.active
							//										#landing-about-editor.landing-edit
							//											.landing-rte-editor
							//												#landing-editor
							//												span#landingCloseRTE.landing-edit-controls
							//													- var icon = "remove"
							//													- var iconClasses = "icon-inline-right"
							//													include ../shared/icon
							//											button#saveLanding.btn.btn-save-editor Save
							//											button#savePartLanding.btn.btn-save-editor Save
							//										#landing-about-body.landing-edit
							//											#landing-about-campaign
							//											span#landingEnableRTE.landing-edit-controls
							//												- var icon = "update"
							//												- var iconClasses = "icon-inline-right"
							//												include ../shared/icon
							//									#team.tab-pane
							//										h2.h3 Meet the Team
							//					.container.edit-opacity
							//						.row.no-click
							//							.col-xs-12.top-buffer.text-center
							//								a.btn.btn-primary(href="/fundraker/program-dashboard.html", target="_blank") Start your own campaign
							//					footer.container.landing-preview-footer.edit-opacity.no-click
							//						.text-center
							//							a(href="index.html")
							//								img.img-responsive.center-block.img-footer(src="/img/content/logos/ets-full-dark.svg", alt="eTeamSponsor.com")
							//							p.disclaimer Copyright 2010-#{new Date().getFullYear()} eTeamSponsor.com

						#headingOne.panel-heading
							.heading-collapse(role='button', data-toggle='collapse', data-parent='#accordion', data-target='#welcome', aria-expanded='true', aria-controls='welcome')
								.heading-wrapper
									.heading-text
										h4.panel-title
											a#openEmailsLink(role='button', data-toggle='collapse', data-parent='#accordion', href='#welcome', aria-expanded='true', aria-controls='welcome')
												| Welcome Emails
									.heading-date-text
										div Sending on
										div.emailFirstDate.date-span 15.04.2018
										div and
										div.emailSecondDate.date-span 18.04.2019
								.heading-controls
									#openEmails.heading-view.active
										span
											- var icon = "view"
											- var iconClasses = "icon-inline-right"
											include ../shared/icon
									#closeEmails.heading-view.active
										span
											- var icon = "close"
											- var iconClasses = "icon-inline-right"
											include ../shared/icon
							#welcome.collapse.in
								.row
									.col-sm-12.col-md-4.edit-radioboxes-row
										form.edit-radioboxes-show
											fieldset
												.form-group
													.single-radio
														input(type='radio', id="welcomeEmail-part", name='welcomeEmail', value='edit-part', checked)
														| Email from Participant
														#editWelcomeTemplateBtnPart.heading-edit.active
															span
																- var icon = "update"
																- var iconClasses = "brand-primary icon-inline-right"
																include ../shared/icon
													.single-radio
														input(type='radio', id="welcomeEmail-admin", name='welcomeEmail', value='edit-admin')
														| Email from Program Admin to donors and alumni
														#editWelcomeTemplateBtnAdmin.heading-edit.active
															span
																- var icon = "update"
																- var iconClasses = "brand-primary icon-inline-right"
																include ../shared/icon
													.help-block.with-errors
									.col-sm-12.col-md-8.control-buttons-row
										button.btn.btn-save#saveWelcomeTemplateBtn Save
										button.btn.btn-default#cancelWelcomeTemplateBtn Cancel
										.email-subject-row
											.donor-subject-row
												.subj-title First donor email subject:
												.subj-body#first-donor-subject-part Dad can you help me reach my goal today?
												.subj-body#first-donor-subject-admin Campaign Update
											.donor-subject-row
												.subj-title Second donor email subject:
												.subj-body#second-donor-subject-part Dad help me reach my goal today
												.subj-body#second-donor-subject-admin Campaign Update
								.row.preview-email-row
									.col-sm-12.col-md-4
										.well
											#emailEditDate
												h2  Change Email campaign start date
												form(action='', data-toggle='validator', data-disable='false')
													fieldset
														.form-group
															input.form-control.input-lg(type='date', id="edit-date", data-error='Please enter a correct date.', required='')
															.help-block.with-errors
											h2  First Donor Email:
											ul.sidebar-info
												li
													strong.emailFirstDate 14.05.2018
													|   or when a donor joins the campaign
													.suppress-preview-email
														input(type='checkbox', class="suppress-input", id="suppressFirstDonorDate")
														| Suppress
											hr
											h2 Second Donor Email:
											ul.sidebar-info
												li
													strong.emailSecondDate 14.05.2018
													|   - 7 days after the first email is sent to donor
													.suppress-preview-email
														input(type='checkbox', class="suppress-input", id="suppressSecondDonorDate")
														| Suppress

										.well.email-control-paragraph
											h2  Email control
											form(action='', data-toggle='validator', data-disable='false')
												fieldset
													.form-group
														input#show-introductory(type='checkbox', checked)
														| Include Introductory Paragraph
													.form-group
														input#show-payment(type='checkbox', checked)
														| Include Payment Methods Paragraph
													.form-group
														input#show-closing(type='checkbox', checked)
														| Include Closing Paragraph
											.email-top-control-paragraph
												form(action='', data-toggle='validator', data-disable='false')
													fieldset
														.form-group
															input#show-override-template(type='checkbox')
															| Override admin email template
															a.btn.btn-default#save-override-email-template(type="button") Save
										.well
											h2 Send test email
											form(action='', data-toggle='validator', data-disable='false')
												fieldset
													.form-group
														input#send-test-input1.form-control.input-lg(type='email', data-error='Please enter a correct email.' ,disabled='false')
														.form-sendtoyou
															span Send email to you: (billysmith@gmail.com)
															input.send-for-you-checkbox1(type='checkbox')
														select.form-control.input-sm.send-email-select(required)
															option(value='participant') Email from Participant
															option(value='admin') Email from Program Admin to donors and alumni
														.help-block.with-errors
														button.btn.btn-default.send-email-btn(type='button') Send

									.col-sm-12.col-md-8
										.preview-email-body
											.preview-email-top.no-click
												button(type="button") Donate Now
											.preview-email-title
												.image
													img(src="/img/content/sample-logos/siena-heights.png")
												.text.preview-email-campaign-name 2018 Test_Org_Program1 Second

											.preview-email-fields
												.preview-email-intro
													.welcome-title
														| Dear Dad,
													.welcome-body.welcome-letter-body.bordered-editor
														.bordered-wrapper
															.bordered-body.welcomeEmail-introductory-admin
																span Please support our
																span.preview-email-campaign-name 2018 Test_Org_Program1 Second
																span .Your tax-deductible donation is greatly appreciated.
															.bordered-body.welcomeEmail-introductory-part
																span Can you please support me in our
																span.preview-email-campaign-name 2018 Test_Org_Program1 Second
																span ? Your 100% tax deductible* donation is greatly appreciated.
															.hidden-edit.hidden-welcome-edit#hidden-email-preview
																span
																	- var icon = "remove"
																	- var iconClasses = "icon-inline-right"
																	include ../shared/icon
												.show-paragraph-body.show-welcome-paragraph-body#show-p1
													span Include Introductory
														- var icon = "add"
														- var iconClasses = "icon-inline-right"
														include ../shared/icon
												.preview-body-info.preview-welcome-body-info.bordered-editor
													.bordered-wrapper
														span#bodyMessage

														.hidden-edit.hidden-welcome-edit#hidden-email-body-edit
															span
																- var icon = "update"
																- var iconClasses = "icon-inline-right"
																include ../shared/icon

												.preview-edit-template.preview-welcome-edit-template.bordered-editor#rtc-editor
													.bordered-body
														#welcomeEmail-email_editor
														button#saveOverwrite.btn.btn-save-editor Save
														.hidden-edit-rtc#hidden-rtc-edit-close
															span
																- var icon = "remove"
																- var iconClasses = "icon-inline-right"
																include ../shared/icon
												.preview-email-payment-methods.welcome-payment-methods.bordered-editor
													.bordered-wrapper
														ul.email-links
															li To donate online click our secure
																a(href="#") Donate Now
																| link
															li To donate by phone please call toll-free
																a(href="#") (800) 986-6128
															li To donate by check through the mail click
																a(href="#") here
																| for instructions.
														.hidden-edit.hidden-welcome-edit#togglePaymentMethod
															span
																- var icon = "remove"
																- var iconClasses = "icon-inline-right"
																include ../shared/icon
												.show-paragraph-body.show-welcome-paragraph-body#show-p2
													span Include Payment methods
														- var icon = "add"
														- var iconClasses = "icon-inline-right"
														include ../shared/icon
												.preview-email-closing-paragraph.welcome-closing-paragraph.bordered-editor
													.bordered-wrapper
														.bordered-body
															a(href="#") Please visit our campaign page
															span to to watch our video and learn about the needs of our program along with the positive activities we are involved in.
															p
															span Thank you in advance for your generous support in our
															span.preview-email-campaign-name 2018 Test_Org_Program1 Second
														.hidden-edit.hidden-welcome-edit#hidden-email-closing-preview
															span
																- var icon = "remove"
																- var iconClasses = "icon-inline-right"
																include ../shared/icon
												.show-paragraph-body.show-welcome-paragraph-body#show-p3
													span Include Closing paragraph
														- var icon = "add"
														- var iconClasses = "icon-inline-right"
														include ../shared/icon
												.preview-email-regards
													.regards Sincerely,
													span Billy Smith
												.preview-email-donate-btn
													button(type="button") Donate Now
											.preview-email-bottom
												.bottom-explain * Upon your donation you will receive a “Thank You” email receipt that may be used for tax purposes. Please consult your tax preparer for any questions regarding non-profit donation deductions.
												.bottom-powered
													.powered Powered by
													.logo
														img(src="https://s3-us-west-2.amazonaws.com/assets.eteamsponsor.com/images/email/logo-ets-high.png")

						#headingTwo.panel-heading
							.heading-collapse(role='button', data-toggle='collapse', data-parent='#accordion', data-target='#reminder', aria-expanded='true', aria-controls='reminder')
								.heading-wrapper
									.heading-text
										h4.panel-title
											a#openRemindersLink(role='button', data-toggle='collapse', data-parent='#accordion', href='#reminder', aria-expanded='true', aria-controls='reminder')
												| Reminder Emails
									.heading-date-text
										div Sending on
										div.emailThirdDate.date-span 15.04.2018
										div and
										div.emailFourDate.date-span 18.04.2019
								.heading-controls
									#openReminders.heading-view.active
										span
											- var icon = "view"
											- var iconClasses = "icon-inline-right"
											include ../shared/icon
									#closeReminders.heading-view.active
										span
											- var icon = "close"
											- var iconClasses = "icon-inline-right"
											include ../shared/icon
							#reminder.collapse.in
								.row
									.col-sm-12.col-md-4.edit-radioboxes-row
										form.reminder-radioboxes-show
											fieldset
												.form-group
													.single-radio
														input(type='radio', id='reminderEmail-part', name='reminderEmail', value='edit-part', checked)
														| Email from Participant
														#editReminderTemplateBtnPart.heading-edit.active
															span
																- var icon = "update"
																- var iconClasses = "icon-inline-right"
																include ../shared/icon
													.single-radio
														input(type='radio', id='reminderEmail-admin' , name='reminderEmail', value='edit-admin')
														| Email from Program Admin to donors and alumni
														#editReminderTemplateBtnAdmin.heading-edit.active
															span
																- var icon = "update"
																- var iconClasses = "icon-inline-right"
																include ../shared/icon
													.help-block.with-errors
									.col-sm-12.col-md-8.control-buttons-row
										button.btn.btn-save#saveReminderTemplateBtn Save
										button.btn.btn-default#cancelReminderTemplateBtn Cancel
										.email-subject-row
											.donor-subject-row
												.subj-title Third donor email subject:
												.subj-body#third-donor-subject-part Time is running out Dad help me reach my goal today
												.subj-body#third-donor-subject-admin Campaign Update
											.donor-subject-row
												.subj-title Fourth donor email subject:
												.subj-body#four-donor-subject-part Last chance Dad to help me reach my goal
												.subj-body#four-donor-subject-admin Campaign Update
								.row.preview-email-row.preview-another-row
									.col-sm-12.col-md-4
										.well
											h2  Third Donor Email:
											ul.sidebar-info
												li
													strong.emailThirdDate 14.05.2018
													|   (21 days after first email goes to donor)
													.suppress-preview-email
														input(type='checkbox', class="suppress-input", id="suppressThirdDonorDate")
														| Suppress
											hr
											h2 Fourth Donor Email:
											ul.sidebar-info
												li
													strong.emailFourDate 14.05.2018
													|  (35 days after first email goes to donor)
													.suppress-preview-email
														input(type='checkbox', class="suppress-input", id="suppressFourDonorDate")
														| Suppress
										.well.email-control-paragraph
											h2  Email control
											form(action='', data-toggle='validator', data-disable='false')
												fieldset
													.form-group
														input#reminder-show-introductory(type='checkbox', checked)
														| Include Introductory Paragraph
													.form-group
														input#reminder-show-payment(type='checkbox', checked)
														| Include Payment Methods Paragraph
													.form-group
														input#reminder-show-closing(type='checkbox', checked)
														| Include Closing Paragraph
											.email-top-control-paragraph
												form(action='', data-toggle='validator', data-disable='false')
													fieldset
														.form-group
															input#reminder-show-override-template(type='checkbox')
															| Override admin email template
															a.btn.btn-default#reminder-save-override-email-template(type="button") Save
										.well
											h2 Send test email
											form(action='', data-toggle='validator', data-disable='false')
												fieldset
													.form-group
														input#send-test-input2.form-control.input-lg(type='email', data-error='Please enter a correct email.', disabled='false')
														.form-sendtoyou
															span Send email to you: (billysmith@gmail.com)
															input.send-for-you-checkbox2(type='checkbox')
														.help-block.with-errors
														button.btn.btn-default.send-email-btn(type='button') Send

									.col-sm-12.col-md-8
										.preview-email-body
											.preview-email-top
												button(type="button") Donate Now
											.preview-email-title
												.image
													img(src="/img/content/sample-logos/siena-heights.png")
												.text.preview-email-campaign-name 2018 Test_Org_Program1 Second
											.preview-email-fields
												.preview-email-intro
													.welcome-title
														| Dear Dad,
													.welcome-body.reminder-body.bordered-editor
														.bordered-wrapper
															.bordered-body
																span I wanted to remind you that I`m participating in basketball and we are raising money through our
																a.preview-email-campaign-name(href='#') 2018 Test_Org_Program1 Second
															.hidden-edit.hidden-reminder-edit#reminder-hidden-email-preview
																span
																- var icon = "remove"
																- var iconClasses = "icon-inline-right"
																include ../shared/icon
												.show-paragraph-body.show-reminder-paragraph-body#reminder-show-p1
													span Include Introductory
														- var icon = "add"
														- var iconClasses = "icon-inline-right"
														include ../shared/icon
												.preview-body-info.preview-reminder-body-info.bordered-editor.reminderEmail-introductory-part
													.bordered-wrapper
														span#reminder-bodyMessage

														.hidden-edit.hidden-reminder-edit#reminder-hidden-email-body-edit
															span
																- var icon = "update"
																- var iconClasses = "icon-inline-right"
																include ../shared/icon

												.preview-edit-template.preview-reminder-edit-template.bordered-editor#reminder-rtc-editor
													.bordered-wrapper
														.bordered-body
															#reminderEmail-email_editor
															button#reminder-saveOverwrite.btn.btn-save-editor Save

															.hidden-edit-rtc#reminder-hidden-rtc-edit-close
																span
																	- var icon = "remove"
																	- var iconClasses = "icon-inline-right"
																	include ../shared/icon
												.preview-email-payment-methods.reminder-payment-methods.bordered-editor
													.bordered-wrapper
														span Please visit our campaign page to see how close we are to reaching our goal and make a tax-deductible donation.
														.hidden-edit.hidden-reminder-edit#reminder-togglePaymentMethod
															span
																- var icon = "remove"
																- var iconClasses = "icon-inline-right"
																include ../shared/icon

												.show-paragraph-body.show-reminder-paragraph-body#reminder-show-p2
													span Include Payment methods
														- var icon = "add"
														- var iconClasses = "icon-inline-right"
														include ../shared/icon
												.preview-email-closing-paragraph.reminder-closing-paragraph.bordered-editor
													.bordered-wrapper
														.bordered-body
															span I appreciate your support in advance, thank you.
														.hidden-edit.hidden-reminder-edit#reminder-hidden-email-closing-preview
															span
																- var icon = "remove"
																- var iconClasses = "icon-inline-right"
																include ../shared/icon

												.show-paragraph-body.show-reminder-paragraph-body#reminder-show-p3
													span Include Closing paragraph
														- var icon = "add"
														- var iconClasses = "icon-inline-right"
														include ../shared/icon
												.preview-email-regards
													.regards Sincerely,
													span Billy Smith
												.preview-email-donate-btn
													button(type="button") Donate Now
											.preview-email-bottom
												.bottom-explain * Upon your donation you will receive a “Thank You” email receipt that may be used for tax purposes. Please consult your tax preparer for any questions regarding non-profit donation deductions.
												.bottom-powered
													.powered Powered by
													.logo
														img(src="https://s3-us-west-2.amazonaws.com/assets.eteamsponsor.com/images/email/logo-ets-high.png")
						#headingThree.panel-heading
							.heading-collapse(role='button', data-toggle='collapse', data-parent='#accordion', data-target='#results', aria-expanded='true', aria-controls='results')
								.heading-wrapper
									.heading-text
										h4.panel-title
											a#openResultsLink(role='button', data-toggle='collapse', data-parent='#accordion', href='#results', aria-expanded='true', aria-controls='results')
												| Results Emails
									.heading-date-text
										div Sending on
										div.emailFiveDate.date-span 15.04.2018
										div (45 days after launch to donor)
								.heading-controls
									#openResults.heading-view.active
										span
										- var icon = "view"
										- var iconClasses = "icon-inline-right"
										include ../shared/icon
									#closeResults.heading-view.active
										span
											- var icon = "close"
											- var iconClasses = "icon-inline-right"
											include ../shared/icon
							#results.collapse.in
								.row
									.col-sm-12.col-md-4.edit-radioboxes-row
										form.results-radioboxes-show
											fieldset
												.form-group
													.single-radio
														| Email from Participant
													select.form-control.input-sm.send-email-select#resultsTypeSelector(required)
														option(value='edit-part', id='reminderGoalFirst', name='reminderGoalStatus') If the participant did reach goal and the PRGM did reach goal
														option(value='edit-part', id='reminderGoalSecond', name='reminderGoalStatus') If the participant did reach goal and the PRGM did not reach goal
														option(value='edit-part', id='reminderGoalThird', name='reminderGoalStatus') If the participant did not reach goal
													.help-block.with-errors
									.col-sm-12.col-md-8.control-buttons-row
										button.btn.btn-save#saveResultsTemplateBtn Save
										button.btn.btn-default#cancelResultsTemplateBtn Cancel
										.email-subject-row
											.donor-subject-row
												.subj-title Results email subject:
												.subj-body#results-donor-subject John's Campaign Results
								.row.preview-email-row.preview-another-row
									.col-sm-12.col-md-4
										.well
											h2  Results Email:
											ul.sidebar-info
												li
													strong.emailFiveDate 14.05.2018
													| (45 days after first email goes to donor)
													.suppress-preview-email
														input(type='checkbox', class="suppress-input", id="suppressFiveDonorDate")
														| Suppress
										.well.email-control-paragraph
											h2  Email control
											form(action='', data-toggle='validator', data-disable='false')
												fieldset
													.form-group
														input#results-show-introductory(type='checkbox', checked)
														| Include Introductory Paragraph
													.form-group
														input#results-show-payment(type='checkbox', checked)
														| Include Payment Methods Paragraph
													.form-group
														input#results-show-closing(type='checkbox', checked)
														| Include Closing Paragraph
											.email-top-control-paragraph
												form(action='', data-toggle='validator', data-disable='false')
													fieldset
														.form-group
															input#results-show-override-template(type='checkbox')
															| Override admin email template
															a.btn.btn-default#save-results-override-email-template(type="button") Save
										.well
											h2 Send test email
											form(action='', data-toggle='validator', data-disable='false')
												fieldset
													.form-group
														input#send-test-input3.form-control.input-lg(type='email', data-error='Please enter a correct email.', disabled='false')
														.form-sendtoyou
															span Send email to you: (billysmith@gmail.com)
															input.send-for-you-checkbox3(type='checkbox')
														.help-block.with-errors
														button.btn.btn-default.send-email-btn(type='button') Send

									.col-sm-12.col-md-8
										.preview-email-body
											.preview-email-top
												button(type="button") Donate Now
											.preview-email-title
												.image
													img(src="/img/content/sample-logos/siena-heights.png")
												.text.preview-email-campaign-name 2018 Test_Org_Program1 Second
											.preview-email-fields
												.preview-email-intro
													.welcome-title
														| Dear Dad,
													.welcome-body.results-body.bordered-editor
														.bordered-wrapper
															.bordered-body.results-goal-first
																span We did it, we reached our goals! Check out the results on our
																a(href='./program-participant-preview-landing.html') campaign page
																span  and thank you again for your support!
															.bordered-body.results-goal-second
																span I did it, I reached the goal! See my results on our
																a(href='./program-participant-preview-landing.html') campaign page
																span  and thank you again for your support!
															.bordered-body.results-goal-third
																span Our
																a.preview-email-campaign-name(href='./program-admin-preview-landing') 2018 SHU Women's Soccer Challenge
																span  is complete and although I didn’t reach my goal, I was still a part of a very positive fundraising experience. Because I fell short my individual
																a(href='./program-participant-preview-landing.html') campaign page
																span  will remain open for future donations but no further emails will be sent.
															.hidden-edit.hidden-results-edit#results-hidden-email-preview
																span
																	- var icon = "remove"
																	- var iconClasses = "icon-inline-right"
																	include ../shared/icon
												.preview-email-regards
													.regards
														span Thank you
														span.results-goal-third again for your support
														span !
													span Billy Smith
												.preview-email-donate-btn
													button(type="button") Donate Now
											.preview-email-bottom
												.bottom-explain * Upon your donation you will receive a “Thank You” email receipt that may be used for tax purposes. Please consult your tax preparer for any questions regarding non-profit donation deductions.
												.bottom-powered
													.powered Powered by
													.logo
														img(src="https://s3-us-west-2.amazonaws.com/assets.eteamsponsor.com/images/email/logo-ets-high.png")
						#headingFour.panel-heading
							.heading-collapse(role='button', data-toggle='collapse', data-parent='#accordion', data-target='#immediate', aria-expanded='true', aria-controls='accordion')
								.heading-wrapper
									.heading-text
										h4.panel-title
											a#openThankLink(role='button', data-toggle='collapse', data-parent='#accordion', href='#immediate', aria-expanded='true', aria-controls='accordion')
												| Immediate Thank you Email
									.heading-date-text
										div Sending immediately upon donation
								.heading-controls
									#openThank.heading-view.active
										span
											- var icon = "view"
											- var iconClasses = "icon-inline-right"
											include ../shared/icon
									#closeThank.heading-view.active
										span
											- var icon = "close"
											- var iconClasses = "icon-inline-right"
											include ../shared/icon
							#immediate.collapse.in
								.row
									.col-sm-12.col-md-4.edit-radioboxes-row
										form.immediate-radioboxes-show
											fieldset
												.form-group
													.single-radio
														input(type='radio', id="immediateEmail-part", name='immediateEmail', value='edit-part', checked)
														| Email from Participant
														#editImmediateTemplateBtnPart.heading-edit.active
															span
																- var icon = "update"
																- var iconClasses = "brand-primary icon-inline-right"
																include ../shared/icon
									.col-sm-12.col-md-8.control-buttons-row
										button.btn.btn-save#saveImmediateTemplateBtn Save
										button.btn.btn-default#cancelImmediateTemplateBtn Cancel
										.email-subject-row
											.donor-subject-row
												.subj-title Immediate Thank You email subject:
												.subj-body#immediate-donor-subject Thank you for your sponsorship
								.row.preview-email-row.preview-another-row
									.col-sm-12.col-md-4
										.well
											h2  Immediate Thank You email
											ul.sidebar-info
												li
													| Sent immediately upon donation
										.well.email-control-paragraph
											h2  Email control
											form(action='', data-toggle='validator', data-disable='false')
												fieldset
													.form-group
														input#immediate-show-introductory(type='checkbox', checked)
														| Include Introductory Paragraph
													.form-group
														input#immediate-show-payment(type='checkbox', checked)
														| Include Payment Methods Paragraph
													.form-group
														input#immediate-show-closing(type='checkbox', checked)
														| Include Closing Paragraph
											.email-top-control-paragraph
												form(action='', data-toggle='validator', data-disable='false')
													fieldset
														.form-group
															input#immediate-show-override-template(type='checkbox')
															| Override admin email template
															a.btn.btn-default#save-immediate-override-email-template(type="button") Save
										.well
											h2 Send test email
											form(action='', data-toggle='validator', data-disable='false')
												fieldset
													.form-group
														input#send-test-input4.form-control.input-lg(type='email', data-error='Please enter a correct email.', disabled='false')
														.form-sendtoyou
															span Send email to you: (billysmith@gmail.com)
															input.send-for-you-checkbox4(type='checkbox')
														.help-block.with-errors
														button.btn.btn-default.send-email-btn(type='button') Send
									.col-sm-12.col-md-8
										.preview-email-body
											.preview-email-top
												button(type="button") Donate Now
											.preview-email-title
												.image
													img(src="/img/content/sample-logos/siena-heights.png")
												.text.preview-email-campaign-name 2018 Test_Org_Program1 Second
											.preview-email-fields
												.preview-email-intro
													.welcome-title
														| Dear Dad,
												.preview-body-info.preview-immediate-body-info.bordered-editor.immediateEmail-introductory-part
													.bordered-wrapper
														span#immediate-bodyMessage

														.hidden-edit.hidden-immediate-edit#immediate-hidden-email-body-edit
															span
																- var icon = "update"
																- var iconClasses = "icon-inline-right"
																include ../shared/icon

												.preview-edit-template.preview-immediate-edit-template.bordered-editor#immediate-rtc-editor
													.bordered-wrapper
														.bordered-body
															#immediateEmail-email_editor
															button#immediate-saveOverwrite.btn.btn-save-editor Save

															.hidden-edit-rtc#immediate-hidden-rtc-edit-close
																span
																	- var icon = "remove"
																	- var iconClasses = "icon-inline-right"
																	include ../shared/icon
												.preview-email-regards
													.regards Sincerely,
													span Billy Smith
												.preview-email-donate-btn
													button(type="button") Donate Now
											.preview-email-bottom
												.bottom-explain * Upon your donation you will receive a “Thank You” email receipt that may be used for tax purposes. Please consult your tax preparer for any questions regarding non-profit donation deductions.
												.bottom-powered
													.powered Powered by
													.logo
														img(src="https://s3-us-west-2.amazonaws.com/assets.eteamsponsor.com/images/email/logo-ets-high.png")
						#headingFive.panel-heading
							.heading-collapse(role='button', data-toggle='collapse', data-parent='#accordion', data-target='#personal', aria-expanded='true', aria-controls='personal')
								.heading-wrapper
									.heading-text
										h4.panel-title
											a#openPersonalLink(role='button', data-toggle='collapse', data-parent='#accordion', href='#personal', aria-expanded='true', aria-controls='personal')
												| Personal Thank you Email
									.heading-date-text
										div Sending in 3 days after donation
								.heading-controls
									#openPersonal.heading-view.active
										span
											- var icon = "view"
											- var iconClasses = "icon-inline-right"
											include ../shared/icon
									#closePersonal.heading-view.active
										span
											- var icon = "close"
											- var iconClasses = "icon-inline-right"
											include ../shared/icon

							#personal.collapse.in
								.row
									.col-sm-12.col-md-4.edit-radioboxes-row
										form.personal-radioboxes-show
											fieldset
												.form-group
													.single-radio
														input(type='radio', id="personalEmail-part", name='personalEmail', value='edit-part', checked)
														| Email from Participant
														#editPersonalTemplateBtnPart.heading-edit.active
															span
																- var icon = "update"
																- var iconClasses = "brand-primary icon-inline-right"
																include ../shared/icon
													.help-block.with-errors
									.col-sm-12.col-md-8.control-buttons-row
										button.btn.btn-save#savePersonalTemplateBtn Save
										button.btn.btn-default#cancelPersonalTemplateBtn Cancel
										.email-subject-row
											.donor-subject-row
												.subj-title Personal Thank You email subject:
												.subj-body#personal-donor-subject Thank you for your sponsorship
								.row.preview-email-row.preview-another-row
									.col-sm-12.col-md-4
										.well
											h2  Personal Thank You email
											ul.sidebar-info
												li
													| Sent 3 days after donation
											.suppress-preview-email
												input(type='checkbox', class="suppress-input", id="suppressPersonal")
												| Suppress
										.well.email-control-paragraph
											h2  Email control
											form(action='', data-toggle='validator', data-disable='false')
												fieldset
													.form-group
														input#personal-show-introductory(type='checkbox', checked)
														| Include Introductory Paragraph
													.form-group
														input#personal-show-payment(type='checkbox', checked)
														| Include Payment Methods Paragraph
													.form-group
														input#personal-show-closing(type='checkbox', checked)
														| Include Closing Paragraph
											.email-top-control-paragraph
												form(action='', data-toggle='validator', data-disable='false')
													fieldset
														.form-group
															input#personal-show-override-template(type='checkbox')
															| Override admin email template
															a.btn.btn-default#save-personal-override-email-template(type="button") Save
										.well
											h2 Send test email
											form(action='', data-toggle='validator', data-disable='false')
												fieldset
													.form-group
														input#send-test-input5.form-control.input-lg(type='email', data-error='Please enter a correct email.', disabled='false')
														.form-sendtoyou
															span Send email to you: (billysmith@gmail.com)
															input.send-for-you-checkbox5(type='checkbox')
														.help-block.with-errors
														button.btn.btn-default.send-email-btn(type='button') Send

									.col-sm-12.col-md-8
										.preview-email-body
											.preview-email-top
												button(type="button") Donate Now
											.preview-email-title
												.image
													img(src="/img/content/sample-logos/siena-heights.png")
												.text.preview-email-campaign-name 2018 Test_Org_Program1 Second
											.preview-email-fields
												.preview-email-intro
													.welcome-title
														| Dear Dad,
													.preview-body-info.preview-personal-body-info.bordered-editor.personalEmail-introductory-part
														.bordered-wrapper
															span#personal-bodyMessage

															.hidden-edit.hidden-personal-edit#personal-hidden-email-body-edit
																span
																	- var icon = "update"
																	- var iconClasses = "icon-inline-right"
																	include ../shared/icon

													.preview-edit-template.preview-personal-edit-template.bordered-editor#personal-rtc-editor
														.bordered-wrapper
															.bordered-body
																#personalEmail-email_editor
																button#personal-saveOverwrite.btn.btn-save-editor Save

																.hidden-edit-rtc#personal-hidden-rtc-edit-close
																	span
																		- var icon = "remove"
																		- var iconClasses = "icon-inline-right"
																		include ../shared/icon
												.preview-email-regards
													.regards Sincerely,
													span Billy Smith
												.preview-email-donate-btn
													button(type="button") Donate Now
											.preview-email-bottom
												.bottom-explain * Upon your donation you will receive a “Thank You” email receipt that may be used for tax purposes. Please consult your tax preparer for any questions regarding non-profit donation deductions.
												.bottom-powered
													.powered Powered by
													.logo
														img(src="https://s3-us-west-2.amazonaws.com/assets.eteamsponsor.com/images/email/logo-ets-high.png")


				section.email-preview.tab-pane#edc
					.add-new-scheduled-row
						a(href="/fundraker/campaign-scheduled-emails-create.html") Add New Scheduled Email
					#accordion1
						#headingSix.panel-heading
							.heading-collapse(role='button', data-toggle='collapse', data-parent='#accordion', data-target='#scheduled', aria-expanded='true', aria-controls='scheduled')
								.heading-wrapper
									.heading-text
										h4.panel-title
											a#openScheduledLink(role='button', data-toggle='collapse', data-parent='#accordion', href='#scheduled', aria-expanded='true', aria-controls='scheduled')
												| Test Email Name
									.heading-date-text
										div Sending on 12/21/18 at 12:am to Segment1, Segment2, Segment3
									.heading-text(style='text-align: right')
										div.edc-email-status(style='padding-right: 10px') Draft
								.heading-controls
									#openScheduled.heading-view.active
										span
											- var icon = "view"
											- var iconClasses = "icon-inline-right"
											include ../shared/icon
									#closeScheduled.heading-view.active
										span
											- var icon = "close"
											- var iconClasses = "icon-inline-right"
											include ../shared/icon

							#scheduled.collapse.in
								.row
									.col-sm-12.col-md-4.edit-radioboxes-row
										//form.personal-radioboxes-show
										//	fieldset
										//		.form-group
										//			.single-radio
										//				input(type='radio', id="scheduledEmail-part", name='scheduledEmail', value='edit-part', checked)
										//				| EDC Welcome Email
										//				#editScheduledTemplateBtnPart.heading-edit.active
										//					span
										//						- var icon = "update"
										//						- var iconClasses = "brand-primary icon-inline-right"
										//						include ../shared/icon
										.email-subject-row
											.donor-subject-row
												.subj-title Email Name:
												.subj-body.is-edit-off Test Email Name
													.help-block.with-errors
												input#email-name.form-control.input-lg.is-edit-on(type='text', value='Test Email Name')
									.col-sm-12.col-md-8.control-buttons-row
										.email-subject-row.row
											.col-md-6.col-sm-12.col-xs-12
												.subj-title Subject line:
												.subj-body.is-edit-off#scheduled-donor-subject EDC Email Test Subject Line
												input.form-control.input-lg.is-edit-on(type='text', value='EDC Email Test Subject Line')
											.is-edit-on.col-md-2.col-sm-12.col-xs-12
												.subj-title Status:
													select.form-control.input-sm.status-select(required, style="height: 41px;")
														option(value='draft', selected) Draft
														option(value='final') Final
											.is-edit-on.col-md-4.col-sm-12.col-xs-12(style="text-align: right; padding-top: 20px;")
												button.btn.btn-save#saveScheduledTemplateBtn(style="min-width: 80px;") Save
												button.btn.btn-default#cancelScheduledTemplateBtn(style="min-width: 80px;") Cancel
											.donor-subject-row
												.heading-edit.active(style="text-align: right; padding-right: 15px;")
													span#editScheduledTemplateBtnPart(style="padding-right: 5px;")
														- var icon = "update"
														- var iconClasses = "brand-primary icon-inline-right"
														include ../shared/icon
													span.is-edit-off
														- var icon = "remove"
														- var iconClasses = "brand-primary icon-inline-right"
														include ../shared/icon
								.row.preview-email-row.preview-another-row
									.col-sm-12.col-md-4
										.well
											h2  Date and time send
											ul.sidebar-info.is-edit-off
												li
													| Sending on 12/21/2018 at 12:00am
											input.form-control.has-floating-label.is-edit-on(type='datetime-local', value="2018-12-21T12:00", name='dateTimeEmail', id='dateTimeEmail', data-error="Please enter the email date and time to send.", required)

										.well
											h2 Target Segment List
											ul.is-edit-off
												li
													| Segment 1
													span
														- var icon = "document"
														- var iconClasses = "brand-primary icon-inline-right"
														include ../shared/icon
												li
													| Segment 2
													span
														- var icon = "document"
														- var iconClasses = "brand-primary icon-inline-right"
														include ../shared/icon
												//li
												//	| Segment 3
												//	span
												//		- var icon = "document"
												//		- var iconClasses = "brand-primary icon-inline-right"
												//		include ../shared/icon

											table.responsive-table.is-edit-on
												thead
													tr
														th #
														th Segment name
														th Call to Action
												tbody
													tr
														td
															input(type='checkbox', checked)
														td Segment 1
														td
															input.form-control(type='text', name='testSegmentX', id='testSegmentX1', data-error="Please enter the email name.", placeholder="Donate Now")
													tr
														td
															input(type='checkbox', checked)
														td Segment 2
														td
															input.form-control(type='text', name='testSegmentX', id='testSegmentX2', data-error="Please enter the email name.", placeholder="Donate Now")
													tr
														td
															input(type='checkbox')
														td Segment 3
														td
															input.form-control(type='text', name='testSegmentX', id='testSegmentX3', data-error="Please enter the email name.", placeholder="Donate Now")

										.well
											h2 Send test email
											form(action='', data-toggle='validator')
												fieldset
													.form-group
														input#send-test-input6.form-control.input-lg(type='email', data-error='Please enter a correct email.')
														.form-sendtoyou
															span Send email to you: (billysmith@gmail.com)
															input.send-for-you-checkbox5(type='checkbox')
														.help-block.with-errors
														button.btn.btn-default.send-email-btn(type='button') Send

									.col-sm-12.col-md-8
										.preview-email-body
											.preview-email-top
												button.is-edit-off(type="button") Donate Now
												button.donate-btn.is-edit-on(type="button") Donate Now
											.preview-email-title
												.image
													img(src="/img/content/sample-logos/siena-heights.png")
												.text.preview-email-campaign-name
													| 2018 Test 5 EDC Email
											.preview-email-fields
												.preview-email-intro
													.welcome-title.welcome-scheduled-title.is-edit-off
														| Dear Dad,
													.is-edit-on
														.welcome-title.welcome-scheduled-title.bordered-editor.personalized-intro-show
															span
																| Dear Dad,
															span#hide-personalized-intro-btn(style="float: right;")
																- var icon = "remove"
																- var iconClasses = "brand-primary icon-inline-right"
																include ../shared/icon
														.show-paragraph-body.show-reminder-paragraph-body#personalized-intro-hide(style="padding-top: 20px;")
															span Include Personalized Intro
																- var icon = "add"
																- var iconClasses = "icon-inline-right"
																include ../shared/icon
												p.is-edit-off(style="padding: 0 15px 15px 15px;")
													| Some test text
												.bordered-editor.is-edit-on
													.preview-personal-edit-template.bordered-editor
														.bordered-wrapper
															.bordered-body
																#scheduledEmail-email_editor
												.preview-email-regards
													.regards Sincerely,
													span Billy Smith
												.preview-email-donate-btn.is-edit-off
													button(type="button") Donate Now
												.show-paragraph-body.show-reminder-paragraph-body#show-donate-btn(style="padding-top: 20px;")
													span Include Donate Now Button
														- var icon = "add"
														- var iconClasses = "icon-inline-right"
														include ../shared/icon
												.preview-email-donate-btn.donate-btn.bordered-editor.is-edit-on
													button(type="button") Donate Now
													span#hide-donate-btn(style="float: right; padding-top: 12px;")
														- var icon = "remove"
														- var iconClasses = "brand-primary icon-inline-right"
														include ../shared/icon
											.preview-email-bottom
												.bottom-explain * Upon your donation you will receive a “Thank You” email receipt that may be used for tax purposes. Please consult your tax preparer for any questions regarding non-profit donation deductions.
												.bottom-powered
													.powered Powered by
													.logo
														img(src="https://s3-us-west-2.amazonaws.com/assets.eteamsponsor.com/images/email/logo-ets-high.png")


