extends ./includes/sublayout

block pageVars
	- var title = "Scheduled Emails"
	- var includeDefaultPageTitle = true
	- var hasNav = true
	- var breadcrumbs = [{"url": "parent-organization-dashboard.html", "text": parentOrgName}, {"url": "child-organization-dashboard.html", "text": childOrgName}, {"url": "program-dashboard.html", "text": programName}]

block navPrimary
	include ./includes/navigation/_program-admin

block content
	section.row
		.sub-heading

			p.sub-heading-action
				a(href='program-scheduled-emails-create.html')
					| New email
					- var icon = "add"
					include ../shared/icon
		.col-xs-12
			table.responsive-table
				thead
					tr
						th Email Name
						th Sent Date
						th Sent Time
						th Segment
						th Status
						th Settings
				tbody
					tr
						td(data-label="Email Name") EDC Email
						td(data-label="Sent Date") 11/30/2018
						td(data-label="Sent Time") 05:45 AM
						td(data-label="Status") New segment 1, New segment 2
						td(data-label="Status") DRAFT
						td(data-label="Manage")
							ul.action-list
								li
									- var icon = "update"
									include ../shared/icon
									- var icon = "view"
									include ../shared/icon
									- var icon = "remove"
									include ../shared/icon
					tr
						td(data-label="Email Name") EDC Email 2
						td(data-label="Sent Date") 10/30/2018
						td(data-label="Sent Time") 05:50 AM
						td(data-label="Status") New segment 2
						td(data-label="Status") SENT
						td(data-label="Manage")
							ul.action-list
								li
									- var icon = "view"
									include ../shared/icon
