extends ./includes/sublayout

block pageVars
	- var title = '2018 SHU Women\'s Soccer'
	- var includeDefaultPageTitle = false
	- var additionalJsFiles = ["charts"]
	- var showSearch = true
	- var hasNav = true
	- var breadcrumbs = [{"url": "parent-organization-dashboard.html", "text": parentOrgName}, {"url": "child-organization-dashboard.html", "text": childOrgName}, {"url": "program-dashboard.html", "text": programName}]


block navPrimary
	include ./includes/navigation/_program-admin

block content
	#campaign-edit-template
		section.row.campaign-tabs
			.col-xs-12.edit-tabs
				// Nav tabs
				ul.nav.nav-tabs.tabs-left
					li.active
						a(href='#fundraiser', data-toggle='tab') Fundraiser
					li
						a(href='#needs', data-toggle='tab') Needs
			.col-xs-12.border-left
				// Tab panes
				.tab-content
					#fundraiser.tab-pane.active
						.row.row-eq-height
							.col-sm-12.col-md-12
								.logic-block
									.block-title
										h2 Basic Information
									.block-body.well
										.row
											form(action='', data-toggle='validator', data-disable='false')
												.col-sm-12.col-md-4
													span Name
												.col-sm-12.col-md-8
													fieldset
														.form-group
															input.form-control.input-lg.edit-input#ecampaignName(data-error='Please enter your campaign name.', value='2017 Siena Heights Univ Womens Soccer Challenge', required='' )
										.row
											form(action='', data-toggle='validator', data-disable='false')
												.col-sm-12.col-md-4
													span Expected Participation %
												.col-sm-12.col-md-8
													fieldset
														.form-group
															input.form-control.input-lg.edit-input#ecampaignParc(data-error='Please enter your campaign name.', value='100', required='' )
						.row
							.col-sm-12.col-md-6
								.logic-block
									.block-title
										h2 Important dates
									.block-body.well
										- var date = new Date().toISOString().split('T')[0];
										.row
											form(action='', data-toggle='validator', data-disable='false')
												.col-sm-12.col-md-4
													span Campaign Launch Date
												.col-sm-12.col-md-8
													fieldset
														.form-group
															input.form-control.input-lg.edit-input(data-error='Please enter your campaign launch date.', value="#{date}", type='date', required='' )
										.row
											form(action='', data-toggle='validator', data-disable='false')
												.col-sm-12.col-md-4
													span Progress Date
												.col-sm-12.col-md-8
													fieldset
														.form-group
															input.form-control.input-lg.edit-input(data-error='Please enter your progress date.', value="#{date}", type="date", required='' )
										.row
											form(action='', data-toggle='validator', data-disable='false')
												.col-sm-12.col-md-4
													span Email Campaign Begins
												.col-sm-12.col-md-8
													fieldset
														.form-group
															input.form-control.input-lg.edit-input(data-error='Please enter when your email campaign begins.', value="#{date}", type="date", required='' )
							.col-sm-12.col-md-6
								.logic-block
									.block-title
										h2 Donor letter variables
									.block-body.well
										.row
											form(action='', data-toggle='validator', data-disable='false')
												- var campaignYears = ['2018', '2019', '2020'];
												.col-sm-12.col-md-4
													span Campaign Year
												.col-sm-12.col-md-8
													fieldset
														.form-group
															select.form-control.input-lg.edit-input(required )
																each year in campaignYears
																	option(value=year) #{year}
										.row
											form(action='', data-toggle='validator', data-disable='false')
												- var campaignSeasons = ['Spring', 'Summer', 'Fall', 'Winter'];
												.col-sm-12.col-md-4
													span Campaign Season
												.col-sm-12.col-md-8
													fieldset
														.form-group
															select.form-control.input-lg.edit-input(required )
																each season in campaignSeasons
																	option(value=season) #{season}
						.row
							.col-sm-12.col-md-6
								.logic-block
									.block-title
										h2 Show checkboxes
									.block-body.well
										.row
											form(action='', data-toggle='validator', data-disable='false')
												.col-sm-12.col-md-8
													span Show Introductory Paragraph
												.col-sm-12.col-md-4
													fieldset
														.form-group
															input.edit-input(data-error='Please enter when your email campaign begins.', type="checkbox", required='' )
										.row
											form(action='', data-toggle='validator', data-disable='false')
												.col-sm-12.col-md-8
													span Show Payment Methods Paragraph
												.col-sm-12.col-md-4
													fieldset
														.form-group
															input.edit-input(data-error='Please enter when your email campaign begins.', type="checkbox", required='' )
										.row
											form(action='', data-toggle='validator', data-disable='false')
												.col-sm-12.col-md-8
													span Show Closing Paragraph
												.col-sm-12.col-md-4
													fieldset
														.form-group
															input.edit-input(data-error='Please enter when your email campaign begins.', type="checkbox", required='' )
										.row
											form(action='', data-toggle='validator', data-disable='false')
												.col-sm-12.col-md-8
													span Show goal for Program Administrator?
												.col-sm-12.col-md-4
													fieldset
														.form-group
															input.edit-input(data-error='Please enter when your email campaign begins.', type="checkbox", required='' )
										.row
											form(action='', data-toggle='validator', data-disable='false')
												.col-sm-12.col-md-8
													span Show goal for participants?
												.col-sm-12.col-md-4
													fieldset
														.form-group
															input.edit-input(data-error='Please enter when your email campaign begins.', type="checkbox", required='' )
							.col-sm-12.col-md-6
								.logic-block
									.block-title
										h2 Goals
									.block-body.well
										.row
											form(action='', data-toggle='validator', data-disable='false')
												.col-sm-12.col-md-8
													span Goal for Participants
												.col-sm-12.col-md-4
													fieldset
														.form-group
															input.form-control.input-lg.edit-input#ecampaignParcGoal(data-error='Please enter your participants goal.', type="text", value='$525' required='' )
										.row
											form(action='', data-toggle='validator', data-disable='false')
												.col-sm-12.col-md-8
													span Goal for Campaign
												.col-sm-12.col-md-4
													fieldset
														.form-group
															input.form-control.input-lg.edit-input#ecampaignGoal(data-error='Please enter campaign goal.', type="text", value='$3000' required='' )
						.row
							.col-sm-12.col-md-6
								.logic-block
									.block-title
										h2 Images
									.block-body.well
										.row
											form(action='', data-toggle='validator', data-disable='false')
												.col-sm-12.col-md-5
													span Show Introductory Paragraph
												.col-sm-12.col-md-7
													fieldset
														.form-group
															input.form-control.edit-input(data-error='Please enter your participants goal.', type="file", required='' )
										.row
											form(action='', data-toggle='validator', data-disable='false')
												.col-sm-12.col-md-5
													span Show Payment Methods Paragraph
												.col-sm-12.col-md-7
													fieldset
														.form-group
															input.form-control.edit-input(data-error='Please enter campaign goal.', type="file", required='' )

							.col-sm-12.col-md-6
								.logic-block
									.block-title
										h2 Accomplishments
									.block-body.well
										.row
											form(action='', data-toggle='validator', data-disable='false')
												.col-sm-12.col-md-5
													span Title for Accomplishments Section
												.col-sm-12.col-md-7
													fieldset
														.form-group
															input.form-control.input-lg.edit-input(data-error='Please enter your participants goal.', type="text", required='' )
										.row
											form(action='', data-toggle='validator', data-disable='false')
												.col-sm-12.col-md-5
													span Accomplishments
												.col-sm-12.col-md-7
													fieldset
														.form-group
															input.form-control.input-lg.edit-input(data-error='Please enter campaign goal.', type="text", required='' )
						.row
							link(href="//cdn.quilljs.com/1.3.6/quill.snow.css")
							link(rel='stylesheet', type='text/css', href='//cdn.quilljs.com/1.3.6/quill.snow.css')
							.col-sm-12
								.logic-block
									.block-title
										h2 Landing page
									.block-body.well
										.row
											form(action='', data-toggle='validator', data-disable='false')
												.col-sm-12.col-md-5
													span Video ID
												.col-sm-12.col-md-7
													fieldset
														.form-group
															input.form-control.input-lg.edit-input#vimeoId(data-error='Please enter your video id.', type="text", required='' )
										.row
											form(action='', data-toggle='validator', data-disable='false')
												.col-sm-12.col-md-12
													span Accomplishments
												.col-sm-12.col-md-12.edit-editor
													#editor
												.step-footer
													script(src='//cdn.quilljs.com/1.3.6/quill.min.js')
													script.
														var acomp = document.getElementById('editor');

														var editor = new Quill(acomp, {
															modules: {
																toolbar: true
															},
															theme: 'snow'
														});
						.row
							.col-sm-12
								button(type="button", class="btn btn-lg btn-primary pull-right save-campaign-btn") Save campaign
					#needs.tab-pane
						.logic-block
							.block-body.well
								.row
									form(action='', data-toggle='validator', data-disable='false')
										.col-sm-12.col-md-4
											span Additional needs
										.col-sm-12.col-md-8
											fieldset
												.form-group
													textarea.form-control.input-lg.edit-input(data-error='Please enter your campaign name.', type='textarea', value='2018 Test_Org_Program1 Second', required='' )
						.row
							.col-sm-12
								button(type="button", class="btn btn-lg btn-primary pull-right save-campaign-btn") Save campaign
