extends ./includes/sublayout

block pageVars
	- var title = "New Scheduled Email"
	- var includeDefaultPageTitle = true
	- var hasNav = true
	- var breadcrumbs = [{"url": "parent-organization-dashboard.html", "text": parentOrgName}, {"url": "child-organization-dashboard.html", "text": childOrgName}, {"url": "program-dashboard.html", "text": programName}];

block navPrimary
	include ./includes/navigation/_program-admin

block content
	.row
		link(href="//cdn.quilljs.com/1.3.6/quill.snow.css")
		link(rel='stylesheet', type='text/css', href='//cdn.quilljs.com/1.3.6/quill.snow.css')
		.layout-single-column
			h2.text-center New Scheduled Email
			form(action='program-admin-donor-list.html', data-toggle='validator', data-disable='false')
				fieldset
					legend.sr-only Add Donor
					ol.list-unstyled
						li.form-group
							.floating-label-group
								input.form-control.has-floating-label(type='text', name='emailName', id='emailName', data-error="Please enter the email name.", required)
								label.floating-label(for='emailName') Email Name
							.help-block.with-errors
						li.form-group
							.floating-label-group.decorator-select
								select.form-control.has-floating-label.dynamic-form-ui-trigger(name='emailStatus', id='emailStatus', data-error="Please select email status.", data-dynamic-form-ui-name="emailStatus", required)
									option(value='', selected, disabled)
									option.dynamic-form-ui-hide(value='true') Draft
									option.dynamic-form-ui-show(value='false') Final
								label.floating-label(for='emailStatus') Please, select email status
						li.form-group
							label Date and time send
							.group
								input.form-control.has-floating-label(type='datetime-local', name='dateTimeEmail', id='dateTimeEmail', data-error="Please enter the email date and time to send.", required)
							.help-block.with-errors
						li.form-group
							.floating-label-group
								input.form-control.has-floating-label(type='text', name='subjectLine', id='subjectLine', data-error="Please enter the subject line.", required)
								label.floating-label(for='subjectLine') Subject Line
							.help-block.with-errors
						li.form-group
							label.lightweight(for='campaign1')
								input#campaign1(type='checkbox', name='personalizedIntro', checked)
								|  Personalized Intro
								a(href='#', title='Include Personalized Intro or Not')
									- var icon = "info"
									- var iconClasses = "brand-primary icon-inline-right"
									include ../shared/icon
						li.form-group
							.floating-label-group
								label.floating-label Email Body
								#scheduledEmailBody(style="height: 200px;")
								script(src='//cdn.quilljs.com/1.3.6/quill.min.js')
								script.
									var acomp = document.getElementById('scheduledEmailBody');
									var editor = new Quill(acomp, {
										modules: {
											toolbar: true
										},
										theme: 'snow'
									});
						li
							.floating-label-group
								label.floating-label Select which segment you'd like to send to.
							table.responsive-table
								thead
									tr
										th #
										th Segment name
										th Call to Action
								tbody
									tr
										td
											input(type='checkbox')
										td Test segment 1
										td
											input.form-control(type='text', name='testSegmentX', id='testSegmentX1', data-error="Please enter the email name.", placeholder="Donate Now")
									tr
										td
											input(type='checkbox')
										td Test segment 2
										td
											input.form-control(type='text', name='testSegmentX', id='testSegmentX2', data-error="Please enter the email name.", placeholder="Donate Now")
									tr
										td
											input(type='checkbox')
										td Test segment 3
										td
											input.form-control(type='text', name='testSegmentX', id='testSegmentX3', data-error="Please enter the email name.", placeholder="Donate Now")
						li.form-group.text-center
							input.btn.btn-lg.btn-primary(type='submit', value='Save')
							a.btn.btn-lg.btn-default(href='program-scheduled-emails.html') Cancel
