extends ./includes/sublayout

block pageVars
	- var title = campaign1Name
	- var includeDefaultPageTitle = true
	- var additionalJsFiles = ["charts"]
	- var showSearch = true
	- var hasNav = true
	- var resources = {"Asana Task": "https://app.asana.com/0/80660851875913/116709693745183"};
	- var breadcrumbs = [{"url": "parent-organization-dashboard.html", "text": parentOrgName}, {"url": "child-organization-dashboard.html", "text": childOrgName}, {"url": "program-dashboard.html", "text": programName}]

block navPrimary
	include ./includes/navigation/_program-admin

block content
	section.row
		.col-xs-12
			p
				span.label-sibling February 1, 2017 - March 7, 2017
				span.label.label-primary Complete
				span.label.label-default 0 Days Remaining
				icon-link(
				title="This campaign supports Event Driven Functionality"
				style="margin-left: 10px;")
					- var icon = "calendar"
					- var iconClasses = "brand-primary"
					include ../shared/icon
	section.row
		.col-xs-12
			h2 Donations
			.tile-container.tile-count-3
				- var tileMetric1Value = "$11,695"
				- var tileMetric1Name = "Raised"
				- var tileMetric2Value = "$10,000"
				- var tileMetric2Name = "Goal"
				- var tileProgressValue = "117"
				- var tileExtraClass = "tile-small"

				include ../eteamsponsor-shared/tile-with-metric

				- var tileMetric1Value = "147"
				- var tileMetric1Name = "Number of Donations"
				- var tileMetric2Value = "497"
				- var tileMetric2Name = "Prospects"
				- var tileProgressValue = "30"
				- var tileExtraClass = "tile-small"

				include ../eteamsponsor-shared/tile-with-metric

				.tile.tile-large
					canvas(data-chart-name="campaign", data-chart-type="line", data-chart-dynamic-dataset="true", data-chart-begin-at-zero="true")
					p.disclaimer-muted * Projections are provided for illustrative purposes only, not as a promise or a guarantee.
		.col-xs-12
			.tile-container.tile-count-3
				.tile
					h3.tile-metric $500
					p.tile-title Largest Donation
				.tile
					h3.tile-metric $79.56
					p.tile-title Average Donation
				.tile
					h3.tile-metric 87%
					p.tile-title Donors Outside of Your ZIP Code
	section.row
		.col-xs-12
			h2 Current Participation
			.tile-container.tile-count-3
				.tile.danger
					h3.tile-metric
						- var icon = "error"
						- var iconClasses = "danger"
						include ../shared/icon
						| 5
					p.tile-title Not Participating
				.tile.warning
					h3.tile-metric
						- var icon = "warning"
						- var iconClasses = "warning"
						include ../shared/icon
						| 10
					p.tile-title Under Participating
				.tile
					h3.tile-metric 25
					p.tile-title Fully Participating
			.tile-container.tile-count-3
				- var tileMetric1Value = "30"
				- var tileMetric1Name = "Total Participants"
				- var tileMetric2Value = "31"
				- var tileMetric2Name = "Number of Potential Participants"
				- var tileProgressValue = "97"
				- var tileExtraClass = ""

				include ../eteamsponsor-shared/tile-with-metric

				- var tileMetric1Value = "17"
				- var tileMetric1Name = "Average Number of Prospects Per Participant"
				- var tileMetric2Value = "20"
				- var tileMetric2Name = "Goal Number of Prospects Per Participant"
				- var tileProgressValue = "85"
				- var tileExtraClass = ""

				include ../eteamsponsor-shared/tile-with-metric

				- var tileMetric1Value = "$403"
				- var tileMetric1Name = "Average Per Participant"
				- var tileMetric2Value = "$322"
				- var tileMetric2Name = "Goal Per Participant"
				- var tileProgressValue = "125"
				- var tileExtraClass = ""

				include ../eteamsponsor-shared/tile-with-metric
			p
				a.btn.btn-lg.btn-primary(href='participation-report.html', title="Participation Report for #{campaign1Name}", aria-label="Participation Report for #{campaign1Name}") Participation Report
	section.row
		.col-xs-12
			h2 Social Sharing
			.tile-container.tile-count-3
				.tile
					h3.tile-metric 16 shares
					- var icon = "facebook"
					- var iconClasses = "facebook"
					include ../shared/icon
				.tile
					h3.tile-metric 20 tweets
					- var icon = "twitter"
					- var iconClasses = "twitter"
					include ../shared/icon
				.tile
					h3.tile-metric 30 texts
					- var icon = "sms"
					- var iconClasses = "gray"
					include ../shared/icon

	script.
		var chartConfig = {
			'campaign': {
				data: {
					small: {
						labels: ["Kickoff", "12/2", "12/6", "12/10", "12/14", "12/18", "12/22", "12/26", "12/30"],
						datasets: [{
							label: 'Raised',
							data: [0, 900, 2900, 4800, 7000, 8800, 9575, 10350, 10900],
							backgroundColor: '#3ab44a',
							borderColor: '#3ab44a'
						}, {
							label: 'Goal',
							data: [0, 1221, 3309, 5053, 6513, 7719, 8692, 9448, 10000],
							backgroundColor: '#f0dc00',
							borderColor: '#f0dc00'
						}, {
							label: '100% Participation*',
							data: [0, 2777, 5063, 6979, 8575, 9881, 10916, 11699, 12000],
							backgroundColor: '#000000',
							borderColor: '#000000'
						}]
					},
					medium: {
						labels: ["Kickoff", "12/2", "12/4", "12/6", "12/8", "12/10", "12/12", "12/14", "12/16", "12/18", "12/20", "12/22", "12/24", "12/26", "12/28", "12/30"],
						datasets: [{
							label: 'Raised',
							data: [0, 900, 2000, 2900, 3800, 4800, 6000, 7000, 8100, 8800, 9300, 9575, 10000, 10350, 10700, 10900],
							backgroundColor: '#3ab44a',
							borderColor: '#3ab44a'
						}, {
							label: 'Goal',
							data: [0, 1221, 2314, 3309, 4219, 5053, 5816, 6513, 7146, 7719, 8234, 8692, 9097, 9448, 9749, 10000],
							backgroundColor: '#f0dc00',
							borderColor: '#f0dc00'
						}, {
							label: '100% Participation*',
							data: [0, 1465, 2777, 3971, 5063, 6064, 6979, 7816, 8575, 9263, 9881, 10428, 10916, 11336, 11699, 12000],
							backgroundColor: '#000000',
							borderColor: '#000000'
						}]
					},
					large: {
						labels: ["Kickoff", "12/1", "12/2", "12/3", "12/4", "12/5", "12/6", "12/7", "12/8", "12/9", "12/10", "12/11", "12/12", "12/13", "12/14", "12/15", "12/16", "12/17", "12/18", "12/19", "12/20", "12/21", "12/22", "12/23", "12/24", "12/25", "12/26", "12/27", "12/28", "12/29", "12/30"],
						datasets: [{
							label: 'Raised',
							data: [0, 500, 900, 1500, 2000, 2500, 2900, 3300, 3800, 4100, 4800, 5500, 6000, 6500, 7000, 7600, 8100, 8400, 8800, 9100, 9300, 9450, 9575, 9875, 10000, 10200, 10350, 10600, 10700, 10800, 10900],
							backgroundColor: '#3ab44a',
							borderColor: '#3ab44a'
						}, {
							label: 'Goal',
							data: [0, 631, 1221, 1781, 2314, 2823, 3309, 3774, 4219, 4645, 5053, 5443, 5816, 6172, 6513, 6837, 7146, 7440, 7719, 7983, 8234, 8470, 8692, 8901, 9097, 9279, 9448, 9605, 9749, 9880, 10000],
							backgroundColor: '#f0dc00',
							borderColor: '#f0dc00'
						}, {
							label: '100% Participation*',
							data: [0, 757, 1465, 2137, 2777, 3388, 3971, 4529, 5063, 5574, 6064, 6532, 6979, 7406, 7816, 8204, 8575, 8928, 9263, 9580, 9881, 10164, 10428, 10681, 10916, 11135, 11336, 11526, 11699, 11856, 12000],
							backgroundColor: '#000000',
							borderColor: '#000000'
						}]
					}
				},
				aspectRatios: {
					small: '1.5:1',
					medium: '2:1',
					large: '16:9'
				}
			}
		};
