extends ./includes/sublayout

block pageVars
	- var title = "Child Organization Dashboard"
	- var includeDefaultPageTitle = false
	- var hasNav = true
	- var showSearch = true
	- var resources = {"Asana Task": "https://app.asana.com/0/80660851875913/159487930213451", "Webflow Prototype": "http://ets-login-00178f162e256aa7dac5711529493.webflow.io/org-management/child-org-dashboard", "Notes": ['The "Add Donor" icons will take you to the Program Admin\'s page to add a new donor.']};
	- var breadcrumbs = [{"url": "parent-organization-dashboard.html", "text": parentOrgName}];

block navPrimary
	include ./includes/navigation/_org-admin

block content
	include ./includes/_child-org-heading
	section.row
		.col-xs-12
			.tile-container.tile-count-3
				.tile
					h3.tile-metric $1,015
					p.tile-title
						a(href="donation-detail.html") Donated Today
					h3.tile-metric.is-goal 13
					p.tile-title # of Donations
				.tile
					h3.tile-metric $245
					p.tile-title
						a(href="donation-detail.html") Offline Donations Today
					h3.tile-metric.is-goal 3
					p.tile-title # of Donations
				.tile
					h3.tile-metric $5,125
					p.tile-title
						a(href="#") Remitted Last Month
	section.row
		.sub-heading
			h2.sub-heading-name Pre-launch Campaigns
			p.sub-heading-action
				a(href='#')
					| New Campaign
					- var icon = "trending-up"
					include ../shared/icon

		- var campaignName = "2017 Siena Heights Univ Cheer Challenge"
		- var campaignStartDate = "August 2, 2017"
		- var campaignLaunchDate = "August 4, 2017"
		.col-sm-6.col-md-4
			include ./includes/_campaign-summary-pre-launch

		- var campaignName = "2017 Siena Heights Univ Men's Soccer Challenge"
		- var campaignStartDate = "August 20, 2017"
		- var campaignLaunchDate = "August 21, 2017"
		.col-sm-6.col-md-4
			include ./includes/_campaign-summary-pre-launch

		- var campaignName = "2017 Siena Heights Univ Dance Challenge"
		- var campaignStartDate = "August 21, 2017"
		- var campaignLaunchDate = "August 22, 2017"
		.col-sm-6.col-md-4
			include ./includes/_campaign-summary-pre-launch

	section.row
		.sub-heading
			h2.sub-heading-name Active Campaigns

		- var campaignName = "2017 Siena Heights Univ Men's Lacrosse Challenge"
		- var campaignAmountRaised = "$11,695"
		- var campaignDaysRemaining = 1
		.col-sm-6.col-md-4
			include ./includes/_campaign-summary

		- var campaignName = "2017 Siena Heights Univ Baseball Challenge"
		- var campaignAmountRaised = "$9,731"
		- var campaignDaysRemaining = 3
		.col-sm-6.col-md-4
			include ./includes/_campaign-summary

		- var campaignName = "2017 Siena Heights Univ Women's Lacrosse Challenge"
		- var campaignAmountRaised = "$5,878"
		- var campaignDaysRemaining = 4
		.col-sm-6.col-md-4
			include ./includes/_campaign-summary

		- var campaignName = "2017 Siena Heights Univ Women's Volleyball Challenge"
		- var campaignAmountRaised = "$2,550"
		- var campaignDaysRemaining = 28
		.col-sm-6.col-md-4
			include ./includes/_campaign-summary

		- var campaignName = "2017 Siena Heights Univ Women's Soccer Challenge"
		- var campaignAmountRaised = "$5,037"
		- var campaignDaysRemaining = 31
		.col-sm-6.col-md-4
			include ./includes/_campaign-summary

		- var campaignName = "2017 Siena Heights Univ Football Challenge"
		- var campaignAmountRaised = "$1,915"
		- var campaignDaysRemaining = 35
		.col-sm-6.col-md-4
			include ./includes/_campaign-summary

		.col-sm-12
			include ./includes/_pagination
		.col-sm-12
			p
				a(href="#") View completed campaigns
	section.row
		.col-xs-12
			h2 Monthly Totals
			table.responsive-table
				thead
					tr
						th Month
						th Donated
						th Canceled Donations
				tbody
					tr
						td
							a(href="monthly-totals-detail.html") February 2017
						td(data-label="Donated") $14,380
						td(data-label="Canceled Donations")
							a(href="canceled-donation-detail.html") 1
					tr
						td
							a(href="monthly-totals-detail.html") January 2017
						td(data-label="Donated") $5,290
						td(data-label="Canceled Donations")
							a(href="canceled-donation-detail.html") 0
					tr
						td
							a(href="monthly-totals-detail.html") December 2016
						td(data-label="Donated") $2,510
						td(data-label="Canceled Donations")
							a(href="canceled-donation-detail.html") 0
					tr
						td
							a(href="monthly-totals-detail.html") November 2016
						td(data-label="Donated") $2,940
						td(data-label="Canceled Donations")
							a(href="canceled-donation-detail.html") 0
					tr
						td
							a(href="monthly-totals-detail.html") October 2016
						td(data-label="Donated") $10,100
						td(data-label="Canceled Donations")
							a(href="canceled-donation-detail.html") 1
					tr
						td
							a(href="monthly-totals-detail.html") September 2016
						td(data-label="Donated") $7,015
						td(data-label="Canceled Donations")
							a(href="canceled-donation-detail.html") 0
			include ./includes/_pagination
	section.row
		.col-sm-6
			h2 Manage Programs
			ul.action-icons
				li.action-item
					a(href="#")
						- var icon = "trophy"
						- var iconClasses = ""
						include ../shared/icon
						| Add Program
				li.action-item
					a(href="#")
						- var icon = "trending-up"
						- var iconClasses = ""
						include ../shared/icon
						| New Campaign
				li.action-item
					a(href="#")
						- var icon = "account"
						- var iconClasses = ""
						include ../shared/icon
						| Merchant Accounts
		.col-sm-6
			h2 Manage People
			ul.action-icons
				li.action-item
					a(href="add-user.html")
						- var icon = "person-add"
						- var iconClasses = ""
						include ../shared/icon
						| Add User
				li.action-item
					a(href="manage-users.html")
						- var icon = "people"
						- var iconClasses = ""
						include ../shared/icon
						| Manage Users
				li.action-item
					a(href="#")
						- var icon = "file-excel"
						- var iconClasses = ""
						include ../shared/icon
						| Download Donors
