extends ./includes/sublayout

block pageVars
    - var title = "Completed campaigns"
    - var includeDefaultPageTitle = false;

block content

    .row
        .sub-heading
            h2.sub-heading-name Completed Campaigns
            p.sub-heading-action
                a(href='program-dashboard.html')
                    | Campaigns Dashboard
                    - var icon = "trending-up"
                    include ../shared/icon
    section.row
        .col-sm-12
            .callout
                h3 SHU Women's Soccer
                table.responsive-table
                    thead
                        tr
                            th Campaign
                            th Start date
                            th End date
                            th Goal
                            th Manage
                    tbody
                        tr
                            td(data-label="Campaign")
                                a(href="program-dashboard.html") 2017 SHU Women's Soccer Challenge
                            td(data-label="Start date")
                                span 03-03-2017
                            td(data-label="End date")
                                span 06-03-2017
                            td(data-label="Goal", style="color: green")
                                | $7854 / $5000
                            td(data-label="Manage")
                                ul.action-list
                                    li
                                        a(href="campaign-edit.html", title="Update challenge", aria-label="Update campaign")
                                            - var icon = "update"
                                            - var iconClasses = ""
                                            include ../shared/icon
                                    li
                                        a.interruption-navigation-trigger(href="campaign-edit.html", title="Archive this campaign", aria-label="Archive this campaign", data-interruption-message="Are you sure you want to archive this user?", data-interruption-confirm-text="Yes", data-interruption-cancel-text="No")
                                            - var icon = "remove"
                                            - var iconClasses = ""
                                            include ../shared/icon
        .col-sm-12
            .callout
                h3 SHU Women's Basketball
                table.responsive-table
                    thead
                        tr
                            th Campaign
                            th Start date
                            th End date
                            th Goal
                            th Manage
                    tbody
                        tr
                            td(data-label="Campaign")
                                a(href="program-dashboard.html") 2017 SHU Women's Basketball Super
                            td(data-label="Start date")
                                span 01-20-2017
                            td(data-label="End date")
                                span 04-03-2017
                            td(data-label="Goal", style="color: red")
                                | $13505 / $15000
                            td(data-label="Manage")
                                ul.action-list
                                    li
                                        a(href="campaign-edit.html", title="Update challenge", aria-label="Update campaign")
                                            - var icon = "update"
                                            - var iconClasses = ""
                                            include ../shared/icon
                                    li
                                        a.interruption-navigation-trigger(href="campaign-edit.html", title="Archive this campaign", aria-label="Archive this campaign", data-interruption-message="Are you sure you want to archive this user?", data-interruption-confirm-text="Yes", data-interruption-cancel-text="No")
                                            - var icon = "remove"
                                            - var iconClasses = ""
                                            include ../shared/icon
                        tr
                            td(data-label="Campaign")
                                a(href="program-dashboard.html") 2016 SHU Basketball Challenge
                            td(data-label="Start date")
                                span 09-03-2016
                            td(data-label="End date")
                                span 11-03-2016
                            td(data-label="Goal", style="color: green")
                                | $11278 / $10000
                            td(data-label="Manage")
                                ul.action-list
                                    li
                                        a(href="campaign-edit.html", title="Update challenge", aria-label="Update campaign")
                                            - var icon = "update"
                                            - var iconClasses = ""
                                            include ../shared/icon
                                    li
                                        a.interruption-navigation-trigger(href="campaign-edit.html", title="Archive this campaign", aria-label="Archive this campaign", data-interruption-message="Are you sure you want to archive this user?", data-interruption-confirm-text="Yes", data-interruption-cancel-text="No")
                                            - var icon = "remove"
                                            - var iconClasses = ""
                                            include ../shared/icon