extends ./includes/sublayout

block pageVars
	- var title = "Donation Detail"
	- var includeDefaultPageTitle = true
	- var resources = {"Notes": ["This page can be viewed for either a parent org or a child org.  The breadcrumbs will need to include the child org if viewing data at child org level."]}
	- var breadcrumbs = [{"url": "parent-organization-dashboard.html", "text": parentOrgName}]

block content
	include ./includes/_donation-detail
