extends ./includes/sublayout

block pageVars
	- var title = "Donor Results"
	- var includeDefaultPageTitle = true
	- var resources = {"Asana Task": "https://app.asana.com/0/80660851875913/151844403331184"}

block content
	.row
		.col-xs-12
			form.form-inline(action="donor-results.html")
				- var searchTerm = "Smith"
				- var searchType = "donor"
				include ./includes/_search-form-donors-and-participants
	.row
		.col-xs-12
			script.
				var navigationOptions = navigationOptions || {};

				navigationOptions.addDonation = {
					"title": "Add Donation",
					"message": "Which type of donation would you like to add?",
					"buttons": [
						{
							"name": "check",
							"label": "Check",
							"class": "btn-primary",
							"url": "manual-donation-check.html"
						},
						{
							"name": "card",
							"label": "Card",
							"class": "btn-primary",
							"url": "manual-donation-card.html"
						}
					]
				};
			table.responsive-table
				thead
					tr
						th Donor
						th Donor Email
						th Participant
						th Campaign
						th Last Donation
						th Add $
				tbody
					- for (var i = 0; i < 10; i++)
						tr
							td(data-label="Donor")
								a(href="donor-detail.html", title="View donor detail for Bob Smith #{i + 1}", aria-label="View donor detail for Bob Smith #{i + 1}") Bob Smith #{i + 1}
							td(data-label="Donor Email")
								a(href="mailto:bobsmith#{i + 1}@gmail.com") bobsmith#{i + 1}@gmail.com
							td(data-label="Participant")
								a(href="participant-detail.html", title="View participant detail for Billy Smith #{i + 1}", aria-label="View participant detail for Billy Smith #{i + 1}") Billy Smith #{i + 1}
							td(data-label="Campaign)")
								a(href="campaign-dashboard.html") #{programType} - #{campaign1Name}
							td(data-label="Last Donation") $50 - 12/1/2015
							td(data-label="Add $")
								ul.action-list
									li
										a.interruption-navigation-options(href="#", title="Add Donation", aria-label="Add Donation", data-interruption-key="addDonation", data-interruption-append-to-url="?donorId=" + (i + 1))
											- var icon = "money"
											include ../shared/icon

			include ./includes/_pagination
			h2 These aren't the donors you're looking for?
			p Try searching by participant instead of donor.
