extends ./includes/sublayout

block pageVars
	- var title = "Donor Detail"
	- var includeDefaultPageTitle = true
	- var hasNav = true
	- var resources = {"Asana Task": "https://app.asana.com/0/80660851875913/180052733773567", "Notes": ["'Active Campaigns' content could require significant efforts on the back-end to tie multiple IND_SPONSOR records across multiple participants.", "'Active Campaigns' should only be visible to Program Admins and higher.  The list of campaigns will only include those which the user has permission to view.", "Editing the donor will require some kind of interruption method to edit their name and email as a 'bulk edit' for all participants they're connected to.", "The donor's address to be shown is their most recently known address.  If they've donated multiple times, but with different addresses, choose their most recent one.  If their most recent donation has an empty address, show the last entered address from another donation.  If no address exists, do not show their address.", "Clicking the 'Send Receipt' icon for a donation will immediately send the receipt and refresh this page with an info alert with the message 'A receipt has been sent to (donor name)'s email (donor email) for their donation of (dollar amount) to (campaign name)'"]};
	- var breadcrumbs = [{"url": "parent-organization-dashboard.html", "text": parentOrgName}, {"url": "child-organization-dashboard.html", "text": childOrgName}, {"url": "program-dashboard.html", "text": programName}, {"url": "campaign-dashboard.html", "text": campaign1Name}];

block navPrimary
	include ./includes/navigation/_program-admin

block content
	script.
		var navigationOptions = navigationOptions || {};

		navigationOptions.addDonation = {
			"title": "Add Donation",
			"message": "Which type of donation would you like to add?",
			"buttons": [
				{
					"name": "check",
					"label": "Check",
					"class": "btn-primary",
					"url": "manual-donation-check.html"
				},
				{
					"name": "card",
					"label": "Card",
					"class": "btn-primary",
					"url": "manual-donation-card.html"
				}
			]
		};
	.row
		.col-sm-12
			.callout(itemscope, itemtype="https://schema.org/Person")
				.row
					.detail-heading
						h1.detail-heading-title(itemprop="name") Bob Smith
						h2.detail-heading-details
							| Donated:
							span.detail-heading-stat  $300
					section.col-xs-12
						a(href="mailto:bobsmith@gmail.com", itemprop="email") bobsmith@gmail.com
						div(itemscope, itemprop="address", itemtype="https://schema.org/PostalAddress")
							span(itemprop="streetAddress") 123 Easy Street
							span(itemprop="addressLocality") Portland
							span(itemprop="addressRegion") OR
							spam(itemprop="postalCode") 97219
						h3 Donations
						table.responsive-table
							thead
								tr
									th Participant
									th Relationship
									th Campaign
									th Donation
									th Manage
							tbody
								- for (var i = 0; i < 3; i++)
									tr
										td(data-label="Participant")
											a(href="participant-detail.html", title="View participant detail for Billy Smith #{i + 1}", aria-label="View participant detail for Billy Smith #{i + 1}") Billy Smith #{i + 1}
										td(data-label="Relationship") Uncle
										td(data-label="Campaign")
											a(href="campaign-dashboard.html") #{programType} - #{campaign1Name} #{i + 1}
										td(data-label="Donation") $#{50 * (i + 1)} - 12/#{i+ 1}/2015 - Check
										td(data-label="Manage")
											ul.action-list
												li
													a(href="update-donation.html", title="Update <dollar amount> Donation from <donor name>", aria-label="Update <dollar amount> Donation from <donor name>")
														- var icon = "update"
														- var iconClasses = ""
														include ../shared/icon
												li
													a(href="#", title="Send receipt for <dollar amount> Donation to <donor name>", aria-label="Send receipt for <dollar amount> Donation to <donor name>")
														- var icon = "send"
														- var iconClasses = ""
														include ../shared/icon
												li
													a.interruption-navigation-trigger(href="#", title="Cancel <dollar amount> Donation from <donor name>", aria-label="Cancel <dollar amount> Donation from <donor name>", data-interruption-message="Are you sure you want to cancel this donation?", data-interruption-cancel-text="No", data-interruption-confirm-text="Yes")
														- var icon = "money-off"
														- var iconClasses = ""
														include ../shared/icon
						h3 Active Campaigns
						table.responsive-table
							thead
								tr
									th Participant
									th Relationship
									th Campaign
									th Status
									th Manage
							tbody
								- for (var i = 0; i < 3; i++)
									tr
										td(data-label="Participant")
											a(href="participant-detail.html", title="View participant detail for Billy Smith #{i + 1}", aria-label="View participant detail for Billy Smith #{i + 1}") Billy Smith #{i + 1}
										td(data-label="Relationship") Uncle
										td(data-label="Campaign")
											a(href="campaign-dashboard.html") #{programType} - #{campaign1Name} #{i + 1}
										td(data-label="Status") Donated
										td(data-label="Manage")
											ul.action-list
												li
													a.interruption-navigation-options(href="#", title="Add Donation", aria-label="Add Donation", data-interruption-key="addDonation", data-interruption-append-to-url="?donorId=" + (i + 1))
														- var icon = "money"
														- var iconClasses = ""
														include ../shared/icon
												li
													a.interruption-navigation-trigger(href="#", title="Deactivate Donor", aria-label="Deactivate Donor", data-interruption-message="Are you sure you want to deactivate this donor for Billy Smith #{i + 1}?", data-interruption-cancel-text="No", data-interruption-confirm-text="Yes")
														- var icon = "remove"
														- var iconClasses = ""
														include ../shared/icon
