extends ./includes/sublayout

block pageVars
	- var title = "Donor Results"
	- var includeDefaultPageTitle = true
	- var resources = {"Asana Task": "https://app.asana.com/0/80660851875913/151844403331184"}

block content
	.row
		.col-xs-12
			form.form-inline(action="donor-results.html")
				- var searchTerm = "Wonka"
				- var searchType = "donor"
				include ./includes/_search-form-donors-and-participants
	.row
		.col-xs-12
			h2 No Results Found
			p Try searching by participant instead of donor.
