extends ./includes/sublayout

block pageVars
	- var title = "FundRaker Template Index"
	- var showSearch = true

block content
	.row
		.col-xs-12.col-sm-6
			h1 FundRaker Template Index
			ul
				li
					a(href="style-guide.html") Style Guide
				li Parent Organization
					ul
						li
							a(href="add-parent-organization.html") Add
						li
							a(href="update-parent-organization.html") Update
						li
							a(href="parent-organization-dashboard.html") Dashboard
				li Child Organization
					ul
						li
							a(href="add-child-organization.html") Add
						//li
						//	a(href="add-child-organization-edc.html") Add (EDC)
						li
							a(href="update-child-organization.html") Update
						//li
						//	a(href="update-child-organization-edc.html") Update	(EDC)
						li
							a(href="child-organization-dashboard.html") Dashboard
				li Organization
					ul
						li
							a(href="add-child-organization.html") Add
						//li
						//	a(href="add-child-organization-edc.html") Add (EDC)
						li
							a(href="update-child-organization.html") Update
						//li
						//	a(href="update-child-organization-edc.html") Update	(EDC)
						li
							a(href="organization-dashboard.html") Dashboard
						li
							a(href="organization-history-report.html") Organization History Report
				li Program
					ul
						li
							a(href="update-program.html") Update
						li
							a(href="program-dashboard.html") Dashboard
						li
							a(href="program-dashboard-edc.html") Dashboard (EDC)
						li
							a(href="manage-participants.html") Manage Participants
						li
							a(href="upload-participants.html") Upload Participants
						li
							a(href="add-participant.html") Add Participant
						li
							a(href="update-participant.html") Update Participant
						li
							a(href="program-donor-segments.html") Donor Segments (EDC)
						li
							a(href="program-donor-segment-create.html") Donor Segment Create (EDC)
						li
							a(href="program-donor-segment-update.html") Donor Segment Update (EDC)
						li Program Admin
							ul
								li
									a(href="program-admin-donor-list.html") Donor List
								li
									a(href="upload-donors.html") Upload Donors
								li
									a(href="program-admin-add-donor.html") Add Donor
								li
									a(href="program-admin-update-donor.html") Update Donor
				li Campaign
					ul
						li
							a(href="campaign-dashboard.html") Dashboard
						li
							a(href="campaign-dashboard.html") Dashboard (EDC)
						li
							a(href="campaign-edit.html") Edit campaign
						li
							a(href="completed-campaigns.html") Completed campaigns
						li
							a(href="participation-report.html") Participation Report
						li
							a(href="campaign-emails.html") Campaign Emails
						li
							a(href="campaign-emails-edc.html") Campaign Emails (EDC)
						//li
						//	a(href="campaign-scheduled-emails.html") Scheduled Emails (EDC)
						li
							a(href="campaign-scheduled-emails-create.html") Scheduled Email Create (EDC)
				li Advancement Director
					ul
						li
							a(href="add-advancement-director.html") Add
						li
							a(href="update-advancement-director.html") Update
				li Users
					ul
						li
							a(href="add-user.html") Add
						li
							a(href="update-user.html") Update
						li
							a(href="manage-users.html") Manage
						li
							a(href="user-detail.html") Detail
						li
							a(href="update-profile.html") Update Profile
				li Participants
					ul
						li
							a(href="add-participant.html") Add
						li
							a(href="update-participant.html") Update
						li
							a(href="participant-dashboard.html") Dashboard
						li
							a(href="participant-add-donor.html") Add Donor
						li
							a(href="participant-update-donor.html") Update Donor
						li
							a(href="participant-detail.html") Detail
						li
							a(href="privacy-policy.html") Privacy Policy
						li
							a(href="participant-printable-instructions.html") Printable Instructions
				li Donors
					ul
						li
							a(href="add-donor.html") Add
						li
							a(href="donor-detail.html") Donor Detail
						li
							a(href="update-donation.html") Update Donation
				li Accounting
					ul
						li
							a(href="monthly-totals-detail.html") Monthly Totals Detail
						li
							a(href="donation-detail.html") Donation Detail
						li
							a(href="canceled-donation-detail.html") Donation Detail - Canceled Donations
						li
							a(href="manual-donation-check.html") Enter Check Donation
						li
							a(href="manual-donation-card.html") Enter Card Donation
						li
							a(href="update-donation.html") Update Donation
						li Search
							ul
								li
									a(href="donor-results.html") Donor Results
								li
									a(href="donor-results-no-results-found.html") Donor Results (No Results Found)
								li
									a(href="participant-results.html") Participant Results
								li
									a(href="participant-results-no-results-found.html") Participant Results (No Results Found)
		.col-xs-12.col-sm-6
			h1 Navigation Examples
			ul
				li
					a(href="navigation-example-parent-org-admin.html") Parent Org Admin
				li
					a(href="navigation-example-org-admin.html") Org Admin
				li
					a(href="navigation-example-program-admin.html") Program Admin
				li
					a(href="navigation-example-campaign-specialist.html") Campaign Specialist
				li
					a(href="navigation-example-participant.html") Participant
		.col-xs-12
			p
				a.btn.btn-lg.btn-primary(href='../index.html')
					- var icon = "arrow-left"
					- var iconClasses = "icon-inline-left"
					include ../shared/icon
					| Back to Project Index
