extends ./includes/sublayout

block pageVars
	- var title = programName + " Participants"
	- var includeDefaultPageTitle = false
	- var hasNav = true
	- var resources = {"Asana Task": "https://app.asana.com/0/80660851875913/375565991148063", "Notes": ["There is currently no date for when a user has 'fully registered' and, as such, this will need to be added to the data model and business logic.", "Upload Participants functionality will only be accessible to ETS Admins and higher."]}
	- var breadcrumbs = [{"url": "parent-organization-dashboard.html", "text": parentOrgName}, {"url": "child-organization-dashboard.html", "text": childOrgName}, {"url": "program-dashboard.html", "text": programName}]

block navPrimary
	include ./includes/navigation/_program-admin

block content
	.row.page-header-group
		.col-xs-12
			h1 Manage Participants
	section.row
		.sub-heading
			h2.sub-heading-name Active Participants
			p.sub-heading-action
				a(href='add-participant.html')
					| Add Participant
					- var icon = "person-add"
					include ../shared/icon
				a(href='upload-participants.html', title='Upload Participants')
					| Upload Participants
					- var icon = "upload"
					include ../shared/icon
		.col-xs-12
			table.responsive-table
				thead
					tr
						th Name
						th Email
						th Cell Phone
						th Cell Provider
						th Registered
						th Manage
						th Resend
				tbody
					- for (var i = 0; i < 20; i++)
						tr
							td(data-label="Name")
								a(href="participant-detail.html", title="View participant detail for Billy Smith #{i + 1}", aria-label="View participant detail for Billy Smith #{i + 1}") Billy Smith #{i + 1}
							td(data-label="Email")
								a(href="mailto:billysmith#{i + 1}@gmail.com") billysmith#{i + 1}@gmail.com
							td(data-label="Cell Phone") (555) 555-123#{Math.floor(Math.random() * 10)}
							td(data-label="Cell Provider") Verizon
							td(data-label="Registered")
								if (i % 2 == 0)
									| 12-#{Math.floor(Math.random() * 31)}-2017
								else
									| No
							td(data-label="Manage")
								ul.action-list
									li
										a(href="update-participant.html", title="Update Billy Smith #{i + 1}", aria-label="Update Billy Smith #{i + 1}")
											- var icon = "update"
											include ../shared/icon
									li
										a.interruption-navigation-trigger(href="#", title="Graduate Billy Smith #{i + 1}", aria-label="Graduate Billy Smith #{i + 1}" data-interruption-message="Are you sure you want to graduate this participant?", data-interruption-confirm-text="Yes", data-interruption-cancel-text="No")
											- var icon = "graduate"
											include ../shared/icon
									li
										a.interruption-navigation-trigger(href="#", title="Delete Billy Smith #{i + 1}", aria-label="Delete Billy Smith #{i + 1}", data-interruption-message="Are you sure you want to delete this participant?", data-interruption-confirm-text="Yes", data-interruption-cancel-text="No")
											- var icon = "remove"
											include ../shared/icon
							td(data-label="Resend")
								ul.action-list
									li
										a(href="#", title="Resend Text to Billy Smith #{i + 1}", aria-label="Resend Text to Billy Smith #{i + 1}")
											- var icon = "sms"
											include ../shared/icon
									li
										a(href="#", title="Resend Password to Billy Smith #{i + 1}", aria-label="Resend Password to Billy Smith #{i + 1}")
											- var icon = "key"
											include ../shared/icon
	section.row
		.col-xs-12
			a.btn.btn-lg.btn-primary(href="#inactiveParticipants", data-toggle="collapse", data-collapsed-text="Show Inactive", data-expanded-text="Hide Inactive") Show Inactive
			.collapse#inactiveParticipants
				table.responsive-table
					thead
						tr
							th Name
							th Email
							th Cell Phone
							th Cell Provider
							th Activate
					tbody
						- for (var i = 0; i < 10; i++)
							tr
								td(data-label="Name")
									a(href="participant-detail.html", title="View participant detail for Bobby Smith #{i + 1}", aria-label="View participant detail for Bobby Smith #{i + 1}") Bobby Smith #{i + 1}
								td(data-label="Email")
									a(href="mailto:bobbysmith#{i + 1}@gmail.com") bobbysmith#{i + 1}@gmail.com
								td(data-label="Cell Phone") (555) 555-123#{Math.floor(Math.random() * 10)}
								td(data-label="Cell Provider") Verizon
								td(data-label="Activate")
									ul.action-list
										li
											a(href="#", title="Activate Bobby Smith #{i + 1}", aria-label="Activate Bobby Smith #{i + 1}")
												- var icon = "unarchive"
												include ../shared/icon
	section.row
		.col-xs-12
			h2 Participation Management
			ul.action-icons
				li.action-item
					a(href="#", title="This will resend welcome emails to all participants who have not fully participated.")
						- var icon = "email"
						include ../shared/icon
						| Send Participant Emails
				li.action-item
					a(href="#", title="This will send a text message with login information to all participants who hav a cell phone on file and have not fully participated.")
						- var icon = "sms"
						include ../shared/icon
						| Send Participant Texts
				li.action-item
					a(href="#", title="This will email the program administrator a list of participants with less than full participation.")
						- var icon = "email"
						include ../shared/icon
						| Email Participation Report
	section.row
		.col-xs-12
			h2 Export List
			.panel.panel-default
				.panel-heading
					ul.nav.nav-pills.nav-justified(role="tablist")
						li.active
							a(href="#all", role="tab", data-toggle="tab") All
						li
							a(href="#active", role="tab", data-toggle="tab") Active
						li
							a(href="#new", role="tab", data-toggle="tab") New
				.panel-body
					.tab-content
						.tab-pane.active#all(role="tabpanel")
							ul.action-icons
								li.action-item
									a(href="#", title="Export All to Excel", aria-label="Export All to Excel")
										- var icon = "file-excel"
										include ../shared/icon
										| Excel
								li.action-item
									a(href="#", title="Export All to PDF", aria-label="Export All to PDF")
										- var icon = "file-pdf"
										include ../shared/icon
										| PDF
						.tab-pane#active(role="tabpanel")
							ul.action-icons
								li.action-item
									a(href="#", title="Export Active to Excel", aria-label="Export Active to Excel")
										- var icon = "file-excel"
										include ../shared/icon
										| Excel
								li.action-item
									a(href="#", title="Export Active to PDF", aria-label="Export Active to PDF")
										- var icon = "file-pdf"
										include ../shared/icon
										| PDF
						.tab-pane#new(role="tabpanel")
							ul.action-icons
								li.action-item
									a(href="#", title="Export New to Excel", aria-label="Export New to Excel")
										- var icon = "file-excel"
										include ../shared/icon
										| Excel
								li.action-item
									a(href="#", title="Export New to PDF", aria-label="Export New to Excel")
										- var icon = "file-pdf"
										include ../shared/icon
										| PDF
