extends ./includes/sublayout

block pageVars
	- var title = "Manage Users"
	- var includeDefaultPageTitle = false;
	- var resources = {"Asana Task": "https://app.asana.com/0/8050569665770/136656978190198", "Webflow Prototype": "http://ets-login-00178f162e256aa7dac5711529493.webflow.io/users/manage-users"};
	- var breadcrumbs = [{"url": "parent-organization-dashboard.html", "text": parentOrgName}];

block content
	include ./includes/_org-heading
	.row
		.sub-heading
			h2.sub-heading-name Manage Users
			p.sub-heading-action
				a(href='add-user.html')
					| Add User
					- var icon = "person-add"
					include ../shared/icon
	section.row
		.col-sm-12
			.callout
				h3 #{childOrgName2}
				table.responsive-table
					thead
						tr
							th Name
							th Email
							th Phone
							th Role
							th Manage
					tbody
						tr
							td(data-label="Name")
								a(href="user-detail.html", title="View user detail for Kim Schuck", aria-label="View user detail for Kim Schuck") Kim Schuck
							td(data-label="Email")
								a(href="mailto:kaschuck@" + parentOrgDomain) kaschuck@#{parentOrgDomain}
							td(data-label="Phone")
								a(href="tel:#", title="Call Kim Schuck", aria-label="Call Kim Schuck") #{parentOrgPhone}
							td(data-label="Role")
								| Org Admin
							td(data-label="Manage")
								ul.action-list
									li
										a.interruption-navigation-trigger(href="manage-users.html", title="Remove Kim Schuck as VIP", aria-label="Remove Kim Schuck as VIP", data-interruption-message="Are you sure you want to remove this user from your VIP list?", data-interruption-confirm-text="Yes", data-interruption-cancel-text="No")
											- var icon = "star"
											- var iconClasses = ""
											include ../shared/icon
									li
										a(href="update-user.html", title="Update Kim Schuck", aria-label="Update Kim Schuck")
											- var icon = "update"
											- var iconClasses = ""
											include ../shared/icon
									li
										a.interruption-navigation-trigger(href="manage-users.html", title="Archive Kim Schuck", aria-label="Archive Kim Schuck", data-interruption-message="Are you sure you want to archive this user?", data-interruption-confirm-text="Yes", data-interruption-cancel-text="No")
											- var icon = "remove"
											- var iconClasses = ""
											include ../shared/icon
		.col-sm-12
			.callout
				h3 #{childOrgName}
				table.responsive-table
					thead
						tr
							th Name
							th Email
							th Phone
							th Role
							th Manage
					tbody
						tr
							td(data-label="Name")
								a(href="user-detail.html", title="View user detail for Ellen O'Connor", aria-label="View user detail for Ellen O'Connor") Ellen O'Connor
							td(data-label="Email")
								a(href="mailto:oconnore@" + parentOrgDomain) oconnore@#{parentOrgDomain}
							td(data-label="Phone")
								a(href="tel:#", title="Call Ellen O'Connor", aria-label="Call Ellen O'Connor") #{parentOrgPhone}
							td(data-label="Role")
								| Org Admin
							td(data-label="Manage")
								ul.action-list
									li
										a.interruption-navigation-trigger(href="manage-users.html", title="Remove Ellen O'Connor as VIP", aria-label="Remove Ellen O'Connor as VIP", data-interruption-message="Are you sure you want to remove this user from your VIP list?", data-interruption-confirm-text="Yes", data-interruption-cancel-text="No")
											- var icon = "star"
											- var iconClasses = ""
											include ../shared/icon
									li
										a(href="update-user.html", title="Update Ellen O'Connor", aria-label="Update Ellen O'Connor")
											- var icon = "update"
											- var iconClasses = ""
											include ../shared/icon
									li
										a.interruption-navigation-trigger(href="manage-users.html", title="Archive Ellen O'Connor", aria-label="Archive Ellen O'Connor", data-interruption-message="Are you sure you want to archive this user?", data-interruption-confirm-text="Yes", data-interruption-cancel-text="No")
											- var icon = "remove"
											- var iconClasses = ""
											include ../shared/icon
						tr
							td
								a(href="user-detail.html", title="View user detail for Jeff Walker", aria-label="View user detail for Jeff Walker") Jeff Walker
							td
								a(href="mailto:jmwalker1@" + parentOrgDomain) jmwalker1@#{parentOrgDomain}
							td
								a(href="tel:#", title="Call Jeff Walker", aria-label="Call Jeff Walker") #{parentOrgPhone}
							td Program Admin
							td
								ul.action-list
									li
										a.interruption-navigation-trigger(href="manage-users.html", title="Remove Jeff Walker as VIP", aria-label="Remove Jeff Walker as VIP", data-interruption-message="Are you sure you want to remove this user from your VIP list?", data-interruption-confirm-text="Yes", data-interruption-cancel-text="No")
											- var icon = "star"
											- var iconClasses = ""
											include ../shared/icon
									li
										a(href="update-user.html", title="Update Jeff Walker", aria-label="Update Jeff Walker")
											- var icon = "update"
											- var iconClasses = ""
											include ../shared/icon
									li
										a.interruption-navigation-trigger(href="manage-users.html", title="Archive Jeff Walker", aria-label="Archive Jeff Walker", data-interruption-message="Are you sure you want to archive this user?", data-interruption-confirm-text="Yes", data-interruption-cancel-text="No")
											- var icon = "remove"
											- var iconClasses = ""
											include ../shared/icon
						tr
							td
								a(href="user-detail.html", title="View user detail for Demetre Kokoris", aria-label="View user detail for Demetre Kokoris") Demetre Kokoris
							td
								a(href="mailto:dkokoris@" + parentOrgDomain) dkokoris@#{parentOrgDomain}
							td
								a(href="tel:#", title="Call Demetre Kokoris", aria-label="Call Demetre Kokoris") #{parentOrgPhone}
							td Org Admin
							td
								ul.action-list
									li
										a(href="#", title="Add Demetre Kokoris as VIP", aria-label="Remove Demetre Kokoris as VIP")
											- var icon = "star-outline"
											- var iconClasses = ""
											include ../shared/icon
									li
										a(href="update-user.html", title="Update Demetre Kokoris", aria-label="Update Demetre Kokoris")
											- var icon = "update"
											- var iconClasses = ""
											include ../shared/icon
									li
										a.interruption-navigation-trigger(href="manage-users.html", title="Archive Demetre Kokoris", aria-label="Archive Demetre Kokoris", data-interruption-message="Are you sure you want to archive this user?", data-interruption-confirm-text="Yes", data-interruption-cancel-text="No")
											- var icon = "remove"
											- var iconClasses = ""
											include ../shared/icon
