extends ./includes/sublayout

block pageVars
	- var title = "Enter Check Donation"
	- var includeDefaultPageTitle = true;
	- var resources = {"Asana Task": "https://app.asana.com/0/80660851875913/151844403331186", "Notes": ["The donor will be automatically selected in the real application if coming from a page where a donor is implied, such as the \"Add Donation\" button on the Donor Results page.  Otherwise, if coming from a location where the donor is not implied, such as the \"Add Donation\" button on the Participant Results page, a donor must be selected.  This cannot be reflected in our static Bootstrap templates, but will work as needed in the real application."]};
	- var breadcrumbs = [{"url": "parent-organization-dashboard.html", "text": parentOrgName}, {"url": "child-organization-dashboard.html", "text": childOrgName}, {"url": "campaign-dashboard.html", "text": campaign1Name}];

block content
	.row
		.layout-single-column
			h2.h1.text-center #{campaign1Name}
			h3.h2.text-center Enter Check Donation for &lt;Participant Name&gt;
			form(action='index.html', data-toggle='validator', data-disable='false')
				fieldset
					legend.sr-only Enter Check Donation for &lt;Participant Name&gt;
					ol.list-unstyled
						li.form-group
							p Enter a donation from:
							.floating-label-group.decorator-select
								select.form-control.has-floating-label(name='donor', id='donor', required, data-error='Please choose a donor.')
									option(value="", selected, disabled)
									- for (var i = 0; i < 10; i++)
										option(value='#{i + 1}') Bob Smith #{i + 1}
								label.floating-label(for='checkNumber') Donor
							.help-block.with-errors
							p These aren't the donors you're looking for?&nbsp;
								a(href="add-donor.html") Add a new donor
								| .
						li
							.row
								.col-sm-6.form-group
									.floating-label-group
										input.form-control.has-floating-label.js-mask-money(type='text', name='checkAmount', id='checkAmount', data-error="Please enter the donor's check amount.", required)
										label.floating-label(for='checkAmount') Check Amount
									.help-block.with-errors
								.col-sm-6.form-group
									.floating-label-group
										input.form-control.has-floating-label(type='number', name='checkNumber', id='checkNumber', data-error="Please enter the donor's check number.", required)
										label.floating-label(for='checkNumber') Check Number
									.help-block.with-errors
						li.form-group
							.floating-label-group
								input.form-control.has-floating-label(type='text', name='address.street', id='address.street', data-error="Please enter the donor's billing address.", required)
								label.floating-label(for='address.street') Billing Address
							.help-block.with-errors
						li.form-group
							.row
								.col-sm-6.form-group
									.floating-label-group.decorator-select
										select.form-control.has-floating-label(id='address.state', name='address.state', data-error="Please select the donor's state or province.", required='')
											- var stateSelected = false
											include ../shared/state-and-province-options
										label.floating-label(for='address.state') State / Province
									.help-block.with-errors
								.col-sm-6.form-group
									.floating-label-group
										input.form-control.has-floating-label(id='address.postalCode', type='text', name='address.postalCode', data-error="Please enter the donor's postal code.", required='')
										label.floating-label(for='address.postalCode') Postal Code
									.help-block.with-errors
						li.form-group.text-center
							input(type='hidden', name='participantId', value='1')
							input.btn.btn-lg.btn-primary(type='submit', value='Submit Donation')