extends ./includes/sublayout

block pageVars
	- var title = "Monthly Totals Detail"
	- var includeDefaultPageTitle = true;
	- var resources = {"Asana Task": "https://app.asana.com/0/80660851875913/151844403331190", "Notes": ["This page can be viewed for either a parent org or a child org.  The breadcrumbs will need to include the child org if viewing data at child org level."]};
	- var breadcrumbs = [{"url": "parent-organization-dashboard.html", "text": parentOrgName}];

block content
	.row
		.col-xs-12
			p
				span.label-sibling December 2015
				span.label.label-primary $100,000
	.row
		.col-xs-12
			table.responsive-table
				thead
					tr
						th Program
						th # of Donations
						th Average Donation
						th Total
						th Export Donors
				tbody
					- for (var i = 0; i < 10; i++)
						tr
							td(data-label="Child Org") Program Name
							td(data-label="# of Donations") 100
							td(data-label="Average Donation") $100
							td(data-label="Total") $10,000
							td
								ul.action-list
									li
										a(href="#", title="Export <org name> Donors to Excel", aria-label="Export <org name> Donors to Excel")
											- var icon = "file-excel"
											include ../shared/icon
			include ./includes/_pagination
