extends ./includes/sublayout

block pageVars
	- var title = "Navigation Example - Parent Org Admin"
	- var includeDefaultPageTitle = true;
	- var hasNav = true
	- var showSearch = true

block navPrimary
	include ./includes/navigation/_parent-org-admin

block content
	.row
		.col-xs-12
			p This is an example of what the navigation scheme will look like for a parent org admin.  The navigation will be applicable to the currently active parent org (if a parent org admin has that role for multiple parent orgs, they can click on the Account link and choose a parent org to make active).  Doing so will update the context for all navigation.
			h2 Always Visible
			p A parent org admin has access to these data types and actions at all times:
			ul
				li Donors
					ul
						li Manage Donors
						li Donations
							ul
								li Manage Donations
								li Donations Today
								li Manual Donations Today
						li Recent Donations
							ul
								li Donation Detail for the selected donor
				li Users
					ul
						li Add User
						li Manage Users
						li View Archived Users
						li VIPs
							ul
								li User Detail
								li Email Address
								li Phone number
			p
				strong NOTE:&nbsp;
				| User management is restricted to users with a lower ranking role than the parent org admin.
			h2 Visible in Context
			p The above data types and actions were identified as the most important for a parent org admin.  In addition to the above, depending on context on the site, a parent org admin may also have access to the following as a fourth menu item in the primary nav:
			ul
				li Programs
				li Campaigns
					ul
						li New Campaign
						li Manage Campaigns (Org Dashboard)
						li Recently Launched Campaigns
							ul
								li Campaign Dashboard
								li Manage Participants
								li Update Campaign
				li Participants
					ul
						li Add Participant
						li Manage Participants
						li Recently Added Participants
							ul
								li Participant Detail
								li Email Participant
								li # of Active Sponsors for Participant
								li Re-send Password
								li Deactivate
