extends ./includes/sublayout

block pageVars
	- var title = "Navigation Example - Participant"
	- var includeDefaultPageTitle = true;
	- var hasNav = true
	- var showSearch = false

block navPrimary
	include ./includes/navigation/_participant

block content
	.row
		.col-xs-12
			p This is an example of what the navigation scheme will look like for a participant.  The navigation will be applicable to the currently active campaign (if a participant has that role for multiple campaigns, they can click on the Account link and choose a campaign to make active).  Doing so will update the context for all navigation.  A participant has access to these data types and actions at all times:
			ul
				li Donors
					ul
						li Manage Donors
						li Recent Donations
							ul
								li Donation Detail for the selected donor
				li Share
					ul
						li Facebook
						li Twitter
						li Google Plus
						li Text message
				li Help
					ul
						li Instructions
							ul
								li Video Instructions
								li Printable Instructions
						li Examples
							ul
								li Sponsor Letter
								li Thank You Letter
						li Privacy Policy