extends ./includes/sublayout

block pageVars
	- var title = "Navigation Example - Campaign Specialist"
	- var includeDefaultPageTitle = true;
	- var hasNav = true
	- var showSearch = true

block navPrimary
	include ./includes/navigation/_campaign-specialist

block content
	.row
		.col-xs-12
			p This is an example of what the navigation scheme will look like for a campaign specialist.  The navigation will be applicable to the currently active campaign (if a campaign specialist has that role for multiple campaigns, they can click on the Account link and choose a campaign to make active).  Doing so will update the context for all navigation.
			h2 Always Visible
			p A campaign specialist has access to these data types and actions at all times:
			ul
				li Campaigns
					ul
						li New Campaign
						li Recently Launched Campaign (only visible when a campaign is active)
							ul
								li Campaign Dashboard
								li Manage Participants
								li Update Campaign
				li Participants
					ul
						li Add Participant
						li Manage Participants
						li Recently Added Participants
							ul
								li Participant Detail
								li Email Participant
								li # of Active Sponsors for Participant
								li Re-send Password
								li Deactivate
				li Users
					ul
						li Add User
						li Manage Users
						li View Archived Users
						li VIPs
							ul
								li User Detail
								li Email Address
								li Phone number
			p
				strong NOTE:&nbsp;
				| User management is restricted to users with a lower ranking role than the campaign specialist.
			h2 Visible in Context
			p The above data types and actions were identified as the most important for a campaign specialist.  In addition to the above, depending on context on the site, a campaign specialist may also have access to the following as a fourth menu item in the primary nav:
			ul
				li Donors
					ul
						li Manage Donors
						li Recent Donations
							ul
								li Donation Detail for the selected donor