extends ./includes/sublayout

block pageVars
	- var title = "Organization History Report"
	- var includeDefaultPageTitle = true
	- var hasNav = true
	- var breadcrumbs = [{"url": "parent-organization-dashboard.html", "text": parentOrgName}];

block navPrimary
	include ./includes/navigation/_org-admin

block content
	.row
		.col-xs-12
			p
				span Number of Participants:
				b.green  50
			p
				span Total Contributions directed to Sienna Heights University:
				b.green  $10,000

	.row
		.col-xs-12
			table.responsive-table
				thead
					tr
						th Participant Name
						th Program Name
						th Status
						th Inactive Date
						th Number of Target Sponsors
						th Total Contributions
						th Total Number of Sponsorships
				tbody
				- for (var i = 0; i < 10; i++)
					tr
						td(data-label="Participant")
							| Bob Smith #{i + 1}
						td(data-label="Program Name")
							| Siena Heights University Football
						td(data-label="Status")
							| Active
						td(data-label="Inactive Date")
							| N/A
						td(data-label="Sponsors")
							| #{Math.floor(Math.random() * 10)}
						td(data-label="Total Contributions")
							| $100.00
						td(data-label="Sponsorships")
							| #{Math.floor(Math.random() * 10)}
			include ./includes/_pagination
