extends ./includes/sublayout

block pageVars
	- var title = "Organization Dashboard"
	- var includeDefaultPageTitle = false
	- var hasNav = true
	- var showSearch = true
	- var resources = {"Asana Task": "https://app.asana.com/0/80660851875913/159487930213451", "Webflow Prototype": "http://ets-login-00178f162e256aa7dac5711529493.webflow.io/org-management/child-org-dashboard", "Notes": ['The "Add Donor" icons will take you to the Program Admin\'s page to add a new donor.']};

block navPrimary
	include ./includes/navigation/_org-admin

block content
	include ./includes/_child-org-heading
	section.row
		.col-xs-12
			.tile-container.tile-count-3
				.tile
					h3.tile-metric $1,015
					p.tile-title
						a(href="donation-detail.html") Donated Today
					h3.tile-metric.is-goal 13
					p.tile-title # of Donations
				.tile
					h3.tile-metric $245
					p.tile-title
						a(href="donation-detail.html") Offline Donations Today
					h3.tile-metric.is-goal 3
					p.tile-title # of Donations
				.tile
					h3.tile-metric $5,125
					p.tile-title
						a(href="#") Remitted Last Month
	section.row
		.sub-heading
			h2.sub-heading-name Programs
			p.sub-heading-action
				a(href='#')
					| New Program
					- var icon = "trending-up"
					include ../shared/icon
	section
		#carousel-programs.carousel.slide.row(data-ride='carousel')
			// Indicators
			ol.carousel-indicators
				li.active(data-target='#carousel-programs', data-slide-to='0')
				li(data-target='#carousel-programs', data-slide-to='1')
			// Wrapper for slides
			.carousel-inner(role='listbox')
				.item.active
					div.row
						- var programName = "University of Washington Freshmen Football"
						- var imgSrc = "/img/content/sample-logos/university-of-washington.png"
						- var campaignText = "Campaign Launched - 10/12/2019"
						.col-sm-6.col-xs-12
							include ./includes/_program-summary
						- var programName = "University of Washington Boys Basketball"
						- var imgSrc = "/img/content/sample-logos/university-of-washington.png"
						- var campaignText = "Next Campaign Launching - 10/12/2019"
						.col-sm-6.col-xs-12
							include ./includes/_program-summary
						- var programName = "University of Washington Girls Basketball"
						- var imgSrc = "/img/content/sample-logos/sbcc.png"
						- var campaignText = "Next Campaign Launching - 10/12/2019"
						.col-sm-6.col-xs-12.equal
							include ./includes/_program-summary
						- var programName = "University of Washington Girls Basketball"
						- var imgSrc = "/img/content/sample-logos/sbcc.png"
						- var campaignText = "No Scheduled Campaigns"
						.col-sm-6.col-xs-12.equal
							include ./includes/_program-summary
				.item
					div.row
						- var programName = "University of Washington Freshmen Football"
						- var imgSrc = "/img/content/sample-logos/university-of-washington.png"
						.col-sm-6.col-xs-12
							include ./includes/_program-summary
						- var programName = "University of Washington Boys Basketball"
						- var imgSrc = "/img/content/sample-logos/university-of-washington.png"
						.col-sm-6.col-xs-12
							include ./includes/_program-summary
						- var programName = "University of Washington Boys Basketball"
						- var imgSrc = "/img/content/sample-logos/university-of-washington.png"
						.col-sm-6.col-xs-12
							include ./includes/_program-summary
						- var programName = "University of Washington Boys Basketball"
						- var imgSrc = "/img/content/sample-logos/university-of-washington.png"
						.col-sm-6.col-xs-12
							include ./includes/_program-summary
			// Controls
			a.left.carousel-control(href='#carousel-programs', role='button', data-slide='prev')
				span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
				span.sr-only.chevron-left <
			a.right.carousel-control(href='#carousel-programs', role='button', data-slide='next')
				span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
				span.sr-only.chevron-right >

	section.container
		#carousel-programs-mobile.carousel.slide.row(data-ride='carousel')
			// Indicators
			ol.carousel-indicators
				li.active(data-target='#carousel-programs-mobile', data-slide-to='0')
				li(data-target='#carousel-programs-mobile', data-slide-to='1')
				li(data-target='#carousel-programs-mobile', data-slide-to='2')
				li(data-target='#carousel-programs-mobile', data-slide-to='3')
			// Wrapper for slides
			.carousel-inner(role='listbox')
				.item.active
					div.row
						- var programName = "University of Washington Freshmen Football"
						- var imgSrc = "/img/content/sample-logos/university-of-washington.png"
						- var campaignText = "Campaign Launched - 10/12/2019"
						.col-xs-12
							include ./includes/_program-summary
						- var programName = "University of Washington Boys Basketball"
						- var imgSrc = "/img/content/sample-logos/university-of-washington.png"
						- var campaignText = "Next Campaign Launching - 10/12/2019"
						.col-xs-12
							include ./includes/_program-summary
				.item
					div.row
						- var programName = "University of Washington Freshmen Football"
						- var imgSrc = "/img/content/sample-logos/university-of-washington.png"
						.col-xs-12
							include ./includes/_program-summary
						- var programName = "University of Washington Boys Basketball"
						- var imgSrc = "/img/content/sample-logos/university-of-washington.png"
						.col-xs-12
							include ./includes/_program-summary
				.item
					div.row
						- var programName = "University of Washington Freshmen Football"
						- var imgSrc = "/img/content/sample-logos/university-of-washington.png"
						.col-xs-12
							include ./includes/_program-summary
						- var programName = "University of Washington Boys Basketball"
						- var imgSrc = "/img/content/sample-logos/university-of-washington.png"
						.col-xs-12
							include ./includes/_program-summary
				.item
					div.row
						- var programName = "University of Washington Freshmen Football"
						- var imgSrc = "/img/content/sample-logos/university-of-washington.png"
						.col-xs-12
							include ./includes/_program-summary
						- var programName = "University of Washington Boys Basketball"
						- var imgSrc = "/img/content/sample-logos/university-of-washington.png"
						.col-xs-12
							include ./includes/_program-summary
			// Controls
			//a.left.carousel-control(href='#carousel-programs', role='button', data-slide='prev')
			//	span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
			//	span.sr-only.chevron-left <
			//a.right.carousel-control(href='#carousel-programs', role='button', data-slide='next')
			//	span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
			//	span.sr-only.chevron-right >

	section.row
		.col-xs-12
			h2 Monthly Totals
			table.responsive-table
				thead
					tr
						th Month
						th Donated
						th Canceled Donations
				tbody
					tr
						td
							a(href="monthly-totals-detail.html") February 2017
						td(data-label="Donated") $14,380
						td(data-label="Canceled Donations")
							a(href="canceled-donation-detail.html") 1
					tr
						td
							a(href="monthly-totals-detail.html") January 2017
						td(data-label="Donated") $5,290
						td(data-label="Canceled Donations")
							a(href="canceled-donation-detail.html") 0
					tr
						td
							a(href="monthly-totals-detail.html") December 2016
						td(data-label="Donated") $2,510
						td(data-label="Canceled Donations")
							a(href="canceled-donation-detail.html") 0
					tr
						td
							a(href="monthly-totals-detail.html") November 2016
						td(data-label="Donated") $2,940
						td(data-label="Canceled Donations")
							a(href="canceled-donation-detail.html") 0
					tr
						td
							a(href="monthly-totals-detail.html") October 2016
						td(data-label="Donated") $10,100
						td(data-label="Canceled Donations")
							a(href="canceled-donation-detail.html") 1
					tr
						td
							a(href="monthly-totals-detail.html") September 2016
						td(data-label="Donated") $7,015
						td(data-label="Canceled Donations")
							a(href="canceled-donation-detail.html") 0
			include ./includes/_pagination
