extends ./includes/sublayout

block pageVars
	- var title = "Parent Organization Dashboard"
	- var includeDefaultPageTitle = false;
	- var resources = {"Asana Task": "https://app.asana.com/0/8050569665770/116709693745163", "Webflow Prototype": "http://ets-login-00178f162e256aa7dac5711529493.webflow.io/"};

block content
	include ./includes/_org-heading-with-address
	section.row
		.col-xs-12
			.tile-container.tile-count-3
				.tile
					h3.tile-metric $1,015
					p.tile-title
						a(href="donation-detail.html") Donated Today
					h3.tile-metric.is-goal 13
					p.tile-title # of Donations
				.tile
					h3.tile-metric $245
					p.tile-title
						a(href="donation-detail.html") Offline Donations Today
					h3.tile-metric.is-goal 3
					p.tile-title # of Donations
				.tile
					h3.tile-metric $5,125
					p.tile-title
						a(href="#") Remitted Last Month
	section.row
		.sub-heading
			h2.sub-heading-name Manage Organizations
			p.sub-heading-action
				a(href="add-child-organization.html")
					| Add Organization
					- var icon = "globe"
					include ../shared/icon
		.col-sm-6
			include ./includes/_org-summary
		.col-sm-6
			include ./includes/_org-summary
	section.row
		.col-xs-12
			h2 Monthly Totals
			table.responsive-table
				thead
					tr
						th Month
						th Donated
						th Canceled Donations
				tbody
					tr
						td
							a(href="monthly-totals-detail.html") February 2017
						td(data-label="Donated") $14,380
						td(data-label="Canceled Donations")
							a(href="canceled-donation-detail.html") 1
					tr
						td
							a(href="monthly-totals-detail.html") January 2017
						td(data-label="Donated") $5,290
						td(data-label="Canceled Donations")
							a(href="canceled-donation-detail.html") 0
					tr
						td
							a(href="monthly-totals-detail.html") December 2016
						td(data-label="Donated") $2,510
						td(data-label="Canceled Donations")
							a(href="canceled-donation-detail.html") 0
					tr
						td
							a(href="monthly-totals-detail.html") November 2016
						td(data-label="Donated") $2,940
						td(data-label="Canceled Donations")
							a(href="canceled-donation-detail.html") 0
					tr
						td
							a(href="monthly-totals-detail.html") October 2016
						td(data-label="Donated") $10,100
						td(data-label="Canceled Donations")
							a(href="canceled-donation-detail.html") 1
					tr
						td
							a(href="monthly-totals-detail.html") September 2016
						td(data-label="Donated") $7,015
						td(data-label="Canceled Donations")
							a(href="canceled-donation-detail.html") 0
			include ./includes/_pagination
	section
		h2 Manage Parent Organization
		ul.action-icons
			li.action-item
				a(href="add-child-organization.html")
					- var icon = "globe"
					include ../shared/icon
					| Add Organization
			li.action-item
				a(href="update-parent-organization.html")
					- var icon = "update"
					include ../shared/icon
					| Update Parent Organization
			li.action-item
				a(href="#")
					- var icon = "account"
					include ../shared/icon
					| Merchant Accounts
			li.action-item
				a(href="#")
					- var icon = "document"
					include ../shared/icon
					| View Agreement
			li.action-item
				a(href="add-user.html")
					- var icon = "person-add"
					include ../shared/icon
					| Add User
			li.action-item
				a(href="manage-users.html")
					- var icon = "people"
					include ../shared/icon
					| Manage Users
