extends ./includes/sublayout

block pageVars
	- var title = "Dashboard"
	- var includeDefaultPageTitle = false
	- var hasNav = true
	- var showChangeOrganization = false
	- var showChangeCampaign = false
	- var showSearch = false
	- var resources = {"Asana Task": "https://app.asana.com/0/80660851875913/339064002998017", "Notes": ["The 'Mass Donor Entry' button should only be visible to those with any of the following roles: ROLE_SUPER_ADMIN, ROLE_ADMIN, ROLE_ETS_PROGRAM_MANAGER, ROLE_SALES_REP.", "Instances of the words 'donor(s)', 'donation(s)', and 'donated' should reference labels and not be hardcoded.", "Instances of <Program Name>, <Campaign Name>, <MASCOT>, and campaign page URLs need to be updated with their real data counterparts.", "<ParticipantFullName> should be replaced with the participant's first and last name."]}

block navPrimary
	include ./includes/navigation/_participant

block content
	.row.page-header-group
		.col-xs-12
			h1 Welcome &lt;ParticipantFullName&gt;
	.row
		.col-xs-12
			.alert.alert-warning.fade.in(role="alert")
				- var icon = "warning"
				include ../shared/icon
				| 1 of your donors has an email that is still being validated.  Once these are validated they will be sent.  Please double check below that these are entered correctly.  Only fully validated emails marked as sending count towards your donor entry goal.
			.tile-container.tile-count-4
				- var tileExtraClass = "tile-large"
				- var viewCampaignLink = standardCampaignPageUrl
				- var viewCampaignLinkText = "View Campaign"
				- var viewCampaignLinkTarget = "_blank"

				include ./includes/tiles/_share-campaign

				.tile.tile-large
					h3 Invite Friends &amp; Family
					p.tile-separator
						a.btn.btn-primary.btn-lg(href="participant-add-donor.html")
							- var icon = "person-add"
							- var iconClasses = "icon-inline-left"
							include ../shared/icon
							| Add Donor

				- var tileMetric1Value = "10"
				- var tileMetric1Name = "Donors Entered"
				- var tileMetric2Value = "20"
				- var tileMetric2Name = "My Goal"
				- var tileProgressValue = "50"
				- var tileExtraClass = "tile-small"

				include ../eteamsponsor-shared/tile-with-metric

				- var tileMetric1Value = "$400"
				- var tileMetric1Name = "Raised"
				- var tileMetric2Value = "$525"
				- var tileMetric2Name = "My Goal"
				- var tileProgressValue = "76"
				- var tileExtraClass = "tile-small"

				include ../eteamsponsor-shared/tile-with-metric
	.row
		.sub-heading
			h2.sub-heading-name Manage Donors
			p.sub-heading-action
				a(href='participant-add-donor.html')
					| Add Donor
					- var icon = "person-add"
					- var iconClasses = ""
					include ../shared/icon
	section.row
		.col-sm-12
			table.responsive-table
				thead
					tr
						th Name
						th Email
						th Relationship
						th Status
						th Manage
				tbody
					- for (var i = 0; i < 10; i++)
						tr
							td(data-label="Name") Bob Smith #{i + 1}
							td(data-label="Email") bobsmith#{i + 1}@gmail.com
							td(data-label="Relationship") Grandpa
							td(data-label="Status") Donated
							td(data-label="Manage")
								ul.action-list
									li
										a(href="javascript:void(0)", title="Email <donor name>", aria-label="Email <donor name>", data-share-platform="email", data-share-recipient="bobsmith#{i + 1}@gmail.com", data-share-subject="#{standardParticipantEmailSubject}", data-share-body="#{standardParticipantEmailBody}")
											- var icon = "email"
											- var iconClasses = ""
											include ../shared/icon
									li
										a(href="participant-update-donor.html", title="Update <donor name>", aria-label="Update <donor name>")
											- var icon = "update"
											- var iconClasses = ""
											include ../shared/icon
									li
										a.interruption-navigation-trigger(href="participant-deactivate-donor.html", title="Deactivate <donor name>", aria-label="Deactivate <donor name>", data-interruption-message="Are you sure you want to deactivate this donor?", data-interruption-cancel-text="No", data-interruption-confirm-text="Yes")
											- var icon = "remove"
											- var iconClasses = ""
											include ../shared/icon
					tr.warning
						td(data-label="Name")
							- var icon = "warning"
							include ../shared/icon
							| Bob Validating
						td(data-label="Email") bobvalidatingemail@gmail.com
						td(data-label="Relationship") Grandpa
						td(data-label="Status") Validating
						td(data-label="Manage")
							ul.action-list
								li
									a(href="javascript:void(0)", title="Email <donor name>", aria-label="Email <donor name>", data-share-platform="email", data-share-recipient="bobvalidatingemail@gmail.com", data-share-subject="#{standardParticipantEmailSubject}", data-share-body="#{standardParticipantEmailBody}")
										- var icon = "email"
										- var iconClasses = ""
										include ../shared/icon
								li
									a(href="participant-update-donor.html", title="Update <donor name>", aria-label="Update <donor name>")
										- var icon = "update"
										- var iconClasses = ""
										include ../shared/icon
			p When a donor is added they will receive a series of up to 4&nbsp;
				a(href="http://dev.eteamsponsor.com/ETS/fundraiserParticipant/previewSponsorLetter/2839581", target="_blank") emails
				|  inviting them to support the campaign.  These are sent until they donate or unsubscribe over a period of 35 days. When they donate, a final&nbsp;
				a(href="http://dev.eteamsponsor.com/ETS/fundraiserParticipant/previewThankYou/2839581", target="_blank") thank you email
				|  and tax deductible receipt will be automatically be sent to them.
