extends ./includes/sublayout

block pageVars
	- var title = "Add Donor"
	- var includeDefaultPageTitle = true;
	- var hasNav = true
	- var showChangeOrganization = false
	- var showChangeCampaign = false
	- var showSearch = false
	- var breadcrumbs = [{"url": "participant-dashboard.html", "text": "Dashboard"}]
	- var resources = {"Asana Task": "https://app.asana.com/0/80660851875913/338836973899502", "Notes": ["Instances of the words 'donor' should reference labels and not be hardcoded.", "The markup for how to properly send a relationship to the server may be quite different that what is in this template.  Use the markup merely for layout and adjust values and labels as necessary.", "After this form is submitted, the user should be redirected back to the Participant Dashboard with a dismissible 'info' alert (see http://eteamsponsor.ten-four.tech/fundraker/style-guide.html#alerts) that says '<Donor name> has been added to your list of donors.'"]}

block navPrimary
	include ./includes/navigation/_participant

block content
	.row
		.layout-single-column
			form(action='participant-dashboard.html', data-toggle='validator', data-disable='false')
				fieldset
					legend.sr-only Add Donor
					ol.list-unstyled
						li.form-group
							.floating-label-group
								input.form-control.has-floating-label(type='text', name='donorName', id='donorName', data-error="Please enter the donor's first and last name.", required)
								label.floating-label(for='donorName') Donor's First &amp; Last Name
							.help-block.with-errors
						li.form-group
							.floating-label-group
								input.form-control.has-floating-label.js-validate-email(type='email', name='donorEmail', id='donorEmail', data-error="Please enter the donor's email address.", required)
								label.floating-label(for='donorEmail') Donor's Email
							.help-block.with-errors
						li.form-group
							label Relationship
							.help-block.with-errors
							include ./includes/_relationship-basic-options
							include ./includes/_relationship-all-options
						li.form-group.text-center
							input.btn.btn-lg.btn-primary(type='submit', value='Add Donor')
							a.btn.btn-lg.btn-default(href='participant-dashboard.html') Cancel