extends ./includes/sublayout

block pageVars
	- var title = "Update Donor"
	- var includeDefaultPageTitle = true;
	- var hasNav = true
	- var showChangeOrganization = false
	- var showChangeCampaign = false
	- var showSearch = false
	- var breadcrumbs = [{"url": "participant-dashboard.html", "text": "Dashboard"}]
	- var resources = {"Asana Task": "https://app.asana.com/0/80660851875913/338836973899503", "Notes": ["Instances of the words 'donor' should reference labels and not be hardcoded.", "The markup for how to properly send a relationship to the server may be quite different that what is in this template.  Use the markup merely for layout and adjust values and labels as necessary.", "After this form is submitted, the user should be redirected back to the Participant Dashboard with a dismissible 'info' alert (see http://eteamsponsor.ten-four.tech/fundraker/style-guide.html#alerts) that says '<Donor name> has been updated in your list of donors.'", "The 'active' tab for Male vs. Female should be set based on the relationship of the donor being updated."]}

block navPrimary
	include ./includes/navigation/_participant

block content
	.row
		.layout-single-column
			form(action='participant-dashboard.html', data-toggle='validator', data-disable='false')
				fieldset
					legend.sr-only Update Donor
					ol.list-unstyled
						li.form-group
							.floating-label-group
								input.form-control.has-floating-label(type='text', name='donorName', id='donorName', data-error="Please enter the donor's first and last name.", value='Bob Smith', required)
								label.floating-label(for='donorName') Donor's First &amp; Last Name
							.help-block.with-errors
						li.form-group
							.floating-label-group
								input.form-control.has-floating-label.js-validate-email(type='email', name='donorEmail', id='donorEmail', data-error="Please enter the donor's email address.", value='bobsmith1@gmail.com', required)
								label.floating-label(for='donorEmail') Donor's Email
							.help-block.with-errors
						li.form-group
							label Relationship
							.help-block.with-errors
							- var relationship = "grandpa"
							include ./includes/_relationship-basic-options
							include ./includes/_relationship-all-options
						li.form-group.text-center
							input.btn.btn-lg.btn-primary(type='submit', value='Update Donor')
							a.btn.btn-lg.btn-default(href='participant-dashboard.html') Cancel