extends ./includes/sublayout

block pageVars
	- var title = "Participant Results"
	- var includeDefaultPageTitle = true
	- var resources = {"Asana Task": "https://app.asana.com/0/80660851875913/169291794295000"}

block content
	.row
		.col-xs-12
			form.form-inline(action="participant-results.html")
				p To add or cancel donations, search for participants or donors by email, first or last name.
				ol.list-unstyled
					li.form-group
						.floating-label-group
							input.form-control.has-floating-label(type="search", name="donorSearch", id="donorSearch", value="Smith")
							label.floating-label(for="donorSearch") Search Term
					li.form-group
						.floating-label-group.decorator-select
							select.form-control.has-floating-label(id="searchFor", name="searchFor")
								option(value="participant") Participant
								option(value="donor") Donor
							label.floating-label(for="searchFor") Search For
					li.form-group
						input.btn.btn-lg.btn-primary(type="submit", value="Search")
	.row
		.col-xs-12
			script.
				var navigationOptions = navigationOptions || {};

				navigationOptions.addDonation = {
					"title": "Add Donation",
					"message": "Which type of donation would you like to add?",
					"buttons": [
						{
							"name": "check",
							"label": "Check",
							"class": "btn-primary",
							"url": "manual-donation-check.html"
						},
						{
							"name": "card",
							"label": "Card",
							"class": "btn-primary",
							"url": "manual-donation-card.html"
						}
					]
				};
			table.responsive-table
				thead
					tr
						th Participant
						th Email
						th Campaign
						th Donations
						th Add $
				tbody
					- for (var i = 0; i < 10; i++)
						tr
							td(data-label="Participant")
								a(href="participant-detail.html", title="View participant detail for Billy Smith #{i + 1}", aria-label="View participant detail for Billy Smith #{i + 1}") Billy Smith #{i + 1}
							td(data-label="Email")
								a(href="mailto:billysmith#{i + 1}@gmail.com") billysmith#{i + 1}@gmail.com
							td(data-label="Campaign")
								a(href="campaign-dashboard.html") #{programType} - #{campaign1Name}
							td(data-label="Donations") 1 for $50
							td(data-label="Add $")
								ul.action-list
									li
										a.interruption-navigation-options(href="#", title="Add Donation", aria-label="Add Donation", data-interruption-key="addDonation", data-interruption-append-to-url="?donorId=" + (i + 1))
											- var icon = "money"
											include ../shared/icon
			include ./includes/_pagination
