extends ./includes/sublayout-bootstrap

block pageVars
	- var title = "Instructions for your campaign"
	- var resources = {"Asana Task": "https://app.asana.com/0/80660851875913/338836973899504", "Notes": ["Instances of the word 'donor(s)' should reference labels and not be hardcoded."]}

block content
	.row
		.col-xs-12.col-md-6.col-md-offset-3
			h1 Instructions for your campaign
			h4 Just follow these 3 easy steps to complete your eTeamSponsor campaign task.
			ol
				li
					p Identify adults that would want to support our program and gather their email addresses:
					p *Think of people furthest away from our community first... closer to our community second.
					ul
						li FAMILY: Parents, Grandparents, Uncles, Aunts and Adult Relatives.
						li ADULT PROFESSIONALS: Your family Doctor(s), Dentist, Tax Professional, Accountant, Insurance Agent, your Parents’ Employers, etc.
				li
					p Take the potential donors' emails from above and click "Add Donor."
					p *Accurately input numbers vs. letters when typing the email addresses into the field so they will receive your letter.
					p
						strong Remember 20 quality emails is the GOAL!
					ul
						li If you have more than 20, keep going… there's no limit to the number of donor.
						li Your donors will receive their letter the date your campaign launches or the morning after you add them if your campaign has already launched.
				li
					p Participants &amp; Parents can share your campaign via:
					ul
						li Facebook
						li Twitter
						li Email
						li Text message
			h4 For customer service call eTeamSponsor:
			p (888) 842-8220 Ext. 102
			button.btn.btn-default.btn-print
				- var icon = "print"
				- var iconClasses = "icon-inline-left"
				include ../shared/icon
				|  Print this page
