extends ./includes/sublayout

block pageVars
	- var title = "Participant Detail"
	- var includeDefaultPageTitle = true
	- var hasNav = true
	- var resources = {"Asana Task": "https://app.asana.com/0/8050569665770/246094717676580", "Notes": ["The rows in 'Current Participation' are styled based on the number of donor prospects they've entered: 2 or fewer is the error state, 3 - 11 is the warning state, and 12 or higher is the normal state.", "Sorting should default to Donor Prospects from lowest to highest.", "Participants can only be activated for campaigns that are active or pre-launch."]};
	- var breadcrumbs = [{"url": "parent-organization-dashboard.html", "text": parentOrgName}, {"url": "child-organization-dashboard.html", "text": childOrgName}, {"url": "program-dashboard.html", "text": programName}, {"url": "campaign-dashboard.html", "text": campaign1Name}];

block navPrimary
	include ./includes/navigation/_program-admin

block content
	.row
		.col-sm-12
			.callout(itemscope, itemtype="https://schema.org/Person")
				.row
					.detail-heading
						h1.detail-heading-title(itemprop="name") Billy Smith
							a.icon-link(href="update-participant.html")
								- var icon = "update"
								- var iconClasses = "brand-primary"
								include ../shared/icon
						h2.detail-heading-details
							| Raised:
							span.detail-heading-stat  $300
					section.col-sm-12
						p
							a(href="mailto:billysmith@gmail.com", itemprop="email") billysmith@gmail.com
						h3 Current Participation
						table.responsive-table
							thead
								tr
									th Campaign
									th Donor Prospects
									th
										- var icon = "sms"
										- var iconClasses = "black"
										include ../shared/icon
									th
										- var icon = "facebook"
										- var iconClasses = "facebook"
										include ../shared/icon
									th
										- var icon = "twitter"
										- var iconClasses = "twitter"
										include ../shared/icon
									th Amount Raised
									th Archive
							tbody
								tr.danger
									td(data-label="Campaign")
										a(href="participant-dashboard.html", title="View participant dasbhoard for Billy Smith for #{campaign1Name} 6", aria-label="View participant dasbhoard for Billy Smith for #{campaign1Name} 1") #{campaign1Name} 1
									td(data-label="Donor Prospects")
										- var icon = "error"
										- var iconClasses = ""
										include ../shared/icon
										| 1
									td(data-label="Donors Texted") 0
									td(data-label="Facebook Posts") 0
									td(data-label="Twitter Posts") 0
									td(data-label="Amount Raised")
										a(href="participant-dashboard.html") $0
									td(data-label="Actions")
										ul.action-list
											li
												a.interruption-navigation-trigger(href="#", title="Deactivate Billy Smith", aria-label="Deactivate Billy Smith", data-interruption-message="Are you sure you want to archive this participant for this campaign?", data-interruption-confirm-text="Yes", data-interruption-cancel-text="No")
													- var icon = "remove"
													- var iconClasses = ""
													include ../shared/icon
								tr.warning
									td(data-label="Campaign")
										a(href="participant-dashboard.html", title="View participant dasbhoard for Billy Smith for #{campaign1Name} 6", aria-label="View participant dasbhoard for Billy Smith for #{campaign1Name} 2") #{campaign1Name} 2
									td(data-label="Donor Prospects")
										- var icon = "warning"
										- var iconClasses = ""
										include ../shared/icon
										| 5
									td(data-label="Donors Texted") 2
									td(data-label="Facebook Posts") 1
									td(data-label="Twitter Posts") 1
									td(data-label="Amount Raised")
										a(href="participant-dashboard.html") $25
									td(data-label="Actions")
										ul.action-list
											li
												a.interruption-navigation-trigger(href="#", title="Deactivate Billy Smith", aria-label="Deactivate Billy Smith", data-interruption-message="Are you sure you want to archive this participant for this campaign?", data-interruption-confirm-text="Yes", data-interruption-cancel-text="No")
													- var icon = "remove"
													- var iconClasses = ""
													include ../shared/icon
								tr
									td(data-label="Campaign")
										a(href="participant-dashboard.html", title="View participant dasbhoard for Billy Smith for #{campaign1Name} 6", aria-label="View participant dasbhoard for Billy Smith for #{campaign1Name} 3") #{campaign1Name} 3
									td(data-label="Donor Prospects") 15
									td(data-label="Donors Texted") 6
									td(data-label="Facebook Posts") 3
									td(data-label="Twitter Posts") 3
									td(data-label="Amount Raised")
										a(href="participant-dashboard.html") $250
									td(data-label="Actions")
										ul.action-list
											li
												a.interruption-navigation-trigger(href="#", title="Deactivate Billy Smith", aria-label="Deactivate Billy Smith", data-interruption-message="Are you sure you want to archive this participant for this campaign?", data-interruption-confirm-text="Yes", data-interruption-cancel-text="No")
													- var icon = "remove"
													- var iconClasses = ""
													include ../shared/icon
						a.btn.btn-lg.btn-primary(href="#pastParticipation", data-toggle="collapse", data-collapsed-text="Show Past and Inactive", data-expanded-text="Hide Past and  Inactive") Show Past and Inactive
						.collapse#pastParticipation
							table.responsive-table
								thead
									tr
										th Campaign
										th Donor Prospects
										th
											- var icon = "sms"
											- var iconClasses = "black"
											include ../shared/icon
										th
											- var icon = "facebook"
											- var iconClasses = "facebook"
											include ../shared/icon
										th
											- var icon = "twitter"
											- var iconClasses = "twitter"
											include ../shared/icon
										th Amount Raised
										th Activate
								tbody
									tr.danger
										td(data-label="Campaign")
											a(href="participant-dashboard.html", title="View participant dasbhoard for Billy Smith for #{previousCampaignName} 6", aria-label="View participant dasbhoard for Billy Smith for #{previousCampaignName} 1") #{previousCampaignName} 1
										td(data-label="Donor Prospects")
											- var icon = "error"
											- var iconClasses = ""
											include ../shared/icon
											| 1
										td(data-label="Donors Texted") 0
										td(data-label="Facebook Posts") 0
										td(data-label="Twitter Posts") 0
										td(data-label="Amount Raised")
											a(href="participant-dashboard.html") $0
										td(data-label="Activate")
											ul.action-list
									tr.danger
										td(data-label="Campaign")
											a(href="participant-dashboard.html", title="View participant dasbhoard for Billy Smith for #{campaign1Name} 6", aria-label="View participant dasbhoard for Billy Smith for #{campaign1Name} 4") #{campaign1Name} 4
										td(data-label="Donor Prospects")
											- var icon = "error"
											- var iconClasses = ""
											include ../shared/icon
											| 2
										td(data-label="Donors Texted") 1
										td(data-label="Facebook Posts") 0
										td(data-label="Twitter Posts") 0
										td(data-label="Amount Raised")
											a(href="participant-dashboard.html") $0
										td(data-label="Actions")
											ul.action-list
												li
													a(href="#", title="Activate Bobby Smith #{i + 1}", aria-label="Activate Bobby Smith #{i + 1}")
														- var icon = "unarchive"
														include ../shared/icon
									tr.warning
										td(data-label="Campaign")
											a(href="participant-dashboard.html", title="View participant dasbhoard for Billy Smith for #{previousCampaignName} 6", aria-label="View participant dasbhoard for Billy Smith for #{previousCampaignName} 2") #{previousCampaignName} 2
										td(data-label="Donor Prospects")
											- var icon = "warning"
											- var iconClasses = ""
											include ../shared/icon
											| 5
										td(data-label="Donors Texted") 2
										td(data-label="Facebook Posts") 1
										td(data-label="Twitter Posts") 1
										td(data-label="Amount Raised")
											a(href="participant-dashboard.html") $25
										td(data-label="Activate")
											ul.action-list
						h3 Donations
						table.responsive-table
							thead
								tr
									th Donor
									th Campaign
									th Donation
									th Manage
							tbody
								- for (var i = 0; i < 3; i++)
									tr
										td(data-label="Donor")
											a(href="donor-detail.html", title="View donor detail for Bob Smith", aria-label="View donor detail for Bob Smith") Bob Smith
										td(data-label="Campaign")
											a(href="participant-dashboard.html") #{campaign1Name}
										td(data-label="Donation") $#{50 * (i + 1)} - 12/#{i+ 1}/2015
										td(data-label="Manage")
											ul.action-list
												li
													a(href="update-donation.html", title="Update <dollar amount> Donation from <donor name>", aria-label="Update <dollar amount> Donation from <donor name>")
														- var icon = "update"
														include ../shared/icon
												li
													a.interruption-navigation-trigger(href="#", title="Cancel <dollar amount> Donation from <donor name>", aria-label="Cancel <dollar amount> Donation from <donor name>", data-interruption-message="Are you sure you want to cancel this donation?", data-interruption-cancel-text="No", data-interruption-confirm-text="Yes")
														- var icon = "money-off"
														include ../shared/icon
