extends ./includes/sublayout

block pageVars
	- var title = "Participant Results"
	- var includeDefaultPageTitle = true
	- var resources = {"Asana Task": "https://app.asana.com/0/80660851875913/169291794295000"}

block content
	.row
		.col-xs-12
			form.form-inline(action="participant-results.html")
				- var searchTerm = "Wonka"
				- var searchType = "participant"
				include ./includes/_search-form-donors-and-participants
	.row
		.col-xs-12
			h2 No Results Found
			p Please double-check your spelling and try again.
