extends ./includes/sublayout

block pageVars
	- var title = "Deactivate Donor"
	- var includeDefaultPageTitle = true
	- var hasNav = true
	- var showChangeOrganization = false
	- var showChangeCampaign = false
	- var showSearch = false
	- var resources = {"Asana Task": "https://app.asana.com/0/80660851875913/344114004980192"}

block navPrimary
	include ./includes/navigation/_participant

block content
	meta(http-equiv="refresh", content="10;url=participant-dashboard.html")
	.row
		.col-xs-12
			p This page won't really exist, this is just an example for the templates.  Once a user has confirmed that they want to deactivate a donor, the donor will be deactivated and they will be redirected back to the&nbsp;
				a(href="participant-dashboard.html") Participant Dashboard
				|  with a notification that the donor was deactivated.
			p You will be redirected to the Participant Dashboard 10 seconds after this page has been loaded.