extends ./includes/sublayout

block pageVars
	- var title = "Participation Report"
	- var includeDefaultPageTitle = true
	- var hasNav = true
	- var resources = {"Asana Task": "https://app.asana.com/0/80660851875913/450839827090578", "Notes": ["Sorting should default to Donor Prospects from lowest to highest.", "The list of participants should always include the Program Admin."]}
	- var breadcrumbs = [{"url": "parent-organization-dashboard.html", "text": parentOrgName}, {"url": "child-organization-dashboard.html", "text": childOrgName}, {"url": "program-dashboard.html", "text": programName}, {"url": "campaign-dashboard.html", "text": campaign1Name}]

block navPrimary
	include ./includes/navigation/_program-admin

block content
	section.row
		.sub-heading
			h2.sub-heading-name Active Participants
			p.sub-heading-action
				a(href='#')
					| Email Participation Report
					- var icon = "email"
					include ../shared/icon
		.col-xs-12
			table.responsive-table
				thead
					tr
						th Name
						th Email
						th Donor Prospects
						th
							- var icon = "sms"
							- var iconClasses = "black"
							include ../shared/icon
						th
							- var icon = "facebook"
							- var iconClasses = "facebook"
							include ../shared/icon
						th
							- var icon = "twitter"
							- var iconClasses = "twitter"
							include ../shared/icon
						th Amount Raised
				tbody
					- for (var i = 0; i < 50; i++)
						- var donorProspects = Math.floor(Math.random() * 40)
						tr(class="#{donorProspects < 3 ? 'danger' : donorProspects >= 3 && donorProspects < 12 ? 'warning' : ''}")
							td(data-label="Name")
								a(href="participant-detail.html", title="View participant detail for Billy Smith #{i + 1}", aria-label="View participant detail for Billy Smith #{i + 1}") Billy Smith #{i + 1}
							td(data-label="Email")
								a(href="mailto:billysmith#{i + 1}@gmail.com") billysmith#{i + 1}@gmail.com
							td(data-label="Donor Prospects")
								if (donorProspects < 3)
									- var icon = "error"
									- var iconClasses = ""
									include ../shared/icon
								else if (donorProspects >= 3 && donorProspects < 12)
									- var icon = "warning"
									- var iconClasses = ""
									include ../shared/icon
								| #{donorProspects}
							td(data-label="Donors Texted") #{Math.floor(Math.random() * donorProspects)}
							td(data-label="Facebook Posts") #{Math.floor(Math.random() * donorProspects)}
							td(data-label="Twitter Posts") #{Math.floor(Math.random() * donorProspects)}
							td(data-label="Amount Raised")
								a(href="participant-dashboard.html") $#{Math.floor(Math.random() * (donorProspects * 75))}
	.row
		.col-xs-12
			h2 Archived Participants
			table.responsive-table
				thead
					tr
						th Name
						th Email
						th Donor Prospects
						th Activate
				tbody
					- for (var i = 0; i < 10; i++)
						tr
							td(data-label="Name")
								a(href="participant-detail.html", title="View participant detail for Bobby Smith #{i + 1}", aria-label="View participant detail for Bobby Smith #{i + 1}") Bobby Smith #{i + 1}
							td(data-label="Email")
								a(href="bobbysmith#{i + 1}@gmail.com") bobbysmith#{i + 1}@gmail.com
							td(data-label="Donor Prospects") #{Math.floor(Math.random() * 10)}
							td(data-label="Activate")
								ul.action-list
									li
										a(href="#", title="Activate Bobby Smith #{i + 1}", aria-label="Activate Bobby Smith #{i + 1}")
											- var icon = "unarchive"
											- var iconClasses = ""
											include ../shared/icon
