extends ./includes/sublayout-bootstrap

block pageVars
	- var title = "Privacy Policy"
	- var resources = {"Asana Task": "https://app.asana.com/0/80660851875913/338836973899505", "Notes": ["Instances of the word 'donor(s)' should reference labels and not be hardcoded."]}

block content
	.row
		.col-xs-12.col-md-6.col-md-offset-3
			h1 Privacy Policy
			p eTeamSponsor.com and our non-profit partner eSponsorNow.org are deeply committed to safeguarding you, your children and donors privacy online. The terms of our agreement with your program clearly state the following:
			ul
				li We DO NOT sell any information gathered within the scope of this campaign to a third-party.
				li All emails received by you and/or the donors are in direct relationship with our fundraising efforts, none are SPAM or Third-Party solicitations.
				li All information gathered for the campaign is encrypted using SSL technology, at the industry standard.
				li We DO NOT store the donor’s financial information (ex. Credit Card information, e-Check information etc.).
				li ALL donors who make a donation will receive a “tax deductible receipt” from eSponsorNow on behalf of the program.
			p We appreciate your cooperation in our combined efforts to help your program raise thousands!
			p Sean Connors, President
				br
				| eTeamSponsor, Inc.