extends ./includes/sublayout

block pageVars
	- var title = "Update Donor"
	- var includeDefaultPageTitle = true
	- var hasNav = true
	- var resources = {"Asana Task": "https://app.asana.com/0/80660851875913/376464140212973", "Notes": ["The 'Cancel' button will take you back to either the Program Dashboard or the Program Admin's Donor list.  Both of those pages can link to this page.  As such, the breadcrumbs should also reflect this accordingly (by adding 'My Donors' to the breadcrumb list if you've clicked from the 'My Donors' list).", "Instances of the words 'donor' should reference labels and not be hardcoded."]};
	- var breadcrumbs = [{"url": "parent-organization-dashboard.html", "text": parentOrgName}, {"url": "child-organization-dashboard.html", "text": childOrgName}, {"url": "program-dashboard.html", "text": programName}];

block navPrimary
	include ./includes/navigation/_program-admin

block content
	.row
		.layout-single-column
			h2.text-center Update Donor
			form(action='program-admin-donor-list.html', data-toggle='validator', data-disable='false')
				fieldset
					legend.sr-only Update Donor
					ol.list-unstyled
						li.form-group
							.floating-label-group
								input.form-control.has-floating-label(type='text', name='donorName', id='donorName', data-error="Please enter the donor's first and last name.", required, value="Bobby Smith")
								label.floating-label(for='donorName') Donor's First &amp; Last Name
							.help-block.with-errors
						li.form-group
							.floating-label-group
								input.form-control.has-floating-label.js-validate-email(type='email', name='donorEmail', id='donorEmail', data-error="Please enter the donor's email address.", required, value="bobbysmith@gmail.com")
								label.floating-label(for='donorEmail') Donor's Email
							.help-block.with-errors
						li.form-group
							label Relationship
							.floating-label-group.decorator-select
								select.form-control.has-floating-label.dynamic-form-ui-trigger(name='donorAlumnus', id='donorAlumnus', data-error="Please select if the donor is an alumnus.", data-dynamic-form-ui-name="relationship", required)
									option(value='', disabled)
									option.dynamic-form-ui-hide(value='true', selected) Yes
									option.dynamic-form-ui-show(value='false') No
								label.floating-label(for='donorAlumnus') Is this donor an alumnus?
							.help-block.with-errors
							.dynamic-form-ui-container.hidden(data-dynamic-form-ui-name="relationship")
								include ./includes/_relationship-basic-options
								include ./includes/_relationship-all-options
						li
							h3.form-label For which campaigns should this donor receive emails?
						li.form-group
							label.lightweight(for='campaign1')
								input#campaign1(type='checkbox', name='campaigns', checked)
								|  #{campaign1Name}
						li.form-group
							label.lightweight(for='campaign2')
								input#campaign2(type='checkbox', name='campaigns', checked)
								|  #{campaign1Name} 2
						li.form-group.text-center
							input.btn.btn-lg.btn-primary(type='submit', value='Update Donor')
							a.btn.btn-lg.btn-default(href='program-admin-donor-list.html') Cancel
