extends ./includes/sublayout

block pageVars
	- var title = "Create Segment"
	- var includeDefaultPageTitle = false;
	- var breadcrumbs = [{"url": "parent-organization-dashboard.html", "text": parentOrgName}, {"url": "child-organization-dashboard.html", "text": childOrgName}, {"url": "program-dashboard.html", "text": programName}]


block navPrimary
	include ./includes/navigation/_program-admin

block content
	include ./includes/_page-title
	section.row
		.layout-single-column
			h2.text-center Create Segment
			form(action='index.html', data-toggle='validator', data-disable='false')
				fieldset
					legend.sr-only Create Segment
					ol.list-unstyled
						li.form-group
							.floating-label-group
								input.form-control.has-floating-label(type='text', name='segmentName', id='segmentName', data-error="Please enter the segment's name.", required)
								label.floating-label(for='segmentName') Segment Name
							.help-block.with-errors
						li
							strong Attention!
							| Required File structure. Please provide your data according to the order:
							ul
								li First Name (*Required)
								li Last Name (*Required)
								li Email (*Required)
								li Graduation year
								li Last gift
								li Total give
								li Cell Phone
							p Please manually validate the list you are trying to load and leave only valid emails. In case you loaded the wrong list you would need to delete the whole segment and start over.
						li.form-group
							.file-input-container
								label.file-label(for='segmentNameFile')
									p Segment File
									p.btn.btn-primary.file-name Choose a file...
								input(type='file', id='segmentNameFile', name='segmentNameFile', accept='image/*')
						li.form-group.text-center
							input.btn.btn-lg.btn-primary(type='submit', value='Create')
							a.btn.btn-lg.btn-default(href='program-donor-segments.html') Cancel
