extends ./includes/sublayout

block pageVars
	- var title = "Update Segment"
	- var includeDefaultPageTitle = false;
	- var breadcrumbs = [{"url": "parent-organization-dashboard.html", "text": parentOrgName}, {"url": "child-organization-dashboard.html", "text": childOrgName}, {"url": "program-dashboard.html", "text": programName}]


block navPrimary
	include ./includes/navigation/_program-admin

block content
	include ./includes/_page-title
	section.row
		.layout-single-column
			h2.text-center Update Segment
			form(action='index.html', data-toggle='validator', data-disable='false')
				fieldset
					legend.sr-only Update Segment
					ol.list-unstyled
						li.form-group
							.floating-label-group
								input.form-control.has-floating-label(type='text', name='segmentName', id='segmentName', value="SHU Alumni Segment" data-error="Please enter the segment's name.", required)
								label.floating-label(for='segmentName') Segment Name
							.help-block.with-errors

						li.form-group.text-center
							input.btn.btn-lg.btn-primary(type='submit', value='Update')
							a.btn.btn-lg.btn-default(href='program-donor-segments.html') Cancel
