extends ./includes/sublayout

block pageVars
	- var title = programName + " Dashboard"
	- var includeDefaultPageTitle = false
	- var hasNav = true
	- var showChangeProgram = true
	- var showSearch = true
	- var breadcrumbs = [{"url": "parent-organization-dashboard.html", "text": parentOrgName}, {"url": "child-organization-dashboard.html", "text": childOrgName}]
	- var resources = {"Asana Task": "https://app.asana.com/0/80660851875913/375565991148062", "Notes": ["Instances of the words 'donor(s)', 'donation(s)', and 'donated' should reference labels and not be hardcoded.", "Instances of <Program Name>, <Campaign Name>, <MASCOT>, and campaign page URLs need to be updated with their real data counterparts.", "Upload Participants functionality will only be accessible to ETS Admins and higher."]}

block navPrimary
	include ./includes/navigation/_program-admin
	include ../shared/style-guide/campaign-wizard-create-edc
block content
	#program-dashboard-campaigns
	.row.page-header-group
		.detail-heading
			h1.detail-heading-title(itemprop="name") #{programName}
				icon-link(
				title="This program supports Event Driven Functionality"
				style="margin-left: 10px;")
				a.icon-link(href="update-program.html")
					- var icon = "calendar"
					- var iconClasses = "brand-primary"
					include ../shared/icon
			h2.detail-heading-details
				| Raised:
				span.detail-heading-stat  #{childOrgAmountRaised}
	section.row
		.sub-heading
			h2.sub-heading-name Pre-launch Campaigns
			p.sub-heading-action
				a.new-campaign(href='#createCampaign', title='Create New Campaign for #{programName}', data-toggle='modal' aria-label='Create New Campaign for #{programName}')
					| New Campaign
					- var icon = "trending-up"
					include ../shared/icon
		.col-xs-12#newCampaignRow
			h3
				a(href='campaign-dashboard.html', id='newCampaignLink') Your new campaign
				a(href='campaign-edit.html')
					- var icon = "update"
					- var iconClasses = "brand-primary icon-inline-right"
					include ../shared/icon
				a(href='#', id='clearDemoChallenge')
					- var icon = "remove"
					- var iconClasses = "brand-primary icon-inline-right"
					include ../shared/icon
			.tile-container.tile-count-3
				.tile.has-progress
					h3.tile-metric#campaignUnfinishedTitle
					p.tile-title
						a.edit-campaign(href='#createCampaign', title='Edit This Task', data-toggle='modal' aria-label='Edit This Task')
							| Continue Editing Campaign
							- var icon = "update"
							- var iconClasses = "brand-primary icon-inline-right"
							include ../shared/icon
						.preview-button-row
							a(href='campaign-emails-edc.html')
								button.btn.btn-default(type='button') Review Campaign
							button.btn.btn-default(type='button') Launch Campaign
					h3.tile-metric#campaignMetric
					p.tile-title Tasks Completed
					.tile-progress-container
						.tile-progress(data-value="0%", style="width: 0", id='campaignProgressBar')
				.tile.has-progress
					h3.tile-metric#campaignParticipationMetric
					p.tile-title Total Participation
					p.tile-separator
						a(href='participation-report.html', aria-label='Participation Report') Participation Report
					.tile-progress-container
						.tile-progress(data-value="0%", style="width: 0", id='campaignParticipationBar')
				.tile
					h3.tile-metric#campaignLaunchDay
					p.tile-title Launch Date
					h3.tile-metric#campaignEmailDay
					p.tile-title Email Campaign Begins
		.col-xs-12
			h3
				a(href='campaign-dashboard.html', title='#{campaign1Name} 3 Dashboard') #{campaign1Name} 3
				a(href='#', title='Update #{campaign1Name} 3', aria-label='Update #{campaign1Name} 3')
					icon-link(
					title="This program supports Event Driven Functionality"
					style="margin-left: 10px;")
					- var icon = "calendar"
					- var iconClasses = "brand-primary icon-inline-right"
					include ../shared/icon
			.tile-container.tile-count-3
				.tile.has-progress
					h3.tile-metric Team Video
					p.tile-title
						// a(href="#") Get Started on This Task
						a.edit-campaign(href='#', title='Edit This Task')
							| Edit Campaign
							- var icon = "update"
							- var iconClasses = "brand-primary icon-inline-right"
							include ../shared/icon
					h3.tile-metric 5 of 12
					p.tile-title Tasks Completed
					.tile-progress-container
						.tile-progress(data-value="62.5%", style="width: 62.5%")
				.tile.has-progress
					h3.tile-metric 14 of 28
					p.tile-title Total Participation
					p.tile-separator
						a(href='participation-report.html', title='Participation Report for #{campaign1Name} 3', aria-label='Participation Report for #{campaign1Name} 3') Participation Report
					.tile-progress-container
						.tile-progress(data-value="50%", style="width: 50%")
				.tile
					h3.tile-metric Oct. 31
					p.tile-title Campaign Start
					h3.tile-metric Nov. 5
					p.tile-title Campaign Event
	section.row
		.sub-heading
			h2.sub-heading-name Active Campaigns
			p.sub-heading-action
				a(href='#', title='Create New Campaign for #{programName}', aria-label='Create New Campaign for #{programName}')
					| New Campaign
					- var icon = "trending-up"
					include ../shared/icon
		.col-xs-12
			h3
				a(href='campaign-dashboard.html', title='#{campaign1Name} Dashboard') #{campaign1Name}
				a(href='#', title='Update #{campaign1Name}', aria-label='Update #{campaign1Name}')
					- var icon = "update"
					- var iconClasses = "brand-primary icon-inline-right"
					include ../shared/icon
			.tile-container.tile-count-3
				.tile.has-progress
					h3.tile-metric $11,695
					p.tile-title Raised
					h3.tile-metric.is-goal $10,000
					p.tile-title Goal
					.tile-progress-container
						.tile-progress(data-value="117%", style="width: 100%")

				.tile.has-progress
					h3.tile-metric 14 of 28
					p.tile-title Total Participation
					p.tile-separator
						a(href='participation-report.html', title='Participation Report for #{campaign1Name}', aria-label='Participation Report #{campaign1Name}') Participation Report
					.tile-progress-container
						.tile-progress(data-value="50%", style="width: 50%")

				include ./includes/tiles/_share-campaign
		.col-xs-12
			h3
				a(href='campaign-dashboard.html', title='#{campaign1Name} 2 Dashboard') #{campaign1Name} 2
				a(href='#', title='Update #{campaign1Name}', aria-label='Update #{campaign1Name}')
					- var icon = "update"
					- var iconClasses = "brand-primary icon-inline-right"
					include ../shared/icon
			.tile-container.tile-count-3
				.tile.has-progress
					h3.tile-metric $1,000
					p.tile-title Raised
					h3.tile-metric.is-goal $10,000
					p.tile-title Goal
					.tile-progress-container
						.tile-progress(data-value="10%", style="width: 10%")

				.tile.has-progress
					h3.tile-metric 14 of 28
					p.tile-title Total Participation
					p.tile-separator
						a(href='participation-report.html', title='Participation Report for #{campaign1Name} 2', aria-label='Participation Report for #{campaign1Name} 2') Participation Report
					.tile-progress-container
						.tile-progress(data-value="50%", style="width: 50%")

				include ./includes/tiles/_share-campaign
		.col-xs-12
			a(href="completed-campaigns.html") Completed Campaigns
	section.row
		.sub-heading
			h2.sub-heading-name#manage-participants Recently Entered Participants
			p.sub-heading-action
				a(href='add-participant.html', title='Add Participant')
					| Add Participant
					- var icon = "person-add"
					- var iconClasses = ""
					include ../shared/icon
				a(href='upload-participants.html', title='Upload Participants')
					| Upload Participants
					- var icon = "upload"
					- var iconClasses = ""
					include ../shared/icon
		.col-xs-12
			table.responsive-table
				thead
					tr
						th Name
						th Email
						th Cell Phone
						th Cell Provider
						th Resend
				tbody
					- for (var i = 0; i < 5; i++)
					tr
						td(data-label="Name")
							a(href="participant-detail.html", title="View participant detail for Billy Smith #{i + 1}", aria-label="View participant detail for Billy Smith #{i + 1}") Billy Smith #{i + 1}
						td(data-label="Email")
							a(href="mailto:billysmith#{i + 1}@gmail.com") billysmith#{i + 1}@gmail.com
						td(data-label="Cell Phone") (555) 555-123#{Math.floor(Math.random() * 10)}
						td(data-label="Cell Provider") Verizon
						td(data-label="Resend")
							ul.action-list
								li
									a(href="#", title="Resend Text to Billy Smith #{i + 1}", aria-label="Resend Text to Billy Smith #{i + 1}")
										- var icon = "sms"
										- var iconClasses = ""
										include ../shared/icon
								li
									a(href="#", title="Resend Password to Billy Smith #{i + 1}", aria-label="Resent Password to Billy Smith #{i + 1}")
										- var icon = "key"
										- var iconClasses = ""
										include ../shared/icon
			p
				a.btn.btn-lg.btn-primary(href="manage-participants.html", title='Manage Participants for #{programName}', aria-label="Manage Participants for #{programName}") Manage Participants
	section.row
		.sub-heading
			h2.sub-heading-name Manage &lt;Program Admin Name&gt;'s Donors
			p.sub-heading-action
				a(href='program-admin-add-donor.html', title='Add Donor')
					| Add Donor
					- var icon = "person-add"
					- var iconClasses = ""
					include ../shared/icon
				a(href='upload-donors.html')
					| Upload Donors
					- var icon = "upload"
					- var iconClasses = ""
					include ../shared/icon
		.col-xs-12
			table.responsive-table
				thead
					tr
						th Name
						th Email
						th Relationship
						th Status
						th Manage
				tbody
					- for (var i = 0; i < 4; i++)
					tr
						td(data-label="Name")
							a(href="donor-detail.html", title="View donor detail for Bob Smith #{i + 1}", aria-label="View donor detail for Bob Smith #{i + 1}") Bob Smith #{i + 1}
						td(data-label="Email")
							a(href="mailto:bobsmith#{i + 1}@gmail.com") bobsmith#{i + 1}@gmail.com
						td(data-label="Relationship") Alumnus
						td(data-label="Status") Sending
						td(data-label="Manage")
							ul.action-list
								li
									a(href="program-admin-update-donor.html", title="Update Bob Smith #{i + 1}", aria-label="Update Bob Smith #{i + 1}")
										- var icon = "update"
										- var iconClasses = ""
										include ../shared/icon
								li
									a.interruption-navigation-trigger(href="program-admin-delete-donor.html", title="Deactivate Bob Smith #{i + 1}", aria-label="Deactivate Bob Smith #{i + 1}", data-interruption-message="Are you sure you want to deactivate this donor?", data-interruption-cancel-text="No", data-interruption-confirm-text="Yes")
										- var icon = "remove"
										- var iconClasses = ""
										include ../shared/icon
					tr.warning
						td(data-label="Name")
							- var icon = "warning"
							- var iconClasses = ""
							include ../shared/icon
							a(href="donor-detail.html", title="View donor detail for Bob Validating", aria-label="View donor detail for Bob Validating") Bob Validating
						td(data-label="Email")
							a(href="mailto:bobvalidatingemail@gmail.com") bobvalidatingemail@gmail.com
						td(data-label="Relationship") Alumnus
						td(data-label="Status") Validating
						td(data-label="Actions")
							ul.action-list
								li
									a(href="program-admin-update-donor.html", title="Update Bob Validating", aria-label="Update Bob Validating")
										- var icon = "update"
										include ../shared/icon
			p
				a.btn.btn-lg.btn-primary(href="program-admin-donor-list.html") Full Donor List
