extends ./includes/sublayout

block pageVars
	- var title = "Alumni and Coach Contacts"
	- var includeDefaultPageTitle = true
	- var hasNav = true
	- var resources = {"Asana Task": "https://app.asana.com/0/80660851875913/376464140212972"}
	- var breadcrumbs = [{"url": "parent-organization-dashboard.html", "text": parentOrgName}, {"url": "child-organization-dashboard.html", "text": childOrgName}, {"url": "program-dashboard.html", "text": programName}]

block navPrimary
	include ./includes/navigation/_program-admin

block content
	section.row
		.sub-heading
			h2.sub-heading-name Active Donors
			p.sub-heading-action
				a(href='program-admin-add-donor.html')
					| Add Donor
					- var icon = "person-add"
					include ../shared/icon
				a(href='upload-donors.html')
					| Upload Alumni
					- var icon = "upload"
					include ../shared/icon
		.col-xs-12
			table.responsive-table
				thead
					tr
						th Name
						th Email
						th Relationship
						th Manage
				tbody
					- for (var i = 0; i < 10; i++)
						tr
							td(data-label="Name")
								a(href="donor-detail.html", title="View donor detail for Bob Smith #{i + 1}", aria-label="View donor detail for Bob Smith #{i + 1}") Bob Smith #{i + 1}
							td(data-label="Email")
								a(href="mailto:bobsmith#{i + 1}@gmail.com") bobsmith#{i + 1}@gmail.com
							td(data-label="Relationship") Alumnus
							td(data-label="Manage")
								ul.action-list
									li
										a(href="program-admin-update-donor.html", title="Update Bob Smith #{i + 1}", aria-label="Update Bob Smith #{i + 1}")
											- var icon = "update"
											include ../shared/icon
									li
										a.interruption-navigation-trigger(href="program-admin-delete-donor.html", title="Delete Bob Smith #{i + 1}", aria-label="Delete Bob Smith #{i + 1}", data-interruption-message="Are you sure you want to delete this donor?", data-interruption-cancel-text="No", data-interruption-confirm-text="Yes")
											- var icon = "remove"
											include ../shared/icon
					tr.warning
						td(data-label="Name")
							- var icon = "warning"
							- var iconClasses = ""
							include ../shared/icon
							a(href="donor-detail.html", title="View donor detail for Bob Validating", aria-label="View donor detail for Bob Validating") Bob Validating
						td(data-label="Email")
							a(href="bobvalidatingemail@gmail.com") bobvalidatingemail@gmail.com
						td(data-label="Relationship") Alumnus
						td(data-label="Actions")
							ul.action-list
								li
									a(href="program-admin-update-donor.html", title="Update Bob Validating", aria-label="Update Bob Validating")
										- var icon = "update"
										include ../shared/icon
	section.row
		.col-xs-12
			h2 Inactive Donors
			table.responsive-table
				thead
					tr
						th Name
						th Email
						th Activate
				tbody
					- for (var i = 0; i < 10; i++)
						tr
							td(data-label="Name")
								a(href="donor-detail.html", title="View donor detail for Bobby Smith #{i + 1}", aria-label="View donor detail for Bobby Smith #{i + 1}") Bobby Smith #{i + 1}
							td(data-label="Email")
								a(href="mailto:bobbysmith#{i + 1}@gmail.com") bobbysmith#{i + 1}@gmail.com
							td(data-label="Activate")
								ul.action-list
									li
										a(href="#", title="Activate Bobby Smith #{i + 1}", aria-label="Activate Bobby Smith #{i + 1}")
											- var icon = "unarchive"
											include ../shared/icon
