extends ./includes/sublayout

block pageVars
	- var title = "Donor Segments"
	- var includeDefaultPageTitle = false;
	- var breadcrumbs = [{"url": "parent-organization-dashboard.html", "text": parentOrgName}, {"url": "child-organization-dashboard.html", "text": childOrgName}, {"url": "program-dashboard.html", "text": programName}]


block navPrimary
	include ./includes/navigation/_program-admin

block content
	include ./includes/_page-title
	section.row
		.sub-heading
			h2.sub-heading-name
			p.sub-heading-action
				a(href='program-donor-segment-create.html')
					| Add Segment
					- var icon = "person-add"
					include ../shared/icon
		.col-sm-12
			table.responsive-table
				thead
					tr
						th Name
						th Numbers of records
						th Download CSV
						th Settings
				tbody
					tr
						td(data-label="Name") Segment 1
						td(data-label="Numbers of records") 5
						td(data-label="Download CSV")
							ul.action-list
								li
									- var icon = "document"
									include ../shared/icon
						td(data-label="Settings")
							ul.action-list
								li
									a(href="/fundraker/program-donor-segment-update.html")
										- var icon = "update"
										include ../shared/icon
									- var icon = "remove"
									include ../shared/icon
					tr
						td(data-label="Name") Segment 2
						td(data-label="Numbers of records") 4
						td(data-label="Download CSV")
							ul.action-list
								li
									- var icon = "document"
									include ../shared/icon
						td(data-label="Settings")
							ul.action-list
								li
									a(href="/fundraker/program-donor-segment-update.html")
										- var icon = "update"
										include ../shared/icon
									- var icon = "remove"
									include ../shared/icon

					tr
						td(data-label="Name") Segment 3
						td(data-label="Numbers of records") 1
						td(data-label="Download CSV")
							ul.action-list
								li
									- var icon = "document"
									include ../shared/icon
						td(data-label="Settings")
							ul.action-list
								li
									a(href="/fundraker/program-donor-segment-update.html")
										- var icon = "update"
										include ../shared/icon
									- var icon = "remove"
									include ../shared/icon
