extends ../../templates/layout

block projectVars
    - var project = "campaign-page"
    - var author = "eTeamSponsor"
    - var title = "2018 SHU Women's Soccer Challenge"
    - var titleSuffix = " | eTeamSponsor"
    - var primaryColor = "#000"
    - var accentColor = "#FFC423"
    - var accentSecond = "#3ab44a"

block favicon
    include ../eteamsponsor-shared/favicon

block sublayout
    include ../campaign-page/includes/_custom-styles
    include ../campaign-page/includes/standard/_nav

    #programLandingAdminPreview

    main#landing-preview-main
        link(href="//cdn.quilljs.com/1.3.6/quill.snow.css")
        link(rel='stylesheet', type='text/css', href='//cdn.quilljs.com/1.3.6/quill.snow.css')
        main
            .layout-primary
                .container
                    .row
                        .col-xs-12.col-sm-8
                            .embed-responsive.embed-responsive-16by9
                                iframe#campaign-video.preview-template-campaign-video(width="640", height="360", frameborder="0", webkitallowfullscreen, mozallowfullscreen, allowfullscreen)
                                .embed-responsive-item.poster.poster-details
                                    .poster-inner.hidden-xs
                                        img.org-logo(src='/img/content/sample-logos/siena-heights.png', alt='eTeamSponsor', style="min-width: 225px;")
                                    .poster-inner
                                        h1.poster-heading.landing-challenge 2018 Cal Poly Pomona Baseball Challenge
                                        a.play(href="#", title="Replay campaign video", aria-label="Replay campaign video")
                                            - var icon = "play"
                                            - var iconClasses = "icon-large"
                                            svg.icon(class="#{iconClasses}")
                                                use(xlink:href="/img/icons.svg##{icon}-icon")
                                .embed-responsive-item.poster.poster-share.is-hidden
                                    .poster-inner.hidden-xs
                                        img.org-logo(src='/img/content/sample-logos/siena-heights.png', alt='eTeamSponsor')
                                    .poster-inner
                                        h1.poster-heading Share our Campaign
                                        .poster-challenge-social.no-click(style="display: flex; justify-content: space-around; width: 100%; margin: 20px 0;")
                                            a(href="#", class="facebook-landing-social", title="Share on Facebook", aria-label="Share on Facebook", data-share-platform="facebook", data-share-url="#{standardFacebookShareUrl}")
                                                - var icon = "facebook"
                                                - var iconClasses = "facebook icon-large"
                                                svg.icon(class="#{iconClasses}", style="fill: #3b5998;")
                                                    use(xlink:href="/img/icons.svg##{icon}-icon")
                                            a(href="//twitter.com/intent/tweet?text=#{standardTweetText}", class="twitter-landing-social", title="Share on Twitter", aria-label="Share on Twitter")
                                                - var icon = "twitter"
                                                - var iconClasses = "twitter icon-large"
                                                svg.icon(class="#{iconClasses}")
                                                    use(xlink:href="/img/icons.svg##{icon}-icon", style="fill: #55acee;")
                                            a(href="#", title="Share via email", class="email-landing-social", aria-label="Share via email", data-share-platform="email", data-share-subject="#{standardDonorEmailSubject}", data-share-body="#{standardDonorEmailBody}")
                                                - var icon = "email"
                                                - var iconClasses = "black icon-large"
                                                svg.icon(class="#{iconClasses}")
                                                    use(xlink:href="/img/icons.svg##{icon}-icon")
                                        a.play(href='#', title='Replay campaign video', aria-label='Replay campaign video')
                                            svg.icon.icon-large
                                                use(xlink:href='/img/icons.svg#play-icon')
                            ul.org-details
                                li Siena Heights University
                                li.hidden-xs
                                    svg.icon.icon-inline-left.accent-color
                                        use(xlink:href='/img/icons.svg#location-icon')
                                    | Battle Creek, MI
                                li.hidden-xs
                                    svg.icon.icon-inline-left.accent-color
                                        use(xlink:href='/img/icons.svg#tag-icon')
                                    | Soccer
                        .col-xs-12.col-sm-4
                            span.progress-amount-raised(data-amount-raised='0') 0
                            span.progress-amount-goal.landing-goal / $10,000
                            .progress-container
                                .progress-percent(data-style='width: 0', style='width: 0')
                            .progress-metrics
                                .progress-metric.progress-goal-percentage
                                    .progress-metric-amount 0
                                    .progress-metric-label of goal
                                .progress-metric
                                    .progress-metric-amount 0
                                    .progress-metric-label donors
                                .progress-metric
                                    .progress-metric-amount 0
                                    .progress-metric-label days left
                            a.btn.btn-lg.btn-primary.btn-block.btn-donate(href='#') Donate Now
                            p.text-center.top-buffer
                                svg.icon.icon-inline-left.accent-color
                                    use(xlink:href='/img/icons.svg#phone-icon')
                                | Donate by Phone - 
                                a(href='tel://8009866128', class="landing-phone") (800) 986-6128
                            p.text-center.top-buffer
                                a(href='mail-check-info.html', onclick="window.open(this.href, '_blank', 'location=yes,height=650,width=800,scrollbars=yes,status=yes'); return false;", target='_blank')
                                    svg.icon.icon-inline-left.accent-color
                                        use(xlink:href='/img/icons.svg#email-icon')
                                    | How to Mail Your Check
            .layout-secondary
                .nav-tabs-container
                    .container
                        .row
                            .col-xs-12.col-sm-8
                                ul.nav.nav-tabs
                                    li.active
                                        a.campaign-tab(href='#campaign', data-toggle='tab') Campaign
                                    li
                                        a.team-tab(href='#team', data-toggle='tab') Team
                .container
                    .row
                        .col-xs-12.col-sm-12.campaign-left-message
                            .tab-content
                                #campaign.tab-pane.active
                                    #landingPreviewAdminRTE(style="display: none;")
                                    h2
                                    p.landing-body
                                        | Thank you for visiting our 2018 Cal Poly Pomona Baseball Challenge page!  Your generous support will help our program immensely over the next year.  We appreciate any amount you can give and thank you in advance for your generous suppor!
                                #team.tab-pane
                                    h2.h3 Meet the Team

            .container
                .row
                    .col-xs-12.top-buffer.text-center
                        a.btn.btn-primary(href='http://eteamsponsor.com/get-started/', target='_blank') Start your own campaign

        footer.container
            .col-xs-12.text-center
                a(href="index.html")
                    img.img-responsive.center-block.img-footer(src="/img/content/logos/ets-full-dark.svg", alt="eTeamSponsor.com")
                p.disclaimer Copyright 2010-#{new Date().getFullYear()} eTeamSponsor.com
