extends ./includes/sublayout

block pageVars
	- var title = "Style Guide"
	- var additionalJsFiles = ["charts"]

block content
	.row
		.col-xs-12
			h1.page-header Table of Contents
			ul
				li
					a(href="#colors") Colors
				li
					a(href="#typography") Typography
				li
					a(href="#lists") Lists
				li
					a(href="#tables") Tables
				li
					a(href="#icons") Icons
				li
					a(href="#breadcrumbs") Breadcrumbs
				li
					a(href="#alerts") Alerts
				li
					a(href="#callout") Callout
				li
					a(href="#tiles") Tiles
				li
					a(href="#forms") Forms
				li
					a(href="#buttons") Buttons
				li
					a(href="#dynamic-form-ui") Dynamic Form UI
				li
					a(href="#interruption-methods") Interruption Methods
				li
					a(href="#charts") Charts

		include ../eteamsponsor-shared/colors

		include ../shared/style-guide/typography

		.col-xs-12
			h2 Page Header Groups
			p The&nbsp;
				code page-header-group
				| class is to be used in conjunction with the&nbsp;
				code row
				| class to create a visual vertical separation between the page's main heading and its content.

			.row.page-header-group
				.col-xs-12
					h1 This is a page heading in a page header group.
			.row
				.col-xs-12
					p This is some content below a page header group.

		include ../shared/style-guide/lists

		include ../shared/style-guide/tables

		include ../shared/style-guide/icons

		.col-xs-12
			h1.page-header#breadcrumbs Breadcrumbs
			p Breadcrumbs are used in conjunction with the page header group pattern to give the user context to their location on the site.  A breadcrumb link should only be visible to the user if they have access to the page being linked.  For instance, if a user is a program admin, they should not see organization level links.
			ul.breadcrumb
				li
					a(href="#") Grandparent Page
				li
					a(href="#") Parent Page
			include ./includes/_org-heading

		include ../shared/style-guide/alerts

		include ../eteamsponsor-shared/callout

		include ../shared/style-guide/tiles

		include ../shared/style-guide/forms

		.col-xs-12.col-sm-8
			h3 Phone Number Masking
			form#phone-number-masking(action='', data-toggle='validator', data-disable='false')
				legend.sr-only Legend
				fieldset
					ol.list-unstyled
						li
							p To mask an input for a phone number, add the&nbsp;
								code js-mask-phone
								| class to the input.
						li.form-group
							.floating-label-group
								input#phoneNumberMasking.form-control.has-floating-label.js-mask-phone(type="tel")
								label.floating-label(for='phoneNumberMasking') Phone Number

		include ../shared/style-guide/buttons

		include ../shared/style-guide/dynamic-form-ui

		include ../shared/style-guide/interruption-methods

		include ../shared/style-guide/charts
