extends ./includes/sublayout

block pageVars
	- var title = "Update Donation"
	- var includeDefaultPageTitle = false;
	- var resources = {"Asana Task": "https://app.asana.com/0/80660851875913/242889226209262"};
	- var breadcrumbs = [{"url": "parent-organization-dashboard.html", "text": parentOrgName}, {"url": "child-organization-dashboard.html", "text": childOrgName}, {"url": "campaign-dashboard.html", "text": campaign1Name}, {"url": "donor-detail.html", "text": "Donor Detail"}];

block content
	.row.page-header-group
		.col-xs-12
			h1 Update Donation
	section.row
		.layout-single-column
			h2.text-center Update Donation for Bob Smith
			form(action='donor-detail.html', data-toggle='validator', data-disable='false')
				fieldset
					legend.sr-only Update Donation
					ol.list-unstyled
						li.form-group
							.floating-label-group.decorator-select
								select.form-control.has-floating-label(name='participant', id='participant', data-error='Please select a participant.', required)
									option(value='billysmith1', selected) Billy Smith 1
									option(value='billysmith2') Billy Smith 2
									option(value='billysmith3') Billy Smith 3
									option(value='billysmith4') Billy Smith 4
									option(value='billysmith5') Billy Smith 5
								label.floating-label(for='participant') Participant
							.help-block.with-errors
						li.form-group
							label.lightweight(for='publicDonation')
								input#publicDonation(type='checkbox', name='publicDonation', checked)
								|  Make this donation public
						li.form-group
							.floating-label-group
								input.form-control.has-floating-label(type='text', name='comment', id='comment', maxlength='100', value='This is where the donor\'s comment text would be.')
								label.floating-label(for='comment') Comment
							.help-block.with-errors
						li.form-group.text-center
							input.btn.btn-lg.btn-primary(type='submit', value='Update Donation')