extends ./includes/sublayout

block pageVars
	- var title = "Update User"
	- var includeDefaultPageTitle = false;
	- var resources = {"Asana Task": "https://app.asana.com/0/8050569665770/132419257475750", "Webflow Prototype": "http://ets-login-00178f162e256aa7dac5711529493.webflow.io/edit-user"};
	- var breadcrumbs = [{"url": "parent-organization-dashboard.html", "text": parentOrgName}, {"url": "manage-users.html", "text": "Manage Users"}, {"url": "user-detail.html", "text": "User Name"}];

block content
	include ./includes/_org-heading
	section.row
		.layout-single-column
			h2.text-center Update User
			form(action='index.html', data-toggle='validator', data-disable='false')
				fieldset
					legend.sr-only Update User
					ol.list-unstyled
						li.form-group
							.floating-label-group
								input.form-control.has-floating-label(type='text', name='userName', id='userName', data-error="Please enter the user's first and last name.", required, value="Ellen O'Connor")
								label.floating-label(for='userName') User's First &amp; Last Name
							.help-block.with-errors
						li.form-group
							.floating-label-group
								input.form-control.has-floating-label(type='text', name='userTitle', id='userTitle', value="Associate Athletic Director")
								label.floating-label(for='userTitle') User's Title (Optional)
							.help-block.with-errors
						li.form-group
							.floating-label-group
								input.form-control.has-floating-label.js-validate-email(type='email', name='userEmail', id='userEmail', data-error="Please enter the user's email address.", required, value="oconorre@" + parentOrgDomain)
								label.floating-label(for='userEmail') User's Email
							.help-block.with-errors
						li.form-group
							.floating-label-group
								input.form-control.has-floating-label.js-mask-phone(type='tel', name='userPhone', id='userPhone', data-error="Please enter the user's cell phone number.", required, value=parentOrgPhone)
								label.floating-label(for='userPhone') User's Cell Phone
							.help-block.with-errors
						li.form-group
							.floating-label-group.decorator-select
								select.form-control.has-floating-label(name='userPhoneCarrier', id='userPhoneCarrier', data-error='Please select the phone carrier.', required)
									option(value='', disabled)
									option(value='att', selected) AT&amp;T
									option(value='verizon') Verizon
									option(value='tmobile') T-Mobile
									option(value='sprint') Sprint
									option(value='other') Other
								label.floating-label(for='userPhoneCarrier') Carrier
							.help-block.with-errors
						li.form-group
							.floating-label-group
								input.form-control.has-floating-label(type='password', name='userPassword', id='userPassword', data-match='#userConfirmPassword', data-match-error='Your passwords do not match.')
								label.floating-label(for='userPassword') New Password
							.help-block.with-errors
						li.form-group
							.floating-label-group
								input.form-control.has-floating-label(type='password', name='userConfirmPassword', id='userConfirmPassword')
								label.floating-label(for='userConfirmPassword') Confirm New Password
							.help-block.with-errors
						li.form-group
							.floating-label-group.decorator-select
								select.form-control.has-floating-label.dynamic-form-ui-trigger.interruption-option-change-trigger(name='userRole', id='userRole', data-error="Please select the user's role.", data-dynamic-form-ui-name='userRole', required)
									option(value='', disabled)
									option.dynamic-form-ui-show(value='orgAdmin', selected, data-dynamic-form-ui-url='../data/sample-data/user-role-access-map.json') Org Admin
									option.dynamic-form-ui-show(value='programAdmin', data-dynamic-form-ui-url='../data/sample-data/user-role-access-map.json') Program Admin
									option.dynamic-form-ui-show(value='campaignSpecialist', data-dynamic-form-ui-url='../data/sample-data/user-role-access-map.json') Campaign Specialist
									option.dynamic-form-ui-hide.interruption-option-change(value='inactive', data-interruption-message="You have set Ellen O'Connor as inactive.", data-interruption-cancel-text="Keep active at current role", data-interruption-confirm-text="Make inactive") Inactive
								label.floating-label(for='userRole') User's Role
							.help-block.with-errors
						li.form-group.dynamic-form-ui-container(data-dynamic-form-ui-name='userRole')
						li.form-group
							.file-input-container.has-file
								input#removeUserPhoto.remove-image(type='checkbox', name='removeUserPhoto')
								label.remove-image-label(for='removeUserPhoto') Remove
								img.image-preview(src=user1Photo)
								label.file-label(for='userPhoto')
									p User Photo
									p.btn.btn-primary.file-name Choose a file...
								input(type='file', id='userPhoto', name='userPhoto', accept='image/*')
						li.form-group.text-center
							input.btn.btn-lg.btn-primary(type='submit', value='Update User')
