extends ./includes/sublayout

block pageVars
	- var title = "Update Profile"
	- var includeDefaultPageTitle = false
	- var resources = {"Asana Task": "https://app.asana.com/0/80660851875913/338836973899498", "Notes": ["Not all fields will be visible to all users.  Make sure to check Asana for details."]};

block content
	section.row
		.layout-single-column
			h2.text-center Update Profile
			form(action='index.html', data-toggle='validator', data-disable='false')
				fieldset
					legend.sr-only Update Profile
					ol.list-unstyled
						li.form-group
							.floating-label-group
								input.form-control.has-floating-label(type='text', name='name', id='name', data-error="Please enter your first and last name.", required, value="Billy Smith")
								label.floating-label(for='name') First &amp; Last Name
							.help-block.with-errors
						li.form-group
							.floating-label-group
								input.form-control.has-floating-label.js-validate-email(type='email', name='email', id='email', data-error="Please enter your email address.", required, value="billysmith@gmail.com")
								label.floating-label(for='email') Email
							.help-block.with-errors
						li.form-group
							.floating-label-group
								input.form-control.has-floating-label.js-mask-phone(type='tel', name='phone', id='phone', data-error="Please enter your cell phone number.", required, value="5555551234")
								label.floating-label(for='phone') Cell Phone
							.help-block.with-errors
						li.form-group
							.floating-label-group.decorator-select
								select.form-control.has-floating-label(name='phoneCarrier', id='phoneCarrier', data-error='Please select the phone carrier.', required)
									option(value='', disabled)
									option(value='att', selected) AT&amp;T
									option(value='verizon') Verizon
									option(value='tmobile') T-Mobile
									option(value='sprint') Sprint
									option(value='other') Other
								label.floating-label(for='phoneCarrier') Carrier
							.help-block.with-errors
						li.form-group
							.floating-label-group
								input.form-control.has-floating-label(type='password', name='password', id='password', data-match='#confirmPassword', data-match-error='Your passwords do not match.')
								label.floating-label(for='password') New Password
							.help-block.with-errors
						li.form-group
							.floating-label-group
								input.form-control.has-floating-label(type='password', name='confirmPassword', id='confirmPassword')
								label.floating-label(for='confirmPassword') Confirm New Password
							.help-block.with-errors
						li.form-group.text-center
							input.btn.btn-lg.btn-primary(type='submit', value='Update Profile')