extends ./includes/sublayout

block pageVars
	- var title = "Update Program"
	- var includeDefaultPageTitle = true
	- var hasNav = true
	- var inlineFooterJs = "H5F.setup(document.getElementById(\"update-child-organization-form\"));"
	- var resources = {"Asana Task": "https://app.asana.com/0/8050569665770/116709693745181", "Webflow Prototype": "http://ets-login-00178f162e256aa7dac5711529493.webflow.io/edit-child-org"};
	- var breadcrumbs = [{"url": "parent-organization-dashboard.html", "text": parentOrgName}, {"url": "child-organization-dashboard.html", "text": childOrgName}, {"url": "program-dashboard.html", "text": programName}];

block navPrimary
	include ./includes/navigation/_program-admin

block content
	section.row
		.layout-single-column
			h2.text-center Update Program
			form#update-child-organization-form(action='index.html', data-toggle='validator', data-disable='false')
				fieldset
					legend.sr-only Update Program
					ol.list-unstyled
						li.form-group
							.floating-label-group
								input.form-control.has-floating-label(type='text', name='programName', id='programName', data-error='Please enter the program name.', required, value=programName)
								label.floating-label(for='programName') Program Name
							.help-block.with-errors
						li.form-group
							.floating-label-group.decorator-select
								select.form-control.has-floating-label(name='programType', id='programType', data-error='Please select the program type.', required)
									option(value='', disabled)
									option(value='1', selected) Type 1
									option(value='2') Type 2
									option(value='3') Type 3
								label.floating-label(for='programType') Program Type
							.help-block.with-errors
						li.form-group
							.floating-label-group.decorator-select
								select.form-control.has-floating-label(name='programSubType', id='programSubType', data-error='Please select the program sub-type.', required)
									option(value='', disabled)
									option(value='1', selected) Sub-Type 1
									option(value='2') Sub-Type 2
									option(value='3') Sub-Type 3
								label.floating-label(for='programSubType') Program Sub-Type
							.help-block.with-errors
						li
							.row
								.col-xs-6.form-group
									.floating-label-group.decorator-select
										select.form-control.has-floating-label(name='programStatus', id='programStatus', data-error='Please select the program status.', required)
											option(value='', disabled)
											option(value='active', selected) Active
											option(value='dormant') Dormant
											option(value='inactive') Inactive
											option(value='pre-contract') Pre-Contract
										label.floating-label(for='programStatus') Status
									.help-block.with-errors
								.col-xs-6.form-group
									.floating-label-group.decorator-select
										select.form-control.has-floating-label(name='programGender', id='programGender', data-error='Please select the program gender.', required)
											option(value='', disabled)
											option(value='both', selected) Both
											option(value='male') Male
											option(value='female') Female
										label.floating-label(for='programGender') Gender
									.help-block.with-errors
						li
							.row
								.col-xs-6.form-group
									.floating-label-group
										input.form-control.has-floating-label(type='text', name='programReferenceCode', id='programReferenceCode')
										label.floating-label(for='programReferenceCode') Reference Code
									.help-block.with-errors
								.col-xs-6.form-group
									.floating-label-group
										input.form-control.has-floating-label(type='number', min='0', max='100', name='programDefaultPercentage', id='programDefaultPercentage', data-error='Please enter a valid default percentage.', required, value='50')
										label.floating-label(for='programDefaultPercentage') Default Percentage
									.help-block.with-errors
						li.form-group
							h3.form-label.text-center Mailing Address
							.floating-label-group
								input.form-control.has-floating-label(type='text', name='programStreetAddress', id='programStreetAddress', data-error='Please enter the program street address.', required, value=parentOrgStreetAddress)
								label.floating-label(for='programStreetAddress') Street Address
							.help-block.with-errors
						li.form-group
							.floating-label-group
								input.form-control.has-floating-label(type='text', name='programCity', id='programCity', data-error='Please enter the program city.', required, value=parentOrgCity)
								label.floating-label(for='programCity') City
							.help-block.with-errors
						li
							.row
								.col-xs-6.form-group
									.floating-label-group.decorator-select
										select.form-control.has-floating-label(name='programState', id='programState', data-error='Please select the program state or province.', required)
											- var stateSelected = parentOrgState
											include ../shared/state-and-province-options
										label.floating-label(for='programState') State / Province
									.help-block.with-errors
								.col-xs-6.form-group
									.floating-label-group
										input.form-control.has-floating-label(type='text', name='programPostalCode', id='programPostalCode', data-error='Please enter the program postal code.', required, value=parentOrgPostalCode)
										label.floating-label(for='programPostalCode') Postal Code
									.help-block.with-errors
						li.form-group
							h3.form-label.text-center Administrators
							label.lightweight Program Admin
							include ./includes/_user-role-assignee-form
						li.form-group
							label.lightweight(for='showProgramAdminOnCampaignPage')
								input#showProgramAdminOnCampaignPage(type='checkbox', name='showProgramAdminOnCampaignPage', checked)
								|  Yes, show &lt;Program Admin Name&gt; on the campaign page.
						li.form-group
							.floating-label-group.decorator-select
								select.form-control.has-floating-label(name='programAccountManager', id='programAccountManager', data-error='Please select the program\'s account manager.', required)
									option(value='', disabled)
									option(value='1', selected) Account Manager 1
									option(value='2') Account Manager 2
									option(value='3') Account Manager 3
								label.floating-label(for='programAccountManager') Account Manager
							.help-block.with-errors
						li.form-group
							.floating-label-group.decorator-select
								select.form-control.has-floating-label(name='programAccountExecutive', id='programAccountExecutive', data-error='Please select the program \'s account executive.', required)
									option(value='', disabled)
									option(value='1', selected) Account Executive 1
									option(value='2') Account Executive 2
									option(value='3') Account Executive 3
								label.floating-label(for='programAccountExecutive') Account Executive
							.help-block.with-errors
						li.form-group
							h3.form-label.text-center Mascot, Logo, and Colors
							.floating-label-group
								input.form-control.has-floating-label(type='text', name='mascotName', id='mascotName', data-error='Please enter your mascot name.', required, value=childOrgMascot)
								label.floating-label(for='mascotName') Mascot Name
							.help-block.with-errors
						li.form-group
							.file-input-container.has-file
								input#removeProgramLogo.remove-image(type='checkbox', name='removeProgramLogo')
								label.remove-image-label(for='removeProgramLogo') Remove
								img.image-preview(src="/img/content/sample-images/300x200.png", alt="Program Name")
								label.file-label(for='programLogo')
									p Program Logo
									p.btn.btn-primary.file-name Choose a file...
								input(type='file', id='programLogo', name='programLogo', accept='image/*')
						li.form-group.text-center
							input.btn.btn-lg.btn-primary(type='submit', value='Update Program')
							a.btn.btn-lg.btn-default(href='program-dashboard.html') Cancel
