extends ./includes/sublayout

block pageVars
	- var title = "Update Parent Organization"
	- var includeDefaultPageTitle = false;
	- var resources = {"Asana Task": "https://app.asana.com/0/8050569665770/116709693745202", "Webflow Prototype": "http://ets-login-00178f162e256aa7dac5711529493.webflow.io/edit-parent-org"}

block content
	include ./includes/_org-heading
	section.row
		.layout-single-column
			h2.text-center Update Parent Organization
			form(action='index.html', data-toggle='validator', data-disable='false')
				fieldset
					legend.sr-only Update Parent Organization
					ol.list-unstyled
						li.form-group
							.floating-label-group
								input.form-control.has-floating-label(type='text', name='parentOrgName', id='parentOrgName', data-error='Please enter the parent organization name.', required, value=parentOrgName)
								label.floating-label(for='parentOrgName') Parent Organization Name
							.help-block.with-errors
						li.form-group
							.floating-label-group
								input.form-control.has-floating-label(type='text', name='parentOrgStreetAddress', id='parentOrgStreetAddress', data-error='Please enter the parent organization street address.', required, value=parentOrgStreetAddress)
								label.floating-label(for='parentOrgStreetAddress') Parent Organization Street Address
							.help-block.with-errors
						li.form-group
							.floating-label-group
								input.form-control.has-floating-label(type='text', name='parentOrgCity', id='parentOrgCity', data-error='Please enter the parent organization city.', required, value=parentOrgCity)
								label.floating-label(for='parentOrgCity') Parent Organization City
							.help-block.with-errors
						li
							.row
								.col-xs-6.form-group
									.floating-label-group.decorator-select
										select.form-control.has-floating-label(name='parentOrgState', id='parentOrgState', data-error='Please select the parent organization state or province.', required)
											- var stateSelected = parentOrgState
											include ../shared/state-and-province-options
										label.floating-label(for='parentOrgState') State / Province
									.help-block.with-errors
								.col-xs-6.form-group
									.floating-label-group
										input.form-control.has-floating-label(type='text', name='parentOrgPostalCode', id='parentOrgPostalCode', data-error='Please enter the parent organization postal code.', required, value=parentOrgPostalCode)
										label.floating-label(for='parentOrgPostalCode') Postal Code
									.help-block.with-errors
						li.form-group
							.floating-label-group
								input.form-control.has-floating-label.js-mask-phone(type='tel', name='parentOrgPhoneNumber', id='parentOrgPhoneNumber', data-error='Please enter the parent organization phone number.', required, value=parentOrgPhone)
								label.floating-label(for='parentOrgPhoneNumber') Parent Organization Phone Number
							.help-block.with-errors
						li.form-group
							.floating-label-group.decorator-select
								select.form-control.has-floating-label(name='parentOrgAccountLevel', id='parentOrgAccountLevel', data-error='Please select the parent organization account level.', required)
									option(value='', disabled)
									option(value='1') Level 1
									option(value='2') Level 2
									option(value='3', selected) Level 3
								label.floating-label(for='parentOrgAccountLevel') Account Level
							.help-block.with-errors
						li.form-group.text-center
							input.btn.btn-lg.btn-primary(type='submit', value='Update Parent Organization')
							a.btn.btn-lg.btn-default(href='parent-organization-dashboard.html') Cancel
