extends ./includes/sublayout

block pageVars
	- var title = "Update Advancement Director"
	- var includeDefaultPageTitle = false;
	- var resources = {"Asana Task": "https://app.asana.com/0/8050569665770/116709693745195", "Webflow Prototype": "http://ets-login-00178f162e256aa7dac5711529493.webflow.io/update-advancement-director"};
	- var breadcrumbs = [{"url": "parent-organization-dashboard.html", "text": parentOrgName}, {"url": "manage-users.html", "text": "Manage Users"}];

block content
	include ./includes/_org-heading
	section.row
		.layout-single-column
			h2.text-center Update Advancement Director
			form(action='index.html', data-toggle='validator', data-disable='false')
				fieldset
					legend.sr-only Update Advancement Director
					ol.list-unstyled
						li.form-group
							.floating-label-group
								input.form-control.has-floating-label(type='text', name='directorName', id='directorName', data-error='Please enter the director\'s first and last name.', required, value='Ryan Smith')
								label.floating-label(for='directorName') Director's First &amp; Last Name
							.help-block.with-errors
						li.form-group
							.floating-label-group
								input.form-control.has-floating-label(type='text', name='directorTitle', id='directorTitle', value='Advancement Director')
								label.floating-label(for='directorTitle') Director's Title (Optional)
							.help-block.with-errors
						li.form-group
							.floating-label-group
								input.form-control.has-floating-label.js-validate-email(type='email', name='directorEmail', id='directorEmail', data-error='Please enter a valid email address for the director.', required, value='ryan@' + parentOrgDomain)
								label.floating-label(for='directorEmail') Director's Email
							.help-block.with-errors
						li.form-group
							.floating-label-group
								input.form-control.has-floating-label.js-mask-phone(type='tel', name='directorPhone', id='directorPhone', data-error='Please enter the director\'s phone number.', required, value='808-555-2547')
								label.floating-label(for='directorPhone') Director's Phone
							.help-block.with-errors
						li.form-group
							.floating-label-group.decorator-select
								select.form-control.has-floating-label(name='directorPhoneCarrier', id='directorPhoneCarrier', data-error='Please select the director\'s phone carrier.', required)
									option(value='', disabled)
									option(value='att', selected) AT&amp;T
									option(value='verizon') Verizon
									option(value='sprint') Sprint
									option(value='t-mobile') T-Mobile
									option(value='other') Other
								label.floating-label(for='directorPhoneCarrier') Carrier
							.help-block.with-errors
						li.form-group
							.floating-label-group
								input.form-control.has-floating-label(type='password', name='directorPassword', id='directorPassword', data-match='#directorConfirmPassword', data-match-error='Your passwords do not match.')
								label.floating-label(for='directorPassword') New Password
							.help-block.with-errors
						li.form-group
							.floating-label-group
								input.form-control.has-floating-label(type='password', name='directorConfirmPassword', id='directorConfirmPassword')
								label.floating-label(for='directorConfirmPassword') Confirm New Password
							.help-block.with-errors
						li.form-group
							.floating-label-group.decorator-select
								select.form-control.has-floating-label(name='parentOrgAccountLevel', id='parentOrgAccountLevel', data-error='Please select the parent organization account level.', required)
									option(value='', disabled)
									option(value='1') Level 1
									option(value='2') Level 2
									option(value='3', selected) Level 3
								label.floating-label(for='parentOrgAccountLevel') Account Level
							.help-block.with-errors
						li.form-group.text-center
							input.btn.btn-lg.btn-primary(type='submit', value='Update Director')