extends ./includes/sublayout

block pageVars
	- var title = "Upload Participants"
	- var includeDefaultPageTitle = true
	- var hasNav = true
	- var inlineFooterJs = "H5F.setup(document.getElementById(\"upload-participants-form\"));"
	- var resources = {"Asana Task": "https://app.asana.com/0/80660851875913/349391856349695", "Notes": ["The 'Cancel' button will take you back to either the Program Dashboard or the Program's Participants.  Both of those pages can link to this page.  As such, the breadcrumbs should also reflect this accordingly (by adding 'Participants' to the breadcrumb list if you've clicked from the 'Participants' page).", "This page will only be accessible to ETS Admins and higher."]};
	- var breadcrumbs = [{"url": "parent-organization-dashboard.html", "text": parentOrgName}, {"url": "child-organization-dashboard.html", "text": childOrgName}, {"url": "program-dashboard.html", "text": programName}];

block navPrimary
	include ./includes/navigation/_program-admin

block content
	section.row
		.layout-single-column
			h2.text-center Upload Participants
			form#upload-participants-form(action='manage-participants.html', data-toggle='validator', data-disable='false')
				fieldset
					legend.sr-only Upload Participants
					ol.list-unstyled
						li.form-group
							.file-input-container
								label.file-label(for='participants')
									p Participants File
									p.btn.btn-primary.file-name Choose a file...
								input(type='file', id='participants', name='participants', accept='application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet')
						li.text-center
							h3.form-label In which campaigns are these participants participating?
						li.form-group.text-center
							label.lightweight(for='campaign1')
								input#campaign1(type='checkbox', name='campaigns', checked)
								|  #{campaign1Name}
						li.form-group.text-center
							label.lightweight(for='campaign2')
								input#campaign2(type='checkbox', name='campaigns', checked)
								|  #{campaign1Name} 2
						li.form-group.text-center
							input.btn.btn-lg.btn-primary(type='submit', value='Upload Participants')
							a.btn.btn-lg.btn-default(href='manage-participants.html') Cancel
