extends ./includes/sublayout

block pageVars
	- var title = "Upload Donors"
	- var includeDefaultPageTitle = true
	- var hasNav = true
	- var inlineFooterJs = "H5F.setup(document.getElementById(\"upload-donors-form\"));"
	- var resources = {"Asana Task": "https://app.asana.com/0/80660851875913/427767459354722", "Notes": ["The 'Cancel' button will take you back to either the Program Dashboard or the Program Admin's \"My\" Donors page.  Both of those pages can link to this page.  As such, the breadcrumbs should also reflect this accordingly (by adding 'My Donors' to the breadcrumb list if you've clicked from the 'My Donors' page)."]};
	- var breadcrumbs = [{"url": "parent-organization-dashboard.html", "text": parentOrgName}, {"url": "child-organization-dashboard.html", "text": childOrgName}, {"url": "program-dashboard.html", "text": programName}];

block navPrimary
	include ./includes/navigation/_program-admin

block content
	section.row
		.layout-single-column
			h2.text-center Upload Donors
			form#upload-donors-form(action='program-admin-donor-list.html', data-toggle='validator', data-disable='false')
				fieldset
					legend.sr-only Upload Donors
					ol.list-unstyled
						li.form-group
							.file-input-container
								label.file-label(for='Donors')
									p Donors File
									p.btn.btn-primary.file-name Choose a file...
								input(type='file', id='Donors', name='Donors', accept='application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet')
						li.text-center
							span Please, upload an excel file with full names and emails.
						li.text-center
							h3.form-label For which campaigns will these donors receive emails?
						li.form-group.text-center
							label.lightweight(for='campaign1')
								input#campaign1(type='checkbox', name='campaigns', checked)
								|  #{campaign1Name}
						li.form-group.text-center
							label.lightweight(for='campaign2')
								input#campaign2(type='checkbox', name='campaigns', checked)
								|  #{campaign1Name} 2
						li.form-group.text-center
							input.btn.btn-lg.btn-primary(type='submit', value='Upload Donors')
							a.btn.btn-lg.btn-default(href='program-admin-donor-list.html') Cancel
