extends ./includes/sublayout

block pageVars
	- var title = "User Detail"
	- var includeDefaultPageTitle = false;
	- var resources = {"Asana Task": "https://app.asana.com/0/8050569665770/138856592875063", "Webflow Prototype": "http://ets-login-00178f162e256aa7dac5711529493.webflow.io/users/view-user-detail"};
	- var breadcrumbs = [{"url": "parent-organization-dashboard.html", "text": parentOrgName}, {"url": "manage-users.html", "text": "Manage Users"}];

block content
	include ./includes/_org-heading
	.row
		.sub-heading
			h2.sub-heading-name User Detail
			p.sub-heading-action
				a(href='update-user.html')
					| Update User
					- var icon = "update"
					include ../shared/icon
	.row
		.col-sm-12
			.callout(itemscope, itemtype="https://schema.org/Person")
				.row
					section.user-attributes
						.row
							.user-photo(itemscope, itemprop="image", itemtype="https://schema.org/ImageObject")
								img(src=user1Photo, alt="Ellen O'Connor", itemprop="contentUrl")
							.user-detail
								h3(itemprop="name") Ellen O'Connor
									a.icon-link.interruption-navigation-trigger(href="manage-users.html", title="Remove Ellen O'Connor as VIP", aria-label="Remove Ellen O'Connor as VIP", data-interruption-message="Are you sure you want to remove this user from your VIP list?", data-interruption-confirm-text="Yes", data-interruption-cancel-text="No")
										- var icon = "star"
										- var iconClasses = "brand-primary"
										include ../shared/icon
								span(itemprop="jobTitle") Associate Athletic Director
								a(href="mailto:oconnore@" + parentOrgDomain, itemprop="email") oconnore@#{parentOrgDomain}
								a(href="tel:#", itemprop="telephone") #{parentOrgPhone}
								p(itemscope, itemprop="description", itemtype="https://schema.org/Role")
									span(itemprop="roleName") Org Admin
					section.user-programs
						h3 Assigned Programs
						table.responsive-table
							thead
								tr
									th Organization
									th Program
							tbody
								tr
									td #{childOrgName}
									td
										a(href="campaign-dashboard.html") #{programName}: #{campaign1Name}
								tr
									td #{childOrgName}
									td
										a(href="campaign-dashboard.html") Program Name: Campaign Name
								tr
									td #{childOrgName}
									td
										a(href="campaign-dashboard.html") Program Name: Campaign Name 2
								tr
									td #{childOrgName2}
									td
										a(href="campaign-dashboard.html") Program Name: Campaign Name 3
