.col-xs-12.col-sm-4
	if mvp
		h3 Join our growing list of donors!
	else
		h3 Join our list of 100 donors!
	ul.donor-list
		li
			.tile-light.valign
				if !mvp
					.top.img-avatar-container
						.img-avatar(style="background-image: url('http://eteamsponsor.com/wp-content/uploads/2013/02/SeanConnors1.jpg');")
				.top
					.donor-name Sean Connors, Class of 2000 - $50
					.donor-location Concord, CA
					if !mvp
						.donor-comment I decided to include my name, my picture, and a comment, but no amount.  Go #{orgName}!
		li
			.tile-light.valign
				if !mvp
					.top.img-avatar-container
						.img-avatar(style="background-image: url('http://eteamsponsor.com/wp-content/uploads/2013/02/RandyCoddington1.jpg');")
				.top
					.donor-name Randy Coddington, Class of 1999 - $50
					.donor-location Concord, CA
		li
			.tile-light.valign
				if !mvp
					.top.img-avatar-container
						.img-avatar-anonymous
				.top
					.donor-name John Davis, Class of 1997 - $50
					.donor-location Seattle, WA
					if !mvp
						.donor-comment I decided to only include my name, amount, and a comment, no picture.  Go #{orgName}!
		li
			.tile-light.valign
				if !mvp
					.top.img-avatar-container
						.img-avatar-anonymous
				.top
					.donor-name Kelly Humbert, Class of 1995 - $50
					.donor-location Glendale, AZ
		li
			.tile-light.valign
				if !mvp
					.top.img-avatar-container
						.img-avatar-anonymous
				.top
					.donor-name Anonymous - $1,000
	if !mvp
		p
			a.btn.btn-primary.btn-block(href="#") See More