nav.navbar.navbar-default.navbar-fixed-top
	a.hidden-xs.navbar-brand-logo(href="http://eteamsponsor.com", title="Visit eteamsponsor.com", aria-label="Visit e team sponsor.com", target="_blank")
		img(src="/img/content/logos/ets-small-white.svg", alt="eTeamSponsor")
	.container
		ul.navbar-action-list
			li.visible-xs-inline-block
				.btn-group
					button.btn.btn-lg.btn-primary.dropdown-toggle(data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
						| Share&nbsp;
						span.caret
					ul.dropdown-menu
						li
							a(href="#", title="Share on Facebook", aria-label="Share on Facebook", data-share-platform="facebook", data-share-url="#{standardFacebookShareUrl}")
								- var icon = "facebook"
								- var iconClasses = "facebook icon-medium icon-inline-left"
								include ../../../shared/icon
								| Facebook
						li
							a(href="//twitter.com/intent/tweet?text=#{standardTweetText}", title="Share on Twitter", aria-label="Share on Twitter")
								- var icon = "twitter"
								- var iconClasses = "twitter icon-medium icon-inline-left"
								include ../../../shared/icon
								| Twitter
						li.hide-no-touch.hide-no-ios
							- var color = "gray"
							- var size = "icon-medium"
							- var includeText = true
							- var additionalClasses="icon-inline-left"
							- var smsContent = standardDonoriOSSMSContent
							include ../../../eteamsponsor-shared/sms-ios
						li.hide-no-touch.hide-ios
							- var color = "gray"
							- var size = "icon-medium"
							- var includeText = true
							- var additionalClasses="icon-inline-left"
							- var smsContent = standardDonorSMSContent
							include ../../../eteamsponsor-shared/sms-other
						li
							a(href="#", title="Share via email", aria-label="Share via email", data-share-platform="email", data-share-subject="#{standardDonorEmailSubject}", data-share-body="#{standardDonorEmailBody}")
								- var icon = "email"
								- var iconClasses = "gray icon-medium icon-inline-left"
								include ../../../shared/icon
								| Email
			li.hidden-xs
				a(href="#", title="Share on Facebook", aria-label="Share on Facebook", data-share-platform="facebook", data-share-url="#{standardFacebookShareUrl}")
					- var icon = "facebook"
					- var iconClasses = "white icon-medium"
					include ../../../shared/icon
			li.hidden-xs
				a(href="//twitter.com/intent/tweet?text=#{standardTweetText}", title="Share on Twitter", aria-label="Share on Twitter")
					- var icon = "twitter"
					- var iconClasses = "white icon-medium"
					include ../../../shared/icon
			li.hidden-xs.hide-no-touch.hide-no-ios
				- var color = "white"
				- var size = "icon-medium"
				- var includeText = false
				- var additionalClasses = ""
				- var smsContent = standardDonoriOSSMSContent
				include ../../../eteamsponsor-shared/sms-ios
			li.hidden-xs.hide-no-touch.hide-ios
				- var color = "white"
				- var size = "icon-medium"
				- var includeText = false
				- var additionalClasses = ""
				- var smsContent = standardDonorSMSContent
				include ../../../eteamsponsor-shared/sms-other
			li.hidden-xs
				a(href="#", title="Share via email", aria-label="Share via email", data-share-platform="email", data-share-subject="#{standardDonorEmailSubject}", data-share-body="#{standardDonorEmailBody}")
					- var icon = "email"
					- var iconClasses = "white icon-medium"
					include ../../../shared/icon
			if (version === "dayOf")
				li
					a.btn.btn-lg.btn-primary(href="#") Give
	a.hidden-xs.btn.btn-ghost.navbar-brand-cta(href="http://eteamsponsor.com/get-started/", target="_blank") Start your own campaign
