.col-xs-12.col-sm-4
	if (version === "countdown")
		h1.text-center On #{givingDate}, any gift given is matched by a gift from our generous sponsors.*

		.progress-metrics
			.progress-metric
				.progress-metric-amount 299
				.progress-metric-label days
			.progress-metric
				.progress-metric-amount 5
				.progress-metric-label hours
			.progress-metric
				.progress-metric-amount 10
				.progress-metric-label minutes

	if (version === "dayOf")
		h1.text-center Today, any gift given is matched by a gift from our generous sponsors.*

		span.progress-amount-raised $25,000
		span.progress-amount-goal / $100,000

		.progress-container
			.progress-percent(style="width: 25%")

		a.btn.btn-lg.btn-primary.btn-block.btn-donate(href="#") Give Today!
		p.text-center.top-buffer
			- var icon = "phone"
			- var iconClasses = "icon-inline-left accent-color"
			include ../../../shared/icon
			| Give by Phone -&nbsp;
			a(href="tel://8009866128") (800) 986-6128
		p.text-center.top-buffer
			a(href="mail-check-info.html", onclick="window.open(this.href, '_blank', 'location=yes,height=650,width=800,scrollbars=yes,status=yes'); return false;", target="_blank")
				- var icon = "email"
				- var iconClasses = "icon-inline-left accent-color"
				include ../../../shared/icon
				| How to Mail Your Check

	p.text-center.disclaimer *Up to $50,000
