.col-xs-12.col-sm-8
	.tab-content
		.tab-pane.active#campaign
			h2.h3 Message from the Program
			p Thank you for visiting our #{campaignName} page!  Your generous support will help our program immensely over the next year.  We appreciate any amount you can give and thank you in advance for your generous suppor!
			if !mvp
				p
					img(src="/img/content/sample-images/750x250.png", alt="Message Image")
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores dolorem, laudantium quod nulla vero voluptates eum animi sapiente culpa delectus pariatur amet velit magni incidunt ex, iure. Vero alias, delectus.

			h2.h3 Needs of the Program
			p Your gift will contribute towards expenses required for need 1, need 2, need 3, etc.

			h2.h3 Program Activities
			ul
				li Activity 1
				li Activity 2
				li Activity 3
				li Activity 4
				li Activity 5

			h2.h3 Program Achievements
			ul
				li Achievement 1
				li Achievement 2
				li Achievement 3
				li Achievement 4
				li Achievement 5
		if !mvp
			.tab-pane#updates
				h2.h3 Update 2 - 10/14/2016
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex dolorum facilis odit quidem, pariatur ad dignissimos nihil quia error ipsam accusamus ab hic nisi tempore, placeat saepe, tempora, at beatae.
				p
					img(src="/img/content/sample-images/750x250.png", alt="Update Image")
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi reiciendis repellendus magnam et cumque dolor voluptatum ab doloremque accusamus corrupti corporis modi vero neque deserunt esse, cum ad veritatis suscipit.

				h2.h3 Update 1 - 10/13/2016
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex dolorum facilis odit quidem, pariatur ad dignissimos nihil quia error ipsam accusamus ab hic nisi tempore, placeat saepe, tempora, at beatae.