.nav-tabs-container
	.container
		.row
			.col-xs-12.col-sm-8
				ul.nav.nav-tabs
					li.active
						a(href="#campaign", data-toggle="tab") Campaign
					if !mvp
						li
							a(href="#updates", data-toggle="tab") Updates