- var logoURL = (typeof logoFilename !== 'undefined') ? "/img/content/sample-logos/" + logoFilename : "/img/content/sample-images/org-logo.png"

.col-xs-12.visible-xs.visible-touch
	.org-header
		.org-logo
			img.img-responsive(src="#{logoURL}", alt="eTeamSponsor")
		.org-campaign-name
			if typeof playerName !== 'undefined'
				h1 #{playerName}'s
				h2 #{campaignName}
			else
				h1 #{campaignName}

.col-xs-12.col-sm-8
	.embed-responsive.embed-responsive-16by9
		if typeof videoId !== 'undefined'
			iframe#campaign-video(src="//player.vimeo.com/video/#{videoId}", width="640", height="360", frameborder="0", webkitallowfullscreen, mozallowfullscreen, allowfullscreen)
		else
			iframe#campaign-video(src="//player.vimeo.com/video/112532909", width="640", height="360", frameborder="0", webkitallowfullscreen, mozallowfullscreen, allowfullscreen)
		.embed-responsive-item.poster.poster-details.hide-touch
			.poster-inner.hidden-xs
				img.org-logo(src="#{logoURL}", alt="eTeamSponsor")
			.poster-inner
				if typeof playerName !== 'undefined'
					h1.poster-heading #{playerName}'s
					h2.poster-sub-heading #{campaignName}
				else
					h1.poster-heading
						| #{campaignName}
						br
						br
						| #{givingDate}
				a.play(href="#", title="Play campaign video", aria-label="Play campaign video")
					- var icon = "play"
					- var iconClasses = "icon-large"
					include ../../../shared/icon
		.embed-responsive-item.poster.poster-share.is-hidden
			.poster-inner.hidden-xs
				img.org-logo(src="#{logoURL}", alt="eTeamSponsor")
			.poster-inner
				h1.poster-heading Share our Campaign
				ul.list-inline
					li
						a(href="#", title="Share on Facebook", aria-label="Share on Facebook", data-share-platform="facebook", data-share-url="#{standardFacebookShareUrl}")
							- var icon = "facebook"
							- var iconClasses = "icon-dynamic-size"
							include ../../../shared/icon
					li
						a(href="//twitter.com/intent/tweet?text=#{standardTweetText}", title="Share on Twitter", aria-label="Share on Twitter")
							- var icon = "twitter"
							- var iconClasses = "icon-dynamic-size"
							include ../../../shared/icon
					li.hide-no-touch.hide-no-ios
						- var color = ""
						- var size = ""
						- var includeText = false
						- var additionalClasses="icon-dynamic-size"
						- var smsContent = standardDonoriOSSMSContent
						include ../../../eteamsponsor-shared/sms-ios
					li.hide-no-touch.hide-ios
						- var color = ""
						- var size = ""
						- var includeText = false
						- var additionalClasses="icon-dynamic-size"
						- var smsContent = standardDonorSMSContent
						include ../../../eteamsponsor-shared/sms-other
					li
						a(href="#", title="Share via email", aria-label="Share via email", data-share-platform="email", data-share-subject="#{standardDonorEmailSubject}", data-share-body="#{standardDonorEmailBody}")
							- var icon = "email"
							- var iconClasses = "icon-dynamic-size"
							include ../../../shared/icon
				a.play(href="#", title="Replay campaign video", aria-label="Replay campaign video")
					- var icon = "play"
					- var iconClasses = "icon-large"
					include ../../../shared/icon
	ul.org-details
		li #{orgName}
		li.hidden-xs
			- var icon = "location"
			- var iconClasses = "icon-inline-left accent-color"
			include ../../../shared/icon
			| #{orgCity}, #{orgState}
