extends ../../layout

block projectVars
	- var project = "elasticsearch"
	- var author = "eTeamSponsor"

block favicon
	include ../../eteamsponsor-shared/favicon

block sublayout
	link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet", type="text/css")
	script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
	.container
		block content