if (typeof primaryColor !== 'undefined' && typeof accentColor !== 'undefined')
	if (typeof donateButtonTextColor === 'undefined')
		- var donateButtonTextColor = primaryColor;
	style.
		.navbar {
			background-color: #{primaryColor};
			border-bottom-color: #{accentColor};
		}
		.navbar .btn-primary {
			background-color: white;
			color: #{primaryColor};
		}
		.icon.accent-color,
		.poster .play .icon {
			fill: #{accentColor};
			fill: #{accentSecond};
			filter: drop-shadow(1px 1px 0px rgba(0, 0, 0, 0.75));
		}
		.btn-primary {
			background-color: #{primaryColor};
		}
		.btn-donate,
		.progress-percent {
			background-color: #{accentColor};
			color: #{donateButtonTextColor};
		}
		a,
		.poster-heading,
		.poster-sub-heading {
			color: #{primaryColor};
		}
		.poster .icon {
			fill: #{primaryColor};
		}
		a:hover,
		a:active,
		a:focus,
		.btn-primary:hover {
			color: #{accentColor};
		}
		h1, .h1,
		h2, .h2,
		h3, .h3,
		h4, .h4 {
			color: #{primaryColor};
		}
		.btn-donate:hover {
			color: #{donateButtonTextColor};
		}
		.nav-tabs > li.active {
			border-bottom-color: #{primaryColor};
		}
