extends ../../layout

block projectVars
	- var project = "campaign-page"
	- var author = "eTeamSponsor"
	- var titleSuffix = " | eTeamSponsor"
	- var mvp = mvp || false

block favicon
	include ../../eteamsponsor-shared/favicon

block sublayout
	include ./_custom-styles
	include ./giving-day/_nav

	main
		.layout-primary
			.container
				.row
					include ./giving-day/_video
					include ./giving-day/_progress
		.layout-secondary
			include ./giving-day/_tabs
			.container
				.row
					include ./giving-day/_tabs-content
					if (version === "dayOf")
						include ./giving-day/_donor-support

		.container
			.row
				.col-xs-12.top-buffer.text-center
					a.btn.btn-primary(href="http://eteamsponsor.com/get-started/", target="_blank") Start your own campaign

	include ../../eteamsponsor-shared/footer-dark