extends ../../layout

block projectVars
	- var project = "bootstrap"
	- var author = "eTeamSponsor"

block favicon
	include ../../eteamsponsor-shared/favicon

block sublayout
	main
		.container
			block content