extends ./includes/sublayout

block pageVars
	- var title = "Elasticsearch"

block content
	style.
		ol li,
		.col-xs-12 {
			margin-bottom: 1em;
		}
	.row
		.col-xs-12
			h1 Elasticsearch
			h3 Table of Contents
			ol
				li
					a(href="#dependencies") Dependencies
				li
					a(href="#data-attributes") Data Attributes
				li
					a(href="#links-to-page") Links to Page
				li
					a(href="#set-input-value") Set Input Value
				li
					a(href="#open-a-modal") Open a Modal
			p
				a(href='../index.html') Back to Project Index
	.row
		.col-xs-12
			hr
			h2#dependencies Dependencies
			p To use the Elasticsearch library, you'll see a few things:
			ol
				li jQuery. We've successfully tested our library with jQuery 1.x and 2.0.x versions, however&nbsp;
					strong jQuery 1.9.x is not supported&nbsp;
					| due to a&nbsp;
					a(href='https://github.com/wycats/handlebars.js/issues/416') jQuery bug.
					| &nbsp; This bug has been fixed as of jQuery 1.10.x.
				li The library itself.  It can be found, fully compiled, at&nbsp;
					code dist/js/elasticsearch/main.js
					|.
				li Stylesheet.  It can be found, fully compiled, at&nbsp;
					code dist/css/elasticsearch/style.css
					|.
		.col-xs-12
			hr
			h2#data-attributes Data Attributes
			p To set up an input to work with Elasticsearch, you must add data attributes to tell the JavaScript what to execute.  The data attributes tell the JavaScript where to get suggestion results, what fields to query, what fields to filter, the suggestion template to use, and some additional type-specific attributes defined in each section.  Each type shares a set of common data attributes listed here:
			ol
				li
					code data-typeahead-source
					strong (required)&nbsp;
					| - this is the URL from which you retrieve the Elasticsearch results.  This needs to be a fully qualified URL, e.g. https://search-ets-test-suggester-jnaywpbgbmkphatpwwsjrvux5e.us-west-2.es.amazonaws.com/organization/organization/_search.  Including this in the markup allows us to set distinct URLs for each input and also for each environment, e.g. local, staging, and production.
				li
					code data-typeahead-query-fields
					strong (optional; default: "name")&nbsp;
					| - the field(s) in the dataset to query against.  This defaults to name since it will usually be name.  If you want to query multiple fields, such as name and email, set the value as a list of comma separated strings, e.g.
					code data-typeahead-query-fields="name,email"
					| .
				li
					code data-typeahead-sort-fields
					strong (optional)&nbsp;
					| - the field(s) in the dataset to sort against.  While this option has no default, sorting includes &nbsp;
					code _score
					| which is controlled by&nbsp;
					code data-typeahead-sort-include-score
					| (see below).  If you want to sort by multiple fields, such as name and email, set the value as a list of comma separated strings, e.g.&nbsp;
					code data-typeahead-query-fields="name,email"
					| .  To set the sort direction (ascending vs. descending), add the set direction abbreviation after the field name, e.g.&nbsp;
					code data-typeahead-query-fields="last_updated:desc,name:asc"
					| .
				li
					code data-typeahead-sort-include-score
					strong (optional; default: "true")&nbsp;
					| - whether or not to include the Elasticsearch&nbsp;
					code _score
					| field in the sort.  This defaults to true.
				li
					code data-typeahead-sort-score-position
					strong (optional; default: "first")&nbsp;
					| - the position for the&nbsp;
					code _score
					| field in the sort.  Possible values are "first" and "last."  This defaults to first.
				li
					code data-typeahead-display-field
					strong (optional; default: "name")&nbsp;
					| - the field in the dataset to display by default in the suggestion template (if no custom template is used) and set as the input's value once a suggestion has been chosen.  This defaults to name since it will usually be name.
				li
					code data-typeahead-filter-field
					strong (optional)&nbsp;
					| - the field in the dataset to filter against in addition to the query.  This will be used when searching for campaigns within a specific program, for instance.  In that case, this attribute would be set to "program_id."
				li
					code data-typeahead-filter-value
					strong (optional)&nbsp;
					| - the value of the field in the dataset to filter against in addition to the query.  This will be used when searching for campaigns within a specific program, for instance.  In that case, this attribute would be set to the program's ID being filtered, e.g. "273."
				li
					code data-typeahead-minlength
					strong (optional; default: "3")&nbsp;
					| - to minimize AJAX requests, a default minlength of 3 is set in the JavaScript.  You may override this with this data attribute.
				li
					code data-typeahead-suggestion-count
					strong (optional; default: "5")&nbsp;
					| - the number of suggestions to display.
				li
					code data-typeahead-suggestion-template
					strong (optional)&nbsp;
					| - this is a CSS selector for the suggestion Handlebars template.  The template should be included in the page in a&nbsp;
					code script
					|&nbsp;tag with type&nbsp;
					code text/x-handlebars-template
					|.
				li
					code data-typeahead-not-found-template
					strong (optional)&nbsp;
					| - this is a CSS selector for the not found Handlebars template; this template is used if no results are found.  The template should be included in the page in a&nbsp;
					code script
					|&nbsp;tag with type&nbsp;
					code text/x-handlebars-template
					|.
		.col-xs-12
			hr
			h2#links-to-page Links to Page
			p This type of a search will link to a page.  To get it working, you need to add a few data attributes to the input:
			ol
				li
					code data-typeahead-link
					strong (required)&nbsp;
					| - the presence of this attributes tells the JavaScript that the intent is for a user to navigate to a new page when they've made a selection.  The value of this attribute is the path the user will be taken to; it can be absolute or relative.
				li
					code data-typeahead-append-to-link-key
					strong (optional; default: "id")&nbsp;
					| - since a user is selecting a specific item, they need to be taken to a specific variation of the page included in the data attribute above.  The value of this attribute is a key in the Elasticsearch results object containing the value to append to the link.
			h3 Examples
			form
				fieldset
					legend.sr-only Elasticsearch
					.row
						.col-xs-12.col-md-3
							h4 Organization Search
							input.form-control(type="text", data-typeahead-link="http://testapp.eteamsponsor.com/ETS/organization/show/", data-typeahead-source="#{baseElasticsearchUrl}organization/organization/_search", placeholder="Search for an organization")
						.col-xs-12.col-md-3
							h4 Program Search
							input.form-control(type="text", data-typeahead-link="http://testapp.eteamsponsor.com/ETS/program/show/", data-typeahead-source="#{baseElasticsearchUrl}program/program/_search", placeholder="Search for a program")
						.col-xs-12.col-md-3
							h4 Campaign Search
							input.form-control(type="text", data-typeahead-link="http://testapp.eteamsponsor.com/ETS/fundraiser/show/", data-typeahead-source="#{baseElasticsearchUrl}campaign/campaign/_search", data-typeahead-filter-field="program_id", data-typeahead-filter-value="273", placeholder="Search for a campaign")
						.col-xs-12.col-md-3
							h4 User Search
							input.form-control(type="text", data-typeahead-link="http://testapp.eteamsponsor.com/ETS/etsUser/show/", data-typeahead-source="#{baseElasticsearchUrl}ets_user/ets_user/_search", data-typeahead-query-fields="name,email", placeholder="Search for a User")
						.col-xs-12.col-md-3
							h4 Organization Search with Custom Templates
							input.form-control(type="text", data-typeahead-link="http://testapp.eteamsponsor.com/ETS/organization/show/", data-typeahead-source="#{baseElasticsearchUrl}organization/organization/_search", data-typeahead-suggestion-template="#custom-suggestion-template", data-typeahead-not-found-template="#custom-not-found-template", placeholder="Search for an organization")
						.col-xs-12.col-md-3
							h4 Program Search with Custom Templates
							input.form-control(type="text", data-typeahead-link="http://testapp.eteamsponsor.com/ETS/program/show/", data-typeahead-source="#{baseElasticsearchUrl}program/program/_search", data-typeahead-suggestion-template="#custom-suggestion-template", data-typeahead-not-found-template="#custom-not-found-template", placeholder="Search for a program")
						.col-xs-12.col-md-3
							h4 Campaign Search with Custom Templates
							input.form-control(type="text", data-typeahead-link="http://testapp.eteamsponsor.com/ETS/fundraiser/show/", data-typeahead-source="#{baseElasticsearchUrl}campaign/campaign/_search", data-typeahead-filter-field="program_id", data-typeahead-filter-value="273", data-typeahead-suggestion-template="#custom-suggestion-template", data-typeahead-not-found-template="#custom-not-found-template", placeholder="Search for a campaign")
						.col-xs-12.col-md-3
							h4 User Search with Custom Templates
							input.form-control(type="text", data-typeahead-link="http://testapp.eteamsponsor.com/ETS/etsUser/show/", data-typeahead-source="#{baseElasticsearchUrl}ets_user/ets_user/_search", data-typeahead-query-fields="name,email", data-typeahead-suggestion-template="#custom-user-suggestion-template", data-typeahead-not-found-template="#custom-not-found-template", placeholder="Search for a User")
		.col-xs-12
			hr
			h2#set-input-value Set Input Value
			p This type of a search will set the value for another input.  This is useful for searching by one field, but submitting data for another (e.g. search by name and submit the related id).  If the user deletes their selection, the other input's value is reset as well.  To get it working, you need to add a few data attributes to the input:
			ol
				li
					code data-typeahead-set-input
					strong (required)&nbsp;
					| - the presence of this attributes tells the JavaScript that the intent is for a user to set an input's value when they've made a selection.  The value of this attribute is a CSS selector for the input that will be set.  For instance, to set the value of an input with the id of user.username, set the value to&nbsp;
					code #user.username
					| .
				li
					code data-typeahead-set-input-value-key
					strong (optional; default: "id")&nbsp;
					| - The value of this attribute is a key in the Elasticsearch results object containing the value to set on the input defined in&nbsp;
					code data-typeahead-set-input
					| .  If you want the other input's value to be the value stored in the email key of the Elasticsearch results object, set this value to "email."
			h3 Examples
			form
				fieldset
					legend.sr-only Elasticsearch
					.row
						.col-sm-12.col-md-3
							h4 Organization Search
							p
								input.form-control(type="text", data-typeahead-set-input="#organization.organizationid", data-typeahead-source="#{baseElasticsearchUrl}organization/organization/_search", placeholder="Search for an organization")
							p
								input.form-control(type="text", id="organization.organizationid", placeholder="Org ID", readonly)
						.col-sm-12.col-md-3
							h4 Program Search
							p
								input.form-control(type="text", data-typeahead-set-input="#programid", data-typeahead-source="#{baseElasticsearchUrl}program/program/_search", placeholder="Search for a program")
							p
								input.form-control(type="text", id="programid", placeholder="Program ID", readonly)
						.col-sm-12.col-md-3
							h4 Campaign Search
							p
								input.form-control(type="text", data-typeahead-set-input="#campaignid", data-typeahead-source="#{baseElasticsearchUrl}campaign/campaign/_search", data-typeahead-filter-field="program_id", data-typeahead-filter-value="273", placeholder="Search for a campaign")
							p
								input.form-control(type="text", id="campaignid", placeholder="Campaign ID", readonly)
						.col-sm-12.col-md-3
							h4 User Search
							p
								input.form-control(type="text", data-typeahead-set-input="#useremail", data-typeahead-set-input-value-key="email", data-typeahead-source="#{baseElasticsearchUrl}ets_user/ets_user/_search", data-typeahead-query-fields="name,email", placeholder="Search for a user")
							p
								input.form-control(type="text", id="useremail", placeholder="User Email", readonly)
						.col-sm-12.col-md-3
							h4 Organization Search with Custom Templates
							p
								input.form-control(type="text", data-typeahead-set-input=".organizationid", data-typeahead-source="#{baseElasticsearchUrl}organization/organization/_search", data-typeahead-suggestion-template="#custom-suggestion-template", data-typeahead-not-found-template="#custom-not-found-template", placeholder="Search for an organization")
							p
								input.form-control(type="text", class="organizationid", placeholder="Org ID", readonly)
						.col-sm-12.col-md-3
							h4 Program Search with Custom Templates
							p
								input.form-control(type="text", data-typeahead-set-input=".programid", data-typeahead-source="#{baseElasticsearchUrl}program/program/_search", data-typeahead-suggestion-template="#custom-suggestion-template", data-typeahead-not-found-template="#custom-not-found-template", placeholder="Search for a program")
							p
								input.form-control(type="text", class="programid", placeholder="Program ID", readonly)
						.col-sm-12.col-md-3
							h4 Campaign Search with Custom Templates
							p
								input.form-control(type="text", data-typeahead-set-input=".campaignid", data-typeahead-source="#{baseElasticsearchUrl}campaign/campaign/_search", data-typeahead-filter-field="program_id", data-typeahead-filter-value="273", data-typeahead-suggestion-template="#custom-suggestion-template", data-typeahead-not-found-template="#custom-not-found-template", placeholder="Search for a campaign")
							p
								input.form-control(type="text", class="campaignid", placeholder="Campaign ID", readonly)
						.col-sm-12.col-md-3
							h4 User Search with Custom Templates
							p
								input.form-control(type="text", data-typeahead-set-input=".useremail", data-typeahead-set-input-value-key="email", data-typeahead-source="#{baseElasticsearchUrl}ets_user/ets_user/_search", data-typeahead-query-fields="name,email", data-typeahead-suggestion-template="#custom-user-suggestion-template", data-typeahead-not-found-template="#custom-not-found-template", placeholder="Search for a user")
							p
								input.form-control(type="text", class="useremail", placeholder="User Email", readonly)

		.col-xs-12
			hr
			h2#open-a-modal Open a Modal
			p This type of a search will open content in a standard Bootstrap modal.  To get it working, you need to add a few data attributes to the input:
			ol
				li
					code data-typeahead-modal
					strong (required)&nbsp;
					| - the presence of this attributes tells the JavaScript that the intent is for a user to open a modal when they've made a selection.  The value of this attribute is a CSS selector of the Bootstrap modal container.
				li
					code data-typeahead-modal-source
					strong (required)&nbsp;
					| - this attribute is the path to the resource containing the content to be loaded into the modal without unique identification of the resource.  For instance, if the full URL is /ETS/indSponsor/renderModal/115833, the value for this attribute would be /ETS/indSponsor/renderModal/.  The id attribute would be added with the below data attribute.
				li
					code data-typeahead-append-to-modal-source-key
					strong (optional; default: "id")&nbsp;
					| - since a user is selecting a specific item, they need to be taken to a specific variation of the page included in the data attribute above.  The value of this attribute is a key in the Elasticsearch results object containing the value to append to the modal source.  If you don't want anything appended to the modal source, set this to "none."
			h3 Examples
			form
				fieldset
					legend.sr-only Elasticsearch
					.row
						.col-xs-12.col-md-6
							h4 Sponsor Search
							input.form-control(type="text", data-typeahead-modal="#sponsor_modal", data-typeahead-modal-source="../data/sample-pages/elasticsearch-modal.html?sponsorId=", data-typeahead-append-to-modal-source-key="id", data-typeahead-source="#{baseElasticsearchUrl}ind_sponsor/ind_sponsor/_search", data-typeahead-query-fields="name,email", placeholder="Search for a Sponsor")
						.col-xs-12.col-md-6
							h4 Sponsor Search with Custom Templates
							input.form-control(type="text", data-typeahead-modal="#sponsor_modal", data-typeahead-modal-source="../data/sample-pages/elasticsearch-modal.html?sponsorId=", data-typeahead-append-to-modal-source-key="id", data-typeahead-source="#{baseElasticsearchUrl}ind_sponsor/ind_sponsor/_search", data-typeahead-query-fields="name,email", data-typeahead-suggestion-template="#custom-user-suggestion-template", data-typeahead-not-found-template="#custom-not-found-template", placeholder="Search for a Sponsor")
			#sponsor_modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
				.modal-dialog.modal-lg
					.modal-content
		script#custom-suggestion-template(type="text/x-handlebars-template")
			div(style="padding: 1em;")
				p {{ _source.name }}
				p ID: {{ _source.id }}
				p Type: {{ _source.type }}
		script#custom-user-suggestion-template(type="text/x-handlebars-template")
			div(style="padding: 1em;")
				p {{ _source.name }}
				p {{ _source.email }}
		script#custom-not-found-template(type="text/x-handlebars-template")
			.tt-not-found Sorry, no results were found containing "{{ query }}."
	.row
		.col-xs-12
			p
				a(href='../index.html') Back to Project Index
