header.header-large.container
	.row
		.col-xs-12
			a(href="index.html")
				img.img-responsive.center-block(src="/img/content/logos/ets-small.svg", alt="eTeamSponsor.com")
			h1.sr-only eTeamSponsor.com