extends ../../layout

block projectVars
	- var project = "eteamsponsor"
	- var author = "eTeamSponsor"

block favicon
	include ../../eteamsponsor-shared/favicon

block sublayout
	include ./header

	main.layout-secondary
		.container
			block content

	include ../../eteamsponsor-shared/footer