if (typeof breadcrumbs !== 'undefined')
	nav
		ol.breadcrumb(itemscope, itemtype="http://schema.org/BreadcrumbList")
			each breadcrumb, index in breadcrumbs
				li(itemscope, itemprop="itemListElement", itemtype="http://schema.org/ListItem")
					a(href=breadcrumb.url, itemprop="item", aria-label="Go back to #{breadcrumb.text}")
						span(itemprop="name") #{breadcrumb.text}
						meta(itemprop="position", content="#{index + 1}")
