.entity-summary.callout
	.entity-details
		h3.entity-name #{campaignName}
		ul.list-plain
			li Start Date - #{campaignStartDate}
			li Launch Date - #{campaignLaunchDate}
		ul.action-list
			li
				a(href="participation-report.html", title="Participation Report for #{campaignName}", aria-label="Participation Report for #{campaignName}")
					- var icon = "people"
					- var iconClasses = "icon-inline-left"
					include ../../shared/icon
				| #{Math.floor(Math.random() * 100)}%
			li
				a(href="#", title="Update #{campaignName}", aria-label="Update #{campaignName}")
					- var icon = "update"
					- var iconClasses = ""
					include ../../shared/icon
			li
				a(href="participant-add-donor.html", title="Add Donor to #{campaignName}", aria-label="Add Donor to #{campaignName}")
					- var icon = "person-add"
					- var iconClasses = ""
					include ../../shared/icon
