.entity-summary.callout
	.entity-details
		h3.entity-name
			a(href="campaign-dashboard.html") #{campaignName}
		p
			span.h1 #{campaignAmountRaised}
			|  raised with #{campaignDaysRemaining}
			if (campaignDaysRemaining === 1)
				|  day
			else
				|  days
			|  remaining
		ul.action-list
			li
				a(href="participation-report.html", title="Participation Report for #{campaignName}", aria-label="Participation Report for #{campaignName}")
					- var icon = "people"
					- var iconClasses = "icon-inline-left"
					include ../../shared/icon
				| #{Math.floor(Math.random() * 100)}%
			li
				a(href="campaign-dashboard.html", title="Reports for #{campaignName}", aria-label="Reports for #{campaignName}")
					- var icon = "chart"
					- var iconClasses = ""
					include ../../shared/icon
			li
				a(href="#", title="Update #{campaignName}", aria-label="Update #{campaignName}")
					- var icon = "update"
					- var iconClasses = ""
					include ../../shared/icon
			li
				a(href="participant-add-donor.html", title="Add Donor to #{campaignName}", aria-label="Add Donor to #{campaignName}")
					- var icon = "person-add"
					- var iconClasses = ""
					include ../../shared/icon
			li.dropdown
				a.dropdown-toggle(href="#", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false", aria-label="View Sharing Options for #{campaignName}")
					- var icon = "share"
					- var iconClasses = ""
					include ../../shared/icon
					span.caret
				ul.dropdown-menu.dropdown-menu-right
					li
						a(href="#", data-share-platform="facebook", data-share-url="#{standardFacebookShareUrl}", aria-label="Share #{campaignName} to Facebook", title="Share #{campaignName} to Facebook")
							- var icon = "facebook"
							- var iconClasses = "facebook icon-inline-left"
							include ../../shared/icon
							| Facebook
					li
						a(href="//twitter.com/intent/tweet?text=#{standardTweetText}", aria-label="Share #{campaignName} to Twitter", title="Share #{campaignName} to Twitter")
							- var icon = "twitter"
							- var iconClasses = "twitter icon-inline-left"
							include ../../shared/icon
							| Twitter
					li.hide-no-touch.hide-no-ios
						- var color = "gray"
						- var size = ""
						- var includeText = true
						- var additionalClasses="icon-inline-left"
						- var smsContent = standardParticipantiOSSMSContent
						include ../../eteamsponsor-shared/sms-ios
					li.hide-no-touch.hide-ios
						- var color = "gray"
						- var size = ""
						- var includeText = true
						- var additionalClasses="icon-inline-left"
						- var smsContent = standardParticipantSMSContent
						include ../../eteamsponsor-shared/sms-other
					li
						a(href="#", data-share-platform="email", data-share-subject="#{standardParticipantEmailSubject}", data-share-body="#{standardParticipantEmailBody}", aria-label="Share #{campaignName} to Twitter", title="Share #{campaignName} via email")
							- var icon = "email"
							- var iconClasses = "gray icon-inline-left"
							include ../../shared/icon
							| Email
