.row.page-header-group(itemscope, itemtype="https://schema.org/Organization")
	.detail-heading
		h1.detail-heading-title(itemprop="name") #{childOrgName}
		h2.detail-heading-details
			| Raised:
			span.detail-heading-stat  #{childOrgAmountRaised}
