if (typeof showActions === 'undefined')
	- var showActions = true

.row
	.col-xs-12
		if (showActions)
			h2 Displaying donations for ________. (this could be "today", "program X", "org Y", or "participant X and donor Y")
		else
			h2 Displaying canceled donations from _______. (month name)
		table.responsive-table
			thead
				tr
					th Donor
					th Donor Email
					th Participant
					th Campaign
					th Donation
					if (showActions)
						th Manage
			tbody
				- for (var i = 0; i < 10; i++)
					tr
						td(data-label="Donor")
							a(href="donor-detail.html", title="View donor detail for Bob Smith #{i + 1}", aria-label="View donor detail for Bob Smith #{i + 1}") Bob Smith #{i + 1}
						td(data-label="Donor Email")
							a(href="mailto:bobsmith#{i + 1}@gmail.com") bobsmith#{i + 1}@gmail.com
						td(data-label="Participant")
							a(href="participant-detail.html", title="View participant detail for Billy Smith #{i + 1}", aria-label="View participant detail for Billy Smith #{i + 1}") Billy Smith #{i + 1}
						td(data-label="Campaign")
							a(href="campaign-dashboard.html") #{programType} - #{campaign1Name}
						td(data-label="Donation") $50 - 12/1/2015
						if (showActions)
							td(data-label="Manage")
								ul.action-list
									li
										a(href="update-donation.html", title="Update <dollar amount> Donation from <donor name>", aria-label="Update <dollar amount> Donation from <donor name>")
											- var icon = "update"
											include ../../shared/icon
									li
										a(href="#", title="Send receipt for <dollar amount> Donation to <donor name>", aria-label="Send receipt for <dollar amount> Donation to <donor name>")
											- var icon = "send"
											- var iconClasses = ""
											include ../../shared/icon
									li
										a.interruption-navigation-trigger(href="#", title="Cancel <dollar amount> Donation from <donor name>", aria-label="Cancel <dollar amount> Donation from <donor name>", data-interruption-message="Are you sure you want to cancel this donation?", data-interruption-cancel-text="No", data-interruption-confirm-text="Yes")
											- var icon = "money-off"
											include ../../shared/icon
		include ./_pagination
