header.header-with-nav
	.container
		nav.nav-utility
			ul
				li.nav-utility-brand
					a.nav-utility-home(href="/fundraker", title="Home", aria-label="Home")
						img.nav-utility-brand-whitelabel-logo(src="/img/content/sample-logos/" + parentOrgLogo)
						.nav-utility-brand-whitelabel-details
							h1.nav-utility-brand-whitelabel-client #{parentOrgName}
							span.nav-utility-brand-whitelabel-attribution Powered by
							img.nav-utility-brand-logo(src="/img/content/logos/ets-small.svg", alt="eTeamSponsor.com")
				li.nav-utility-search
					if (showSearch)
						a.overlay-search-toggle-trigger(href="#", aria-label="View Site Search")
							- var icon = "search"
							- var iconClasses = ""
							include ../../shared/icon
				li.nav-utility-account
					a.dropdown-toggle(href="#", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false", aria-label="View Account Menu")
						- var icon = "person"
						- var iconClasses = ""
						include ../../shared/icon
						span.caret
					ul.dropdown-menu.nav-account-menu
						if (showChangeOrganization)
							li.dropdown-header Change Organization
							li
								a(href='#') #{parentOrgName}
							li
								a(href='#') Other Organization
							li.divider(role='separator')
						if (showChangeProgram)
							li.dropdown-header Change Program
							li
								a(href='#') #{programName}
							li
								a(href='#') Other Program
							li.divider(role='separator')
						if (showChangeCampaign)
							li.dropdown-header Change Campaign
							li
								a(href='#') #{campaign1Name}
							li
								a(href='#') #{campaign2Name}
							li.divider(role='separator')
						li
							a(href="update-profile.html") My Profile
						li
							a(href="privacy-policy.html", target="_blank") Privacy Policy
						li
							a(href='index.html') Log Out
block navPrimary
