.entity-summary.callout
	img.entity-logo(src="/img/content/sample-images/80x80.png", alt="Mascot Logo")
	.entity-details
		h3.entity-name
			a(href="child-organization-dashboard.html", title="View <org name> dashboard", aria-label="View <org name> dashboard") Org Name
		p
			span.h1 $50,000
			|  raised across 4 programs
		ul.action-list
			li
				a(href="update-child-organization.html", title="Update <org name>", aria-label="Update <org name>")
					- var icon = "update"
					- var iconClasses = ""
					include ../../shared/icon
			li
				a(href="#", title="Export <org name> donors", aria-label="Export <org name> donors")
					- var icon = "file-excel"
					- var iconClasses = ""
					include ../../shared/icon
			li
				a.interruption-navigation-trigger(href="parent-organization-dashboard.html", title="Archive <org name>", aria-label="Archive <org name>", data-interruption-message="This will archive this organization.  Are you sure you want to proceed?", data-interruption-cancel-text="No, keep this organization active", data-interruption-confirm-text="Yes, archive this organization")
					- var icon = "remove"
					- var iconClasses = ""
					include ../../shared/icon
