.entity-summary.callout.program-tile(style="border-color: #{borderColor}")
	img.entity-logo(src="#{imgSrc}", alt="Mascot Logo")
	.entity-details
		div
			h3.entity-name
				a(href="#{imgSrc}", title="View <org name> dashboard", aria-label="View <org name> dashboard") #{programName}
			ul
				li
					span.bold Number of participants:
						span.highlight  45
				li
					span.bold Funds Raised:
						span.currency.highlight 10,000
		div
			| #{campaignText}
		div
			hr
			ul.action-list
				li
					a(href="update-child-organization.html", title="Update <org name>", aria-label="Update <org name>")
						- var icon = "update"
						- var iconClasses = ""
						include ../../shared/icon
					| Review & Edit
				li
					a(href="#", title="Export <org name> donors", aria-label="Export <org name> donors")
						- var icon = "trending-up"
						- var iconClasses = ""
						include ../../shared/icon
					| New Campaign
				li
					a.interruption-navigation-trigger(href="parent-organization-dashboard.html", title="Archive <org name>", aria-label="Archive <org name>", data-interruption-message="This will archive this organization.  Are you sure you want to proceed?", data-interruption-cancel-text="No, keep this organization active", data-interruption-confirm-text="Yes, archive this organization")
						- var icon = "people"
						- var iconClasses = ""
						include ../../shared/icon
					| Manage Participants
