p.text-center
	a(href="#moreOptions", data-toggle="collapse", data-collapsed-text="More options", data-expanded-text="Fewer options") More options
.panel.panel-default.collapse#moreOptions
	.panel-body
		.row
			.col-sm-6
				label.lightweight.touch-friendly
					input(type='radio', value='cousin', name='donorRelationship', required)
					|  Adult Cousin
			.col-sm-6
				label.lightweight.touch-friendly
					input(type='radio', value='orthodontist', name='donorRelationship', required)
					|  Orthodontist
			.col-sm-6
				label.lightweight.touch-friendly
					input(type='radio', value='doctor', name='donorRelationship', required)
					|  Doctor
			.col-sm-6
				label.lightweight.touch-friendly
					input(type='radio', value='insurance-agent', name='donorRelationship', required)
					|  Insurance Agent
			.col-sm-6
				label.lightweight.touch-friendly
					input(type='radio', value='dentist', name='donorRelationship', required)
					|  Dentist
			.col-sm-6
				label.lightweight.touch-friendly
					input(type='radio', value='chiropractor', name='donorRelationship', required)
					|  Chiropractor
			.col-sm-6
				label.lightweight.touch-friendly
					input(type='radio', value='veterinarian', name='donorRelationship', required)
					|  Veterinarian
			.col-sm-6
				label.lightweight.touch-friendly
					input(type='radio', value='accountant', name='donorRelationship', required)
					|  Accountant
			.col-sm-6
				label.lightweight.touch-friendly
					input(type='radio', value='financial-advisor', name='donorRelationship', required)
					|  Financial Advisor
			.col-sm-6
				label.lightweight.touch-friendly
					input(type='radio', value='tax-professional', name='donorRelationship', required)
					|  Tax Professional
			.col-sm-6
				label.lightweight.touch-friendly
					input(type='radio', value='family-attorney', name='donorRelationship', required)
					|  Family Attorney
			.col-sm-6
				label.lightweight.touch-friendly
					input(type='radio', value='real-estate-agent', name='donorRelationship', required)
					|  Real Estate Agent
			.col-sm-6
				label.lightweight.touch-friendly
					input(type='radio', value='mortgage-broker', name='donorRelationship', required)
					|  Mortgage Broker
			.col-sm-6
				label.lightweight.touch-friendly
					input(type='radio', value='previous-coach', name='donorRelationship', required)
					|  Previous Coach
			.col-sm-6
				label.lightweight.touch-friendly
					input(type='radio', value='neighbor', name='donorRelationship', required)
					|  Neighbor
			.col-sm-6
				label.lightweight.touch-friendly
					input(type='radio', value='family-friend', name='donorRelationship', required)
					|  Family Friend
			.col-sm-6
				label.lightweight.touch-friendly
					input(type='radio', value='god-parent', name='donorRelationship', required)
					|  God Parent
			.col-sm-6
				label.lightweight.touch-friendly
					input(type='radio', value='pastor', name='donorRelationship', required)
					|  Pastor
			.col-sm-6
				label.lightweight.touch-friendly
					input(type='radio', value='rabbi', name='donorRelationship', required)
					|  Rabbi
			.col-sm-6
				label.lightweight.touch-friendly
					input(type='radio', value='priest', name='donorRelationship', required)
					|  Priest
			.col-sm-6
				label.lightweight.touch-friendly
					input(type='radio', value='reverend', name='donorRelationship', required)
					|  Reverend
			.col-sm-6
				label.lightweight.touch-friendly
					input(type='radio', value='christian-brother', name='donorRelationship', required)
					|  Christian Brother