.panel.panel-default
	.panel-heading
		ul.nav.nav-pills.nav-justified(role="tablist")
			li.active
				a(href="#male", role="tab", data-toggle="tab") Male
			li
				a(href="#female", role="tab", data-toggle="tab") Female
	.panel-body
		.tab-content
			.tab-pane.active#male(role="tabpanel")
				.row
					.col-sm-6
						label.lightweight.touch-friendly
							input(type='radio', value='brother', name='donorRelationship', data-error="Please choose the donor's relationship to you.", required)
							|  Brother
					.col-sm-6
						label.lightweight.touch-friendly
							input(type='radio', value='dad', name='donorRelationship', required)
							|  Dad
					.col-sm-6
						label.lightweight.touch-friendly
							input(type='radio', value='uncle', name='donorRelationship', required)
							|  Uncle
					.col-sm-6
						label.lightweight.touch-friendly
							input(type='radio', value='grandpa', name='donorRelationship', checked=(relationship == 'grandpa') ? 'checked' : null, required)
							|  Grandpa
			.tab-pane#female(role="tabpanel")
				.row
					.col-sm-6
						label.lightweight.touch-friendly
							input(type='radio', value='sister', name='donorRelationship', required)
							|  Sister
					.col-sm-6
						label.lightweight.touch-friendly
							input(type='radio', value='mom', name='donorRelationship', required)
							|  Mom
					.col-sm-6
						label.lightweight.touch-friendly
							input(type='radio', value='aunt', name='donorRelationship', required)
							|  Aunt
					.col-sm-6
						label.lightweight.touch-friendly
							input(type='radio', value='grandma', name='donorRelationship', required)
							|  Grandma