.overlay.overlay-search
	a.overlay-toggle-trigger.btn-close(href="#", aria-label="Close Search")
		- var icon = "close"
		- var iconClasses = ""
		include ../../shared/icon
		| Close
	form.form-inline.text-center(action="donor-results.html")
		h2 Search for Participants or Donors
		fieldset
			legend.sr-only Search for Participants or Donors
			ol.list-unstyled
				li.form-group
					.floating-label-group
						input.form-control.form-control-large.has-floating-label(type="search", name="donorSearch", id="donorSearch")
						label.floating-label(for="donorSearch") Search Term
				li.form-group
					.floating-label-group.decorator-select
						select.form-control.form-control-large.has-floating-label(id="searchFor", name="searchFor")
							option(value="participant") Participant
							option(value="donor") Donor
						label.floating-label(for="searchFor") Search For
				li.form-group
					input.btn.btn-lg.btn-primary(type="submit", value="Search")
