p To add or cancel donations, search for participants or donors by email, first name, or last name.
fieldset
	legend.sr-only Search for Participants or Donors
	ol.list-unstyled
		li.form-group
			.floating-label-group
				input.form-control.has-floating-label(type="search", name="donorSearch", id="donorSearch", value="#{searchTerm}")
				label.floating-label(for="donorSearch") Search Term
		li.form-group
			.floating-label-group.decorator-select
				select.form-control.has-floating-label(id="searchFor", name="searchFor")
					option(value="participant", selected=(searchType == "participant") ? "selected" : null) Participant
					option(value="donor", selected=(searchType == "donor") ? "selected" : null) Donor
				label.floating-label(for="searchFor") Search For
		li.form-group
			input.btn.btn-lg.btn-primary(type="submit", value="Search")