.panel.panel-default
	.panel-heading
		ul.nav.nav-pills.nav-justified(role="tablist")
			li.active
				a(href="#current-user", role="tab", data-toggle="tab") Current User
			li
				a(href="#new-user", role="tab", data-toggle="tab") New User
	.panel-body
		.tab-content
			.tab-pane.active#current-user(role="tabpanel")
				.row
					.col-sm-12
						input.form-control(type="text", data-typeahead-set-input="#currentUserId", data-typeahead-source="#{baseElasticsearchUrl}ets_user/ets_user/_search", data-typeahead-suggestion-template="#custom-user-suggestion-template", placeholder="Search for a user")
			.tab-pane#new-user(role="tabpanel")
				.row
					.col-sm-12
						ol.list-unstyled
							li.form-group
								.floating-label-group
									input.form-control.has-floating-label(type='text', name='newUserLoginName', id='newUserLoginName', data-error="Please enter the new user's login name.", required)
									label.floating-label(for='newUserLoginName') Login Name (email address)
								.help-block.with-errors
							li.form-group
								.floating-label-group
									input.form-control.has-floating-label(type='text', name='newUserFullName', id='newUserFullName', data-error="Please enter the new user's full name.", required)
									label.floating-label(for='newUserFullName') Full Name
								.help-block.with-errors
							li.form-group
								.floating-label-group
									input.form-control.has-floating-label(type='password', name='newUserPassword', id='newUserPassword', data-error="Please enter the new user's password.", required)
									label.floating-label(for='newUserPassword') Password
								.help-block.with-errors
							li.form-group
								.floating-label-group
									input.form-control.has-floating-label(type='text', name='newUserTitle', id='newUserTitle')
									label.floating-label(for='newUserTitle') Title
								.help-block.with-errors
							li.form-group
								.floating-label-group
									input.form-control.has-floating-label(type='tel', name='newUserWorkPhone', id='newUserWorkPhone')
									label.floating-label(for='newUserWorkPhone') Work Phone
								.help-block.with-errors
							li.form-group
								.floating-label-group
									input.form-control.has-floating-label(type='tel', name='newUserCellPhone', id='newUserCellPhone')
									label.floating-label(for='newUserCellPhone') Cell Phone
								.help-block.with-errors
							li.form-group
								.floating-label-group.decorator-select
									select.form-control.has-floating-label(name='newUserCellPhoneCarrier', id='newUserCellPhoneCarrier')
										option(value='', selected, disabled)
										option(value='att') AT&amp;T
										option(value='verizon') Verizon
										option(value='sprint') Sprint
										option(value='t-mobile') T-Mobile
										option(value='other') Other
									label.floating-label(for='newUserCellPhoneCarrier') Cell Carrier
								.help-block.with-errors
script#custom-user-suggestion-template(type="text/x-handlebars-template")
	div(style="padding: 1em;")
		p {{ _source.name }}
		p {{ _source.email }}
