extends ../../layout

block projectVars
	- var project = "eteamsponsor"
	- var author = "eTeamSponsor"
	- var baseElasticsearchUrl = "//search-ets-suggester-dev-wbylrsin2bdpdzz7nkybnlcd6a.us-west-2.es.amazonaws.com/"
	- var parentOrgName = "Siena Heights University"
	- var parentOrgStreetAddress = "1247 E. Siena Heights Dr."
	- var parentOrgCity = "Adrian"
	- var parentOrgState = "MI"
	- var parentOrgPostalCode = "49221"
	- var parentOrgPhone = "(805) 521-0009"
	- var parentOrgDomain = "sienaheights.edu"
	- var parentOrgLogo = "siena-heights.png"
	- var childOrgName = "SHU Athletics"
	- var childOrgName2 = "SHU Scholarship Fund"
	- var childOrgMascot = "Saints"
	- var childOrgAmountRaised = "$63,843"
	- var programName = "SHU Women's Soccer"
	- var programType = "Soccer"
	- var campaignYear = 2017
	- var campaignBaseName = "Siena Heights Univ Women's Soccer Challenge"
	- var campaign1Name = campaignYear + " " + campaignBaseName
	- var campaign1Photo = "/img/content/sample-logos/siena-heights.png"
	- var campaign2Name = "2017 Siena Heights Univ Football Challenge"
	- var campaign2Photo = "/img/content/sample-logos/siena-heights.png"
	- var previousCampaignName = campaignYear - 1 + " " + campaignBaseName
	- var user1Photo = "/img/content/sample-images/100x100.png"
	- var user2Photo = "/img/content/sample-images/100x100.png"
	- var user3Photo = "/img/content/sample-images/100x100.png"

block favicon
	include ../../eteamsponsor-shared/favicon

block sublayout
	include ../../shared/enable-javascript-warning
	include ./_header

	main.layout-primary
		.container
			include ./_breadcrumbs

			if (includeDefaultPageTitle)
				include ./_page-title

			block content

	include ../../eteamsponsor-shared/footer
	include ./_search-overlay
