extends ./includes/sublayout

block pageVars
	- var title = "Forgot Password Confirmation"

block content
	.row
		section.col-sm-12.text-center
			h1 An email has been sent to
				br
				| #user_email#
			p Please follow the instructions provided in that email.
			p
				a.btn.btn-lg.btn-primary(href="login.html") Login