extends ./includes/sublayout

block pageVars
	- var title = "Forgot Password"

block content
	.row
		section.layout-single-column
			h1.text-center Password Reset
			form(action='forgot-password-confirmation.html', data-toggle='validator', data-disable='false')
				fieldset
					legend.sr-only Password Reset
					ol.list-unstyled
						li.form-group
							.floating-label-group
								input.form-control.has-floating-label.js-validate-email(type='email', name='email', data-error="Please enter a valid email address.", required)
								label.floating-label(for='email') Enter your email address
							.help-block.with-errors
						li.form-group.text-center
							input.btn.btn-lg.btn-primary(type='submit', value='Reset Password')