extends ./includes/sublayout

block pageVars
	- var title = "Campaign ID Login Template Index"

block content
	.row
		.col-xs-12
			h1 Campaign ID Login Template Index
			ul
				li
					a(href="style-guide.html") Style Guide
				li
					a(href="login.html") Login
				li
					a(href="forgot-password.html") Forgot Password
				li
					a(href="forgot-password-confirmation.html") Forgot Password Confirmation
				li
					a(href="set-password.html") Set Password
				li
					a(href="request-campaign-id.html") Request Campaign ID
				li
					a(href="request-campaign-id-confirmation.html") Request Campaign ID Confirmation
				li
					a(href="join-campaign.html") Join Campaign
				li
					a(href="join-campaign-confirmation.html") Join Campaign Confirmation
				li
					a(href="join-campaign-confirmation-no-logo.html") Join Campaign Confirmation No Logo

			p
				a.btn.btn-lg.btn-primary(href='../index.html')
					- var icon = "arrow-left"
					- var iconClasses = "icon-inline-left"
					include ../shared/icon
					| Back to Project Index
