extends ./includes/sublayout

block pageVars
	- var title = "Join Campaign Confirmation No Logo"

block content
	.row
		div
			section.text-center.col-sm-8.col-sm-offset-2
				h1 2016 Albion Football Challenge
				.row.dotted-border-bottom
					.col-xs-6
						h3.form-label Program Admin
						p Bob Smith
					.col-xs-6
						h3.form-label Organization
						p Albion College
				.row.dotted-border-bottom
					.col-xs-6
						h3.form-label Campaign Goal
						p $658 of $11,000
					.col-xs-6
						h3.form-label Supporters
						p 24
				p.top-buffer
					a.btn.btn-lg.btn-primary(href="login.html") Join Campaign