extends ./includes/sublayout

block pageVars
	- var title = "Join Campaign Confirmation"

block content
	.row
		.valign-sm
			section.col-sm-6.middle
				h2.sr-only Albion College
				p.text-center
					img.img-shadowed.img-responsive.center-block(src="/img/content/sample-images/program-logo.png", alt="Program Name")
			section.col-sm-6.middle.top-buffer-xs.text-center
				h1 2016 Albion Football Challenge
				.row.dotted-border-bottom
					.col-xs-6
						h3.form-label Program Admin
						p Bob Smith
					.col-xs-6
						h3.form-label Organization
						p Albion College
				.row.dotted-border-bottom
					.col-xs-6
						h3.form-label Campaign Goal
						p $658 of $11,000
					.col-xs-6
						h3.form-label Supporters
						p 24
				p.top-buffer
					a.btn.btn-lg.btn-primary(href="login.html") Join Campaign