extends ./includes/sublayout

block pageVars
	- var title = "Join Campaign"

block content
	.row
		section.layout-single-column
			p.text-center.top-buffer
				a(href="join-campaign-confirmation.html", aria-label="Sign up with Facebook", title="Sign up with Facebook")
					img.img-shadowed(src="/img/content/sign-up-with-facebook.png", alt="Sign up with Facebook")
			h1.text-center.top-buffer Sign up with your email
			form(action='join-campaign-confirmation.html', data-toggle='validator', data-disable='false')
				fieldset
					legend.sr-only Sign up for an eTeamSponsor campaign with your email
					ol.list-unstyled
						li
							.row
								.col-xs-6.form-group
									.floating-label-group
										input.form-control.has-floating-label(type='text', id='firstName', name='firstName', data-error="Please enter your first name.", required)
										label.floating-label(for='firstName') First Name
									.help-block.with-errors
								.col-xs-6.form-group
									.floating-label-group
										input.form-control.has-floating-label(type='text', id='lastName', name='lastName', data-error="Please enter your last name.", required)
										label.floating-label(for='lastName') Last Name
									.help-block.with-errors
						li.form-group
							.floating-label-group
								input.form-control.has-floating-label.js-validate-email(type='email', id='email', name='email', data-error="Please enter a valid email address.", required)
								label.floating-label(for='email') Email Address
							.help-block.with-errors
						li.form-group
							.floating-label-group
								input.form-control.has-floating-label(type='password', id='password', name='password', data-error="Please enter a valid password.", required)
								label.floating-label(for='inputPassword') Password
							.help-block.with-errors
						li.form-group
							.floating-label-group
								input.form-control.has-floating-label(type='password', id='confirmPassword', name='confirmPassword', data-match="#password", data-match-error="Your passwords must match.", data-error="Please confirm your password.", required)
								label.floating-label(for='confirmPassword') Confirm Password
							.help-block.with-errors
						li.form-group.text-center
							input.btn.btn-lg.btn-primary(type='submit', value='Submit Request')