extends ./includes/sublayout

block pageVars
	- var title = "Campaign ID Login"

block content
	.row
		section.col-sm-6
			h1.text-center Login to eTeamSponsor
			form(action='', data-toggle='validator', data-disable='false')
				fieldset
					legend.sr-only Login to eTeamSponsor
					ol.list-unstyled
						li.form-group
							.floating-label-group
								input.form-control.has-floating-label.js-validate-email(type='email', id='email', name='email', data-error="Please enter a valid email address.", required)
								label.floating-label(for='email') Email Address
							.help-block.with-errors
						li.form-group
							.floating-label-group
								input.form-control.has-floating-label(type='password', id='password', name='password', data-error="Please enter your password.", required)
								label.floating-label(for='password') Password
							.help-block.with-errors
						li.form-group.text-center
							input.btn.btn-lg.btn-primary(type='submit', value='Login')
							div.checkbox-dynamic-float
								label.lightweight(for='rememberMe')
									input(type='checkbox', name='rememberMe', checked)
									|  Remember me
			p.top-buffer-sm.top-buffer-md.text-center
				a(href="forgot-password.html") Forgot Password

		section.col-sm-6.top-buffer-xs
			h1.text-center Participants Join Campaign
			form(action='join-campaign.html', data-toggle='validator', data-disable='false')
				fieldset
					legend.sr-only Participants Join Campaign
					ol.list-unstyled
						li.form-group
							.floating-label-group
								input.form-control.has-floating-label(type='text', id='campaignID', name='campaignID', data-error="Please enter your Campaign ID", required)
								label.floating-label(for='campaignID') Enter your Campaign ID
							.help-block.with-errors
						li.form-group.text-center
							input.btn.btn-lg.btn-primary(type='submit', value='Sign Up')