extends ./includes/sublayout

block pageVars
	- var title = "Request a Campaign ID"

block content
	.row
		section.layout-single-column
			h1.text-center Request a Campaign ID
			form(action='request-campaign-id-confirmation.html', data-toggle='validator', data-disable='false')
				fieldset
					legend.sr-only Login to eTeamSponsor
					ol.list-unstyled
						li
							.row
								.col-xs-6.form-group
									.floating-label-group
										input.form-control.has-floating-label(type='text', id='firstName', name='firstName', data-error="Please enter your first name.", required)
										label.floating-label(for='firstName') First Name
									.help-block.with-errors
								.col-xs-6.form-group
									.floating-label-group
										input.form-control.has-floating-label(type='text', id='lastName' name='lastName', data-error="Please enter your last name.", required)
										label.floating-label(for='lastName') Last Name
									.help-block.with-errors
						li.form-group
							.floating-label-group
								input.form-control.has-floating-label.js-validate-email(type='email', id='email', name='email', data-error="Please enter a valid email address.", required)
								label.floating-label(for='email') Email Address
							.help-block.with-errors
						li.form-group
							.floating-label-group
								input.form-control.has-floating-label(type='text', id='organizationName', name='organizationName', data-error="Please enter your organization name.", required)
								label.floating-label(for='organizationName') Organization Name
							.help-block.with-errors
						li.form-group
							.floating-label-group
								input.form-control.has-floating-label(type='text', id='programAdminName', name='programAdminName', data-error="Please enter your program admin's full name.", required)
								label.floating-label(for='email') Program Admin Name
							.help-block.with-errors
						li.form-group.text-center
							input.btn.btn-lg.btn-primary(type='submit', value='Submit Request')