extends ./includes/sublayout

block pageVars
	- var title = "Forgot Password Confirmation"

block content
	.row
		section.col-sm-12.text-center
			h1 Your Request has been sent
			p An ETS representative or your coach will be in touch shortly to provide you a campaign ID.
			p
				a.btn.btn-lg.btn-primary(href="login.html") Enter a Campaign ID