extends ./includes/sublayout

block pageVars
	- var title = "Set Password"

block content
	.row
		section.layout-single-column
			h1.text-center #Username#, Please Select Your Password
			form(action='login.html', data-toggle='validator', data-disable='false')
				fieldset
					legend.sr-only Password Reset
					ol.list-unstyled
						li.form-group
							.floating-label-group
								input.form-control.has-floating-label(type='password', id='originalPassword', name='originalPassword', data-error="Please enter your current password.", required)
								label.floating-label(for='originalPassword') Current Password
							.help-block.with-errors
						li.form-group
							.floating-label-group
								input.form-control.has-floating-label(type='password', id='password', name='password', data-error="Please enter your new password.", required)
								label.floating-label(for='password') New Password
							.help-block.with-errors
						li.form-group
							.floating-label-group
								input.form-control.has-floating-label(type='password', id='confirmPassword', name='confirmPassword', data-match="#password", data-error="Please confirm your new password.", data-match-error="Your passwords do not match.", required)
								label.floating-label(for='confirmPassword') Confirm New Password
							.help-block.with-errors
						li.form-group.text-center
							input.btn.btn-lg.btn-primary(type='submit', value='Set Password')