extends ./includes/sublayout

block pageVars
	- var title = "Style Guide"

block content
	.row
		.col-xs-12
			h1.page-header Table of Contents
			ul
				li
					a(href="#colors") Colors
				li
					a(href="#typography") Typography
				li
					a(href="#alerts") Alerts
				li
					a(href="#forms") Forms
				li
					a(href="#buttons") Buttons

		include ../eteamsponsor-shared/colors
		include ../shared/style-guide/typography
		include ../shared/style-guide/alerts
		include ../shared/style-guide/forms
		include ../shared/style-guide/buttons