.jp-card-container {
	width: 320px !important;	// overrides default from plugin to allow for usage on small phones
}

.jp-card {
	min-width: 280px !important;	// overrides default from plugin to allow for usage on small phones
}

.credit-card-wrapper,
.no-csstransforms3d .credit-card-wrapper {
	display: none;
}

@media (min-width: @screen-sm-min) {
	.jp-card-container {
		width: 350px !important;	// returns to default from plugin to allow for usage on larger screens
	}

	.jp-card {
		min-width: 315px !important;	// returns to default from plugin to allow for usage on larger screens
	}

	.credit-card-wrapper {
		display: block;
		margin: 1em 0;
	}
}