.hiddenInput() {
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	width: 0.1px;
	z-index: -1;
}

.file-input-container {
	background-color: @gray-lightest;
	border: @input-border-width solid @input-border-color;
	border-radius: @input-border-radius;
	height: 150px;
	overflow: hidden;
	margin: 0 auto;
	padding: 0 @font-size-base;	// left and right padding used here instead of top and bottom to make the top: 100% position throw .file-label outside of the container
	position: relative;	// context for .remove-image-label and image-preview
	text-align: center;
	width: 175px;

	.js &.file-reader-support {
		input[type="file"] {
			.hiddenInput();
		}

		.file-name {
			font-weight: normal;
			max-width: 100%;
			overflow-x: hidden;
			text-overflow: ellipsis;
			white-space: normal;
		}
	}

	.no-js &,
	&.no-file-reader-support, {
		input[type="file"] {
			margin-bottom: 1em;
			max-width: 100%;
		}

		.file-name {
			display: none;
		}
	}

	&.has-file {
		// start with the file upload out of the container
		input[type="file"],
		.file-label {
			position: relative;
			top: 100%;
			.transition(top .25s ease-in-out);
			z-index: 0;	// place it below the .remove-image-label and .image-preview
		}

		// slide the file upload into the container
		.remove-image {
			&:checked {
				~ input[type="file"],
				~ .file-label {
					top: 0;
				}
			}
		}
	}

	.file-label {
		font-weight: normal;
		margin: @font-size-base 0;	// top and bottom margin used here instead of on .file-input-container's padding to make the top: 100% position throw it outside of the container
	}

	.remove-image,
	.remove-image-label,
	.image-preview {
		.transition(top .25s ease-in-out);
	}

	.remove-image {
		.hiddenInput();

		// slide the image and the remove image checkbox and label out of the container
		&:checked {
			&,
			+ .remove-image-label,
			~ .image-preview {
				top: -100%;
			}
		}
	}

	.remove-image-label {
		background-color: rgba(0, 0, 0, 0.5);
		border-radius: @input-border-radius 0;
		color: white;
		font-size: 12px;
		font-weight: normal;
		left: 0;
		padding: 5px;
		position: absolute;
		text-decoration: underline;
		top: 0;
		z-index: 2;	// place it on top of .image-preview
	}

	.image-preview {
		left: 50%;
		max-height: 100%;
		max-width: 100%;
		position: absolute;
		top: 50%;
		-ms-transform: translateX(-50%) translateY(-50%);	// centers horizontally
		transform: translateX(-50%) translateY(-50%);	// centers horizontally
		z-index: 1;	// place it on top of file upload
	}

	label {
		cursor: pointer;
	}
}