.twitter-typeahead {
	width: 100%;
}

.tt-query {
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
	color: @gray-lighter !important;
}

.tt-menu {
	background-color: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	margin: 0.5em 0;
	max-height: 200px;
	max-width: 100%;
	overflow-y: auto;
	padding: 0.5em 0;
	width: auto;
}

.tt-suggestion {
	color: black;
	font-size: 1em;
	line-height: 1.5em;
	padding: 0.25em 1em;
}

.tt-suggestion:hover {
	background-color: @brand-primary;
	color: #fff;
	cursor: pointer;
}

.tt-suggestion.tt-cursor {
	background-color: @brand-primary;
	color: #fff;
}

.tt-suggestion p {
	margin: 0;
}

.tt-not-found {
	color: black;
	padding: 1em;
}

.visuallyhidden {
	border: 0;
	clip: rect(0,0,0,0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
