li
	a.nav-mega-menu-open-trigger(href='#', aria-label='Open Campaigns Navigation') Campaigns
	.nav-mega-menu
		a.nav-mega-menu-close-trigger.btn-close(href="#", aria-label="Close Campaigns Navigation")
			- var icon = "close"
			- var iconClasses = ""
			include ../../../../shared/icon
			| Close
		.row
			.col-xs-12.col-sm-4
				h3.nav-mega-menu-column-heading Campaign Management
				ul.nav-mega-menu-sub-menu
					li
						a(href='child-organization-dashboard.html') Org Dashboard
					li
						a(href='#') New Campaign
			.col-xs-12.col-sm-8
				h3.nav-mega-menu-column-heading Recently Launched Campaigns
				.row
					.col-md-6
						- var campaignName = campaign1Name
						- var campaignAmountRaised = "$5,037"
						- var campaignDaysRemaining = 5
						include ../../_campaign-summary
					.col-md-6
						- var campaignName = campaign2Name
						- var campaignAmountRaised = "$1,915"
						- var campaignDaysRemaining = 15
						include ../../_campaign-summary
				.row
					.col-sm-12
						p
							a.btn.btn-default(href="child-organization-dashboard.html") View all campaigns
