li
	a.nav-mega-menu-open-trigger(href='#', aria-label='Open Donors Navigation') Donors
	.nav-mega-menu
		a.nav-mega-menu-close-trigger.btn-close(href="#", aria-label="Close Donors Navigation")
			- var icon = "close"
			- var iconClasses = ""
			include ../../../../shared/icon
			| Close
		.row
			.col-xs-12.col-sm-4
				h3.nav-mega-menu-column-heading Donor Management
				ul.nav-mega-menu-sub-menu
					li
						if (navUserType == 'program-admin')
							a(href='program-admin-donor-list.html') Manage &lt;Program Admin Name&gt;'s Donors
						else
							a(href='#') Manage Donors
				h3.nav-mega-menu-column-heading Donations
				ul.nav-mega-menu-sub-menu
					li
						a(href='donation-detail.html') Manage Donations
					li
						a(href='donation-detail.html') Donations Today
					li
						a(href='donation-detail.html') Manual Donations Today
			.col-xs-12.col-sm-8
				h3.nav-mega-menu-column-heading Recently Made Donations
				.row
					.col-sm-6.col-md-3
						.callout-mini.text-center(itemscope, itemtype="https://schema.org/Person")
							h3.tile-metric.small $100
							p.tile-title
								a(href="donor-detail.html")
									span(itemprop="name") Bob Smith
							div(itemprop="address", itemscope, itemtype="https://schema.org/PostalAddress")
								span(itemprop="addressLocality") #{parentOrgCity}
								span(itemprop="addressRegion") #{parentOrgState}
					.col-sm-6.col-md-3
						.callout-mini.text-center(itemscope, itemtype="https://schema.org/Person")
							h3.tile-metric.small $75
							p.tile-title
								a(href="donor-detail.html")
									span(itemprop="name") Jane Doe
							div(itemprop="address", itemscope, itemtype="https://schema.org/PostalAddress")
								span(itemprop="addressLocality") Concord
								span(itemprop="addressRegion") CA
					.col-sm-6.col-md-3
						.callout-mini.text-center(itemscope, itemtype="https://schema.org/Person")
							h3.tile-metric.small $50
							p.tile-title
								a(href="donor-detail.html")
									span(itemprop="name") John Doe
							div(itemprop="address", itemscope, itemtype="https://schema.org/PostalAddress")
								span(itemprop="addressLocality") Portland
								span(itemprop="addressRegion") OR
					.col-sm-6.col-md-3
						.callout-mini.text-center(itemscope, itemtype="https://schema.org/Person")
							h3.tile-metric.small $150
							p.tile-title
								a(href="donor-detail.html")
									span(itemprop="name") Jill Smith
							div(itemprop="address", itemscope, itemtype="https://schema.org/PostalAddress")
								span(itemprop="addressLocality") Seattle
								span(itemprop="addressRegion") WA
					.col-xs-12
						p
							a.btn.btn-default(href="donation-detail.html") View All Donations
