li
	a.nav-mega-menu-open-trigger(href='#', aria-label='Open Organization Navigation') Organization
	.nav-mega-menu
		a.nav-mega-menu-close-trigger.btn-close(href="#", aria-label="Close Organization Navigation")
			- var icon = "close"
			- var iconClasses = ""
			include ../../../../shared/icon
			| Close
		.row(style="font-size: 14px")
			.col-xs-12.col-sm-3
				h3.nav-mega-menu-column-heading Organization Management
				ul.nav-mega-menu-sub-menu
					li
						if (navUserType == 'program-admin')
							a(href='program-admin-donor-list.html') Manage &lt;Program Admin Name&gt;'s Donors
						else
							a(href='#') Organization Dashboard
					li
						a(href='#') Organization Settings
				h3.nav-mega-menu-column-heading Organization Reporting
				ul.nav-mega-menu-sub-menu
					li
						a(href='organization-history-report.html') Organization History Report
					li
						a(href='#') Financial Information
			.col-xs-12.col-sm-2
				h3.nav-mega-menu-column-heading Key Contacts
				ul.nav-mega-menu-sub-menu
					li
						div
							b David J. Low
						div Account Manager
						div 925-323-3627
					li
						div
							b David J. Low
						div Account Manager
						div 925-323-3627
					li
						div
							b David J. Low
						div Organization Admin
						div 925-323-3627
			.col-xs-12.col-sm-7
				h3.nav-mega-menu-column-heading Organization and Contact Info
				div.org-info-cards
					ul.callout-mini.list-style-none
						li
							b Organization Type:
							|  School
						li
							b Organization Sub Type:
							|  High School
						li
							b Partnership:
							|  CIF
						li
							b Status:
							|  Active
					ul.callout-mini.list-style-none
						li
							b Allow Event Driven Campaign:
							|  Yes
						li
							b Fundraker Client:
							|  No
						li
							b Nonprofit:
							|  Yes
					ul.callout-mini.list-style-none
						li
							b Original Agreement Date:
							|  01/28/2019
						li
							b Last Updated:
							|  01/28/2019
						li
							b Date Created:
							|  01/28/2019
					ul.callout-mini.list-style-none
						li
							b Street:
							|  West 4th Street

						li
							b City:
							|  New York

						li
							b State:
							|  NY
						li
							b Postal Code:
							|  10012
						li
							b Contact Phone:
							|  925-323-3627

