li
	a.nav-mega-menu-open-trigger(href="#", aria-label="Open Participants Navigation") Participants
	.nav-mega-menu
		a.nav-mega-menu-close-trigger.btn-close(href="#", aria-label="Close Participants Navigation")
			- var icon = "close"
			- var iconClasses = ""
			include ../../../../shared/icon
			| Close
		.row
			.col-xs-12.col-sm-4
				h3.nav-mega-menu-column-heading Participant Management
				ul.nav-mega-menu-sub-menu
					li
						a(href="add-participant.html") Add Participant
					li
						a(href="manage-participants.html") Manage Participants
			.col-xs-12.col-sm-8
				h3.nav-mega-menu-column-heading Recently Added Participants
				.row
					.col-sm-6
						.callout-mini(itemscope, itemtype="https://schema.org/Person")
							.top
								ul.list-unstyled
									li
										a.nav-mega-menu-entity-name(href="participant-detail.html")
											span(itemprop="name") Billy Smith
									li
										a(href="mailto:billysmith@gmail.com")
											span(itemprop="email") billysmith@gmail.com
									li Active Sponsors: 4
								ul.action-list
									li
										a.interruption-navigation-options(href="#", data-interruption-key="resendPassword", data-interruption-append-to-url="userIdHere")
											- var icon = "key"
											include ../../../../shared/icon
									li
										a.interruption-navigation-trigger(href="#", data-interruption-message="Are you sure you want to deactivate <participant name>?", data-interruption-confirm-text="Yes", data-interruption-cancel-text="No")
											- var icon = "remove"
											include ../../../../shared/icon
									li
										a(href="participant-add-donor.html", title="Add donor for <participant name>", aria-label="Add donor for <participant name>")
											- var icon = "person-add"
											include ../../../../shared/icon
					.col-sm-6
						.callout-mini(itemscope, itemtype="https://schema.org/Person")
							.top
								ul.list-unstyled
									li
										a.nav-mega-menu-entity-name(href="participant-detail.html")
											span(itemprop="name") John Doe
									li
										a(href="mailto:johndoe@gmail.com")
											span(itemprop="email") johndoe@gmail.com
									li Active Sponsors: 2
								ul.action-list
									li
										a.interruption-navigation-options(href="#", data-interruption-key="resendPassword", data-interruption-append-to-url="userIdHere")
											- var icon = "key"
											include ../../../../shared/icon
									li
										a.interruption-navigation-trigger(href="#", data-interruption-message="Are you sure you want to deactivate <participant name>?", data-interruption-confirm-text="Yes", data-interruption-cancel-text="No")
											- var icon = "remove"
											include ../../../../shared/icon
									li
										a(href="participant-add-donor.html", title="Add donor for <participant name>", aria-label="Add donor for <participant name>")
											- var icon = "person-add"
											include ../../../../shared/icon
				.row
					.col-sm-6
						.callout-mini(itemscope, itemtype="https://schema.org/Person")
							.top
								ul.list-unstyled
									li
										a.nav-mega-menu-entity-name(href="participant-detail.html")
											span(itemprop="name") John Smith
									li
										a(href="mailto:johnsmith@gmail.com")
											span(itemprop="email") johnsmith@gmail.com
									li Active Sponsors: 1
								ul.action-list
									li
										a.interruption-navigation-options(href="#", data-interruption-key="resendPassword", data-interruption-append-to-url="userIdHere")
											- var icon = "key"
											include ../../../../shared/icon
									li
										a.interruption-navigation-trigger(href="#", data-interruption-message="Are you sure you want to deactivate <participant name>?", data-interruption-confirm-text="Yes", data-interruption-cancel-text="No")
											- var icon = "remove"
											include ../../../../shared/icon
									li
										a(href="participant-add-donor.html", title="Add donor for <participant name>", aria-label="Add donor for <participant name>")
											- var icon = "person-add"
											include ../../../../shared/icon
					.col-sm-6
						.callout-mini(itemscope, itemtype="https://schema.org/Person")
							.top
								ul.list-unstyled
									li
										a.nav-mega-menu-entity-name(href="participant-detail.html")
											span(itemprop="name") Jimmy Smith
									li
										a(href="mailto:jimmysmith@gmail.com")
											span(itemprop="email") jimmysmith@gmail.com
									li Active Sponsors: 6
								ul.action-list
									li
										a.interruption-navigation-options(href="#", data-interruption-key="resendPassword", data-interruption-append-to-url="userIdHere")
											- var icon = "key"
											include ../../../../shared/icon
									li
										a.interruption-navigation-trigger(href="#", data-interruption-message="Are you sure you want to deactivate <participant name>?", data-interruption-confirm-text="Yes", data-interruption-cancel-text="No")
											- var icon = "remove"
											include ../../../../shared/icon
									li
										a(href="participant-add-donor.html", title="Add donor for <participant name>", aria-label="Add donor for <participant name>")
											- var icon = "person-add"
											include ../../../../shared/icon
				.row
					.col-xs-12
						p
							a.btn.btn-default(href="manage-participants.html") All Participants
script.
	var navigationOptions = navigationOptions || {};

	navigationOptions.resendPassword = {
		"title": "Re-send Password",
		"message": "How would you like to send the password?",
		"buttons": [
			{
				"name": "email",
				"label": "Email",
				"class": "btn-primary",
				"url": "#"
			},
			{
				"name": "text",
				"label": "Text",
				"class": "btn-primary",
				"url": "#"
			}
		]
	};
