li
	a.nav-mega-menu-open-trigger(href='#', aria-label='Open Campaigns Navigation') Campaigns
	.nav-mega-menu
		a.nav-mega-menu-close-trigger.btn-close(href="#", aria-label="Close Campaigns Navigation")
			- var icon = "close"
			- var iconClasses = ""
			include ../../../../shared/icon
			| Close
		.row
			.col-xs-12.col-sm-4
				h3.nav-mega-menu-column-heading Campaign Management
				ul.nav-mega-menu-sub-menu
					li
						a(href='#') New Campaign
			.col-xs-12.col-sm-8
				h3.nav-mega-menu-column-heading Recently Launched Campaign
				.row
					.col-sm-12.col-md-8
						- var campaignName = campaign1Name
						- var campaignAmountRaised = "$5,037"
						- var campaignDaysRemaining = 5
						include ../../_campaign-summary
