li
	a.nav-mega-menu-open-trigger(href='#', aria-label='Open Users Navigation') Users
	.nav-mega-menu
		a.nav-mega-menu-close-trigger.btn-close(href="#", aria-label="Close Users Navigation")
			- var icon = "close"
			- var iconClasses = ""
			include ../../../../shared/icon
			| Close
		.row
			.col-xs-12.col-sm-4
				h3.nav-mega-menu-column-heading User Management
				ul.nav-mega-menu-sub-menu
					li
						a(href='add-user.html') Add User
					li
						a(href='manage-users.html') Manage Users
					li
						a(href='#') View Archived Users
			.col-xs-12.col-sm-8
				h3.nav-mega-menu-column-heading VIPs
				.row
					.col-sm-6
						.callout-mini.valign(itemscope, itemtype="https://schema.org/Person")
							.top.img-avatar-container
								a(href="user-detail.html")
									.img-avatar(style="background-image: url('" + user1Photo + "');")
							.top
								ul.list-unstyled
									li
										a.nav-mega-menu-entity-name(href="user-detail.html")
											span(itemprop="name") Ellen O'Connor
									li
										a(href="mailto:oconnore@" + parentOrgDomain)
											span(itemprop="email") oconnore@#{parentOrgDomain}
									li
										a(href="tel:#")
											span(itemprop="telephone") #{parentOrgPhone}
					.col-sm-6
						.callout-mini.valign(itemscope, itemtype="https://schema.org/Person")
							.top.img-avatar-container
								a(href="user-detail.html")
									.img-avatar(style="background-image: url('" + user2Photo + "');")
							.top
								ul.list-unstyled
									li
										a.nav-mega-menu-entity-name(href="user-detail.html")
											span(itemprop="name") Kim Schuck
									li
										a(href="mailto:schuck@" + parentOrgDomain)
											span(itemprop="email") schuck@#{parentOrgDomain}
									li
										a(href="tel:#")
											span(itemprop="telephone") #{parentOrgPhone}
				.row
					.col-sm-6
						.callout-mini.valign(itemscope, itemtype="https://schema.org/Person")
							.top.img-avatar-container
								a(href="user-detail.html")
									.img-avatar(style="background-image: url('" + user3Photo + "');")
							.top
								ul.list-unstyled
									li
										a.nav-mega-menu-entity-name(href="user-detail.html")
											span(itemprop="name") Jeff Walker
									li
										a(href="mailto:walker@" + parentOrgDomain)
											span(itemprop="email") walker@#{parentOrgDomain}
									li
										a(href="tel:#")
											span(itemprop="telephone") #{parentOrgPhone}
				.row
					.col-xs-12
						p
							a.btn.btn-default(href="manage-users.html") Add VIP
