nav.nav-primary
	.container
		.row
			.col-xs-12
				ul.nav-primary-top
					include ./shared/_single-campaign
					include ./shared/_participants
					include ./shared/_users
					include ./shared/_donors
