nav.nav-primary
	.container
		.row
			.col-xs-12
				ul.nav-primary-top
					include ./shared/_donors
					include ./shared/_users
					include ./shared/_campaigns
					include ./shared/_participants
