nav.nav-primary
	.container
		.row
			.col-xs-12
				ul.nav-primary-top
					li
						a(href="#{standardCampaignPageUrl}", target="_blank") Campaign Page
					li
						a(href="http://dev.eteamsponsor.com/ETS/fundraiserParticipant/previewSponsorLetter/2839581", target="_blank") Donor Letter
					li
						a(href="http://dev.eteamsponsor.com/ETS/fundraiserParticipant/previewThankYou/2839581", target="_blank") Thank You Letter
					li
						a(href="participant-printable-instructions.html", target="_blank") Instructions
