nav.nav-primary
	.container
		.row
			.col-xs-12
				ul.nav-primary-top
					- var navUserType = 'program-admin'
					include ./shared/_single-campaign
					include ./shared/_donors
					include ./shared/_users
					include ./shared/_participants
