extends ../includes/sublayout-giving-day

block pageVars
	- var year = new Date().getFullYear()
	- var orgName = "Cal Poly Pomona"
	- var programType = "Baseball"
	- var campaignName = "2018 " + orgName + " Giving Day"
	- var givingDate = "April 5, 2018"
	- var title = campaignName + titleSuffix
	- var orgCity = "Pomona"
	- var orgState = "CA"
	- var primaryColor = "#154734"
	- var accentColor = "#FFBA14"
	- var logoFilename = "cal-poly-pomona.png"
	- var version = "countdown"