extends ../includes/sublayout-standard

block pageVars
	- var year = new Date().getFullYear()
	- var orgName = "De La Salle High School"
	- var programType = "#Give2DLS"
	- var eventCampaignName = "De La Salle Giving Day"
	- var eventCampaignDate = "October 23, 2018"
	- var eventTagLine = "Every Student, Every Day, Benefits from Every Gift\n Thanks to the Annual Fund"
	- var eventDaysLeft = "11"
	- var eventHoursLeft = "8"
	- var eventMinutesLeft = "30"
	- var campaignName = "De La Salle Giving Day"
	- var title = "De La Salle Giving Day"
	- var orgCity = "Concord"
	- var orgState = "CA"
	- var primaryColor = "#006225"
	- var accentColor = "#7F7F7F"
	- var logoFilename = "de-la-salle.png"
	- var eventImageCover = "../../img/content/give2dls.png"
	- var mvp = true
