extends ../includes/sublayout-bootstrap

block pageVars
	- var title = "How to Mail Your Check"

block content
	h1.h3 Print this stub and mail it with your check gift.
	h2.h4 Make Check payable to:
	p eSponsor Now, INC.
	h2.h4 US Mail Check to:
	p eSponsor Now, INC.
		br
		| PO Box 5576
		br
		| Concord CA, 94524
	p *On the memo line of the check include the program’s name ("Program Name") and participant’s name ("Participant Name").
	p Thank you  for donating to Program Name.
	p Sincerely,
		br
		| Participant Name
	p.top-buffer **Please write your name and email address on the printed copy of this page:
	p.top-buffer Name: __________________________&nbsp;&nbsp; Email: ___________________________@___________________
	p.top-buffer
		button.btn.btn-default.btn-print
			- var icon = "print"
			- var iconClasses = "icon-inline-left"
			include ../../shared/icon
			|  Print this page
	p.disclaimer.top-buffer Upon your gift you will receive a "Thank You" receipt that may be used for tax purposes. Please consult your tax preparer for any questions regarding non-profit gift deductions.
	p.disclaimer eSponsor Now, Inc. ("Company") is deeply committed to safeguarding your privacy online. We do not collect personally identifiable information about individuals-such as names and postal and/or e-mail addresses-except when it is knowingly provided to us by those individuals.
	p.disclaimer This Privacy Policy only applies to transactions made and data gathered on the&nbsp;
		a(href='http://www.esponsornow.org', target="_blank") eSponsorNow
		|  web site ("Website") and does not apply to any other website. The terms of this Privacy Policy shall govern all interactions with the Company through either the Company's Website or e-mail.
	p.disclaimer By using the Company's Website or communicating with the Company by e-mail, you agree to the terms of this Privacy Policy. If you do not agree with any aspect of the Website, please do not continue to use the Website or services. We ask that our visitors periodically review this page to ensure familiarity with the most current version of our privacy statement.
