extends ../includes/sublayout-standard

block pageVars
	- var year = new Date().getFullYear()
	- var orgName = "Albion College"
	- var programType = "Football"
	- var playerName = "John Smith"
	- var campaignName = year + " Britons " + programType + " Challenge"
	- var title = campaignName + titleSuffix
	- var orgCity = "Albion"
	- var orgState = "MI"
	- var primaryColor = "#2D0054"
	- var accentColor = "#F0AD00"
	- var logoFilename = "albion-college.gif"
	- var videoId = "189066919"
	- var mvp = true