extends ../includes/sublayout-standard

block pageVars
	- var year = new Date().getFullYear()
	- var orgName = "Cal Poly Pomona"
	- var programType = "Baseball"
	- var campaignName = year + " " + orgName + " " + programType + " Challenge"
	- var title = campaignName + titleSuffix
	- var orgCity = "Pomona"
	- var orgState = "CA"
	- var primaryColor = "#154734"
	- var accentColor = "#FFBA14"
	- var logoFilename = "cal-poly-pomona.png"