extends ../includes/sublayout-standard

block pageVars
	- var year = new Date().getFullYear()
	- var orgName = "Org Name"
	- var programName = "Program Name"
	- var programType = "Program Type"
	- var campaignName = year + " " + (programName || orgName) + " " + programType + " Challenge"
	- var title = campaignName + titleSuffix
	- var orgCity = "Org City"
	- var orgState = "Org State"
	- var mvp = true