extends ../includes/sublayout-standard

block pageVars
	- var year = new Date().getFullYear()
	- var orgName = "Linfield College"
	- var programType = "Magic the Gathering"
	- var campaignName = year + " " + orgName + " " + programType + " Challenge"
	- var title = campaignName + titleSuffix
	- var orgCity = "McMinnville"
	- var orgState = "OR"
	- var primaryColor = "#431967"
	- var accentColor = "#D31145"
	- var donateButtonTextColor = "#FFFFFF"
	- var logoFilename = "linfield.png"