extends ../includes/sublayout-standard

block pageVars
	- var year = new Date().getFullYear()
	- var orgName = "Mater Dei High School"
	- var programType = "Football"
	- var playerName = "John Smith"
	- var campaignName = year + " Monarch " + programType + " Challenge"
	- var title = campaignName + titleSuffix
	- var orgCity = "Santa Ana"
	- var orgState = "CA"
	- var primaryColor = "#EC1B24"
	- var accentColor = "#949599"
	- var donateButtonTextColor = "#FFFFFF"
	- var logoFilename = "mater-dei-high-school.png"
	- var videoId = "160407866"
	- var mvp = true
