extends ../includes/sublayout-standard

block pageVars
	- var year = new Date().getFullYear()
	- var orgName = "Mercy Burlingame"
	- var programType = "Giving Day"
	- var playerName = "Jane Smith"
	- var campaignName = year + " " + orgName + " " + programType
	- var title = campaignName + titleSuffix
	- var orgCity = "Burlingame"
	- var orgState = "CA"
	- var primaryColor = "#003B80"
	- var accentColor = "#3b8ede"
	- var donateButtonTextColor = "#FFFFFF"
	- var logoFilename = "mercy-high-school.png"
	- var videoId = "186009204"
	- var mvp = true