extends ../includes/sublayout-standard

block pageVars
	- var year = new Date().getFullYear()
	- var orgName = "Minnesota Vikings"
	- var programType = "Football"
	- var campaignName = year + " " + orgName + " " + programType + " Challenge"
	- var title = campaignName + titleSuffix
	- var orgCity = "Minneapolis"
	- var orgState = "MN"
	- var primaryColor = "#3B0160"
	- var accentColor = "#F0BF00"
	- var logoFilename = "minnesota-vikings.png"