extends ../includes/sublayout-standard

block pageVars
	- var year = new Date().getFullYear()
	- var orgName = "New York Knicks"
	- var programType = "Basketball"
	- var campaignName = year + " " + orgName + " " + programType + " Challenge"
	- var title = campaignName + titleSuffix
	- var orgCity = "New York"
	- var orgState = "NY"
	- var primaryColor = "#006BB6"
	- var accentColor = "#F58426"
	- var donateButtonTextColor = "#FFFFFF"
	- var logoFilename = "new-york-knicks.png"