extends ../includes/sublayout-standard

block pageVars
	- var year = new Date().getFullYear()
	- var orgName = "Oregon State University"
	- var programType = "Baseball"
	- var campaignName = year + " " + orgName + " " + programType + " Challenge"
	- var title = campaignName + titleSuffix
	- var orgCity = "Corvallis"
	- var orgState = "OR"
	- var primaryColor = "#000000"
	- var accentColor = "#C34500"
	- var donateButtonTextColor = "#FFFFFF"
	- var logoFilename = "oregon-state.png"