extends ../includes/sublayout-standard

block pageVars
	- var year = new Date().getFullYear()
	- var orgName = "Portland Trail Blazers"
	- var programType = "Basketball"
	- var campaignName = year + " " + orgName + " " + programType + " Challenge"
	- var title = campaignName + titleSuffix
	- var orgCity = "Portland"
	- var orgState = "OR"
	- var primaryColor = "#000000"
	- var accentColor = "#E13A3E"
	- var donateButtonTextColor = "#FFFFFF"
	- var logoFilename = "portland-trail-blazers.png"