extends ../includes/sublayout-standard

block pageVars
	- var year = new Date().getFullYear()
	- var orgName = "San Francisco 49ers"
	- var programType = "Football"
	- var campaignName = year + " " + orgName + " " + programType + " Challenge"
	- var title = campaignName + titleSuffix
	- var orgCity = "San Francisco"
	- var orgState = "CA"
	- var primaryColor = "#C9243F"
	- var accentColor = "#C8AA76"
	- var donateButtonTextColor = "#000000"
	- var logoFilename = "san-francisco-49ers.png"