extends ../includes/sublayout-standard

block pageVars
	- var year = new Date().getFullYear()
	- var orgName = "San Jacinto College"
	- var programType = "Baseball"
	- var playerName = "John Smith"
	- var campaignName = "2017 Gator " + programType + " Challenge"
	- var title = campaignName + titleSuffix
	- var orgCity = "Pasadena"
	- var orgState = "TX"
	- var primaryColor = "#076324"
	- var accentColor = "#FFC423"
	- var logoFilename = "san-jacinto-college.png"
	- var videoId = "179243615"
	- var mvp = true