extends ../includes/sublayout-standard

block pageVars
	- var year = new Date().getFullYear()
	- var orgName = "Santa Barbara City College"
	- var programType = "Football"
	- var playerName = "John Smith"
	- var campaignName = year + " " + orgName + " " + programType + " Challenge"
	- var title = campaignName + titleSuffix
	- var orgCity = "Santa Barbara"
	- var orgState = "CA"
	- var primaryColor = "#231F20"
	- var accentColor = "#C41230"
	- var donateButtonTextColor = "#FFFFFF"
	- var logoFilename = "sbcc.png"
	- var videoId = "178368513"
	- var mvp = true