extends ../includes/sublayout-standard

block pageVars
	- var year = new Date().getFullYear()
	- var orgName = "UCLA"
	- var programType = "Football"
	- var campaignName = year + " " + orgName + " " + programType + " Challenge"
	- var title = campaignName + titleSuffix
	- var orgCity = "Los Angeles"
	- var orgState = "CA"
	- var primaryColor = "#0080C1"
	- var accentColor = "#FFC138"
	- var logoFilename = "ucla.gif"