extends ../includes/sublayout-standard

block pageVars
	- var year = new Date().getFullYear()
	- var orgName = "University of Jamestown"
	- var programType = "Hockey"
	- var playerName = "John Smith"
	- var campaignName = "2016-2017 " + orgName + " Men's Hockey Challenge"
	- var title = campaignName + titleSuffix
	- var orgCity = "Jamestown"
	- var orgState = "ND"
	- var primaryColor = "#090806"
	- var accentColor = "#EA6333"
	- var logoFilename = "university-of-jamestown.png"
	- var videoId = "180828455"
	- var mvp = true
