extends ../includes/sublayout-standard

block pageVars
	- var year = new Date().getFullYear()
	- var orgName = "University of Oregon"
	- var programType = "Basketball"
	- var campaignName = year + " " + orgName + " " + programType + " Challenge"
	- var title = campaignName + titleSuffix
	- var orgCity = "Eugene"
	- var orgState = "OR"
	- var primaryColor = "#19453B"
	- var accentColor = "#F8E318"
	- var logoFilename = "university-of-oregon.png"