extends ../includes/sublayout-standard

block pageVars
	- var year = new Date().getFullYear()
	- var orgName = "University of Washington"
	- var programType = "Water Polo"
	- var campaignName = year + " " + orgName + " " + programType + " Challenge"
	- var title = campaignName + titleSuffix
	- var orgCity = "Seattle"
	- var orgState = "WA"
	- var primaryColor = "#3B3E72"
	- var accentColor = "#E2D2A3"
	- var logoFilename = "university-of-washington.png"