{{#if label}}
	<label>{{label}}</label>
{{/if}}
<ol class="list-unstyled">
	{{#each options}}
		<li class="form-group">
			<label
				for="{{../name}}-{{@index}}"
				class="lightweight">
				<input
					type="checkbox"
					name="{{../name}}"
					id="{{../name}}-{{@index}}"
					value="{{value}}">  {{label}}
			</label>
			<div class="help-block-with-errors"></div>
		</li>
	{{/each}}
</ol>
