{{#if label}}
	<label>{{label}}</label>
{{/if}}
<div class="decorator-select-multiple">
	<select
		class="form-control"
		id="{{name}}"
		name="{{name}}"
		multiple="true">
		{{#each options}}
			<option value="{{value}}">{{label}}</option>
		{{/each}}
	</select>
</div>
