{{#if label}}
	<label>{{label}}</label>
{{/if}}
<div class="decorator-select">
	<select
		class="form-control"
		id="{{name}}"
		name="{{name}}">
		{{#each options}}
			<option value="{{value}}">{{label}}</option>
		{{/each}}
	</select>
</div>
