//-------- Campaign Page --------
- var standardCampaignPageUrl = "http://dev.eteamsponsor.com/ETS/supportUs/103492?fund_participant_id=103505&program=103385&fundraiser=103492&participant=103387"

//----------- Facebook ----------
- var standardFacebookShareUrl = "http://dev.eteamsponsor.com/ETS/supportUs/103492?fund_participant_id=103505&program=103385&fundraiser=103492&participant=103387&source=facebook"

//----------- Twitter -----------
- var standardTweetText = "Support <program name> by visiting our campaign page and making a tax-deductible donation.  GO <MASCOT!>&url=http%3A%2F%2Ftestapp.eteamsponsor.com%2FETS%2FsupportUs%2F103492%3Ffund_participant_id%3D103505%26program%3D103385%26fundraiser%3D103492%26participant%3D103387%26source%3Dtwitter"

//----------- Google Plus ----------
- var standardGooglePlusShareUrl = "http%3A%2F%2Fdev.eteamsponsor.com%2FETS%2FsupportUs%2F103492%3Ffund_participant_id%3D103505%26program%3D103385%26fundraiser%3D103492%26participant%3D103387%26source%3Dgoogleplus"

//------------- SMS -------------
- var standardParticipantiOSSMSContent = "Please%20support%20the%20%3Ccampaign%20name%3E%21%20%20Visit%20the%20%3Cprogram%20name%3E%20campaign%20page%20and%20make%20a%20tax%20deductible%20donation.%20http%3A%2F%2Ftestapp.eteamsponsor.com%2FETS%2FsupportUs%2F440087%3Ffund_participant_id%3D2839581%26program%3D384489%26fundraiser%3D440087%26participant%3D2839579%26source%3Dsms"
- var standardParticipantSMSContent = "Please support the <campaign name>!  Visit the <program name> campaign page and make a tax deductible donation. http://testapp.eteamsponsor.com/ETS/supportUs/440087?fund_participant_id=2839581&program=384489&fundraiser=440087&participant=2839579&source=sms"

- var standardDonoriOSSMSContent = "I%20supported%20the%20%3Ccampaign%20name%3E%20and%20wanted%20to%20share%20this%20great%20cause%20with%20you.%20Please%20consider%20supporting%20%3Cprogram%20name%3E%20today%20by%20visiting%20their%20campaign%20page.%20http%3A%2F%2Ftestapp.eteamsponsor.com%2FETS%2FsupportUs%2F440087%3Ffund_participant_id%3D2839581%26program%3D384489%26fundraiser%3D440087%26participant%3D2839579%26source%3Dsms"
- var standardDonorSMSContent = "I supported the <campaign name> and wanted to share this great cause with you. Please consider supporting <program name> today by visiting their campaign page. http://testapp.eteamsponsor.com/ETS/supportUs/440087?fund_participant_id=2839581&program=384489&fundraiser=440087&participant=2839579&source=sms"

//------------ Email-------------
- var standardParticipantEmailSubject = "Please support the (campaign name)"
- var standardParticipantEmailBody = "Please consider supporting <Program Name> today by visiting our campaign page and making a tax deductible donation. GO <MASCOT>!\n\nDonate Now\nhttp://testapp.eteamsponsor.com/ETS/supportUs/440087?fund_participant_id=2839581&program=384489&fundraiser=440087&participant=2839579"

- var standardDonorEmailSubject = "Please consider supporting (program name)"
- var standardDonorEmailBody = "Hello,\n\nI supported the (campaign name) and wanted to share this great cause with you.\n\nPlease consider supporting (program name) today by visiting their campaign page and learning more about the needs & positive activities of their program. Making a donation is tax deductible and will help them get one step closer to reaching their goal. GO (MASCOT)!\n\nhttp://testapp.eteamsponsor.com/ETS/supportUs/440087?fund_participant_id=2839581&program=384489&fundraiser=440087&participant=2839579&source=email\n\nThank you!"
