doctype html
html(lang="en")
	head

		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name='viewport', content='width=device-width, initial-scale=1.0')

		meta(name="description", content="")
		meta(name="author", content="eTeamSponsor")
		link(rel="icon", href="../favicon.ico")

		title Template Index

		link(href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700", rel="stylesheet", type="text/css")
		link(href="css/bootstrap/style.css", rel="stylesheet", type="text/css")
	body
		.container
			main.row
				.col-xs-12
					h1 Templates
					ul
						li
							a(href="payment-flow") ESN Payment Flow
						li
							a(href="campaign-page") Campaign Page
						li
							a(href="campaign-id-login") Campaign ID Login
						li
							a(href="fundraker") FundRaker
						li
							a(href="elasticsearch") Elasticsearch