doctype html
| <!--[if (lte IE 9) ]><html class="no-js oldie" lang="en"><![endif]-->
| <!--[if (gte IE 9)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!-->
html(class="no-js", lang="en")
	| <!--<![endif]-->
	head
		- var baseElasticsearchUrl = "//search-ets-suggester-dev-wbylrsin2bdpdzz7nkybnlcd6a.us-west-2.es.amazonaws.com/"
		block projectVars
		block pageVars

		include ./_standard-content-vars

		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name='viewport', content='width=device-width, initial-scale=1.0')

		meta(name="description", content="")
		meta(name="author", content=author)
		link(rel="icon", href="../favicon.ico")

		title #{title}

		script(src="/js/" + project + "/head.js")
		link(href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700", rel="stylesheet", type="text/css")
		link(href="/css/" + project + "/style.css", rel="stylesheet", type="text/css")

		block favicon
	body(class="#{bodyClass || ''}")
		block sublayout

		script(src="/js/" + project + "/main.js")

		if (typeof additionalJsFiles !== 'undefined')
			each jsFile in additionalJsFiles
				script(src="/js/" + project + "/" + jsFile + ".js")

		if inlineFooterJs
			script.
				!{inlineFooterJs}

		if resources
			.page-resources-padding
			.page-resources
				input#page-resources-toggle(type="checkbox")
				label(for="page-resources-toggle") Page Resources
				ol
					each value, key in resources
						if (key == 'Notes')
							li Notes
								ul
									each note in value
										li #{note}
						else
							li
								a(href=value, target="_blank") #{key}
