extends ./includes/sublayout

block pageVars
	- var title = "Confirmation Page"
	- var footerStyle ="full"
	- var inlineFooterJs = "H5F.setup(document.getElementById(\"confirmation-page-form\"));"

block content
	header.col-xs-12
		h1.h2.page-header.flush-top Your contribution is not complete!
	section.col-sm-6
		h2.h3 Please Confirm Your Donation
		form#confirmation-page-form.prevent-multiple-submissions(action='thank-you-page.html', data-toggle='validator', data-disable='false')
			fieldset
				legend.sr-only Your donation needs to be confirmed.
				ol.list-unstyled
					li
						h3.form-label Make your donation public
						label.lightweight(for='public')
							input#public(type='checkbox', name='public')
							|  By checking this box, your first name, last initial, donation amount, city, and state will appear on the campaign page.
					li.form-group
						h3.form-label Leave a comment
						p Your comment will be displayed on the campaign page next to your donation.
						.floating-label-group
							input#comment.form-control.has-floating-label(type='text', name='comment', maxlength='100', pattern="^[a-zA-Z0-9\.\$!',? ]+$", data-error='Please enter a comment without special characters.')
							label.floating-label(for='comment') Comment
						.help-block.with-errors
						h3.form-label Are you an Alumnus?
						label.lightweight.alumnus(for='is-alumnus')
							input#is-alumnus.valid.is-alumnus-checkbox(type='checkbox', name='isAlumnus')
							div.text-container
								div.text I am an alumnus of Organization
								div.text
									span.class-of class of
									span#year-required-error.error Year is required.
									select#alumnus-year.form-control.year-select(name='year')
					li
						p By clicking confirm, you acknowledge and agree that this charge on your bank or credit card statement will reflect check clearance to or a charge from eSponsorNow, Inc.
					li.text-center
						h4.text-danger
							| All sponsorships are Final.
							br
							| NO REFUNDS ARE GIVEN.
						ol.list-inline
							li
								a.btn.btn-lg.btn-default(href='credit-card-entry-page.html')
									- var icon = "arrow-left"
									- var iconClasses = "icon-inline-left"
									include ../shared/icon
									| Back
							li
								input#confirm-submit.btn.btn-lg.btn-primary(type='submit', value='Confirm')
	section.col-sm-6
		.row
			.col-sm-6
				h3.form-label Program Name
				p Albion Football Fundraising
			.col-sm-6
				h3.form-label Amount
				p $175.00
		.row
			.col-sm-6
				h3.form-label Name on account
				p Nancy Smith
			.col-sm-6
				h3.form-label Email Address
				p nancy499@gmail.com
		.row
			.col-sm-6
				h3.form-label Credit Card Number
				p ************4444
			.col-sm-6
				h3.form-label Credit Card Expiration
				p 12/2017
		.row
			.col-sm-6
				h3.form-label CCV
				p 993
			.col-sm-6
				h3.form-label Billing Address
				p
					| 6717 Douglas Ct. SE
					br
					| Auburn, WA 98092
