extends ./includes/sublayout

block pageVars
	- var title = "Credit Card Entry Page"
	- var footerStyle ="full"
	- var inlineFooterJs = "H5F.setup(document.getElementById(\"credit-card-entry-form\"));"

block content
	section.col-sm-7
		h1.sr-only Albion Football Fundraising
		h2.form-label Sponsorship Amount
		h3.h1.page-header.flush-top.amount-block
			span#sponsorship-amount $175
			div.processing-fee
				input#processing-fee-checkbox.valid(type='checkbox', name='payProcessingFee')
				label.lightweight(for='processing-fee-checkbox')
					| Add $
					span#calculated-processing-fee
					|  to your total & help cover credit card processing fees.
		input#payment-fee-percent(type='hidden', value='3', name='paymentFeePercent')
		input#payment-flat-fee(type='hidden', value='0', name='paymentFlatFee')
		input#sponsorshipAmountInput(type='hidden', value='175', name='175')
		.credit-card-wrapper
		form#credit-card-entry-form.credit-card-form(action='confirmation-page.html', data-toggle='validator', data-disable='false')
			fieldset
				legend.sr-only Enter your sponsorship information
				ol.list-unstyled
					li.form-group
						h2.form-label Enter your payment information
						.floating-label-group
							input#name.form-control.has-floating-label(type='text', name='name', data-error="Please enter the cardholder's full name", required='')
							label.floating-label(for='name') Cardholder Name
						.help-block.with-errors
					li.form-group
						.floating-label-group
							input#creditCardNumber.form-control.has-floating-label(type='text', name='creditCardNumber', data-error='Please enter your card number', required='')
							label.floating-label(for='creditCardNumber') Card Number
						.help-block.with-errors
						input#creditCardType(type='hidden', name='creditCardType', readonly)
					li
						.row
							.col-xs-6.form-group
								.floating-label-group
									input#expirationDate.form-control.has-floating-label(type='text', name='expirationDate', data-error="Please enter your card's expiration date", required='')
									label.floating-label(for='expirationDate') Expiration Date (MM/YY)
								.help-block.with-errors
							.col-xs-6.form-group
								.floating-label-group
									input#cvv.form-control.has-floating-label(type='text', name='cvv', data-error="Please enter your card's security code", required='')
									label.floating-label(for='cvv') CVV
								.help-block.with-errors
					li.form-group
						.floating-label-group
							input.form-control.has-floating-label(id='address.street', type='text', name='address.street', data-error='Please enter your billing address', required='')
							label.floating-label(for='address.street') Billing Address
						.help-block.with-errors
					li.form-group
						.floating-label-group
							input.form-control.has-floating-label(id='address.city', type='text', name='address.city', data-error='Please enter your city', required='')
							label.floating-label(for='address.city') City
						.help-block.with-errors
					li.form-group
						.row
							.col-sm-6.form-group
								.floating-label-group.decorator-select
									select.form-control.has-floating-label(id='address.state', name='address.state', data-error='Please select your state or province', required='')
										- var stateSelected = false
										include ../shared/state-and-province-options
									label.floating-label(for='address.state') State / Province
								.help-block.with-errors
							.col-sm-6.form-group
								.floating-label-group
									input.form-control.has-floating-label(id='address.postalCode', type='text', name='address.postalCode',  data-error='Please enter your postal code', required='')
									label.floating-label(for='address.postalCode') Postal Code
								.help-block.with-errors
					li.text-center
						ol.list-inline
							li
								a.btn.btn-lg.btn-default(href='entry-page.html')
									- var icon = "arrow-left"
									- var iconClasses = "icon-inline-left"
									include ../shared/icon
									| Back
							li
								input#sponsorship-amount-btn.btn.btn-lg.btn-primary(type='submit', value='Give $175')
								input#processing-fee-amount(type='hidden', value='', name='processingFeeAmount')
								input#pay-processing-fee(type='hidden', value='', name='payProcessingFee')
						include ./includes/encryption-disclaimer
						include ./includes/processing-location-disclaimer
	section.col-sm-5
		include ./includes/share-campaign
