extends ./includes/sublayout

block pageVars
	- var title = "eCheck Entry Page"
	- var footerStyle ="full"
	- var inlineFooterJs = "H5F.setup(document.getElementById(\"echeck-entry-form\"));"

block content
	section.col-sm-7
		h1.sr-only Albion Football Fundraising
		h2.form-label Sponsorship Amount
		h3.h1.page-header.flush-top $175.00
		p.text-center.top-buffer
			img.img-responsive.center-block.img-shadowed(src="/img/content/echeck.gif", alt="Example Check")
		form#echeck-entry-form(action='confirmation-page.html', data-toggle='validator', data-disable='false')
			fieldset
				legend.sr-only Enter your sponsorship information
				ol.list-unstyled
					li.form-group
						h2.form-label Enter your payment information
						.floating-label-group
							input#name.form-control.has-floating-label(type='text', name='name', data-error="Please enter the account holder's full name", required='')
							label.floating-label(for='name') Account Holder's Name
						.help-block.with-errors
					li.form-group
						.floating-label-group
							input#bankName.form-control.has-floating-label(type='text', name='bankName', data-error='Please enter your bank name', required='')
							label.floating-label(for='bankName') Bank Name
						.help-block.with-errors
					li.form-group
						.floating-label-group
							input#routingTransitNumber.form-control.has-floating-label(type='number', name='routingTransitNumber', data-error='Please enter your routing number', required='')
							label.floating-label(for='routingTransitNumber') Routing Number
						.help-block.with-errors
					li.form-group
						.floating-label-group
							input#acctNumber.form-control.has-floating-label(type='number', name='acctNumber', data-error='Please enter your account number', required='')
							label.floating-label(for='acctNumber') Account Number
						.help-block.with-errors
					li.form-group
						.floating-label-group
							input#confirmAcctNumber.form-control.has-floating-label(type='number', name='confirmAcctNumber', data-match='#acctNumber', data-match-error='Account numbers do not match', data-error='Please confirm your account number', required='')
							label.floating-label(for='confirmAcctNumber') Confirm Account Number
						.help-block.with-errors
					li.form-group
						.floating-label-group
							input#checkNumber.form-control.has-floating-label(type='number', name='checkNumber', data-error='Please enter the check number', required='')
							label.floating-label(for='checkNumber') Check Number
						.help-block.with-errors
					li.form-group
						.floating-label-group
							input.form-control.has-floating-label(id='address.street', type='text', name='address.street', data-error='Please enter your billing address', required='')
							label.floating-label(for='address.street') Billing Address
						.help-block.with-errors
					li.form-group
						.floating-label-group
							input.form-control.has-floating-label(id='address.city', type='text', name='address.city', data-error='Please enter your city', required='')
							label.floating-label(for='address.city') City
						.help-block.with-errors
					li.form-group
						.row
							.col-sm-6.form-group
								.floating-label-group.decorator-select
									select.form-control.has-floating-label(id='address.state', name='address.state', data-error='Please select your state or province', required='')
										- var stateSelected = false
										include ../shared/state-and-province-options
									label.floating-label(for='address.state') State / Province
								.help-block.with-errors
							.col-sm-6.form-group
								.floating-label-group
									input.form-control.has-floating-label(id='address.postalCode', type='text', name='address.postalCode', data-error='Please enter your postal code', required='')
									label.floating-label(for='address.postalCode') Postal Code
								.help-block.with-errors
					li.text-center
						ol.list-inline
							li
								a.btn.btn-lg.btn-default(href='entry-page.html')
									- var icon = "arrow-left"
									- var iconClasses = "icon-inline-left"
									include ../shared/icon
									| Back
							li
								input.btn.btn-lg.btn-primary(type='submit', value='Give $175')
						include ./includes/encryption-disclaimer
						include ./includes/processing-location-disclaimer
	section.col-sm-5
		include ./includes/share-campaign
