extends ./includes/sublayout

block pageVars
	- var title = "Entry Page"
	- var inlineFooterJs = "H5F.setup(document.getElementById(\"entry-page-form\"));"

block content
	section.col-sm-7
		h1.sr-only Albion Football Fundraising
		h2.form-label Sponsorship Amount
		form#entry-page-form(action='credit-card-entry-page.html', data-toggle='validator', data-disable='false')
			fieldset
				legend.sr-only Enter your sponsorship information
				ol.list-unstyled
					li.form-group.no-js-hide
						.row
							.col-xs-4
								label.lightweight(for='sponsorshipAmountRadio1000')
									input#sponsorshipAmountRadio1000(type='radio', name='sponsorshipAmountRadio', value='1000')
									span.currency 1,000
							.col-xs-4
								label.lightweight(for='sponsorshipAmountRadio500')
									input#sponsorshipAmountRadio500(type='radio', name='sponsorshipAmountRadio', value='500')
									span.currency 500
							.col-xs-4
								label.lightweight(for='sponsorshipAmountRadio400')
									input#sponsorshipAmountRadio400(type='radio', name='sponsorshipAmountRadio', value='400')
									span.currency 400
						.row
							.col-xs-4
								label.lightweight(for='sponsorshipAmountRadio350')
									input#sponsorshipAmountRadio350(type='radio', name='sponsorshipAmountRadio', value='350')
									span.currency 350
							.col-xs-4
								label.lightweight(for='sponsorshipAmountRadio300')
									input#sponsorshipAmountRadio300(type='radio', name='sponsorshipAmountRadio', value='300')
									span.currency 300
							.col-xs-4
								label.lightweight(for='sponsorshipAmountRadio250')
									input#sponsorshipAmountRadio250(type='radio', name='sponsorshipAmountRadio', value='250')
									span.currency 250
						.row
							.col-xs-4
								label.lightweight(for='sponsorshipAmountRadio200')
									input#sponsorshipAmountRadio200(type='radio', name='sponsorshipAmountRadio', value='200')
									span.currency 200
							.col-xs-4
								label.lightweight(for='sponsorshipAmountRadio150')
									input#sponsorshipAmountRadio150(type='radio', name='sponsorshipAmountRadio', value='150')
									span.currency 150
							.col-xs-4
								label.lightweight(for='sponsorshipAmountRadio100')
									input#sponsorshipAmountRadio100(type='radio', name='sponsorshipAmountRadio', value='100')
									span.currency 100
						.row
							.col-xs-4
								label.lightweight(for='sponsorshipAmountRadio75')
									input#sponsorshipAmountRadio75(type='radio', name='sponsorshipAmountRadio', value='75')
									span.currency 75
							.col-xs-4
								label.lightweight(for='sponsorshipAmountRadio50')
									input#sponsorshipAmountRadio50(type='radio', name='sponsorshipAmountRadio', value='50')
									span.currency 50
							.col-xs-4
								label.lightweight(for='sponsorshipAmountRadioOther')
									input#sponsorshipAmountRadioOther(type='radio', name='sponsorshipAmountRadio', value='0')
									|  Other
					li.form-group
						label.sr-only(for='sponsorshipAmountInput') Sponsorship Amount
						input#sponsorshipAmountInput.form-control.featured(type='text', name='sponsorshipAmountInput', placeholder='$75', value='$75', data-error='Please enter your sponsorship amount', required='')
						input(type='hidden', name='sponsorshipAmount', id='sponsorshipAmountHidden', value='')
						.help-block.with-errors
					li.form-group
						div.processing-fee
							input#processing-fee-checkbox.valid(type='checkbox', name='payProcessingFee')
							label.lightweight(for='processing-fee-checkbox')
								| Add $
								span#calculated-processing-fee
								|  to your total & help cover credit card processing fees.
					li
						h2.form-label Enter your information
						.row
							.col-xs-6.form-group
								.floating-label-group
									input#firstName.form-control.has-floating-label(type='text', name='firstName', data-error='Please enter your first name', required='')
									label.floating-label(for='firstName') First Name
								.help-block.with-errors
							.col-xs-6.form-group
								.floating-label-group
									input#lastName.form-control.has-floating-label(type='text', name='lastName', data-error='Please enter your last name', required='')
									label.floating-label(for='lastName') Last Name
								.help-block.with-errors
					li.form-group
						.floating-label-group
							input#email.form-control.has-floating-label(type='email', name='email', data-error='Please enter a valid email address', required='')
							label.floating-label(for='email') Email Address
						.help-block.with-errors
					li.text-center
						h2.form-label Give via eCheck or Credit/Debit Card
						ol.list-inline
							li
								input.btn.btn-lg.btn-primary(type='submit', value='eCheck', name='submitBtn')
							li
								input.btn.btn-lg.btn-primary(type='submit', value='Credit / Debit', name='submitBtn')
						include ./includes/encryption-disclaimer
						include ./includes/processing-location-disclaimer
	section.col-sm-5
		include ./includes/share-campaign
