extends ./includes/sublayout

block pageVars
	- var title = "ESN Payment Flow Template Index"

block content
	.col-xs-12
		h1 ESN Payment Flow Template Index
		ul
			li
				a(href="style-guide.html") Style Guide
			li
				a(href="entry-page.html") Entry Page
			li
				a(href="credit-card-entry-page.html") Credit Card Entry Page
			li
				a(href="echeck-entry-page.html") eCheck Entry Page
			li
				a(href="confirmation-page.html") Confirmation Page
			li
				a(href="thank-you-page.html") Thank You Page
		p
			a.btn.btn-lg.btn-default(href='../index.html')
				- var icon = "arrow-left"
				- var iconClasses = "icon-inline-left"
				include ../shared/icon
				| Back to Project Index
