extends ./includes/sublayout

block pageVars
	- var title = "Style Guide"
	- var inlineFooterJs = "H5F.setup([document.getElementById(\"validate-me-floating-labels\"), document.getElementById(\"validate-me-placeholders\"), document.getElementById(\"form-group-class-placement\"), document.getElementById(\"matching\"), document.getElementById(\"credit-card-form\")]);"

block content
	.col-xs-12
		h1.page-header Table of Contents
		ul
			li
				a(href="#colors") Colors
			li
				a(href="#typography") Typography
			li
				a(href="#icons") Icons
			li
				a(href="#alerts") Alerts
			li
				a(href="#forms") Forms
			li
				a(href="#buttons") Buttons

	include ../shared/style-guide/colors

	.col-xs-12
		h2 eSponsorNow Specific
		ul.list-inline
			li.text-center
				.color-swatch.brand-primary
					p(style="color: white;") Brand Primary
				p
					code #2e8cdf

	include ../shared/style-guide/typography
	include ../shared/style-guide/icons
	include ../shared/style-guide/alerts
	include ../shared/style-guide/forms

	.col-xs-12.col-sm-8
		h3 Credit Card Entry
		p
			| Note the
			code div
			|  with class
			code credit-card-wrapper
			| .  This will be the container for the credit card helper plugin to render its card.  The class
			code "credit-card-form"
			|  has been added to the form element to initialize the credit card plugin.
		.credit-card-wrapper
		form#credit-card-form.credit-card-form(action='confirmation-page.html', data-toggle='validator', data-disable='false')
			fieldset
				legend.sr-only Enter your sponsorship information
				ol.list-unstyled
					li.form-group
						.floating-label-group
							input#name.form-control.has-floating-label(type='text', name='name', data-error="Please enter the cardholder's full name.", required='')
							label.floating-label(for='name') Cardholder Name
						.help-block.with-errors
					li.form-group
						.floating-label-group
							input#creditCardNumber.form-control.has-floating-label(type='text', name='creditCardNumber', data-error='Please enter your card number.', required='')
							label.floating-label(for='creditCardNumber') Card Number
						.help-block.with-errors
					li
						.row
							.col-xs-6.form-group
								.floating-label-group
									input#expirationDate.form-control.has-floating-label(type='text', name='expirationDate', data-error="Please enter your card's expiration date.", required='')
									label.floating-label(for='expirationDate') Expiration Date (MM/YY)
								.help-block.with-errors
							.col-xs-6.form-group
								.floating-label-group
									input#cvv.form-control.has-floating-label(type='text', name='cvv', data-error="Please enter your card's security code.", required='')
									label.floating-label(for='cvv') CVV
								.help-block.with-errors
					li
						input.btn.btn-lg.btn-primary(type='submit', value='Submit')
	include ../shared/style-guide/buttons