extends ./includes/sublayout

block pageVars
	- var title = "Thank You Page"
	- var footerStyle ="full"

block content
	header.col-xs-12
		h1.page-header Donation Confirmed
	.col-xs-12
		.row.valign-sm
			section.col-sm-6.text-center.middle
				include ./includes/social-share-list
				h2.h4 Help out Jake by sharing this campaign
			section.col-sm-6.middle
				h3 A receipt of your donation has been emailed to you.
				.row
					.col-sm-6
						h3.form-label Program Name
						p Albion Football Fundraising
					.col-sm-6
						h3.form-label Amount
						p $175.00
				.row
					.col-sm-6
						h3.form-label Name on account
						p Nancy Smith
					.col-sm-6
						h3.form-label Email Address
						p nancy499@gmail.com
				.row
					.col-sm-6
						h3.form-label Credit Card Number
						p ************4444
					.col-sm-6
						h3.form-label Credit Card Expiration
						p 12/2017
				.row
					.col-sm-6
						h3.form-label CCV
						p 993
					.col-sm-6
						h3.form-label Billing Address
						p
							| 6717 Douglas Ct. SE
							br
							| Auburn, WA 98092
