.action-icons {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: @line-height-computed 0;
	padding: 0;
	text-align: center;

	@media screen and (min-width: @screen-md-min) {
		flex-wrap: nowrap;
	}

	.action-item {
		margin: 0.5em 0;
		padding: 0 0.5em;
		width: 100%;

		@media screen and (min-width: @screen-xs-min) {
			width: 50%;
		}

		@media screen and (min-width: @screen-sm-min) {
			width: 33%;
		}

		@media screen and (min-width: @screen-md-min) {
			margin: 0;
			width: 33%;
		}
	}

	a {
		display: inline-block;
		font-size: @font-size-small;
	}

	svg {
		&:extend(.icon-large all);
		display: block;
		fill: @brand-primary;
		margin: 0 auto;
	}
}
