body {
	background-attachment: fixed;
	background-color: black;
	background-image: url('../../img/css/bg-ets-body.jpg');
	background-size: cover;
	color: black;

	&.campaign-page {
		background: none;
		padding-top: 87px;
	}
}