// .button-variant(text color*; background color*; border color*; hover/active/focus text color; hover/active/focus background color; hover/active/focus border color)
// * = required
.btn-default {
	.button-variant(@btn-default-color; @btn-default-bg; @btn-default-border);
}
.btn-primary {
	background-color: @btn-primary-bg;
	color: @btn-primary-color;

	&:hover,
	&:focus,
	&.focus {
		color: @brand-primary;
	}

	&:active,
	&.active {
		background-color: #2c2c2c;
		.box-shadow(inset 0 -2px 8px 2px #000);
		color: @brand-primary;
	}
}
// Success appears as green
.btn-success {
	.button-variant(@btn-success-color; @btn-success-bg; @btn-success-border);
}
// Info appears as blue-green
.btn-info {
	.button-variant(@btn-info-color; @btn-info-bg; @btn-info-border);
}
// Warning appears as orange
.btn-warning {
	.button-variant(@btn-warning-color; @btn-warning-bg; @btn-warning-border);
}
// Danger and error appear as red
.btn-danger {
	.button-variant(@btn-danger-color; @btn-danger-bg; @btn-danger-border);
}

// Common styles
.btn-default,
.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger {
	&.disabled,
	&[disabled],
	fieldset[disabled] & {
		.box-shadow(none);
	}

	.badge {
		text-shadow: none;
	}
}

.btn-close {
	color: black;
	padding: @grid-gutter-width / 2 !important;	// !important ensures proper spacing over other styles that may get applied
	position: fixed;
	right: -100%;
	text-align: center;
	text-decoration: none;
	top: 0;
	.transition(all 0.2s ease-in-out);
	z-index: @zindex-navbar-fixed;	// needed to ensure positioning over other elements inside nav-primary

	.is-visible & {
		right: 0;
	}
}
