.callout {
	background-color: white;
	border: 1px solid @brand-primary;
	border-radius: @callout-border-radius-top @callout-border-radius-top @callout-border-radius-bottom @callout-border-radius-bottom;
	.box-shadow(@callout-box-shadow);	// Mixin will not work with the variable's value sent directly as a string; it must be defined and passed to the mixin as a variable.
	margin: 1em 0;
	padding: @font-size-base;

	h1, h2, h3, h4 {
		&:first-child {
			margin-top: 5px;
		}
	}
}

.callout-mini {
	&:extend(.callout);
	border-radius: @callout-border-radius-top / 2 @callout-border-radius-top / 2 @callout-border-radius-bottom / 2 @callout-border-radius-bottom / 2;
}