/* carousel */
#carousel-programs
{
	padding: 0 10px 30px 10px;
	margin-top: 30px;
}
#carousel-programs-mobile {
	display: none;
}
/* Control buttons  */
.carousel .carousel-control
{
	background: none;
	color: #222;
	font-size: 2.3em;
	text-shadow: none;
	margin-top: 30px;
}
/* Previous button  */
.carousel .carousel-control.left
{
	left: -12px;
}
/* Next button  */
.carousel .carousel-control.right
{
	right: -12px !important;
}
/* Changes the position of the indicators */
.carousel .carousel-indicators
{
	right: 50%;
	top: auto;
	bottom: 0px;
	margin-right: -19px;
}
/* Changes the color of the indicators */
.carousel .carousel-indicators li
{
	background: #c0c0c0;
}
.carousel .carousel-indicators .active
{
	background: #333333;
}

/* End carousel */

.item blockquote {
	border-left: none;
	margin: 0;
}

.item blockquote img {
	margin-bottom: 10px;
}

.item blockquote p:before {
	content: "\f10d";
	font-family: 'Fontawesome';
	float: left;
	margin-right: 10px;
}



/**
  MEDIA QUERIES
*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.carousel
	{
		margin-bottom: 0;
		padding: 0 40px 30px 40px;
	}

}

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) {
	#carousel-programs-mobile {
		 display: block;
	 }
	#carousel-programs {
		display: none;
	}
	/* Make the indicators larger for easier clicking with fingers/thumb on mobile */

	.carousel .carousel-indicators {
		bottom: -30px !important;
	}
	.carousel .carousel-indicators li {
		display: inline-block;
		margin: 0px 5px;
		width: 15px;
		height: 15px;
	}
	.carousel .carousel-indicators li.active {
		margin: 0px 5px;
		width: 20px;
		height: 20px;
	}
}

.chevron-right {
	position: absolute;
	top: 40%;
	right: -50px;
	width: 100px;
	height: 100px;
	clip: auto;
}
.chevron-left {
	position: absolute;
	top: 40%;
	left: -50px;
	width: 100px;
	height: 100px;
	clip: auto;
}
