label {
	color: black;
}

.checkbox-dynamic-float {
	margin-top: 1em;
}

@media only screen and (min-width: @screen-md-min) {
	.checkbox-dynamic-float {
		display: inline-block;
		margin-left: 1em;
		margin-top: 0;
	}
}