.detail-heading {
	&:extend(.clearfix all);
}

.detail-heading-title,
.detail-heading-details {
	.make-xs-column(12);
	.make-sm-column(6);

	@media (min-width: @screen-sm-min) {
		margin: 0;
	}
}

.detail-heading-details {
	color: black !important;	// override potential colors for headings, e.g. .layout-primary h2

	@media (min-width: @screen-sm-min) {
		text-align: right;
	}
}

.detail-heading-stat {
	color: @brand-primary;
	font-size: @font-size-h1 * 1.5;
	font-weight: bold;
}

.sub-heading {
	margin: 1em 0 0;

	@media (min-width: @screen-sm) {
		display: table;
		margin: 0.5em 0;
		width: 100%;
	}
}

.sub-heading-name,
.sub-heading-action {
	@media (min-width: @screen-sm) {
		display: table-cell;
		float: none !important;	// overrides column settings
		vertical-align: middle;
	}
}

.sub-heading-name {
	.make-sm-column(6);
	margin: 0 0 1em;

	@media (min-width: @screen-sm) {
		margin-bottom: 0;
	}
}

.sub-heading-action {
	.make-sm-column(6);
	font-size: @font-size-small;
	margin: 0;

	@media (min-width: @screen-sm) {
		text-align: right;
	}

	a {
		display: inline-block;
		margin-right: 1em;
		outline: none;

		@media screen and (min-width: @screen-sm) {
			margin-right: 0;
		}

		+ a {

			@media screen and (min-width: @screen-sm) {
				margin-left: 1em;
			}
		}
	}

	svg {
		&:extend(.icon-large all);
		&:extend(.icon-inline-right all);
		fill: @brand-primary;
	}
}
