.header-with-nav {
	border-bottom: 1px dotted @gray-light;
	color: white;
	padding-bottom: @nav-utility-spacing;
	padding-top: @nav-utility-spacing;
}

.header-large {
	padding-bottom: 34px;
	padding-top: 50px;
}

.layout-primary {
	background-color: white;
	background-image: url('../../img/css/bg-ets-primary.jpg');
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: 100%;
	padding: 20px 0 40px;
}

.layout-secondary {
	background-color: @brand-primary;
	border-bottom: 3px solid @brand-primary;
	border-top: 2px solid @brand-primary;
	box-shadow: inset 0 4px 50px -5px rgba(0, 0, 0, 0.5);
	padding: 20px 0;
}

.layout-single-column {
	.make-sm-column(8);
	.make-sm-column-offset(2);
	.make-md-column(6);
	.make-md-column-offset(3);
}

footer {
	color: @gray-light;
	padding-bottom: 34px;
	padding-top: 50px;
}
