.overlay {
	background-color: @navigation-bg;
	height: 100%;
	left: 0;
	opacity: 0;
	overflow-y: auto;
	padding: @grid-gutter-width / 2;
	position: fixed;
	top: 0;
	.transition(~"opacity 0.3s ease-in-out, visibility 0s 0.3s ease-in-out");
	visibility: hidden;
	width: 100%;
	z-index: @zindex-modal;
}

.overlay.is-visible {
	opacity: 1;
	.transition(opacity 0.3s ease-in-out);
	visibility: visible;
}

.overlay-search {
	display: flex;
	flex-direction: column;
	justify-content: center;

	@media only screen and (min-width: @screen-sm-min) {
		display: block;
		padding-top: 5em;
	}
}