
.program-tile {
	border-color: #b3b3b3;
	width: 100%;
	h3 {
		a {
			color: #3ab44a;
			&:hover {
				color: black;
				text-decoration: none;
			}
		}

	}
	img {
		width: 80px;
		height: auto;
	}
	.highlight {
		font-size: 20px;
		color: #3ab44a;
	}
	hr {
		border-color: #b3b3b3;
	}
	.entity-name {
		//min-height: 44px;
	}
	@media (max-width: 768px) {
		ul {
			padding: 0;
			li {
				display: block;
			}
		}
	}
}
.equal {
	display: flex;
	display: -webkit-flex;
	flex-wrap: wrap;
}
.bold {
	font-weight: bold;
}
.green {
	color: #3ab44a;
}
