a {
	.layout-secondary &:not(.btn) {
		color: white;

		&:hover,
		&:active,
		&:focus {
			color: @gray-lightest;
		}
	}
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	.layout-secondary & {
		color: white;
	}

	&.lightweight {
		font-weight: normal;
	}

	&.double-space {
		line-height: 1.5em;
	}
}

h2, .h2 {
	color: @brand-primary;
}

h3, .h3 {
	font-weight: normal;
}

.page-header {
	.layout-secondary & {
		border-bottom: 1px dotted white;
	}
}
