.user-attributes {
	.make-xs-column(6);
	.make-md-column(5);
}

.user-photo,
.user-detail {
	text-align: center;

	@media only screen and (min-width: @screen-xs-min) {
		text-align: left;
	}
}

.user-photo {
	.make-xs-column(12);
	.make-sm-column(6);
	.make-lg-column(5);

	img {
		border: 1px solid @input-border-color;
		border-radius: @input-border-radius;
		max-width: 100%;
	}
}

.user-detail {
	.make-xs-column(12);
	.make-sm-column(6);
	.make-lg-column(7);

	[itemprop="jobTitle"] {
		display: block;
		font-weight: bold;
	}

	[itemprop="email"],
	[itemprop="telephone"] {
		display: block;
	}
}

.user-programs {
	.make-xs-column(6);
	.make-md-column(7);

	margin-top: @grid-top-buffer;

	@media only screen and (min-width: @screen-xs-min) {
		margin-top: 0;
	}
}