// Colors
@brand-primary: #3ab44a;
@brand-goal: #f0dc00;
@link-color: #0e137e;
@link-hover-color: lighten(@link-color, 15%);

// Typography
@font-size-h1: 20px;
@font-size-h2: 15px;
@font-size-h3: 20px;

// Breadcrumbs
@breadcrumb-bg: transparent;
@breadcrumb-padding-vertical: 0px;
@breadcrumb-padding-horizontal: 0px;
@breadcrumb-separator: '>';
@breadcrumb-color: @gray-light;
@breadcrumb-margin: 0px;

// Buttons
@btn-primary-color: white;
@btn-primary-bg: black;

// Validation States
@state-danger-text: black;
@state-danger-bg: black;
@state-danger-border: black;

// Callouts and Tiles
@callout-border-radius-top: 14px;
@callout-border-radius-bottom: 6px;
@callout-box-shadow: inset 0 0 7px 0 rgba(0, 0, 0, .18), -1px 5px 8px -3px rgba(0, 0, 0, .35);

// Pagination
@pagination-active-bg: @brand-primary-lightest;
@pagination-active-border: @brand-primary-light;

// Navigation
@navigation-bg: @gray-lightest;
@navigation-active-bg: darken(@gray-lightest, 10%);
@navigation-close-button-width: 88px;
@navigation-change-breakpoint: @screen-sm-min;
@nav-utility-spacing: 11px;

// Dropdowns
@dropdown-bg: @navigation-bg;
@dropdown-link-hover-color: black;
@dropdown-link-hover-bg: @navigation-active-bg;
@dropdown-link-active-color: @dropdown-link-hover-color;
@dropdown-link-active-bg: @dropdown-link-hover-bg;

// Images
@avatar-width: @font-size-base * 4;

// Panels
@panel-default-border:        @input-border-color;
@panel-default-heading-bg:    @navigation-bg;
