extends ./includes/sublayout-bootstrap

block pageVars
	- var title = "Campaign Page Index"

block content
	.row
		.col-xs-12
			h1 Example Pages
	.row
		.col-md-6
			h2 Standard Campaign Page
			h3 Default (eTeamSponsor Brand Colors)
			ul
				li
					a(href="standard/eteamsponsor.html") Final Release
				li
					a(href="standard/eteamsponsor-player.html") Player/Coach Variation
				li
					a(href="standard/eteamsponsor-mvp.html") MVP Release
			h3 Customers
			ul
				li
					a(href="standard/cal-poly-pomona.html") Cal Poly Pomona
				li
					a(href="standard/sbcc.html") SBCC
				li
					a(href="standard/mercy-high-school.html") Mercy High School
				li
					a(href="standard/mater-dei-high-school.html") Mater Dei High School
				li
					a(href="standard/san-jacinto-college.html") San Jacinto College
				li
					a(href="standard/albion-college.html") Albion College
				li
					a(href="standard/university-of-jamestown.html") University of Jamestown
			h3 College
			ul
				li
					a(href="standard/university-of-oregon.html") University of Oregon
				li
					a(href="standard/oregon-state.html") Oregon State
				li
					a(href="standard/ucla.html") UCLA
				li
					a(href="standard/university-of-washington.html") University of Washington
				li
					a(href="standard/linfield.html") Linfield
			h3 Professional
			ul
				li
					a(href="standard/portland-trail-blazers.html") Portland Trail Blazers
				li
					a(href="standard/san-francisco-49ers.html") San Francisco 49ers
				li
					a(href="standard/minnesota-vikings.html") Minnesota Vikings
				li
					a(href="standard/new-york-knicks.html") New York Knicks
		.col-md-6
			h2 Giving Day Campaign Page
			h3 Customers
			ul
				li Cal Poly Pomona
					ul
						li
							a(href="giving-day/cal-poly-pomona-countdown.html") Countdown
						li
							a(href="giving-day/cal-poly-pomona-day-of.html") Day Of
			ul
				li De La Salle
					ul
						li
							a(href="giving-day/de-la-salle.html") Countdown Landing
	.row
		.col-xs-12
			p
				a.btn.btn-default(href="../index.html")
					- var icon = "arrow-left"
					- var iconClasses = "icon-inline-left"
					include ../shared/icon
					|  Back to Project Index
