// .button-variant(text color*; background color*; border color*; hover/active/focus text color; hover/active/focus background color; hover/active/focus border color)
// * = required
.btn-default {
	.button-variant(@btn-default-color; @btn-default-bg; @btn-default-border);
}
.btn-primary {
	.button-variant(@btn-primary-color; @btn-primary-bg; @btn-primary-border; @btn-primary-bg; #fff; @btn-primary-bg);
}
// Success appears as green
.btn-success {
	.button-variant(@btn-success-color; @btn-success-bg; @btn-success-border);
}
// Info appears as blue-green
.btn-info {
	.button-variant(@btn-info-color; @btn-info-bg; @btn-info-border);
}
// Warning appears as orange
.btn-warning {
	.button-variant(@btn-warning-color; @btn-warning-bg; @btn-warning-border);
}
// Danger and error appear as red
.btn-danger {
	.button-variant(@btn-danger-color; @btn-danger-bg; @btn-danger-border);
}

// Common styles
.btn-default,
.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger {
	text-shadow: 0 -1px 0 rgba(0,0,0,.2);
	@shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 1px rgba(0,0,0,.075);
	.box-shadow(@shadow);

	// Reset the shadow
	&:active,
	&.active {
		.box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
	}

	&.disabled,
	&[disabled],
	fieldset[disabled] & {
		.box-shadow(none);
	}

	.badge {
		text-shadow: none;
	}
}

// Common styles
.btn {
	// Remove the gradient for the pressed/active state
	&:active,
	&.active {
		background-image: none;
	}
}