.year-select {
	width: 100px;
	float: right;
	margin-left: 10px;
}
.alumnus {
	line-height: 44px;
}
.text-container {
	float: left;
	width: 95%;
	margin-left: 5px;
}
.is-alumnus-checkbox {
	float: left;
	vertical-align: top;
	margin-top: 14px!important;
}
.text {
	display: inline-block;
}
.text span {
	bottom: 4px;
	position: relative;
}
.error {
	color: red;
	float: right;
	padding-left: 10px;
}
.amount-block {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.processing-fee {
	padding-top: 15px;
	font-size: 14px;
	display: flex;
	align-items: baseline;
	label {
		padding-left: 5px;
	}
}
