.form-control {
	&.featured {
		background-color: #CBE0F3;
		border: none;
		box-shadow: none;
		font-size: 32px;
		font-weight: bold;
		height: auto;

		@media (min-width: @screen-sm-min) {
			font-size: 48px;
		}

		@media (min-width: @screen-md-min) {
			font-size: 66px;
		}
	}
}