// Default navbar
.navbar-brand,
.navbar-nav > li > a {
	text-shadow: 0 1px 0 rgba(255,255,255,.25);
}

// Undo rounded corners in static and fixed navbars
.navbar-static-top,
.navbar-fixed-top,
.navbar-fixed-bottom {
	border-radius: 0;
}

.navbar-default {
	.navbar-brand {
		&:hover,
		&:focus {
			color: @navbar-default-brand-color;
		}
	}
}

.navbar-brand {
	display: table;

	> .program-logo,
	> .org-name {
		display: table-cell;
		vertical-align: middle;
	}

	> .program-logo {
		padding-right: @navbar-padding-horizontal;

		> img {
			max-height: 40px;
		}
	}
}