.col-xs-12.top-buffer
	img.img-responsive.center-block(src="/img/content/logos/esponsornow.png", alt="eSponsorNow")
	p.disclaimer.text-center Copyright 2010-#{new Date().getFullYear()} eSponsorNow.org