footer.row
	.col-xs-12.top-buffer
		p.disclaimer
			| Upon your sponsorship you will receive a “Thank You” email receipt that may be used for tax purposes. Please consult your tax preparer for any questions regarding non-profit donation deductions. No goods or services were received in connection with this donation.
		p.disclaimer
			| eSponsor Now, Inc. ("Company") is deeply committed to safeguarding your privacy online. We do not collect personally identifiable information about individuals-such as names and postal and/or e-mail addresses-except when it is knowingly provided to us by those individuals. This Privacy Policy only applies to transactions made and data gathered on the esponsornow.org web site ("Website") and does not apply to any other website. The terms of this Privacy Policy shall govern all interactions with the Company through either the Company's Website or e-mail. By using the Company's Website or communicating with the Company by e-mail, you agree to the terms of this Privacy Policy. If you do not agree with any aspect of the Website, please do not continue to use the Website or services. We ask that our visitors periodically review this page to ensure familiarity with the most current version of our privacy statement.
	include ./copyright
