p.disclaimer
	| Icons licensed from
	a(href='https://icomoon.io/#icons-icomoon', target='_blank')  IcoMoon
	|  under the
	a(href='http://creativecommons.org/licenses/by/4.0/', target='_blank')  CC BY 4.0
	|  license.