.panel.panel-default
	.panel-body.text-center
		strong Thank you...
		p for sponsoring me in my 2016 Albion College Football challenge.  Sincerely,
		p.h5 Jake Nelson
		include ./social-share-list
		h1.h3 Albion Football Fundraising
		p
			| Coach
			a(href='#')  Jim Smith
		p.vertical-buffer
			img.img-responsive.center-block(src='/img/content/sample-images/program-logo.png', alt='Program Name')
