ul.list-inline.vertical-buffer
	li
		a(href="#", title="Share on Facebook", aria-label="Share on Facebook", data-share-platform="facebook", data-share-url="#{standardFacebookShareUrl}")
			- var icon = "facebook"
			- var iconClasses = "facebook icon-large"
			include ../../shared/icon
	li
		a(href="//twitter.com/intent/tweet?text=#{standardTweetText}", title="Share on Twitter", aria-label="Share on Twitter")
			- var icon = "twitter"
			- var iconClasses = "twitter icon-large"
			include ../../shared/icon
	li
		a(href="https://plus.google.com/share?url=#{standardGooglePlusShareUrl}", target="_blank", title="Share on Google Plus", aria-label="Share on Google Plus")
			- var icon = "google-plus"
			- var iconClasses = "google-plus icon-large"
			include ../../shared/icon
