extends ../../layout

block projectVars
	- var project = "esponsornow"
	- var author = "eSponsorNow"

block favicon
	link(rel='shortcut icon', href='/img/content/esponsornow/favicon.ico')

block sublayout
	nav.navbar.navbar-default.navbar-static-top
		.container
			.navbar-header
				.navbar-brand
					.program-logo
						img(src="/img/content/sample-images/program-logo.png", alt="Program Name")
					.org-name Really Really Long Name For an Organization

	.container
		main.row
			block content

		case footerStyle
			when "full"
				include ./footer-full
			default
				include ./footer