noscript
	| For full functionality of this site it is necessary to enable JavaScript.	Here are the&nbsp;
	a(href="http://www.enable-javascript.com/", target="_blank") instructions for how to enable JavaScript in your web browser
	|.