option(value='', selected=(stateSelected == false) ? 'selected' : null, disabled='')
optgroup(label='United States')
	option(value='AL', selected=(stateSelected == 'AL') ? 'selected' : null) Alabama
	option(value='AK', selected=(stateSelected == 'AK') ? 'selected' : null) Alaska
	option(value='AZ', selected=(stateSelected == 'AZ') ? 'selected' : null) Arizona
	option(value='AR', selected=(stateSelected == 'AR') ? 'selected' : null) Arkansas
	option(value='CA', selected=(stateSelected == 'CA') ? 'selected' : null) California
	option(value='CO', selected=(stateSelected == 'CO') ? 'selected' : null) Colorado
	option(value='CT', selected=(stateSelected == 'CT') ? 'selected' : null) Connecticut
	option(value='DE', selected=(stateSelected == 'DE') ? 'selected' : null) Delaware
	option(value='DC', selected=(stateSelected == 'DC') ? 'selected' : null) District Of Columbia
	option(value='FL', selected=(stateSelected == 'FL') ? 'selected' : null) Florida
	option(value='GA', selected=(stateSelected == 'GA') ? 'selected' : null) Georgia
	option(value='HI', selected=(stateSelected == 'HI') ? 'selected' : null) Hawaii
	option(value='ID', selected=(stateSelected == 'ID') ? 'selected' : null) Idaho
	option(value='IL', selected=(stateSelected == 'IL') ? 'selected' : null) Illinois
	option(value='IN', selected=(stateSelected == 'IN') ? 'selected' : null) Indiana
	option(value='IA', selected=(stateSelected == 'IA') ? 'selected' : null) Iowa
	option(value='KS', selected=(stateSelected == 'KS') ? 'selected' : null) Kansas
	option(value='KY', selected=(stateSelected == 'KY') ? 'selected' : null) Kentucky
	option(value='LA', selected=(stateSelected == 'LA') ? 'selected' : null) Louisiana
	option(value='ME', selected=(stateSelected == 'ME') ? 'selected' : null) Maine
	option(value='MD', selected=(stateSelected == 'MD') ? 'selected' : null) Maryland
	option(value='MA', selected=(stateSelected == 'MA') ? 'selected' : null) Massachusetts
	option(value='MI', selected=(stateSelected == 'MI') ? 'selected' : null) Michigan
	option(value='MN', selected=(stateSelected == 'MN') ? 'selected' : null) Minnesota
	option(value='MS', selected=(stateSelected == 'MS') ? 'selected' : null) Mississippi
	option(value='MO', selected=(stateSelected == 'MO') ? 'selected' : null) Missouri
	option(value='MT', selected=(stateSelected == 'MT') ? 'selected' : null) Montana
	option(value='NE', selected=(stateSelected == 'NE') ? 'selected' : null) Nebraska
	option(value='NV', selected=(stateSelected == 'NV') ? 'selected' : null) Nevada
	option(value='NH', selected=(stateSelected == 'NH') ? 'selected' : null) New Hampshire
	option(value='NJ', selected=(stateSelected == 'NJ') ? 'selected' : null) New Jersey
	option(value='NM', selected=(stateSelected == 'NM') ? 'selected' : null) New Mexico
	option(value='NY', selected=(stateSelected == 'NY') ? 'selected' : null) New York
	option(value='NC', selected=(stateSelected == 'NC') ? 'selected' : null) North Carolina
	option(value='ND', selected=(stateSelected == 'ND') ? 'selected' : null) North Dakota
	option(value='OH', selected=(stateSelected == 'OH') ? 'selected' : null) Ohio
	option(value='OK', selected=(stateSelected == 'OK') ? 'selected' : null) Oklahoma
	option(value='OR', selected=(stateSelected == 'OR') ? 'selected' : null) Oregon
	option(value='PA', selected=(stateSelected == 'PA') ? 'selected' : null) Pennsylvania
	option(value='RI', selected=(stateSelected == 'RI') ? 'selected' : null) Rhode Island
	option(value='SC', selected=(stateSelected == 'SC') ? 'selected' : null) South Carolina
	option(value='SD', selected=(stateSelected == 'SD') ? 'selected' : null) South Dakota
	option(value='TN', selected=(stateSelected == 'TN') ? 'selected' : null) Tennessee
	option(value='TX', selected=(stateSelected == 'TX') ? 'selected' : null) Texas
	option(value='UT', selected=(stateSelected == 'UT') ? 'selected' : null) Utah
	option(value='VT', selected=(stateSelected == 'VT') ? 'selected' : null) Vermont
	option(value='VA', selected=(stateSelected == 'VA') ? 'selected' : null) Virginia
	option(value='WA', selected=(stateSelected == 'WA') ? 'selected' : null) Washington
	option(value='WV', selected=(stateSelected == 'WV') ? 'selected' : null) West Virginia
	option(value='WI', selected=(stateSelected == 'WI') ? 'selected' : null) Wisconsin
	option(value='WY', selected=(stateSelected == 'WY') ? 'selected' : null) Wyoming
optgroup(label='Canada')
	option(value='AB', selected=(stateSelected == 'AB') ? 'selected' : null) Alberta
	option(value='BC', selected=(stateSelected == 'BC') ? 'selected' : null) British Columbia
	option(value='MB', selected=(stateSelected == 'MB') ? 'selected' : null) Manitoba
	option(value='NB', selected=(stateSelected == 'NB') ? 'selected' : null) New Brunswick
	option(value='NL', selected=(stateSelected == 'NL') ? 'selected' : null) Newfoundland and Labrador
	option(value='NS', selected=(stateSelected == 'NS') ? 'selected' : null) Nova Scotia
	option(value='ON', selected=(stateSelected == 'ON') ? 'selected' : null) Ontario
	option(value='PE', selected=(stateSelected == 'PE') ? 'selected' : null) Prince Edward Island
	option(value='QC', selected=(stateSelected == 'QC') ? 'selected' : null) Quebec
	option(value='SK', selected=(stateSelected == 'SK') ? 'selected' : null) Saskatchewan
	option(value='NT', selected=(stateSelected == 'NT') ? 'selected' : null) Northwest Territories
	option(value='NU', selected=(stateSelected == 'NU') ? 'selected' : null) Nunavut
	option(value='YT', selected=(stateSelected == 'YT') ? 'selected' : null) Yukon
option(value='other', selected=(stateSelected == 'other') ? 'selected' : null) Other