//
// IE10 viewport hack for Surface/desktop Windows 8 bug
// Copyright 2014-2015 Twitter, Inc.
// Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
//

//
// See the Getting Started docs for more information:
// http://getbootstrap.com/getting-started/#support-ie10-width
//
@-webkit-viewport { width: device-width; }
@-moz-viewport    { width: device-width; }
@-ms-viewport     { width: device-width; }
@-o-viewport      { width: device-width; }
@viewport         { width: device-width; }
