//
// Utility classes
// --------------------------------------------------

.currency {
  margin-left: 0.25em;

  &:before {
    content: '$';
  }
}

// Floats
// -------------------------

.clearfix {
  .clearfix();
}
.center-block {
  .center-block();
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}


// Toggling content
// -------------------------

// Note: Deprecated .hide in favor of .hidden or .sr-only (as appropriate) in v3.0.1
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  .text-hide();
}
.no-js .no-js-hide {
  display: none !important;
}
.touchevents .hide-touch {
  display: none !important;
}
.touchevents .visible-touch {
  display: block !important;
}
.no-touchevents .hide-no-touch {
  display: none !important;
}
.no-touchevents .visible-no-touch {
  display: block !important;
}
.no-ios .hide-no-ios {
  display: none !important;
}
.ios .hide-ios {
  display: none !important;
}
.no-clipboard .js-clipboard {
  display: none !important;
}

// Hide from screenreaders and browsers
//
// Credit: HTML5 Boilerplate

.hidden {
  display: none !important;
}


// For Affix plugin
// -------------------------

.affix {
  position: fixed;
}


// Layout
// -------------------------
.top-buffer {
  margin-top: @grid-top-buffer;
}
.vertical-buffer {
  margin: @grid-top-buffer 0;
}
.top-buffer-xs {
  margin-top: @grid-top-buffer;
}
@media(min-width: @screen-sm-min) {
  .top-buffer-xs {
    margin-top: 0;
  }
  .top-buffer-sm {
    margin-top: @grid-top-buffer;
  }
}
@media(min-width: @screen-md-min) {
  .top-buffer-sm {
    margin-top: 0;
  }
  .top-buffer-md {
    margin-top: @grid-top-buffer;
  }
}


// Vertical alignment
// -------------------------
.valign {
  display: table;
  width: 100%;

  > * {
    display: table-cell;
    float: none;
  }

  > .top {
    vertical-align: top;
  }

  > .middle {
    vertical-align: middle;
  }

  > .bottom {
    vertical-align: bottom;
  }
}

@media (min-width: @screen-sm-min) {
  .valign-sm {
    display: table;
    width: 100%;

    > * {
      display: table-cell;
      float: none;
    }

    > .top {
      vertical-align: top;
    }

    > .middle {
      vertical-align: middle;
    }

    > .bottom {
      vertical-align: bottom;
    }
  }
}


// Style Guide
// -------------------------
.color-swatch {
  align-items: center;
  border: 1px solid white;
  border-radius: @border-radius-large;
  display: flex;
  height: 150px;
  justify-content: center;
  margin: @line-height-base * 1em 0;
  width: 150px;

  > * {
    margin: 0;
  }

  &.gray-base {
    background-color: @gray-base;
  }

  &.gray-darker {
    background-color: @gray-darker;
  }

  &.gray-dark {
    background-color: @gray-dark;
  }

  &.gray {
    background-color: @gray;
  }

  &.gray-light {
    background-color: @gray-light;
  }

  &.gray-lighter {
    background-color: @gray-lighter;
  }

  &.gray-lightest {
    background-color: @gray-lightest;
  }

  &.brand-primary {
    background-color: @brand-primary;
  }

  &.success {
    background-color: @brand-success-bg;
    border-color: @brand-success-border;

    > * {
      color: @brand-success-text;
    }
  }

  &.info {
    background-color: @brand-info-bg;
    border-color: @brand-info-border;

    > * {
      color: @brand-info-text;
    }
  }

  &.warning {
    background-color: @brand-warning-bg;
    border-color: @brand-warning-border;

    > * {
      color: @brand-warning-text;
    }
  }

  &.danger {
    background-color: @brand-danger-bg;
    border-color: @brand-danger-border;

    > * {
      color: @brand-danger-text;
    }
  }
}