.tile(class="#{tileExtraClass || ''}")
	h3 Share Campaign
	.tile-separator
		ul.list-inline.hide-no-touch
			li.hide-no-ios
				- var color = "brand-primary"
				- var size = "icon-large"
				- var includeText = false
				- var additionalClasses = ""
				- var smsContent = standardParticipantiOSSMSContent
				include ../../../eteamsponsor-shared/sms-ios
			li.hide-ios
				- var color = "brand-primary"
				- var size = "icon-large"
				- var includeText = false
				- var additionalClasses = ""
				- var smsContent = standardParticipantSMSContent
				include ../../../eteamsponsor-shared/sms-other
		ul.list-inline.top-buffer
			li
				a.js-clipboard(href="javascript:void(0)", data-clipboard-text="#{standardCampaignPageUrl}", data-clipboard-success-message="Your campaign page link has been copied.  Go to your favorite messaging app, email application, or social network and paste the link to share your campaign!", title="Copy <campaign name> link", aria-label="Copy <campaign name> link")
					- var icon = "copy"
					- var iconClasses = "icon-large black"
					include ../../../shared/icon
			li
				a(href="javascript:void(0)", title="Share <campaign name> on Facebook", aria-label="Share <campaign name> on Facebook", data-share-platform="facebook", data-share-url="#{standardFacebookShareUrl}")
					- var icon = "facebook"
					- var iconClasses = "facebook icon-large"
					include ../../../shared/icon
			li
				a(href="//twitter.com/intent/tweet?text=#{standardTweetText}", title="Share <campaign name> on Twitter", aria-label="Share <campaign name> on Twitter")
					- var icon = "twitter"
					- var iconClasses = "twitter icon-large"
					include ../../../shared/icon
		if (typeof viewCampaignLink !== 'undefined')
			p.top-buffer
				a(href="#{viewCampaignLink}", target="#{viewCampaignLinkTarget}") #{viewCampaignLinkText}
