// .button-variant(text color*; background color*; border color*; hover/active/focus text color; hover/active/focus background color; hover/active/focus border color)
// * = required
.btn-primary {
	background-color: @brand-primary;
	color: white;

	&:hover,
	&:focus,
	&.focus {
		color: white;
	}

	&:active,
	&.active {
		background-color: #2c2c2c;
		color: @brand-primary;
	}
}

.btn-ghost {
	border: 2px solid white;
	color: white;

	&:hover,
	&:focus,
	&.focus {
		color: @gray-lightest;
	}
}

.btn-donate {
	font-size: 24px;
	font-weight: bold;
	padding-bottom: 12px;
	padding-top: 12px;
}
.btn-default {
	.button-variant(@btn-default-color; @btn-default-bg; @btn-default-border);
}
