@keyframes smooth-show-in {
	from {opacity: 0;}
	to {opacity: 1;}
}
.layout-primary {
	background-color: @gray-lightest;
	background-image: url('../../img/css/bg-ets-primary.jpg');
	animation-name: smooth-show-in;
	animation-duration: 1s;
	background-size: cover;
	border-bottom: 1px solid @gray-lighter;
}

.layout-primary,
.layout-secondary {
	padding: (@grid-gutter-width / 2) 0;

	@media only screen and (min-width: @screen-sm-min) {
		padding: @grid-gutter-width 0;
	}
}

footer {
	margin-top: @grid-top-buffer;
}
