.navbar {
	background-color: black;
	border-color: @brand-primary;
	border-bottom-width: 5px;
	min-height: @header-height-small;
	text-align: center;

	@media only screen and (min-width: @screen-sm-min) {
		min-height: @header-height;
	}

	.btn-primary {
		background-color: white;
		color: black;
	}
}

.navbar-action-list {
	list-style: none;
	margin: 0;
	padding: 0;

	> li {
		display: inline-block;
		padding: 0.5em;
		vertical-align: middle;

		@media only screen and (min-width: @screen-sm-min) {
			padding: 1em 0.5em;
		}
	}

	.btn {
		margin: 0;
	}
}

.navbar-brand-logo,
.navbar-brand-cta {
	position: absolute;
}

.navbar-brand-logo {
	left: @grid-gutter-width / 2;
	top: @grid-gutter-width / 2;

	img {
		height: 45px;
	}
}

.navbar-brand-cta {
	font-size: 12px;
	right: @grid-gutter-width / 2;
	top: (@grid-gutter-width / 2) + 5px;
}