.org-details {
	list-style: none;
	margin: (@grid-gutter-width / 2) 0;
	padding: 0;
	text-align: center;

	> li {
		display: inline-block;
		margin-right: -0.25em;
		padding: 0 1em;

		+ li {
			margin-top: 1em;
		}
	}
}

.org-header {
	display: table;
	margin-bottom: @grid-gutter-width / 2;
	margin-left: auto;
	margin-right: auto;
	max-width: 500px;
	width: 100%;
}

.org-logo,
.org-campaign-name {
	display: table-cell;
	vertical-align: middle;
}

.org-logo {
	margin-bottom: @grid-gutter-width / 2;
	margin-left: auto;
	margin-right: auto;
	max-width: 75px;
	padding-right: @grid-gutter-width / 4;

	@media only screen and (min-width: @screen-md-min) {
		margin-bottom: 0;
		max-width: 225px;
		padding-right: @grid-gutter-width / 2;
	}

	.touchevents & {
		@media only screen and (min-width: @screen-sm-min) {
			max-width: 150px;
		}
	}
}

.org-campaign-name {
	h1,
	h2 {
		margin: 0.25em 0;
	}
}