.progress-amount-raised {
	display: inline-block;
	font-size: 2em;
	font-weight: bold;
	margin-right: 0.125em;

	@media only screen and (min-width: @screen-md-min) {
		font-size: 2.5em;
	}
}

.progress-amount-goal {
	color: @gray-light;
}

.progress-container {
	background-color: @gray-lightest;
	border-radius: @btn-border-radius-large;
	overflow: hidden;
}

.progress-percent {
	background-color: @brand-primary;
	border-radius: @btn-border-radius-large;
	height: 1em;
	width: 0;
	transition: width .8s ease-out;
	transition-delay: .8s;
}

.progress-metrics {
	display: table;
	margin: 1.5em 0;
	table-layout: fixed;
	width: 100%;

	@media only screen and (min-width: @screen-sm-min) {
		margin: 2em 0;
	}
}

.progress-date {
	margin: 1.5em 0;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	.progress-metric {
		margin: 0 10px;
	}
	@media screen and (min-width: @screen-sm) and (max-width: @screen-md) {
		font-size: 20px;
	}
	@media only screen and (min-width: @screen-sm-min) {
		margin: 2em 0;
	}
}

.progress-metric {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
.progress-tagline {
	font-weight: 600;
	font-size: 18px;
}
.progress-metric-amount {
	font-size: 1.25em;
	font-weight: bold;

	@media only screen and (min-width: @screen-md-min) {
		font-size: 1.5em;
	}
}
