.nav-tabs-container {
	border-bottom: 1px solid @gray-lightest;
}

.nav-tabs {
	border-bottom: none;
	display: table;
	margin: 0;
	padding: 0;
	table-layout: fixed;
	width: 100%;

	> li {
		border-bottom: 2px solid transparent;	// this will stop the visual jump when adding the active class
		display: table-cell;
		text-align: center;
		vertical-align: bottom;

		&.active {
			border-bottom-color: black;
		}

		> a {
			display: block;
			padding: 0.5em 0.5em (@grid-gutter-width / 2) 0.5em;
			text-decoration: none;
		}
	}
}

.tab-content {
	> .tab-pane {
		display: none;
		.tab-pane-img {
			float: left;
			width: 30%;
			margin: 0 20px;
			img {
				height: auto;
				width: 100%;
			}
		}
		p {
			overflow-wrap: break-word;
		}
	}

	> .active {
		display: block;
	}
}
