.team {
	list-style: none;
	margin: 0;
	padding: 0;
}

.player {
	@media only screen and (min-width: @screen-sm-min) {
		display: inline-block;
		margin-right: -0.25em;
		width: 50%;
	}

	+ .player {
		margin-top: 1em;
	}
}

.player-image,
.player-details {
	display: inline-block;
	vertical-align: middle;
}

.player-details {
	text-decoration: underline;
}

.player-image {
	margin-right: 0.25em;
}