@header-height-small: 62px;
@header-height: 78px;

// Colors
@brand-primary: #3ab44a;
@brand-goal: #f0dc00;

// Typography
@font-size-h1: 20px;
@font-size-h2: 15px;
@font-size-h3: 20px;

// Buttons
@btn-primary-color: white;
@btn-primary-bg: black;

// Callouts and Tiles
@callout-border-radius-top: 14px;
@callout-border-radius-bottom: 6px;
@callout-box-shadow: inset 0 0 7px 0 rgba(0, 0, 0, .18), -1px 5px 8px -3px rgba(0, 0, 0, .35);

// Images
@avatar-width: 64px;