.poster {
	background-color: white;
	background-color: rgba(255, 255, 255, 0.75);
	border: 1px solid white;
	display: table;
	transition: 0.3s top ease-in-out;
	width: 100%;

	&.is-hidden {
		top: 100%;
	}
}

.poster-inner {
	display: table-cell;
	padding: @grid-gutter-width / 2;
	text-align: center;
	vertical-align: middle;
	width: 100%;

	@media only screen and (min-width: @screen-sm-min) {
		width: 50%;
	}
}

.poster-heading {
	@media only screen and (min-width: @screen-md-min) {
		font-size: @font-size-h1 * 1.5;
	}
}

.poster-heading,
.poster-sub-heading {
	color: black;
}

.poster-event {
	font-weight: 500;
}

.poster .icon {
	fill: black;
}

.poster .play .icon {
	fill: @brand-primary;
}

.social-list {
	list-style: none;
	li {
		display: inline-block;
		padding-right: 25px;
		.facebook {
			fill: #3b5998;
		}
		.twitter {
			fill: #55acee;
		}
	}
}

.campaignVideoPreview {
	width: 100%;
}
