.action-list {
	display: inline-block;	// this puts it next to its associated cell label at low resolutions
	list-style: none;
	margin: 0;
	padding: 0;

	> li {
		display: inline-block;
		margin-left: 0.5em;
		margin-top: 0.5em;

		&:last-child {
			margin-left: none;
		}
	}

	svg {
		fill: @brand-primary;
	}
}
