//
// Breadcrumbs
// --------------------------------------------------


.breadcrumb {
	background-color: @breadcrumb-bg;
	border-radius: @border-radius-base;
	font-size: @breadcrumb-font-size;
	list-style: none;
	margin-bottom: @breadcrumb-margin;
	padding: @breadcrumb-padding-vertical @breadcrumb-padding-horizontal;

	> li {
		display: inline-block;

		&:after {
			color: @breadcrumb-color;
			content: "\00a0@{breadcrumb-separator}"; // Unicode space added since inline-block means non-collapsing white-space
			padding: 0 5px;
		}
	}

	> .active {
		color: @breadcrumb-active-color;
	}
}