@border_right_color_1: transparent;
@border_bottom_color_1: #ddd;
@title_color: #999;
@border_left_color_1: transparent;

.preview-button-row {
  margin-top: 5px;
}

.campaign-tabs {
  border: 1px solid @border_bottom_color_1;
  border-radius: 10px;
  background: white;
  margin: 25px 0 0 0;
  position: relative;

  .nav {
    border-top: none;
  }

  .edit-tabs {
    padding: 0;
    margin-top: -1px;
    margin-left: -1px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .logic-block {
      padding: 5px;
      .block-title {
        color: @title_color;
      }
      .block-body {
        margin: 15px 0;
        padding: 15px;
        border: 1px solid @border_bottom_color_1;
        border-radius: 5px;
      }
  }

  .landing-text {
    textarea {
      margin-top: 15px;
    }
  }

  .save-campaign-btn {
    margin-bottom: 15px;
  }

  .edit-campaign-nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    a {
      color: #555555;
      background-color: #fff;
      border: 1px solid #ddd;
      font-size: 14px;
      padding: 2px 5px 1px 5px;
      border-bottom-color: transparent;
      cursor: default;
      &:hover {
        cursor: pointer;
        text-decoration: none;
      }
    }
  }
  .edit-editor {
    margin-top: 25px;
  }
}



