// Email builder main stylesheets
@import "../projects/campaign-page/theme/progress.less";
@import "../projects/campaign-page/theme/video.less";
@import "../projects/campaign-page/theme/org.less";
@import "../projects/campaign-page/theme/lists.less";
@import "../projects/campaign-page/theme/team.less";

// Import variables
@black: #000;

// Make header and nav sticky
.sticky-header {
	position: fixed;
	z-index: 11;
	width: 100%;
	background: @black;
}

.sticky-nav {
	position: fixed;
	z-index: 10;
	width: 100%;
	top: 100px;
}

.sticky-layout {
	padding-top: 170px !important;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
	.sticky-nav {
		top: 60px;
	}

	.sticky-layout {
		padding-top: 140px !important;
	}
}

// Main row
.email-builder-container {
	.emails-tab-pills {
		display: flex;
		justify-content: flex-end;
	}
	.add-new-scheduled-row {
		//display: flex;
		//justify-content: flex-end;
		a {
			padding: 15px;
			box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
			margin-bottom: 15px;
			border-radius: 15px;
			background: #fff;
			border: none;
			text-decoration: none;
			display: inline-block;
		}
	}
}

.control-buttons-row {
	padding: 15px;
	text-align: right;
	.btn {
		min-width: 100px;
	}
	.email-subject-row {
		display: flex;
		flex-wrap: wrap;
		text-align: left;
		.donor-subject-row {
			flex-basis: 50%;
			@media (max-width: 600px) {
				& {
					flex-basis: 100%;
					padding-top: 15px;
				}
			}
			.subj-title {
				font-size: 12px;
				color: @main_green;
				font-weight: 600;
			}
		}
	}
	@media (max-width: 600px) {
		& {
			padding-top: 0;
		}
	}
}

.subj-title {
	font-size: 12px;
	color: @main_green;
	font-weight: 600;
}

.edit-radioboxes-row {
	padding-top: 15px;
	input {
		margin-right: 5px;
		&:focus {
			outline: none;
		}
	}
	.single-radio {
		display: flex;
		flex-wrap: nowrap;
		.heading-edit {
			cursor: pointer;
		}
		.active {
			color: #3ab44a;
			cursor: pointer;
		}
	}
}

.preview-another-row {
	padding: 30px 0 0 0;
}

.preview-email-row {
	padding-bottom: 30px;
	// Form checkboxes
	.form-group {
		input[type=checkbox] {
			margin-right: 15px;
		}
	}
	.suppress-preview-email {
		font-weight: bold;
		.suppress-input {
			margin-right: 5px;
		}
	}

	// Explanation span
	.well {
		span {
			margin: 0 5px;
		}
	}
	strong {
		margin: 0 5px 0 0;
	}

	ul {
		padding-left: 26px;
	}
	.sidebar-info {
		padding: 0;
		list-style-type: none;
		li {
			padding-bottom: 5px;
		}
	}
	.email-links {
		margin-bottom: 0;
	}

}

.btn-save {
	display: inline-block;
	background: #3ab449;
	color: #FFF;
	&:hover {
		background: #257c34;
		color: #ececec;
	}
}

.hidden-edit {
	cursor: pointer;
}

.send-email-select {
	margin-top: 15px;
}

.btn-save-editor {
	display: inline-block;
	background: #3ab449;
	color: #FFF;
	&:hover {
		background: #257c34;
		color: #ececec;
	}
	&:focus {
		outline: none;
	}
	margin-top: 15px;
}

.form-sendtoyou {
	display: flex;
	font-size: 14px;
	padding-top: 15px;
}

.preview-email-body {
	background: url('../../img/css/bg-ets-primary.jpg');
	background-position: bottom;
	background-repeat: no-repeat;
	border: 1px solid #ccc;
	span {
		margin-right: 5px;
	}
	.activate-edit {
		border: 2px dashed #ccc;
		padding: 5px;
		border-radius: 10px;
	}
	.preview-email-top {
		height: 90px;
		display: flex;
		justify-content: center;
		align-items: center;
		background: #000;
		border-bottom: 5px solid #FCC439;
		button {
			background: #FFF;
			border-radius: 10px;
			font-size: 20px;
			padding: 10px;
			border: none;
		}
	}
	.preview-email-title {
		display: flex;
		align-items: center;
		.image {
			width: 150px;
			padding: 15px;
			img {
				width: 100%;
			}
		}
		.text {
			font-family: 'Droid Sans', Helvetica, Arial, sans-serif !important;
			font-size: 24px;
			font-weight: 400;
			line-height: 1.3;
			margin: 0;
			margin-bottom: 10px;
			padding: 0;
			text-align: center;
			word-wrap: normal;
		}
	}
	.preview-email-intro {
		position: relative;
		.welcome-body {
			padding: 15px;
		}
		.welcome-title {
			margin-bottom: 15px;
			padding: 25px 15px 15px 15px;
		}
	}
	.preview-body-info {
		padding: 15px;
	}
	.show-paragraph-body {
		padding: 0 15px 15px 15px;
		color: #3ab44a;
		cursor: pointer;
	}
	.bordered-editor {
		margin: 0 15px 15px 15px;
		padding: 15px;
		border: 2px dashed #ccc;
		position: relative;
		border-radius: 10px;

		.bordered-wrapper {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 100%;
			height: 100%;
		}

	}
	.bordered-body {
		width: 100%;
		height: 100%;
	}
	.hidden-edit {
		color: #3ab44a;
		svg {
			font-size: 14px;
		}
		span {
			cursor: pointer;
			font-size: 18px;
			font-weight: bold;
		}
	}
	.preview-email-my-organization {
		padding: 0 15px 15px 15px;
	}
	.preview-email-my-goal {
		padding: 0 15px 15px 15px;
	}
	.preview-email-payment-methods {
		padding: 15px;
		a {
			margin: 0 5px;
		}
	}
	.preview-email-closing-paragraph {
		padding: 15px;
		a {
			margin-right: 5px;
		}
	}
	.preview-email-regards {
		padding: 0 15px 15px 15px;
	}
	#toggleOverwrite {
		color: #ccc;
		font-size: 12px;
	}
	.preview-email-donate-btn {
		margin: 15px;
		button {
			border: 0 solid #7dc2c4;
			border-radius: 6px;
			color: #FCC439;
			background: #74c1c2;
			display: inline-block;
			font-family: 'Droid Sans', Helvetica, Arial, sans-serif !important;
			font-size: 20px;
			font-weight: 700;
			line-height: 1.3;
			margin: 0;
			padding: 10px 20px 10px 20px;
			padding-left: 0;
			padding-right: 0;
			text-align: center;
			text-decoration: none;
			width: 100%;
		}

	}
	.is-edit-on {
		button {
			width: 90%;
			@media screen and (min-width: 320px) and (max-width: 767px) {
				width: 80%;
			}
		}
	}
	.preview-email-bottom {
		margin: 50px 15px 50px 15px;
		.bottom-explain {
			text-align: center;
			font-size: 87%;
		}
		.bottom-powered {
			text-align: center;
			margin: 15px 0;
		}
	}
	.preview-edit-template {
		padding: 15px;
	}
}

#hidden-email-body-edit {
	cursor: pointer;
}

.preview-edit-template {
	position: relative;
	.hidden-edit-rtc {
		position: absolute;
		top: 25px;
		right: 20px;
		color: #3ab44a;
		cursor: pointer;
	}
}

// Landing preview style overwrite
#landing {
	header {
		height: 73px;
		background: #000;
		border-bottom: 5px solid #FFC14E;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 15px;
		.logo {
			width: 125px;
		}
	}
	.container {
		width: 100%;
	}
	.poster-challenge-title {
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		.preview-email-campaign-name {
			text-align: center;
		}
	}
	.progress-percent {
		background-color: #FFC14E;
	}
	.btn-donate {
		background-color: #FFC14E;
		padding: 12px 0;
	}
	svg {
		color: #FFC14E;
	}
	.layout-secondary {
		background-color: #FFF;
		border-top: 2px solid #FFC14E;
		border-bottom: 2px solid #FFC14E;
		box-shadow: none;
	}
	.nav-tabs > li {
		display: table-cell;
		text-align: center;
		vertical-align: bottom;

	}
	.nav-tabs > .active {
		border-bottom: 2px solid #ffc14e;
	}
	.nav-tabs > li > a {
		color: #000;
		display: block;
		padding: 10px 90px;
		text-decoration: none;
		&:hover {
			color: #ffc14e;
			background: none;
			border: none;
		}
	}
	.nav-tabs > li.active > a {
		color: #000;
		border-top: none;
		border-right: none;
		border-left: none;
	}
	img {
		width: 100%;
	}
	#team {
		h2 {
			color: #000;
		}
		.player-details {
			color: #000;
		}
	}
	.poster-challenge-social {
		display: flex;
		justify-content: space-around;
		width: 100%;
	}
}

.email-preview-tabs {
	padding: 15px;
}

.email-preview {
	position: relative;
	.launch-row {
		margin-bottom: 15px;
		span {
			margin-left: 15px;
		}
	}
	#launchDate {
		font-weight: bold;
	}
	.panel-heading {
		padding: 15px;
		box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
		margin-bottom: 15px;
		border-radius: 15px;
		background: #fff;
		.heading-collapse {
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-wrap: nowrap;
			.heading-wrapper {
				display: flex;
				align-items: center;
				flex-wrap: wrap;
				justify-content: space-between;
				width: 100%;
				.heading-text {
					flex-basis: 25%;
				}
			}
			.heading-date-text {
				flex: 1;
				div {
					display: inline-block;
				}
				.date-span {
					margin: 0 5px;
					font-weight: bold;
					-webkit-hyphens: none;
					-moz-hyphens: none;
					-ms-hyphens: none;
					hyphens: none;
				}
			}
			.heading-controls {
				display: flex;
				align-items: center;
				.heading-view {
					margin-right: 15px;
				}
				.active {
					color: #3ab44a;
					cursor: pointer;
				}
				.disabled {
					color: grey;
					cursor: not-allowed;
				}
			}
		}
	}
	.panel-title {
		padding: 10px 0;
		margin-right: 5px;
		a {
			font-size: 16px;
			font-weight: 400;
			color: #3ab44a;
			&:hover {
				color: #3fda50;
				text-decoration: none;
			}
			&:focus {
				text-decoration: none;
			}
		}
	}
	#landing {
		.row {
			margin-left: 0;
			margin-right: 0;
		}
	}
}

.modal-content {
	.btn {
		&:focus {
			outline: none;
		}
	}
}

#results {
	.preview-email-body {
		a {
			text-decoration: underline;
		}
	}
}

@media screen and (min-width: 320px) and (max-width: 991px) {
	.landing-video-area {
		display: none;
	}

	.poster-challenge-social {
		display: none;
	}

	.preview-email-row {
		display: flex;
		flex-direction: column;
		.col-md-8 {
			order: 1;
			.preview-another-row {
				padding: 0;
			}
		}
		.col-md-4 {
			order: 2;
			padding-top: 50px;
		}
	}

	.email-preview-tabs {
		padding: 10px;
		.active {
			a {
				border-bottom-color: #ccc !important;
				border-radius: 10px;
			}
		}
	}

	.email-preview {
		.panel-heading {
			.heading-collapse {
				.heading-wrapper {
					.heading-text {
						flex-basis: 100%;
					}
				}
				.heading-date-text {
					flex: auto;
				}
			}
		}
	}

	.preview-email-bottom {
		.bottom-powered {
			.logo {
				img {
					width: 100%;
				}
			}
		}
	}

	.preview-email-title {
		margin: 15px 15px 0 0;
	}

	#landing .nav-tabs > li > a {
		padding: 10px 45px;
	}
}

@media screen and (min-width: 320px) and (max-width: 767px) {
	.landing-video-area {
		display: block;
	}
}

.edc-email-status {
	font-weight: bold;
	@media screen and (min-width: 320px) and (max-width: 767px) {
		text-align: left;
	}
}
.edc-setting-icons {
	@media screen and (min-width: 320px) and (max-width: 991px) {
		position: absolute;
		right: 0;
		top: -35px;
	}
}
