.icon {
	display: inline-block;
	fill: currentColor;
	height: 1.5em;
	margin: 0 0.25em;
	position: relative;
	top: -0.0625em;		// better alignment with capital letters
	vertical-align: middle;
	width: 1.5em;

	&.white {
		fill: white !important;
	}

	&.gray {
		fill: @gray-light;
	}

	&.black {
		fill: black;
	}

	&.brand-primary {
		fill: @brand-primary;
	}

	&.facebook {
		fill: #3b5998;
	}

	&.google-plus {
		fill: #dc4e41;
	}

	&.twitter {
		fill: #55acee;
	}
}

.icon-inline-left {
	margin-left: 0;
}

.icon-inline-right {
	margin-right: 0;
}

.icon-small {
	height: @font-size-base;
	width: @font-size-base;
}

.icon-medium {
	height: @font-size-base * 2;
	width: @font-size-base * 2;
}

.icon-large {
	height: @font-size-base * 3;
	width: @font-size-base * 3;
}

.icon-dynamic-size {
	height: @font-size-base * 1.5;
	width: @font-size-base * 1.5;

	@media only screen and (min-width: @screen-sm-min) {
		height: @font-size-base * 2;
		width: @font-size-base * 2;
	}

	@media only screen and (min-width: @screen-md-min) {
		height: @font-size-base * 3;
		width: @font-size-base * 3;
	}
}

.icon-link {
	&,
	&:hover,
	&:active,
	&:focus {
		text-decoration: none;
	}
}
