.img-avatar {
	background-position: center center;
	background-size: cover;
	border: 1px solid @input-border-color;
	border-radius: @input-border-radius / 2;
	display: block;
	height: @avatar-width / 1.5;
	width: @avatar-width / 1.5;

	@media screen and (min-width: @screen-md-min) {
		height: @avatar-width;
		width: @avatar-width;
	}
}

.img-avatar-container {
	padding-right: 1em;
	width: @avatar-width / 1.5;

	@media screen and (min-width: @screen-md-min) {
		width: @avatar-width;
	}
}

.img-avatar-anonymous {
	&:extend(.img-avatar);
	background-color: @input-border-color;
	background-image: url('../../img/css/user-silhouette-white.svg')
}