// Landing preview page inside email builder page

@main_green: #3ab44a;
// Separate landing preview page
#landing {
  .editable-landing {
    .landing-preview-header {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      min-height: 90px;
      svg {
        margin: 0 15px;
        color: white;
      }
      .btn-landing-header {
        background: white;
        color: black;
        border-radius: 5px;
      }
      .btn-landing-second {
        border: 2px solid white;
        color: white;
      }
    }
    svg {
      color: @main_green;
      cursor: pointer;
    }
    .bordered-editor {
      border: 2px dashed @main_green;
      padding: 5px;
      border-radius: 5px;
      display: inline-block;
    }
    .low-opacity {
      opacity: 0.3;
      a {
        text-decoration: none;
      }
    }
    #landing-about-body {
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;
      align-items: center;
      margin-top: 25px;
    }
    .landing-rte-editor {
      position: relative;
      .landing-edit-controls {
        position: absolute;
        right: 10px;
        top: 10px;
      }
    }
    #landingGoalInput {
      width: 100px;
      border: none;
      background: none;
      &:focus {
        outline: none;
      }
    }
    #landingGoalPartInput {
      width: 100px;
      border: none;
      background: none;
      &:focus {
        outline: none;
      }
    }
    #landingPhoneInput {
      width: 150px;
      border: none;
      background: none;
      &:focus {
        outline: none;
      }
    }
    #landingPartPhoneInput {
      width: 150px;
      border: none;
      background: none;
      &:focus {
        outline: none;
      }
    }
    .vimeo-landing-builder {
      .vimeo-row {
        border: 2px dashed @main_green;
      }
    }
    @media (min-width: 320px) and (max-width: 768px) {
      .landing-preview-header {
        padding: 15px 0;
        justify-content: center;
        .center-btns {
          display: none;
        }
      }
      #landingPhoneInput {
        width: 100px;
      }
    }
    .page-preview-link {
      margin-right: 15px;
    }
    .disable-edit {
      cursor: default;
      .btn {
        &:hover {
          color: white;
        }
      }
      .btn-landing-header {
        &:hover {
          color: black;
        }
      }
      a {
        cursor: default;
        text-decoration: none;
        outline: none;
        &:hover {
          color: inherit;
        }
      }
      svg {
        cursor: default;
      }
    }
  }
  .progress-bar-eteam {
    background-color: @main_green;
  }
  #editLandingGoalShow {
    color: @main_green;
    font-weight: 600;
    cursor: pointer;
  }
  #editLandingPartGoalShow {
    color: @main_green;
    font-weight: 600;
    cursor: pointer;
  }
  .page-preview-link {
    margin-right: 50px;
  }
  .landing-preview-footer {
    display: flex;
    justify-content: center;
    .img-footer {
      opacity: 1;
    }
    .text-center {
      flex-basis: 40%;
    }
  }
  .bordered-editor {
    border: 2px dashed @main_green;
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
  }
  .low-opacity {
    opacity: 0.3;
    a {
      text-decoration: none;
    }
  }
	@media (max-width: 768px) {
		.low-landing-padding {
			padding: 0;
		}
		.vimeo-row {
			margin-top: 15px;
		}
	}
}
