table.responsive-table {
	border-collapse: collapse;
	margin: 1em auto;
	width: 100%;

	thead {
		display: none;

		@media only screen and (min-width: @screen-md-min) {
			display: table-header-group;
		}
	}

	tr {
		+ tr {
			td {
				&:first-child {
					border-top: none;
				}
			}
		}

		&.danger {
			td {
				background-color: @brand-danger-bg;
				color: @brand-danger-text;
			}
		}

		&.warning {
			td {
				background-color: @brand-warning-bg;
				color: @brand-warning-text;
			}
		}
	}

	th,
	td {
		border-bottom: 1px dotted @gray-lighter;
		border-left: 1px dotted @responsive-table-border-side-color;
		border-right: 1px dotted @responsive-table-border-side-color;
		border-top: 1px dotted @gray-lighter;
		padding: 0.75em;
		text-align: center;
	}

	th {
		background-color: @responsive-table-header-background-color;
		font-weight: normal;
	}

	td {
		background-color: white;
		display: block;

		@media only screen and (min-width: @screen-md-min) {
			display: table-cell;
		}

		&:first-child {
			background-color: @responsive-table-header-background-color;

			@media only screen and (min-width: @screen-md-min) {
				background-color: white;
			}
		}

		&[data-label]:before {
			@media only screen and (max-width: @screen-sm-max) {
				content: attr(data-label) ": ";
				font-weight: bold;
			}
		}

		+ td {
			border-top: none;
		}
	}
}