.tile-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: (@line-height-computed / 2) 0;

	&.tile-count-2 {
		> .tile {
			@media only screen and (min-width: @screen-sm-min) {
				width: 49%;
			}
		}
	}

	&.tile-count-3 {
		> .tile {
			@media only screen and (min-width: @screen-sm-min) {
				width: 32%;
			}

			&.tile-small {
				@media only screen and (min-width: @screen-sm-min) {
					width: 49%;
				}

				@media only screen and (min-width: @screen-md-min) {
					width: 15%;
				}
			}

			&.tile-large {
				@media only screen and (min-width: @screen-sm-min) {
					width: 100%;
				}

				@media only screen and (min-width: @screen-md-min) {
					width: 66%;
				}
			}
		}
	}

	&.tile-count-4 {
		> .tile {
			@media only screen and (min-width: @screen-sm-min) {
				width: 49%;
			}
			@media only screen and (min-width: @screen-md-min) {
				width: 23.5%;
			}

			&.tile-small {
				@media only screen and (min-width: @screen-md-min) {
					width: 15%;
				}
			}

			&.tile-large {
				@media only screen and (min-width: @screen-md-min) {
					width: 31.5%;
				}
			}
		}
	}

	&.tile-count-5 {
		> .tile {
			@media only screen and (min-width: @screen-sm-min) {
				width: 49%;
			}
			@media only screen and (min-width: @screen-md-min) {
				width: 18.4%;
			}
		}
	}
}

.tile {
	background-color: white;
	border: 1px solid @gray-lighter;
	border-radius: @callout-border-radius-top @callout-border-radius-top @callout-border-radius-bottom @callout-border-radius-bottom;
	.box-shadow(@callout-box-shadow);
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: (@grid-gutter-width / 4) 0;
	padding: 1em;
	text-align: center;
	width: 100%;

	@media only screen and (min-width: @screen-sm-min) {
		margin: 1% 0;
	}

	&.has-progress {
		padding-bottom: 3em;	// make space for progress-container
		position: relative;		// context for progress-container
	}

	> .icon {
		&:extend(.icon-large all);
		display: block;
		margin: 16px auto;
	}

	&.danger {
		background-color: @brand-danger-bg;

		&,
		.tile-metric {
			color: @brand-danger-text;
			text-shadow: none;
		}

		.icon {
			fill: @brand-danger-text;
		}
	}

	&.warning {
		background-color: @brand-warning-bg;

		&,
		.tile-metric {
			color: @brand-warning-text;
			text-shadow: none;
		}

		.icon {
			fill: @brand-warning-text;
		}
	}
}

.tile-light {
	background-color: white;
	border: 1px solid @gray-lightest;
	border-radius: (@callout-border-radius-top / 2) (@callout-border-radius-top / 2) (@callout-border-radius-bottom / 2) (@callout-border-radius-bottom / 2);
	margin: (@grid-gutter-width / 2) 0;
	padding: 1em;
}

.tile-metric {
	color: @brand-primary;
	font-size: @font-size-h1 * 1.5;
	font-weight: bold !important; // overrides layout-primary variation

	&.is-goal {
		color: @brand-goal;
		text-shadow: 1px 1px 2px @gray;
	}

	&.small {
		font-size: @font-size-h1;
	}
}

.tile-separator {
	margin-top: 24px;
	position: relative;

	&:before {
		background-color: @gray-lighter;
		content: '';
		height: 1px;
		left: 5%;
		position: absolute;
		top: -17px;
		width: 90%;
	}
}

.tile-title {
	+ .tile-metric {
		&:extend(.tile-separator all);
	}
}

.tile-progress-container {
	background-color: @gray-lightest;
	border-top: 1px solid @gray-lighter;
	border-radius: 0px 0px @callout-border-radius-bottom @callout-border-radius-bottom;
	bottom: 0;
	left: 0;
	position: absolute;
	width: 100%;

	.no-js & {
		display: none;
	}
}

.tile-progress {
	background-color: @brand-primary;
	border-bottom-left-radius: @callout-border-radius-bottom - 1px;	// 1px reduction in radius makes UI elements more flush up against one another; needs to match width of tile's border size
	color: white;
	height: 1em;
	transition: 0.3s width ease-in-out;
	width: 0%;

	&.is-max-width {
		border-bottom-right-radius: @callout-border-radius-bottom - 1px;	// 1px reduction in radius makes UI elements more flush up against one another; needs to match width of tile's border size
	}

	&:before {
		color: @gray-light;
		content: attr(data-value);
		font-size: 12px;
		left: 0;
		position: absolute;
		top: -1em * @line-height-base;
		width: 100%;
	}
}
