//
// Wizard
// --------------------------------------------------
.wizard-modal-header {
  display: flex;
  position: relative;
  justify-content: center;
  border-bottom: 1px solid #8c8c8c;
  color: #FFF;
  background-color: #272727;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  -webkit-box-shadow: 0px 2px 3px -1px rgba(0,0,0,0.45);
  -moz-box-shadow: 0px 2px 3px -1px rgba(0,0,0,0.45);
  box-shadow: 0px 2px 3px -1px rgba(0,0,0,0.45);
  h3 {
    padding: 0;
    margin: 15px;
  }
  .close {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #FFF;
    opacity: 0.9;
  }
}
.wizard-modal-container {
  padding: 5px 15px 5px 10px;
  height: 450px;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  width: 100%;
  .wizard-modal-body {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    // That's evil 😈!
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    h2 {
      -moz-user-select: text;
      -khtml-user-select: text;
      -webkit-user-select: text;
      -ms-user-select: text;
      user-select: text;
    }
    .wizard-single-item {
      margin: 0 15px;
      padding: 80px 0 0 0;
      box-sizing: border-box;
      min-height: 200px;
      .step-header {
        h5 {
          font-weight: 400;
          text-align: justify;
        }
        .current-campaigns-well {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }
      .step-footer {
        text-align: right;
        padding: 15px 0;
        .new-campaign-btn {
          background: #30b355;
          color: #FFF;
        }
      }
      .needs-checkboxes {
        .lightweight {
          display: flex;
          line-height: 1;
          input {
            margin: 0 5px 0 0;
          }
        }
      }
      .radio-boxes {
        display: flex;
        li {
          margin-right: 15px;
        }
      }
      h2 {
        margin-top: 15px;
      }
      h5 {
        margin-bottom: 15px;
      }
      .step-divider {
        text-align: center;
        padding: 5px;
      }
    }
    .wizard-single-item {
      opacity: 0.3;
    }
    .next-wizard-item {
      opacity: 1;
    }
    @media screen and (min-width: 320px) and (max-width: 768px) {

    }
    .dublicate-container {
      display: flex;
      button {
        margin-left: 15px;
      }
    }

    //@media screen and (min-width: 320px) and (max-width: 768px) {
    //
    //}
    &::-webkit-scrollbar-track
    {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      border-radius: 10px;
      background-color: #F5F5F5;
    }

    &::-webkit-scrollbar
    {
      width: 12px;
      background-color: #F5F5F5;
    }

    &::-webkit-scrollbar-thumb
    {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
      background-color: #00b31d;
      height: 30px;
    }
    .btn {
      min-width: 100px;
    }
    .remove-additional {
      min-width: auto;
    }
    .add-new-input {
      min-width: auto;
    }
  }
  .btn:focus {
    outline: none;
  }

  .wizard-btn {
    background-color: green;
    color: #FFF;
  }

  .form-group {
    margin-bottom: 0;
  }

  @media screen and (min-width: 320px) and (max-width: 768px) {
    & {
      padding: 5px;
    }
  }
  .needs-checkboxes {
    margin-top: 15px;
  }
  .form-group {
    position: relative;
    span {
      position: absolute;
      top: 10px;
      left: 10px;
    }
  }
}

.footer-wizard-controls {
  padding: 10px 25px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-top: 1px solid silver;
  -webkit-box-shadow: 0px -2px 3px -1px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px -2px 3px -1px rgba(0,0,0,0.15);
  box-shadow: 0px -2px 3px -1px rgba(0,0,0,0.15);
  min-height: 50px;
  .progress-control {
    width: 100%;
    flex-basis: 70%;
    .progress-bar {
      border-radius: 5px;
    }
  }
  .button-control {
    flex-basis: 30%;
    text-align: right;
  }
  @media (min-width: 320px) and (max-width: 767px ) {
    .progress-control {
      flex-basis: 100%;
    }
    .button-control {
      flex-basis: 100%;
      margin-top: 15px;
      text-align: center;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  #createCampaign {
    .modal-dialog {
      height: 100%;
    }
    .modal-content {
      height: 95%;
      overflow: hidden;
    }
  }
  .wizard-modal-container {
    min-height: 84%;
    overflow: hidden;
  }
  .wizard-modal-container .wizard-modal-body .wizard-single-item {
    height: auto;
    padding: 40px 0 0 0;
  }
  .wizard-modal-container .wizard-modal-body .wizard-single-item .step-divider {
    margin: 10px 0;
  }
  .button-control {
    display: none;
  }
}

#participantCount {
  padding: 0 5px;
}

#wizardCampaignGoal, #expectPartPer, #parcipantGoal {
  padding-left: 25px;
}
#wizardCampaignName {
  resize: none;
}
#step16 {
  h2 {
    margin-top: 0;
  }
}

#step8 {
  .step-header {
    span {
      padding-right: 5px;
    }
  }
}
// Upload control less
.form-or-group {
  border-top: 2px solid #cccccc;
  margin-top: 20px;

  text-align: center;
  span {
    position: relative;
    bottom: 13px;
    color: #cccccc;
    background: #F5F5F5;
    font-size: 15px;
    padding: 0 15px;
  }
}

#try-vimeo-access {
  border: none;
  background: #00b31d;
  color: white;
  padding: 15px;
}

#uploadVideoDropzone {
  border: 5px dashed #3ab44a;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &:hover {
    border-color: #ccc;
    color: #ccc;
  }
}

#uploadForm {
  display: none;
}
#goUploadBtn {
  border: none;
  background: #3ab44a;
  color: #fff;
  padding: 5px;
  margin-top: 15px;
}

// Confirm exit modal

#confirmCampaign {
  .confirm-btn-row {
    display: flex;
    justify-content: center;
    .btn {
      min-width: 100px;
    }
  }
  .wizard-modal-container {
    height: auto;
    padding-bottom: 50px;
  }
}

// Upload form
#uploadVideoDropzone {
  position: relative;
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: 25px;
  #uploadVideoMessage {
    position: relative;
  }
}
