<div class="modal-body">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<h1>Elasticsearch Modal Example</h1>
	<p>This is a sample page for an Elasticsearch modal.  You're seeing this because you made a selection in an Elasticsearch autocomplete that was set up to open a modal upon your selection.</p>
</div>